@using egrants_new.Egrants.Models;
@{
    ViewBag.Title = "eGrants [Show Popup Rename Modal]";
}

<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

    #NormalModal .modal-dialog {
        width: 600px !important;
        height: 300px !important;
    }

    #NormalModal .modal-content {
        width: 600px !important;
        height: 300px !important;
    }

    #MediumModal .modal-dialog {
        width: 700px !important;
        height: 500px !important;
    }

    #MediumModal .modal-content {
        width: 700px !important;
        height: 500px !important;
    }
</style>



@if (ViewBag.grantLayer != null)
{
    <div class="modal fade" id="renameModalId" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h3>Add Request Name</h3>
                    <br />
                    <div>Please add the request name.</div>
                    <br />
                    <div style="margin-bottom: 20px">
                        <input id="newGrantYearName" class="form-rename-control my-1 mr-sm-2" type="text" placeholder="Request Name" style="margin-right:10px;width:200px" value="@ViewBag.yearName" maxlength="10" />
                        <button class="btn btn-primary btn-sm eGrantsDocBtn" style="width:80px" onclick="updateGrantYearName(document.getElementById('newGrantYearName').value)">Save</button>
                        <button id="deleteGrantYearName" class="btn btn-primary btn-sm eGrantsDocBtn" style="width:80px" onclick="updateGrantYearName('')">Delete</button>
                    </div>
                </div>
                @*<div class="modal-footer">
                    </div>*@
            </div>
        </div>
    </div>
}

