@model egrants_new.Egrants.Models.MailIntegrationPage;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Mail Integration </title>
</head>
<body>
<div>
      @Model.Result
</div>
</body>
</html>