@model egrants_new.Egrants.Models.MailIntegrationPage

@{
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}



<style>
    .nav-tabs > li > a:hover {
        color: #ffffff;
        background-color: #808080 !important;
    }

    .nav-tabs > li > a:focus {
        color: #ffffff;
        background-color: #808080 !important;
    }
</style>

<script language="JavaScript">


</script>


<div id="main">
    <!--start main-->
    <div id="caption"><b id="page_title">Integration Page</b></div>
    @Html.ActionLink("Click here to sign in", "SignIn", "Integration", new { area = "" }, new { @class = "btn btn-primary btn-large" })

    <div>@Model.Result</div>

</div>