USE [EIM]
GO
/****** Object:  Table [dbo].[temp_Bundle_new]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_Bundle_new](
	[document_id] [int] NULL,
	[appl_id] [int] NULL,
	[category_id] [smallint] NULL,
	[document_date] [smalldatetime] NULL,
	[sort_order] [smallint] NULL,
	[parent_id] [int] NULL
) ON [PRIMARY]
GO
