USE [EIM]
GO
/****** Object:  Table [dbo].[people_history_old--to_delete]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_history_old--to_delete](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NULL,
	[person_name] [varchar](100) NULL,
	[userid] [varchar](50) NULL,
	[profile_id] [smallint] NULL,
	[position_id] [smallint] NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[application_type] [varchar](10) NULL,
	[team_id] [int] NULL,
	[cft] [int] NULL,
	[econ] [int] NULL,
	[gft] [int] NULL,
	[mgt] [int] NULL,
	[egrants] [int] NULL,
	[admin] [int] NULL,
 CONSTRAINT [PK_people_history_old] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
