USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_filename]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_filename] (@url varchar(500))

RETURNS varchar(100)

AS  
BEGIN
declare @s varchar(255)

set @s=reverse(@url)
return reverse(left(@s,patindex('%/%',@s)-1))


END

GO
