USE [EIM]
GO
/****** Object:  Table [dbo].[dir_webgrants]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dir_webgrants](
	[file_name] [varchar](255) NOT NULL,
	[dir] [varchar](255) NOT NULL,
	[document_id] [int] NULL,
 CONSTRAINT [PK_dir_webgrants] PRIMARY KEY CLUSTERED 
(
	[file_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dir_webgrants] ADD  CONSTRAINT [DF_dir_webgrants_dir]  DEFAULT ('/egrants/funded/nci/tif/') FOR [dir]
GO
