USE [EIM]
GO
/****** Object:  View [dbo].[vw_contract_folders--to_be_deleted]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_contract_folders--to_be_deleted]
AS
SELECT     dbo.contracts.contract_id, dbo.contracts.contract_number, dbo.contracts.contract_type, dbo.contracts.activity_code, dbo.contracts.institution, 
                      CASE WHEN dbo.contracts.contract_number < 10000 THEN upper(dbo.contracts.activity_code) + '-' + upper(dbo.contracts.contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, dbo.contracts.contract_number), 5) ELSE upper(dbo.contracts.activity_code) 
                      + '-' + upper(dbo.contracts.contract_type) + '-' + CONVERT(varchar, dbo.contracts.contract_number) END AS full_contract_number, 
                      CASE WHEN dbo.contracts.contract_number < 10000 THEN upper(dbo.contracts.activity_code) + '-' + upper(dbo.contracts.contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, dbo.contracts.contract_number), 5) ELSE upper(dbo.contracts.activity_code) 
                      + '-' + upper(dbo.contracts.contract_type) + '-' + CONVERT(varchar, dbo.contracts.contract_number) END AS adb, 
                      CASE WHEN project_end_date IS NULL OR
                      project_end_date < getdate() THEN 'y' ELSE 'n' END AS close_out, dbo.fn_contract_folder_status(dbo.contract_folders.folder_id) AS status, 
                      dbo.contract_folders.folder_id, RTRIM(dbo.contracts.hhs) AS hhs, dbo.contract_folders.date_created, dbo.contract_folders.contract_year, 
                      dbo.contract_folders.latest_action_date, dbo.contract_folders.specialist_id, dbo.contract_folders.box_id, 
                      dbo.contract_folders.bar_code AS bar_code_str, dbo.contract_folders.disabled_date, dbo.contract_folders.scanned, dbo.contract_colors.color_id, 
                      dbo.contract_colors.color_name AS id_string, dbo.contract_folders.created_date, dbo.contract_folders.created_by_person_id, 
                      dbo.contracts.profile_id
FROM         dbo.contracts INNER JOIN
                      dbo.contract_folders ON dbo.contracts.contract_id = dbo.contract_folders.contract_id LEFT OUTER JOIN
                      dbo.contract_colors ON dbo.contract_folders.color_id = dbo.contract_colors.color_id
WHERE     (dbo.contract_folders.disabled_date IS NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[34] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "contracts"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "contract_folders"
            Begin Extent = 
               Top = 6
               Left = 272
               Bottom = 114
               Right = 462
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "contract_colors"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_contract_folders--to_be_deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_contract_folders--to_be_deleted'
GO
