USE [EIM]
GO
/****** Object:  Table [dbo].[folders]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folders](
	[folder_id] [int] IDENTITY(1,1) NOT NULL,
	[bar_code] [nvarchar](8) NULL,
	[created_date] [datetime] NULL,
	[destroyed_date] [datetime] NULL,
	[grant_id] [int] NULL,
	[location_id] [smallint] NULL,
	[specialist_id] [smallint] NULL,
	[box_id] [int] NULL,
	[to_be_scanned] [bit] NOT NULL,
	[latest_move_date] [datetime] NULL,
	[latest_access_date] [datetime] NULL,
	[profile_id] [smallint] NULL,
	[is_transfer] [varchar](3) NULL,
	[removed_content_date] [smalldatetime] NULL,
 CONSTRAINT [PK_folders] PRIMARY KEY CLUSTERED 
(
	[folder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_folders]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders] ON [dbo].[folders]
(
	[specialist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_folders_1]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_1] ON [dbo].[folders]
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_folders_2]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_2] ON [dbo].[folders]
(
	[box_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_folders_3]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_3] ON [dbo].[folders]
(
	[grant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_folders_4]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_4] ON [dbo].[folders]
(
	[bar_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_folders_5]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_5] ON [dbo].[folders]
(
	[folder_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_folders_6]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folders_6] ON [dbo].[folders]
(
	[destroyed_date] ASC,
	[is_transfer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[folders] ADD  CONSTRAINT [DF_folders_to_be_scanned]  DEFAULT (0) FOR [to_be_scanned]
GO
ALTER TABLE [dbo].[folders] ADD  CONSTRAINT [DF_folders_profile_id]  DEFAULT (1) FOR [profile_id]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [FK_folders_boxes] FOREIGN KEY([box_id])
REFERENCES [dbo].[boxes] ([box_id])
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [FK_folders_boxes]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [FK_folders_locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [FK_folders_locations]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders] CHECK  ((((not(((not([destroyed_date] is null))) and (((not([location_id] is null))) or ((not([specialist_id] is null))) or ((not([box_id] is null)))))))))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders_1] CHECK  ((((not([destroyed_date] is null and [location_id] is null and [specialist_id] is null and [box_id] is null)))))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_1]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders_2] CHECK  ((((not(((not([location_id] is null))) and (((not([specialist_id] is null))) or ((not([box_id] is null)))))))))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_2]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders_3] CHECK  ((((not(((not([specialist_id] is null))) and (((not([location_id] is null))) or ((not([box_id] is null)))))))))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_3]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders_4] CHECK  ((((not(((not([box_id] is null))) and (((not([location_id] is null))) or ((not([specialist_id] is null)))))))))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_4]
GO
ALTER TABLE [dbo].[folders]  WITH NOCHECK ADD  CONSTRAINT [CK_folders_5] CHECK  (([bar_code] like '[A,G]%'))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_5]
GO
ALTER TABLE [dbo].[folders]  WITH CHECK ADD  CONSTRAINT [CK_folders_6] CHECK  (([folder_id] >= 1 and [folder_id] <= 10000000))
GO
ALTER TABLE [dbo].[folders] CHECK CONSTRAINT [CK_folders_6]
GO
