USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_dir]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_dir]
(

@Path varchar(100)

)

  
RETURNS @d TABLE (path varchar(100))

AS

BEGIN

declare @TempFile varchar(255)
declare @cmd varchar(100)

SELECT @TempFile='c:\directory.txt'

SELECT @Cmd= 'dir ' + @Path + '  *.*  /B /W >>' + @TempFile
EXEC master..xp_cmdshell @Cmd


SELECT @Cmd= 'bcp dir in ' + @TempFile + ' -c -t , -r \n -S ' + @@SERVERNAME + ' -T '
EXEC master..xp_cmdshell @Cmd

SELECT @Cmd='DEL ' + @TempFile
EXEC master..xp_cmdshell @Cmd

insert @d
select * from dir


RETURN

END


GO
