USE [EIM]
GO
/****** Object:  Table [dbo].[temp5]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp5](
	[org_name] [nvarchar](120) NULL,
	[last_upd_date] [varchar](23) NULL
) ON [PRIMARY]
GO
