USE [EIM]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[document_id] [int] IDENTITY(20015000,1) NOT NULL,
	[url] [varchar](200) NULL,
	[page_count] [smallint] NULL,
	[appl_id] [int] NULL,
	[stamp] [timestamp] NULL,
	[category_id] [smallint] NULL,
	[document_size] [int] NULL,
	[problem_msg] [varchar](100) NULL,
	[file_type] [varchar](5) NOT NULL,
	[profile_id] [smallint] NULL,
	[corrupted] [char](1) NULL,
	[alias] [varchar](100) NULL,
	[inventoried] [varchar](3) NULL,
	[qc_reason] [varchar](20) NULL,
	[document_date] [smalldatetime] NULL,
	[created_date] [smalldatetime] NULL,
	[modified_date] [smalldatetime] NULL,
	[added_date] [smalldatetime] NULL,
	[stored_date] [smalldatetime] NULL,
	[file_modified_date] [smalldatetime] NULL,
	[qc_date] [smalldatetime] NULL,
	[disabled_date] [smalldatetime] NULL,
	[qc_person_id] [int] NULL,
	[created_by_person_id] [int] NULL,
	[stored_by_person_id] [int] NULL,
	[index_modified_by_person_id] [int] NULL,
	[file_modified_by_person_id] [int] NULL,
	[disabled_by_person_id] [int] NULL,
	[problem_reported_by_person_id] [int] NULL,
	[nga_id] [int] NULL,
	[external_upload_id] [int] NULL,
	[mail_upload_id] [varchar](20) NULL,
	[status_id] [tinyint] NULL,
	[uid] [varchar](100) NULL,
	[aws_id] [int] NULL,
	[impp_doc_id] [int] NULL,
	[processed_date] [smalldatetime] NULL,
	[nga_rpt_seq_num] [int] NULL,
	[is_destroyed] [bit] NULL,
	[control_id] [int] NULL,
	[parent_id] [int] NULL,
	[sub_category_name] [varchar](35) NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents] ON [dbo].[documents]
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_1]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_1] ON [dbo].[documents]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_10]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_10] ON [dbo].[documents]
(
	[stored_by_person_id] ASC,
	[stored_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_11]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_11] ON [dbo].[documents]
(
	[index_modified_by_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_12]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_12] ON [dbo].[documents]
(
	[file_modified_by_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_13]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_13] ON [dbo].[documents]
(
	[disabled_by_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_14]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_14] ON [dbo].[documents]
(
	[problem_reported_by_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_15]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_15] ON [dbo].[documents]
(
	[control_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_2]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_2] ON [dbo].[documents]
(
	[qc_date] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_3]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_3] ON [dbo].[documents]
(
	[created_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_4]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_4] ON [dbo].[documents]
(
	[qc_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_5]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_5] ON [dbo].[documents]
(
	[document_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_6]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_6] ON [dbo].[documents]
(
	[created_by_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_7]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_7] ON [dbo].[documents]
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_8]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_8] ON [dbo].[documents]
(
	[disabled_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_9]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_9] ON [dbo].[documents]
(
	[appl_id] ASC,
	[category_id] ASC,
	[profile_id] ASC,
	[disabled_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DF_documents_file_type]  DEFAULT ('tif') FOR [file_type]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DF_documents_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DF_documents_added_date]  DEFAULT (getdate()) FOR [added_date]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DF_documents_is_destroyed]  DEFAULT (0) FOR [is_destroyed]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Person id of the current assigned qc reviewer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'documents', @level2type=N'COLUMN',@level2name=N'qc_person_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mainly shows when we extracted info from msg' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'documents', @level2type=N'COLUMN',@level2name=N'processed_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used for control actions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'documents', @level2type=N'COLUMN',@level2name=N'control_id'
GO
