USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_FPA]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_FPA](
	[Appl_id] [int] NULL,
	[Document_date] [smalldatetime] NULL,
	[Doc_File_name] [varchar](20) NULL
) ON [PRIMARY]
GO
