USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_profile_id]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_grant_profile_id] (@GrantID int)
  
RETURNS int  AS  

BEGIN 

RETURN 
(
SELECT ISNULL(profile_id,null) AS profile_id 
from profiles 
where admin_phs_org_code = (select admin_phs_org_code from grants where grant_id=@GrantID)
)


END
GO
