USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_mail_category]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_egrants_mail_category]
		@appl_id int,
		@cat_name nvarchar(100)

AS

SET NOCOUNT ON

declare @txtSQL Nvarchar(1000)

Set @txtSQL =	'Select cat.category_id, cat.category_name from dbo.categories cat
				inner join dbo.categories_ic cic on cat.category_id = cic.category_id
				inner join profiles pro on cic.ic = pro.profile
				inner join vw_appls app on app.admin_phs_org_code = pro.admin_phs_org_code
				where cat.category_name = ''' + @cat_name + ''' 
				and app.appl_id = '  + convert(nvarchar,@appl_id )

EXEC sp_executesql @txtSQL
/*
Select cat.category_id, cat.category_name from dbo.categories cat
inner join dbo.categories_ic cic on cat.category_id = cic.category_id
inner join profiles pro on cic.ic = pro.profile
inner join vw_appls app on app.admin_phs_org_code = pro.admin_phs_org_code
where cat.category_name = 'Inventions' and app.appl_id = 7469432
*/
GO
