USE [EIM]
GO
/****** Object:  View [dbo].[vw_nlm_legacy]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_nlm_legacy]
AS
SELECT n.*, pi_name, admin_phs_org_code, grant_num,
CASE category_name WHEN 'Grant File' THEN 'MISC' ELSE category_name END AS category_name
FROM documents_nlm_legacy n INNER JOIN vw_grants g ON g.grant_id=n.grant_id INNER JOIN categories c ON c.category_id=n.category_id



GO
