USE [EIM]
GO
/****** Object:  Table [dbo].[appls_ciip_backup_hj_11292016_since_11132016]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_ciip_backup_hj_11292016_since_11132016](
	[appl_id] [numeric](10, 0) NULL,
	[appl_type_code] [nvarchar](1) NULL,
	[activity_code] [nvarchar](3) NULL,
	[admin_phs_org_code] [nvarchar](2) NULL,
	[serial_num] [numeric](6, 0) NULL,
	[support_year] [numeric](2, 0) NULL,
	[suffix_code] [nvarchar](4) NULL,
	[project_title] [nvarchar](200) NULL,
	[former_num] [nvarchar](19) NULL,
	[rfa_pa_number] [nvarchar](10) NULL,
	[council_meeting_date] [nvarchar](6) NULL,
	[external_org_id] [numeric](10, 0) NULL,
	[org_name] [nvarchar](120) NULL,
	[pi_role_person_id] [numeric](10, 0) NULL,
	[pi_last_name] [nvarchar](30) NULL,
	[pi_first_name] [nvarchar](30) NULL,
	[pi_mi_name] [nvarchar](30) NULL,
	[prog_class_code] [nvarchar](8) NULL,
	[irg_code] [nvarchar](4) NULL,
	[APPL_STATUS_GROUP_DESCRIP] [nvarchar](60) NULL,
	[fy] [numeric](4, 0) NULL,
	[LAST_UPD_DATE] [datetime2](7) NULL,
	[irg_flex_code] [nvarchar](1) NULL,
	[ss_exists_code] [nvarchar](1) NULL,
	[active_grant_flag] [nchar](1) NULL
) ON [PRIMARY]
GO
