USE [EIM]
GO
/****** Object:  Table [dbo].[closeouts_final]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[closeouts_final](
	[appl_id] [int] NOT NULL,
	[ltr1_date] [varchar](10) NULL,
	[grant_close_date] [varchar](10) NULL,
	[fy_6] [varchar](10) NULL,
	[fy_20] [varchar](10) NULL
) ON [PRIMARY]
GO
