USE [EIM]
GO
/****** Object:  Table [dbo].[TEMP_NGA_RECONCILE]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_NGA_RECONCILE](
	[APPLID] [int] NULL,
	[NGAID] [int] NULL,
	[RPTSEQNUM] [int] NULL,
	[NGACREATEDDATE] [smalldatetime] NULL
) ON [PRIMARY]
GO
