USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_month_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_month_name] (@d smalldatetime)

  
RETURNS varchar(15) AS  
BEGIN 

declare @S varchar(15)


select  @S=
case month(@d)
when 1 then 'january'
when 2 then 'february'
when 3 then 'march'
when 4 then 'april'
when 5 then 'may'
when 6 then 'june'
when 7 then 'july'
when 8 then 'august'
when 9 then 'september'
when 10 then 'october'
when 11 then 'november'
when 12 then 'december'
end


RETURN @S

END
GO
