USE [EIM]
GO
/****** Object:  Table [dbo].[appls_backup]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_backup](
	[appl_id] [int] NOT NULL,
	[appl_type_code] [char](1) NOT NULL,
	[activity_code] [char](3) NOT NULL,
	[admin_phs_org_code] [char](2) NOT NULL,
	[serial_num] [int] NOT NULL,
	[support_year] [tinyint] NOT NULL,
	[suffix_code] [varchar](4) NULL
) ON [PRIMARY]
GO
