USE [EIM]
GO
/****** Object:  Table [dbo].[searches]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[searches](
	[search_id] [int] IDENTITY(1,1) NOT NULL,
	[search_string] [varchar](500) NULL,
	[search_date] [datetime] NULL,
	[appl_hits] [smallint] NULL,
	[grant_hits] [smallint] NULL,
	[all_hits] [smallint] NULL,
	[exhausted_appls] [bit] NOT NULL,
	[exhausted_grants] [bit] NOT NULL,
	[exhausted_all] [bit] NOT NULL,
	[exhausted_keywords] [bit] NOT NULL,
	[grant_total] [int] NULL,
	[appl_total] [int] NULL,
	[doc_total] [int] NULL,
	[page_total] [int] NULL,
	[grant_total_full] [int] NULL,
	[appl_total_full] [int] NULL,
	[doc_total_full] [int] NULL,
	[page_total_full] [int] NULL,
	[appl_id_perfect] [int] NULL,
 CONSTRAINT [PK_seaches] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_searches]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_searches] ON [dbo].[searches]
(
	[search_string] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[searches] ADD  CONSTRAINT [DF_seaches_search_date]  DEFAULT (getdate()) FOR [search_date]
GO
ALTER TABLE [dbo].[searches] ADD  CONSTRAINT [DF_searches_exhausted_appls]  DEFAULT (0) FOR [exhausted_appls]
GO
ALTER TABLE [dbo].[searches] ADD  CONSTRAINT [DF_searches_exhausted_grants]  DEFAULT (0) FOR [exhausted_grants]
GO
ALTER TABLE [dbo].[searches] ADD  CONSTRAINT [DF_searches_exhausted_all]  DEFAULT (0) FOR [exhausted_all]
GO
ALTER TABLE [dbo].[searches] ADD  CONSTRAINT [DF_searches_exhausted_keywords]  DEFAULT (0) FOR [exhausted_keywords]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'approhimate number of total hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'searches', @level2type=N'COLUMN',@level2name=N'all_hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'see if level 1 (keyword) has already been searched' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'searches', @level2type=N'COLUMN',@level2name=N'exhausted_keywords'
GO
