USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_max_closeout_date]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_max_closeout_date](@grant_id int)
RETURNS smalldatetime AS  
BEGIN 

declare @max_date smalldatetime

select @max_date=max(grant_close_out_date)
from appls
where grant_id = @grant_id

RETURN @max_date
end
GO
