USE [EIM]
GO
/****** Object:  View [dbo].[vw_folder_appls]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_folder_appls]
AS
SELECT     dbo.folder_appls.folder_id, dbo.folders.bar_code, dbo.folders.created_date, dbo.vw_appls.full_grant_num, dbo.folder_appls.appl_id, 
                      dbo.vw_appls.grant_id AS grant_id_appl, dbo.folders.grant_id AS grant_id_folder, dbo.folders.box_id, dbo.folders.location_id, dbo.folders.specialist_id, 
                      dbo.vw_appls.support_year, dbo.vw_appls.admin_phs_org_code, dbo.vw_appls.serial_num, dbo.folders.profile_id, dbo.vw_appls.grant_num, 
                      dbo.vw_appls.former_admin_phs_org_code, dbo.vw_appls.former_serial_num, dbo.vw_appls.former_grant_num, 
                      dbo.vw_appls.future_admin_phs_org_code, dbo.vw_appls.future_serial_num, dbo.vw_appls.future_grant_num, dbo.folders.destroyed_date, 
                      dbo.folders.to_be_scanned, dbo.folders.latest_move_date, dbo.folders.latest_access_date, dbo.vw_appls.closed_out, dbo.folders.is_transfer, 
                      dbo.folders.removed_content_date, dbo.vw_appls.activity_code, dbo.vw_appls.appl_type_code, dbo.vw_boxes.accession_number, 
                      dbo.vw_boxes.destroyed_date AS frc_destroyed_date
FROM         dbo.folders INNER JOIN
                      dbo.folder_appls ON dbo.folders.folder_id = dbo.folder_appls.folder_id INNER JOIN
                      dbo.vw_appls ON dbo.folder_appls.appl_id = dbo.vw_appls.appl_id LEFT OUTER JOIN
                      dbo.vw_boxes ON dbo.folders.box_id = dbo.vw_boxes.box_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[40] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "folders"
            Begin Extent = 
               Top = 31
               Left = 319
               Bottom = 263
               Right = 512
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "folder_appls"
            Begin Extent = 
               Top = 179
               Left = 497
               Bottom = 272
               Right = 648
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_appls"
            Begin Extent = 
               Top = 3
               Left = 644
               Bottom = 111
               Right = 864
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_boxes"
            Begin Extent = 
               Top = 59
               Left = 59
               Bottom = 263
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2340
         Alias = 3060
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_folder_appls'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_folder_appls'
GO
