USE [EIM]
GO
/****** Object:  View [dbo].[vw_egrants_virtual_docs]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_egrants_virtual_docs]
as

select * from vw_egrants_virtual_docs_snapshots

UNION ALL

select * from vw_egrants_virtual_docs_funding
GO
