USE [EIM]
GO
/****** Object:  Table [dbo].[grants_flag_MS_WIP]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grants_flag_MS_WIP](
	[appl_id] [int] NOT NULL,
	[grant_id] [int] NULL,
	[admin_phs_org_code] [char](2) NULL,
	[serial_num] [int] NULL,
	[support_year] [int] NULL,
	[suffix_code] [varchar](4) NULL,
	[nci_budget_subclass_code] [varchar](5) NULL,
 CONSTRAINT [PK_grants_flag_MS_WIP] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
