USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_cleanspecial_char]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_cleanspecial_char]  (@str varchar(300))

RETURNS varchar(300)

AS
BEGIN 
declare @i smallint

set @Str=' ' + @Str + ' '

--separators

set @Str=replace(@str,',', ' ')
set @Str=replace(@str,')', ' ')
set @Str=replace(@str,'(', ' ')
set @Str=replace(@str,'/', ' ')
set @Str=replace(@str,'&', ' ')
set @Str=replace(@str,'.', ' ')
set @Str=replace(@str,'''', ' ')
set @Str=replace(@str,'[', ' ')
set @Str=replace(@str,']', ' ')
set @Str=replace(@str,'`', ' ')
set @Str=replace(@str,'~', ' ')

--set @i=65
--while @i<=90
--begin
--set @Str=replace(@str,' ' + char(@i) + ' ',' ')
--set @i=@i+1
--end


--make sure only one space between words
set @Str=rtrim(ltrim(@str))

set @i=1
while @i<=5
begin
set @str=replace(@str,'  ', ' ')
set @i=@i+1
end


--------------------------------------------------

--set @Str=replace(@str,char(39), char(39) + char(39))
set @Str=replace(@str,char(39),'')
set @Str=replace(@str,char(151), ' ')

set @Str=replace(@str,'"', '')

--set @str=replace(@str,' ',' and ')

ret:
return @str



END













GO
