USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_maint_impac_distructed_appl_old]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Imran Omair>
-- Create date: <12/13/2012>
-- Description:	<Create distinct IMPACII distructed appl list from IRDB>
--DESTRUCT_PROCESS_STATUS_CODE
--1.Waiting : waiting for approval
--2.Approved: Approved for deletion
--3.WIP : System is locating files on various file server
--4.Error :Error in Locating files.
--5.Deletion Complete : Deletion of documents completed, Links are unlinked, notice on website created etc....
-- =============================================
CREATE PROCEDURE [dbo].[sp_egrants_maint_impac_distructed_appl_old]
AS
BEGIN
	SET NOCOUNT ON;

	INSERT dbo.IMPAC_DESTRUCTED_APPL(APPL_ID,EGRANTS_CREATED_DATE,DESTRUCT_PROCESS_STATUS_CODE)	
	SELECT A.appl_id,GETDATE() AS EGRANTS_CREATED_DATE,1
	FROM OPENQUERY(IRDB,'SELECT distinct A.APPL_ID
	from appls_at A
	where a.source_code_dc in (''HISTORY'', ''CURRENT'')
	AND a.ADMIN_PHS_ORG_CODE=''CA'' ')A 
	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM EIM.DBO.IMPAC_DESTRUCTED_APPL)
	
	UPDATE A
	SET A.GRANT_ID=B.GRANT_ID,
	A.APPL_STATUS_GRP_DESCRIP=B.appl_status_group_descrip
	FROM DBO.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.APPLS B ON A.APPL_ID=B.APPL_ID

	UPDATE A
	SET A.FGN=B.FULL_GRANT_NUM
	FROM DBO.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.VW_APPLS B ON A.APPL_ID=B.APPL_ID
	
	--CREATE A LIST OF OGA EXCLUSION FROM IMPAC DESTRUCTION
	--MANUALLY ADD A PERSON ID WHO HAS CREATED THIS EXCLUSION OVER THE YEAR IN QVR EXCLUSION SYSTEM

	INSERT dbo.IMPAC_DESTRUCTION_EXCLUSION(APPL_ID,creator_id, created_date)	
	SELECT A.APPL_ID,A.CREATOR_ID,A.CREATED_DATE
	FROM OPENQUERY(IRDB,'SELECT APPL_ID,CREATOR_ID,CREATED_DATE from IRDB.ARCHIVE_APPL_HOLDS_MV where CREATOR_ID = ''BAKERB'' ')A 
	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM dbo.IMPAC_DESTRUCTION_EXCLUSION)

	UPDATE A
	SET A.FGN=B.FULL_GRANT_NUM
	FROM dbo.IMPAC_DESTRUCTION_EXCLUSION A  INNER JOIN DBO.VW_APPLS B ON A.APPL_ID=B.APPL_ID AND A.FGN IS NULL
	
	-- 
	
	
	-- MARK TOBACCO RELATED GRANTS FROM dbo.IMPAC_DESTRUCTED_APPL
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='TOBACCO',A.DESTRUCT_PROCESS_STATUS_CODE=0
		FROM dbo.IMPAC_DESTRUCTED_APPL A  
		WHERE A.APPL_ID IN (SELECT DISTINCT APPL_ID FROM EGRANTS WHERE IS_TOBACCO=1)
	
	-- MARK FDA GRANTS FROM dbo.IMPAC_DESTRUCTED_APPL
	
		--UPDATE A
		--SET A.DESTRUCTION_EXCEPTION_CODE='FDA',A.DESTRUCT_PROCESS_STATUS_CODE=0		
		--FROM dbo.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.VW_EGRANTS_FLAGS B ON A.APPL_ID=B.APPL_ID AND B.FDA_FLAG='y'
	
	
		UPDATE dbo.IMPAC_DESTRUCTED_APPL 
		SET DESTRUCTION_EXCEPTION_CODE='FDA',DESTRUCT_PROCESS_STATUS_CODE=0		
		where APPL_ID in (		 
		select distinct appl_id from egrants where grant_id in (
		select distinct grant_id from grants where fda_flag='y')
		)
	
		UPDATE dbo.IMPAC_DESTRUCTED_APPL 
		SET DESTRUCTION_EXCEPTION_CODE='CONSTRUCTION',DESTRUCT_PROCESS_STATUS_CODE=0		
		WHERE FGN LIKE '%C06%'
		
			
	--SELECT * FROM dbo.IMPAC_DESTRUCTED_APPL WHERE FGN LIKE '%C06%'
	--I am commenting this because Katrina is not implemented in prod, it is taken careof by QA exclusion
	-- MARK KATARINA GRANTS FROM dbo.IMPAC_DESTRUCTED_APPL
	--UPDATE A
	--SET A.DESTRUCTION_EXCEPTION_CODE='KATRINA',A.DESTRUCT_PROCESS_STATUS_CODE=0
	--FROM dbo.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.VW_EGRANTS_FLAGS B ON A.APPL_ID=B.APPL_ID AND B.KATRINA_FLAG='y'


	-- MARK/CHECK GRANTS THAT FALL FROM ANY OTHER EXCEPTIONS THAT OGA CREATED INCLUDING qvr eXCLUSION SYSTEM
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='OGA EXCLSN',A.DESTRUCT_PROCESS_STATUS_CODE=0
		FROM dbo.IMPAC_DESTRUCTED_APPL A  INNER JOIN dbo.IMPAC_DESTRUCTION_EXCLUSION B ON A.APPL_ID=B.APPL_ID
		
	-- ARRA GRANTS THAT IMPACii HAS DELETED THIS YEAR -- 3
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='ARRA',A.DESTRUCT_PROCESS_STATUS_CODE=0
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE convert(varchar(10),A.EGRANTS_CREATED_DATE,101)='04/10/2015'
		AND A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'ARRA'  
			AND A.grant_id=B.grant_id  -- 47173
		)
		
	-- Mark DESTRUCT_PROCESS_STATUS_CODE=2 for all records that are ready to be deleted.
		UPDATE dbo.IMPAC_DESTRUCTED_APPL 
		SET DESTRUCT_PROCESS_STATUS_CODE=2
		WHERE DESTRUCTION_EXCEPTION_CODE is NULL
		AND DESTRUCT_PROCESS_STATUS_CODE=1
		
END



GO
