USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_Notification_email_status]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_Notification_email_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_id] [int] NOT NULL,
	[email] [char](2) NOT NULL,
	[person_name] [varchar](50) NULL,
	[position] [nchar](10) NULL,
	[email_address] [varchar](100) NOT NULL,
	[email_date] [smalldatetime] NULL,
	[created_date] [smalldatetime] NOT NULL,
	[email_template_id] [int] NOT NULL,
	[reply_recieved_date] [smalldatetime] NULL,
	[reply_status] [varchar](50) NULL,
	[email_send_status] [varchar](10) NULL,
 CONSTRAINT [PK_adsup_Notification_emails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_Notification_email_status] ADD  CONSTRAINT [DF_adsup_Notification_email_status_email]  DEFAULT ('(''to'',''cc'')') FOR [email]
GO
ALTER TABLE [dbo].[adsup_Notification_email_status]  WITH CHECK ADD  CONSTRAINT [FK_adsup_Notification_email_status_adsup_email_master] FOREIGN KEY([email_template_id])
REFERENCES [dbo].[adsup_email_master] ([id])
GO
ALTER TABLE [dbo].[adsup_Notification_email_status] CHECK CONSTRAINT [FK_adsup_Notification_email_status_adsup_email_master]
GO
ALTER TABLE [dbo].[adsup_Notification_email_status]  WITH CHECK ADD  CONSTRAINT [FK_adsup_Notification_emails_adsup_email_position_master] FOREIGN KEY([position])
REFERENCES [dbo].[adsup_email_position_master] ([email_position_code])
GO
ALTER TABLE [dbo].[adsup_Notification_email_status] CHECK CONSTRAINT [FK_adsup_Notification_emails_adsup_email_position_master]
GO
ALTER TABLE [dbo].[adsup_Notification_email_status]  WITH CHECK ADD  CONSTRAINT [FK_adsup_Notification_emails_adsup_notification] FOREIGN KEY([Notification_id])
REFERENCES [dbo].[adsup_notification] ([id])
GO
ALTER TABLE [dbo].[adsup_Notification_email_status] CHECK CONSTRAINT [FK_adsup_Notification_emails_adsup_notification]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK unique Notification ID there could be multiple emails going for one notification' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'Notification_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'this column will suggest whether email to be arranged int "to" or "cc" field.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name os a person in "email_to_position"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'person_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'email to a position, this could be a PD or SPEC or a PI or an email address suchas johndoe@gmail.com' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'position'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email address of a person in "email_to_position"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'email_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date email is sent' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_Notification_email_status', @level2type=N'COLUMN',@level2name=N'email_date'
GO
