USE [EIM]
GO
/****** Object:  Table [dbo].[niaid_table]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niaid_table](
	[appl_id] [int] NULL,
	[filename] [varchar](50) NULL,
	[document_date] [smalldatetime] NULL,
	[created_date] [char](10) NULL
) ON [PRIMARY]
GO
