USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_personal_assigment]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_get_personal_assigment] (@person_id int, @widget_id int)
  
RETURNS char

BEGIN

DECLARE @count		int
DECLARE @assigment	char(1)

SET @count =(select count(*) from dbo.DB_WIDGET_ASSIGNMENT where widget_id=@widget_id and person_id=@person_id and end_date is null)

IF @count = 1 SET @assigment='y' ElSE SET @assigment='n'

RETURN @assigment

END
GO
