USE [EIM]
GO
/****** Object:  View [dbo].[vw_IMPAC_ARCHIVE_APPL_HOLD]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_IMPAC_ARCHIVE_APPL_HOLD]
AS

SELECT * FROM openquery(impac,'select a.appl_id, b.DESCRIP, a.createD_date
from ARCHIVE_APPL_HOLDS_T a, ARCHIVE_HOLD_SUBCATEGORIES_T b
where a.HOLD_SUBCATEGORY_ID=b.HOLD_SUBCATEGORY_ID')

--TO_CHAR(, ''DD-MM-YYYY HH24:MI:SS'') as createD_date
GO
