USE [EIM]
GO
/****** Object:  Table [dbo].[construction_grants]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[construction_grants](
	[ic] [varchar](5) NULL,
	[grant_id] [int] NULL,
	[admin_phs_org_code] [char](2) NULL,
	[serial_num] [int] NULL,
	[grant_num] [varchar](8) NULL,
	[is_tobacco] [bit] NULL,
	[to_be_destroyed] [bit] NULL,
	[mechanism_code] [char](2) NULL,
	[grant_close_date] [smalldatetime] NULL,
	[full_grant_num] [varchar](19) NULL,
	[appl_type_code] [char](1) NULL,
	[activity_code] [char](3) NULL,
	[support_year] [tinyint] NULL,
	[suffix_code] [varchar](4) NULL,
	[project_title] [varchar](200) NULL,
	[former_num] [varchar](19) NULL,
	[rfa_pa_number] [varchar](10) NULL,
	[council_meeting_date] [char](6) NULL,
	[external_org_id] [int] NULL,
	[pi_name] [varchar](92) NULL,
	[person_id] [int] NULL,
	[last_name] [varchar](30) NULL,
	[first_name] [varchar](30) NULL,
	[mi_name] [varchar](30) NULL,
	[org_name] [varchar](120) NULL,
	[prog_class_code] [varchar](10) NULL,
	[appl_received_date] [datetime] NULL,
	[irg_code] [varchar](4) NULL,
	[irg_flex_code] [char](1) NULL,
	[summary_statement_flag] [char](1) NULL,
	[appl_status_group_descrip] [varchar](60) NULL,
	[fy] [int] NULL,
	[appl_created_date] [datetime] NULL,
	[last_upd_date] [datetime] NULL,
	[receipt_date] [datetime] NULL,
	[frc_destroyed] [bit] NOT NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[jit_date] [smalldatetime] NULL,
	[category_name] [varchar](50) NULL,
	[package] [varchar](20) NULL,
	[category_id] [smallint] NULL,
	[appl_id] [int] NULL,
	[document_id] [int] NOT NULL,
	[document_size] [int] NULL,
	[document_date] [smalldatetime] NULL,
	[page_count] [smallint] NULL,
	[profile_id] [smallint] NULL,
	[added_date] [smalldatetime] NULL,
	[corrupted] [char](1) NULL,
	[nga_rpt_seq_num] [int] NULL,
	[nga_id] [int] NULL,
	[is_destroyed] [bit] NULL,
	[inventoried] [varchar](3) NULL,
	[external_upload_id] [int] NULL,
	[mail_upload_id] [varchar](20) NULL,
	[txt_size] [int] NULL,
	[attachment_count] [int] NOT NULL,
	[file_type] [varchar](5) NOT NULL,
	[alias] [varchar](100) NULL,
	[created_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[created_by] [varchar](100) NULL,
	[file_modified_date] [smalldatetime] NULL,
	[file_modified_by_person_id] [int] NULL,
	[file_modified_by] [varchar](100) NULL,
	[modified_date] [smalldatetime] NULL,
	[index_modified_by_person_id] [int] NULL,
	[modified_by] [varchar](100) NULL,
	[qc_date] [smalldatetime] NULL,
	[qc_reason] [varchar](20) NULL,
	[qc_person_id] [int] NULL,
	[qc_userid] [varchar](100) NULL,
	[qc_person_name] [varchar](100) NULL,
	[stored_by_person_id] [int] NULL,
	[stored_date] [smalldatetime] NULL,
	[stored_by] [varchar](100) NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
	[disabled_by] [varchar](100) NULL,
	[problem_reported_by] [varchar](100) NULL,
	[description] [varchar](300) NULL,
	[unix_file] [varchar](100) NULL,
	[parent_id] [int] NULL,
	[url] [varchar](200) NULL,
	[unix_directory] [varchar](255) NULL,
	[deleted_by_impac] [char](1) NULL,
	[impac_doc_type] [varchar](10) NULL,
	[problem_msg] [varchar](100) NULL,
	[impac_doc] [varchar](1) NOT NULL,
	[can_modify_index] [varchar](1) NOT NULL,
	[can_upload] [varchar](1) NOT NULL,
	[can_delete] [varchar](1) NOT NULL,
	[can_restore] [varchar](1) NOT NULL,
	[can_store] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
