USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_funding_appl_edit_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_funding_appl_edit_tobedeleted]

@Act 		varchar(50),
@AdminCode 	char(2),
@SerialNum	int, 
@ApplID		int,
@DocumentID	int,
@Operator	varchar(50),
@Inst		varchar(10)

AS
/****************************************************************************************************************/
/***									 								***/
/***	Procedure Name:  sp_y2013_egrants_funding_appl_edit				***/
/***	Description:	add or delete appl frfunding document			***/
/***	Created:		02/09/2009	Leon								***/
/***	Modified:		04/03/2013	Leon								***/
/***	Simplified:		10/15/2014	Leon 								***/
/***	Modified:		12/20/2016	Leon 								***/
/****************************************************************************************************************/

SET NOCOUNT ON

declare 
@profile_id		int,
@person_id		int,
@xmlout			varchar(max),
@X				Xml

/***find the profile_id**/
SET @Inst=LOWER(@Inst)
SET @profile_id=(SELECT profile_id FROM profiles WHERE profile=@Inst)

/***find the operator's person_id***/
SET @Operator=left(@Operator,50)
SET @person_id =(SELECT person_id FROM people WHERE userid=@Operator)

SET @X = (
SELECT DISTINCT admin_phs_org_code FROM vw_appls AS admin_phs_org_code
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

IF @act='' or @act is null  GOTO head
IF @act='to_load'   GOTO to_load
IF @act='to_add'	GOTO to_add
IF @act='to_delete' GOTO to_delete
---------------------
to_load:

/** load all grant years by admin_phs_org_code and serial_num **/
SET @X = (
SELECT 
grant_id,
admin_phs_org_code,
serial_num,
(
SELECT distinct appl_id,support_year,full_grant_num
FROM vw_appls AS appl
WHERE grant_id=[grant].grant_id
ORDER BY full_grant_num
FOR XML AUTO, TYPE, ELEMENTS
)
FROM grants AS [grant]
WHERE admin_phs_org_code=@AdminCode and serial_num=@SerialNum
ORDER BY grant_id
FOR XML AUTO, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
-----------------------
to_add:

INSERT funding_appls(document_id, appl_id ) SELECT @DocumentID,@ApplID	

GOTO  head

RETURN
-----------------------
to_delete:

DELETE FROM  funding_appls WHERE document_id=@DocumentID and appl_id=@ApplID

GOTO head

RETURN
-----------------------
head:

IF @DocumentID>0
BEGIN

DECLARE @a table(appl_id int primary key)
INSERT @a SELECT appl_id FROM funding_appls WHERE document_id=@DocumentID and disabled_date is null

SET @X = (
SELECT grant_id,serial_num, 
(
SELECT distinct appl.appl_id,appl.support_year,appl.full_grant_num
FROM vw_appls as appl
WHERE appl.appl_id =grants.appl_id
FOR XML AUTO, TYPE, ELEMENTS
)
FROM vw_appls as grants
WHERE appl_id in(select appl_id from @a)
FOR XML AUTO, TYPE, ELEMENTS
)

select @xmlout = cast(@X as varchar(max))
select @xmlout

END

/** find user info***/
declare @person_name	varchar(50)
declare @first_name		varchar(50)
declare @separate		int

set @person_name=(select person_name from people where person_id=@person_id)

IF @person_name<>'' and @person_name is not null 
BEGIN
SET  @separate=PATINDEX('%,%', @person_name)
SET  @first_name=LEFT(@person_name,@separate-1 )
END 

SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,convert(varchar, getdate(),101) as today,
can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator  and application_type='egrants' and can_egrants_upload='y' 
GO
