USE [EIM]
GO
/****** Object:  Table [dbo].[IMPAC_DESTRUCTED_APPL]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPAC_DESTRUCTED_APPL](
	[APPL_ID] [int] NOT NULL,
	[IRDB_LAST_UPD_DATE] [smalldatetime] NULL,
	[EGRANTS_CREATED_DATE] [smalldatetime] NULL,
	[DESTRUCT_APPROVED_BY] [int] NULL,
	[DESTRUCT_APPROVED_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_BY] [int] NULL,
	[GRANT_ID] [nchar](10) NULL,
	[FGN] [varchar](19) NULL,
	[APPL_STATUS_GRP_DESCRIP] [varchar](60) NULL,
	[DESTRUCT_PROCESS_STATUS_CODE] [int] NULL,
	[DESTRUCTION_EXCEPTION_CODE] [varchar](20) NULL,
	[DESTRUCTION_EXCEPTION_CREATED_BY] [int] NULL,
	[DESTRUCTION_EXCEPTION_CREATED_DATE] [smalldatetime] NULL,
	[CAY_CODE] [char](2) NULL,
	[IMPAC_DESTRUCTION_EXCEPTION_CODE] [varchar](100) NULL,
	[serial_num] [int] NULL,
 CONSTRAINT [PK_IMPAC_DESTRUCTED_APPL] PRIMARY KEY CLUSTERED 
(
	[APPL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL]  WITH CHECK ADD  CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_IMPAC_DESTRUCT_OGA_EXCEPTION] FOREIGN KEY([DESTRUCTION_EXCEPTION_CODE])
REFERENCES [dbo].[IMPAC_DESTRUCT_OGA_EXCEPTION] ([Code])
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL] CHECK CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_IMPAC_DESTRUCT_OGA_EXCEPTION]
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL]  WITH CHECK ADD  CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_IMPAC_DESTRUCTION_PROCESS_STATUS_DETAIL] FOREIGN KEY([DESTRUCT_PROCESS_STATUS_CODE])
REFERENCES [dbo].[IMPAC_DESTRUCTION_PROCESS_STATUS_DETAIL] ([DESTRUCT_PROCESS_STATUS_CODE])
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL] CHECK CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_IMPAC_DESTRUCTION_PROCESS_STATUS_DETAIL]
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL]  WITH CHECK ADD  CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_people] FOREIGN KEY([DESTRUCT_APPROVED_BY])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL] CHECK CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_people]
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL]  WITH CHECK ADD  CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_people1] FOREIGN KEY([FINAL_DESTRUCT_BY])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[IMPAC_DESTRUCTED_APPL] CHECK CONSTRAINT [FK_IMPAC_DESTRUCTED_APPL_people1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'APPL_ID DESTRUCTED IN IMPACII' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'APPL_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IRDB LAST UPDATED_DATE PROBABLY DESTRUCTED DATE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'IRDB_LAST_UPD_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EGRANTS GRANT ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'GRANT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FULL GRANT NUMBER' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'FGN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'APPL STATUS GROUP CODE DESCRIBING THE CURRECT STATUS OF THIS APPL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'APPL_STATUS_GRP_DESCRIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'STATUS OF DELTION LIFE CYCLE. IF THERE IS AN EXCEPTON, THIS FIELD WILL HAVE STTUS 0.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'DESTRUCT_PROCESS_STATUS_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'eXCEPTION CODE WILL BE FLLED UP BY OUR PROCESS TO INDICATE WHETHER THIS RECORD IS NOT TO BE DELETED BY EXCEPTIONS, EXAMPLE : TOBACCO, KATRIN ETC..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMPAC_DESTRUCTED_APPL', @level2type=N'COLUMN',@level2name=N'DESTRUCTION_EXCEPTION_CODE'
GO
