USE [EIM]
GO
/****** Object:  View [dbo].[vw_appls_dups]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_appls_dups]
AS
SELECT grant_id, appl_type_code, activity_code, support_year, suffix_code
FROM  dbo.appls
GROUP BY grant_id, appl_type_code, activity_code, support_year, suffix_code
HAVING (COUNT(*) > 1)
GO
