USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_appl_deleted_by_impac]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[fn_appl_deleted_by_impac]  (@appl_id int)  

RETURNS char

AS  
BEGIN 

DECLARE @count		int
DECLARE @deleted	char

SELECT @count=COUNT(*) FROM  dbo.appls_deleted_in_impac WHERE appl_id = @appl_id and exception_date is null GROUP BY appl_id 

IF @count=0 or @count is null SET @deleted='n' ELSE SET @deleted='y'

RETURN @deleted

END


GO
