USE [EIM]
GO
/****** Object:  Table [dbo].[ACM_user_status_code]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACM_user_status_code](
	[acm_status] [varchar](10) NOT NULL,
	[Description] [varchar](800) NULL,
 CONSTRAINT [PK_ACM_user_status_code] PRIMARY KEY CLUSTERED 
(
	[acm_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
