USE [EIM]
GO
/****** Object:  Table [dbo].[Grants_Flag_Master]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grants_Flag_Master](
	[flag_type_code] [varchar](10) NOT NULL,
	[flag_application_code] [char](1) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[flag_icon_namepath] [varchar](200) NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
	[flag_gen_type] [varchar](10) NULL,
	[created_by_person_id] [int] NULL,
	[disabled_by_person_id] [int] NULL,
 CONSTRAINT [PK_Flag_Master] PRIMARY KEY CLUSTERED 
(
	[flag_type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grants_Flag_Master] ADD  CONSTRAINT [DF_Grants_Flag_Master_flag_application_code]  DEFAULT ('in (''G'',''A'',''B'')') FOR [flag_application_code]
GO
ALTER TABLE [dbo].[Grants_Flag_Master]  WITH CHECK ADD  CONSTRAINT [CK_Grants_Flag_Master] CHECK  (([FLAG_APPLICATION_CODE]='B' OR [FLAG_APPLICATION_CODE]='G' OR [FLAG_APPLICATION_CODE]='A'))
GO
ALTER TABLE [dbo].[Grants_Flag_Master] CHECK CONSTRAINT [CK_Grants_Flag_Master]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Flag code such as FDA, CAT, TOB etc.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Grants_Flag_Master', @level2type=N'COLUMN',@level2name=N'flag_type_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'every flag will fall under three category for application : Grant level or Appl level or BOTH' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Grants_Flag_Master', @level2type=N'COLUMN',@level2name=N'flag_application_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'THESE ICONS FOR WEB GUI SO THE PATH HERE WILL BE OF WEB SERVER IMAGES FOLDER PATH SEPARATE FOR PROD, STAGE AND EV' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Grants_Flag_Master', @level2type=N'COLUMN',@level2name=N'flag_icon_namepath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'To Enforce the domain of possible values (A,G,B)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Grants_Flag_Master', @level2type=N'CONSTRAINT',@level2name=N'CK_Grants_Flag_Master'
GO
