USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_DocTextImportDir]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DocTextImportDir]

@Path varchar(255),
@overwrite bit=0
AS

declare @cmd varchar(255)
declare @TempFile varchar(255)
declare @CPath varchar(255)
declare @CDocID int
declare @typeFlag char(1)

SELECT @TempFile='c:\directory.txt'

SELECT @Cmd= 'dir ' + @Path + '*.txt  /B /W >>' + @TempFile
EXEC master..xp_cmdshell @Cmd


IF OBJECT_ID('tempdb..##directory') IS NOT NULL
DROP TABLE ##directory

CREATE TABLE ##directory(path varchar(255))

SELECT @Cmd= 'bcp ##directory in ' + @TempFile + ' -c -t , -r \n -S ' + @@SERVERNAME + ' -T '
print @Cmd
EXEC master..xp_cmdshell @Cmd


SELECT @Cmd='DEL ' + @TempFile
EXEC master..xp_cmdshell @Cmd

---don't do attachments

DELETE ##directory where 
LEFT(path,1) NOT IN ('1','2','3','4','5','6','7','8','9','c')


declare cur CURSOR FOR
select path from ##directory order by path

open cur

FETCH NEXT FROM cur INTO @CPath

WHILE @@FETCH_STATUS=0

BEGIN
SET @typeFlag='d'

IF LEFT(@CPath, 1)='c' 
BEGIN
SET @typeFlag='c' 
SET @CPath=RIGHT(@CPath, len(@CPath)-1)
END

SET @CDocID=convert(int,left(@CPath,patindex('%.%',@CPath)-1))
IF @typeFlag='c' SET @CPath='c' + @CPath

SET @CPath=@Path + @CPath

PRINT @CDocID
PRINT @CPath
exec sp_DocTextImport @CDocID,@CPath,@typeFlag,@overwrite

FETCH NEXT FROM cur INTO @CPath

END

close cur
deallocate cur

drop table ##directory
GO
