USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[Get_Category_Name_Match]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:			Joel Friedman
-- Create date:		05/02/2012
-- Description:		Find closest match to input category
-- =============================================
CREATE PROCEDURE [dbo].[Get_Category_Name_Match]
	-- Add the parameters for the stored procedure here
	@cat_serach varchar(50), 
	@ic varchar(5)
AS
BEGIN
SET NOCOUNT ON;

	declare @cat_id int
	set @cat_id=null
	
	select 	@cat_id=categories.category_id from categories  
			inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
			where ic=@ic and replace(category_name,' ','') = replace(@cat_serach,' ','')
			
	--if @cat_id is null
						
	--		select @cat_id=categories.category_id from categories  
	--				inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
	--				where ic=@ic and soundex(replace(@cat_serach,' ','')) = soundex(replace(category_name,' ',''))
			
	--if @cat_id is null
	--		set @cat_id=59
		
	select @cat_id
END


GO
