USE [EIM]
GO
/****** Object:  Table [dbo].[appls_replacement]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_replacement](
	[replacement_id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id_old] [int] NULL,
	[appl_id_new] [int] NULL,
	[changed_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appls_replacement] ADD  CONSTRAINT [DF_appls_changes_changed_date]  DEFAULT (getdate()) FOR [changed_date]
GO
