USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[DB_WIDGET_GRANTS_STATUS]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[DB_WIDGET_GRANTS_STATUS]
AS
BEGIN

select action_type AS ACTION,status_code AS STATUS,COUNT(*) AS GRANTS_COUNT
from DB_GPMATS_ASSIGNMENT_STATUS
group by action_type,status_code
order by 1,2

END



GO
