USE [EIM]
GO
/****** Object:  Table [dbo].[eGrants_maint_docslod_log]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eGrants_maint_docslod_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proc_name] [varchar](100) NOT NULL,
	[Run_datetime] [datetime] NOT NULL,
	[category_id] [int] NULL,
	[impac_doc_type_code] [varchar](25) NULL,
	[Impac_download_cnt] [int] NULL,
	[egrants_upload_cnt] [int] NULL,
	[Comment] [varchar](200) NULL,
	[created_date] [datetime] NULL
) ON [PRIMARY]
GO
