USE [EIM]
GO
/****** Object:  Table [dbo].[impp_nga]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_nga](
	[appl_id] [int] NULL,
	[nga_create_date] [smalldatetime] NOT NULL,
	[nga_id] [int] NOT NULL,
	[rpt_seq_num] [int] NULL,
	[loaded] [bit] NULL,
	[noa] [bit] NULL,
 CONSTRAINT [PK_impp_nga] PRIMARY KEY CLUSTERED 
(
	[nga_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
