USE [EIM]
GO
/****** Object:  Table [dbo].[Grants_Flag_Construct]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grants_Flag_Construct](
	[gf_id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NULL,
	[grant_id] [int] NULL,
	[flag_type] [varchar](10) NULL,
	[flag_application] [char](1) NULL,
	[flag_persist] [bit] NOT NULL,
	[start_dt] [datetime] NULL,
	[end_dt] [datetime] NULL,
	[created_by] [int] NULL,
	[created_dt] [datetime] NULL,
	[last_updated_by] [int] NULL,
	[last_updated_date] [datetime] NULL,
 CONSTRAINT [PK_Grants_Flag_Construct] PRIMARY KEY CLUSTERED 
(
	[gf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] ADD  CONSTRAINT [DF_grants_flag_construct_flag_persist]  DEFAULT ('0') FOR [flag_persist]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct]  WITH CHECK ADD  CONSTRAINT [FK_Grants_Flag_Construct_appls] FOREIGN KEY([appl_id])
REFERENCES [dbo].[appls] ([appl_id])
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] CHECK CONSTRAINT [FK_Grants_Flag_Construct_appls]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct]  WITH CHECK ADD  CONSTRAINT [FK_Grants_Flag_Construct_grants] FOREIGN KEY([grant_id])
REFERENCES [dbo].[grants] ([grant_id])
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] CHECK CONSTRAINT [FK_Grants_Flag_Construct_grants]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct]  WITH CHECK ADD  CONSTRAINT [FK_Grants_Flag_Construct_Grants_Flag_Master] FOREIGN KEY([flag_type])
REFERENCES [dbo].[Grants_Flag_Master] ([flag_type_code])
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] CHECK CONSTRAINT [FK_Grants_Flag_Construct_Grants_Flag_Master]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct]  WITH CHECK ADD  CONSTRAINT [FK_Grants_Flag_Construct_people] FOREIGN KEY([created_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] CHECK CONSTRAINT [FK_Grants_Flag_Construct_people]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct]  WITH CHECK ADD  CONSTRAINT [FK_Grants_Flag_Construct_people1] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[Grants_Flag_Construct] CHECK CONSTRAINT [FK_Grants_Flag_Construct_people1]
GO
