USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_Admin_Supplements_WIP]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_Admin_Supplements_WIP](
	[Serial_num] [int] NULL,
	[Supp_appl_id] [int] NULL,
	[Full_grant_num] [varchar](19) NULL,
	[Former_num] [varchar](19) NULL,
	[Former_appl_id] [int] NULL,
	[Submitted_date] [smalldatetime] NULL,
	[movedto_appl_id] [int] NULL,
	[Support_year] [tinyint] NULL,
	[Suffix_code] [varchar](4) NULL,
	[file_type] [varchar](4) NULL,
	[category_id] [int] NULL,
	[url] [varchar](200) NULL,
	[Created_date] [smalldatetime] NULL,
	[moved_by] [int] NULL,
	[moved_date] [smalldatetime] NULL,
	[adm_supp_wip_id] [int] IDENTITY(1,1) NOT NULL,
	[movedto_document_id] [varchar](20) NULL,
	[sub_category_name] [varchar](35) NULL,
	[doc_url] [nvarchar](200) NULL,
 CONSTRAINT [PK_IMPP_Admin_Supplements_WIP] PRIMARY KEY CLUSTERED 
(
	[adm_supp_wip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMPP_Admin_Supplements_WIP] ADD  CONSTRAINT [DF_IMPP_Admin_Supplements_WIP_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
