USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_latest_appl_IMM_to_be_deleted]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_grant_latest_appl_IMM_to_be_deleted] (@GrantID int)
  
RETURNS int AS  


BEGIN 


RETURN (SELECT TOP 1 appl_id from appls where grant_id=@GrantID 
AND APPL_ID NOT IN (SELECT DISTINCT appl_id FROM appls_deleted_in_impac)
order by fy DESC,support_year DESC,suffix_code DESC

)


END






GO
