USE [EIM]
GO
/****** Object:  Table [dbo].[bundles_doc]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bundles_doc](
	[tabid] [int] IDENTITY(1,1) NOT NULL,
	[package_id] [varchar](15) NOT NULL,
	[appl_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[document_date] [smalldatetime] NULL,
	[is_impac_doc] [bit] NULL,
	[url] [varchar](200) NULL,
	[category_sort_order] [smallint] NULL,
	[wip_stage] [smallint] NULL,
	[is_doc_downloaded] [bit] NULL,
	[doc_downloaded_size] [int] NULL,
	[is_doc_converted] [bit] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'We have to sort similar documents for a given category on document_date. Example: If there are multiple NGA for an appl we will sort nga on document_date in desc order.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundles_doc', @level2type=N'COLUMN',@level2name=N'document_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table will be used to construct bundle, This process of Bundle construction has multiple stages such as 1 or 2 or 3
based on this stage different work has to be done such as if documents of an appl is in stage 2, it means file has to be stored from impacII, another examople is if the stage is 3 this means files are ready to be merged. etc..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundles_doc', @level2type=N'COLUMN',@level2name=N'wip_stage'
GO
