USE [EIM]
GO
/****** Object:  Table [dbo].[impp_rpprs_t_old]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_rpprs_t_old](
	[appl_id] [int] NOT NULL,
	[created_date] [smalldatetime] NULL,
	[last_upd_date] [smalldatetime] NULL,
	[correct_rcvd_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
