USE [EIM]
GO
/****** Object:  View [dbo].[vw_contracts--to_be_deleted]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_contracts--to_be_deleted]
AS

SELECT     dbo.contracts.contract_id, dbo.contracts.ciip_id, dbo.contracts.fiscal_year, dbo.contracts.contract_type, dbo.contracts.activity_code, 
                      CASE WHEN contract_number < 10000 THEN RIGHT('00000' + CONVERT(varchar, contract_number), 5) ELSE CONVERT(varchar, contract_number) 
                      END AS contract_number, CASE WHEN fiscal_year > 2006 THEN RIGHT(CONVERT(varchar, fiscal_year), 2) + RIGHT('00000' + CONVERT(varchar, 
                      contract_number), 5) END AS control_number, CASE WHEN contract_number < 10000 THEN upper(activity_code) + '-' + upper(contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, contract_number), 5) ELSE upper(activity_code) + '-' + upper(contract_type) + '-' + CONVERT(varchar, 
                      contract_number) END AS full_contract_number, CASE WHEN contract_number < 10000 THEN upper(activity_code) + '-' + upper(contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, contract_number), 5) ELSE upper(activity_code) + '-' + upper(contract_type) + '-' + CONVERT(varchar, 
                      contract_number) END AS adb, CASE WHEN PATINDEX('%:%', institution) > 0 THEN substring(institution, 0, PATINDEX('%:%', institution)) 
                      ELSE institution END AS institution, RTRIM(dbo.contracts.hhs) AS hhs, dbo.contracts.rfp, dbo.vw_people.person_name, dbo.vw_people.userid, 
                      dbo.contracts.specialist_id AS person_id, dbo.contracts.specialist_name, dbo.contracts.specialist_id, CONVERT(varchar, dbo.contracts.created_date, 
                      101) AS created_date, dbo.contracts.created_by_person_id, CONVERT(varchar, dbo.contracts.last_change_date, 101) AS last_change_date, 
                      CONVERT(varchar, dbo.contracts.project_end_date, 101) AS project_end_date, CASE WHEN project_end_date IS NULL OR
                      project_end_date < getdate() THEN 'y' ELSE 'n' END AS close_out, dbo.contracts.document_created, dbo.contracts.folder_created, 
                      dbo.contracts.profile_id, dbo.contracts.piid
FROM         dbo.contracts LEFT OUTER JOIN
                      dbo.vw_people ON dbo.contracts.specialist_id = dbo.vw_people.person_id
WHERE     (dbo.contracts.disabled_date IS NULL)

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "contracts"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 243
               Right = 241
            End
            DisplayFlags = 280
            TopColumn = 16
         End
         Begin Table = "vw_people"
            Begin Extent = 
               Top = 6
               Left = 272
               Bottom = 114
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_contracts--to_be_deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_contracts--to_be_deleted'
GO
