USE [EIM]
GO
/****** Object:  Table [dbo].[DB_WIDGET_LINK]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_WIDGET_LINK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Category_name] [varchar](100) NULL,
	[Link_title] [varchar](200) NULL,
	[Link_url] [varchar](300) NULL,
	[sort_order] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[category_id] [int] NULL,
	[icon_name] [varchar](50) NULL,
 CONSTRAINT [PK_DB_WIDGET_LINK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'if end_date is not null and icon_name is not null then display icon and not the Link Title
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DB_WIDGET_LINK', @level2type=N'COLUMN',@level2name=N'icon_name'
GO
