USE [EIM]
GO
/****** Object:  Table [dbo].[joint_new]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[joint_new](
	[appl_id] [int] NULL,
	[category_name] [varchar](50) NULL,
	[document_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
