USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_modified_files]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_egrants_modified_files] AS


declare @Path varchar(255)
declare @Cmd varchar(255)
declare @TempFile varchar(255)

declare @t table(document_id int primary key)

set @Path='e:\modify\'
SELECT @TempFile='c:\directory.txt'

SELECT @Cmd= 'dir ' + @Path + '*.* /B /W >>' + @TempFile
EXEC master..xp_cmdshell @Cmd

--clear tables
delete documents_mod

SELECT @Cmd= 'bcp documents_mod in ' + @TempFile + ' -c -t , -r \n -S ' + @@SERVERNAME + ' -T '
EXEC master..xp_cmdshell @Cmd

SELECT @Cmd='DEL ' + @TempFile
EXEC master..xp_cmdshell @Cmd


update documents_mod set path=left(path,patindex('%.%',path)-1)

insert @t
select convert(int,path) from documents_mod where isnumeric(path)=1


IF (select count(*) from @t)=0 RETURN



SELECT @Cmd= 'e:\appl\f e:\appl\modify_put.txt '
EXEC master..xp_cmdshell @Cmd

SELECT @Cmd= 'move e:\modify\*.* e:\modify_backup\ '
EXEC master..xp_cmdshell @Cmd

update documents 
set url='https://egrants-data.nci.nih.gov/funded/nci/modify/' + convert(varchar,documents.document_id) + '.' + file_type,
       file_modified_date=getdate()
from documents, @t f
where f.document_id=documents.document_id

update grants
set paperless='yes'
from grants,egrants,@t f
where f.document_id=egrants.document_id and grants.grant_id=egrants.grant_id
GO
