USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_funding_doc_edit_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_funding_doc_edit_tobedeleted]

@Act 		varchar(50),
@ApplID		int,
@DocumentID	int,
@Operator	varchar(50),
@Inst		varchar(10)

AS
/****************************************************************************************************************/
/***									 							***/
/***	Procedure Name: sp_y2013_egrants_funding_doc_edit			***/
/***	Description:	edit fund document							***/
/***	Created:	02/06/2009	Leon								***/
/***	Modified:	11/22/2013	Leon								***/
/***	added new function for edit by leon 11/22/2013				***/
/***																***/
/****************************************************************************************************************/

SET NOCOUNT ON

declare 
@profile_id 	int,
@person_id 		int,
---@document_id	int
@xmlout			varchar(max),	--added on 12/22/2014 5:00pm by hareesh
@X				Xml				--added on 12/22/2014 5:00pm by hareesh

/***find the profile_id**/
SELECT @profile_id=profile_id FROM profiles WHERE profile=LOWER(@Inst)

/***find the operator's person_id***/
SELECT @person_id =person_id FROM people WHERE userid=@Operator and profile_id=@profile_id

IF @act='' or @act is null or @act='to_qc' GOTO head
IF @act='to_delete' GOTO to_delete
IF @act='to_store' GOTO to_store
IF @act='to_edit' GOTO to_edit

------------------------------------------------------
to_edit:

UPDATE funding_documents SET stored_date=null, stored_by_person_id=null WHERE document_id=@DocumentID 

GOTO head

RETURN
-------------------------------------------------------
to_delete:

UPDATE funding_appls SET disabled_date=getdate(), disabled_by_person_id=@person_id 
WHERE document_id=@DocumentID and appl_id=@ApplID

GOTO head

RETURN
-------------------------------------------------------------
to_store:

UPDATE funding_documents SET stored_date=getdate(), stored_by_person_id=@person_id WHERE document_id=@DocumentID 

GOTO head

RETURN
-----------------------------------------------------------
head:

/*--Inserted by hareesh on 12/1/2014 2:45pm--*/
SET @X = (
SELECT 
category_id,
category_name,
parent_id,
level_id,
(SELECT appl.appl_id, appl.serial_num,appl.full_grant_num,document_id,convert(varchar,document_date,101)as document_date,appl.created_date,url
FROM vw_funding as appl,vw_appls a
WHERE appl.appl_id=a.appl_id and stored_date is null and appl.disabled_date is null and appl.category_id=category.category_id
FOR XML AUTO, TYPE, ELEMENTS
) 
FROM funding_categories as category
ORDER BY category_id
FOR XML AUTO, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout



/* --Commented by hareesh on 12/22/2014 5:20pm
SELECT
1	AS tag, 
null	AS parent,
null		[categories!1!categories!element], 
null		[category!2!category_id!element], 
null		[category!2!category_name!element],
null		[category!2!parent_id!element],
null		[category!2!level_id!element],
null		[appl!3!appl_id!element],
null		[appl!3!serial_num!element],
null		[appl!3!full_grant_num!element],
null		[appl!3!document_id!element],
null		[appl!3!document_date!element],
null		[appl!3!created_date!element],
null		[appl!3!url!element]

UNION ALL

SELECT distinct
2, 
1,
null,
category_id,
category_name,
parent_id,
level_id,
null,
null,
null,
null,
null,
null,
null
FROM funding_categories 

UNION ALL

SELECT distinct
3, 
2,
null,
category_id,
null,
null,
null,
f.appl_id, 
f.serial_num,
f.full_grant_num,
document_id,
convert(varchar,document_date,101),
f.created_date,
url
FROM vw_funding f,vw_appls a
WHERE f.appl_id=a.appl_id and stored_date is null and f.disabled_date is null
ORDER BY [category!2!category_id!element], [appl!3!appl_id!element]
--FOR XML EXPLICIT
*/

/** find user info***/
declare @person_name	varchar(50)
declare @first_name		varchar(50)
declare @separate		int

set @person_name=(select person_name from people where person_id=@person_id)

IF @person_name<>'' and @person_name is not null 
BEGIN
select  @separate=PATINDEX('%,%', @person_name)
select  @first_name=LEFT(@person_name,@separate-1 )
END 


/*--Inserted by hareesh on 12/1/2014 5:20pm--*/
SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,convert(varchar, getdate(),101) as today,
can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator  and application_type='egrants' and can_egrants_upload='y' 

/* --Commented by hareesh on 12/22/2014 5:20pm
SELECT person_id,person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,admin_phs_org_code,position_id,
CASE  WHEN application_type='egrants' THEN 'y' ELSE 'n' END AS can_egrants,
CASE  WHEN application_type='egrants' and position_id >1 THEN 'y' ELSE 'n' END AS can_egrants_upload,
CASE  WHEN application_type='econtracts' or (profile_id=1 and application_type='egrants' and position_id>=5)  THEN 'y' ELSE 'n' END AS can_econtracts,
CASE  WHEN (profile_id=1 and cft>0) THEN 'y' ELSE 'n' END AS can_cft
FROM vw_people AS user_info 
WHERE profile_id=@profile_id and userid=@operator and active=1 
---FOR XML AUTO, ELEMENTS

*/
GO
