USE [EIM]
GO
/****** Object:  View [dbo].[vw_people]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
ALTER VIEW [dbo].[vw_people]
AS
SELECT 
	dbo.people.person_id, 
	dbo.people.person_name, 
	dbo.people.userid, 
	dbo.people.active, 
	dbo.people.profile_id, 
	dbo.people.application_type, 
	dbo.profiles.profile, 
	dbo.profiles.admin_phs_org_code, 
	dbo.people.position_id, 
	dbo.people_positions.position_name, 
	dbo.people_branches.branch_name, 
	dbo.people_teams.team_name, 
	dbo.people_teams.team_id, 
	dbo.people_branches.branch_id, 
	dbo.people_branches.branch_acronym, 
	dbo.profiles.profile AS ic, 
	dbo.people.cft, 
	dbo.people.econ, 
	dbo.people.egrants, 
	dbo.people.mgt, 
	dbo.people.admin, 
	CASE WHEN (egrants>0) THEN 'y' ELSE 'n' END AS can_egrants, 
	CASE WHEN (dbo.people.application_type = 'egrants' AND dbo.people.egrants > 0 AND.people.position_id > 1) THEN 'y' ELSE 'n' END AS can_egrants_upload,               
	CASE WHEN (cft > 0) THEN 'y' ELSE 'n' END AS can_cft, 
	CASE WHEN (mgt > 0) THEN 'y' ELSE 'n' END AS can_mgt, 
	CASE WHEN ([admin]> 0) THEN 'y' ELSE 'n' END AS can_admin, 
	CASE WHEN (docman > 0) THEN 'y' ELSE 'n' END AS can_docman, 
	CASE WHEN (econ > 0) THEN 'y' ELSE 'n' END AS can_econtracts,
	CASE WHEN (econ > 1) THEN 'y' ELSE 'n' END AS can_econ_upload, 
	CASE WHEN (dashboard > 0) THEN 'y' ELSE 'n' END AS can_dashboard,  
	dbo.fn_get_qc_days(person_id) AS qc_days, 
	dbo.people.start_date,
	dbo.people.end_date,
	dbo.people.created_by,
	dbo.people.created_date,
	dbo.people.last_updated_by,
	dbo.people.last_updated_date
FROM  
	dbo.profiles RIGHT OUTER JOIN
	dbo.people ON dbo.profiles.profile_id = dbo.people.profile_id 
	LEFT OUTER JOIN	dbo.people_positions ON dbo.people.position_id = dbo.people_positions.position_id 
	LEFT OUTER JOIN	dbo.people_branches 
	INNER JOIN dbo.people_teams ON dbo.people_branches.branch_id = dbo.people_teams.branch_id ON dbo.people.team_id = dbo.people_teams.team_id
WHERE 
	dbo.people.active = 1


GO
*/



CREATE VIEW [dbo].[vw_people]
AS
SELECT 
	dbo.people.person_id, 
	dbo.people.person_name, 
	dbo.people.userid, 
	dbo.people.active, 
	dbo.people.profile_id, 
	dbo.people.application_type, 
	dbo.profiles.profile, 
	dbo.profiles.admin_phs_org_code, 
	dbo.people.position_id, 
	dbo.people_positions.position_name, 
	dbo.people_branches.branch_name, 
	dbo.people_teams.team_name, 
	dbo.people_teams.team_id, 
	dbo.people_branches.branch_id, 
	dbo.people_branches.branch_acronym, 
	dbo.profiles.profile AS ic, 
	dbo.people.cft, 
	dbo.people.econ, 
	dbo.people.egrants, 
	dbo.people.mgt, 
	dbo.people.admin, 
	CASE WHEN (egrants>0) THEN 'y' ELSE 'n' END AS can_egrants, 
	CASE WHEN (dbo.people.application_type = 'egrants' AND dbo.people.egrants > 0 AND.people.position_id > 1) THEN 'y' ELSE 'n' END AS can_egrants_upload,               
	CASE WHEN (cft > 0) THEN 'y' ELSE 'n' END AS can_cft, 
	CASE WHEN (mgt > 0) THEN 'y' ELSE 'n' END AS can_mgt, 
	CASE WHEN ([admin]> 0) THEN 'y' ELSE 'n' END AS can_admin, 
	CASE WHEN (docman > 0) THEN 'y' ELSE 'n' END AS can_docman, 
	CASE WHEN (econ > 0) THEN 'y' ELSE 'n' END AS can_econtracts,
	CASE WHEN (econ > 1) THEN 'y' ELSE 'n' END AS can_econ_upload, 
	CASE WHEN (dashboard > 0) THEN 'y' ELSE 'n' END AS can_dashboard,  
	CASE WHEN (dbo.fn_get_qc_tab(person_id) > 0) THEN 'y' ELSE 'n' END AS can_qc, 
	dbo.fn_get_qc_days(person_id) AS qc_days, 
	--dbo.fn_get_qc_tab(person_id) AS qc_tab,
	dbo.people.start_date,
	dbo.people.end_date,
	dbo.people.created_by,
	dbo.people.created_date,
	dbo.people.last_updated_by,
	dbo.people.last_updated_date,
	dbo.people.first_name,
	dbo.people.middle_initial,
	dbo.people.last_name,
	dbo.people.email,
	dbo.people.ic_coordinator_id,
	dbo.people.is_coordinator,
	dbo.people.iccoord,
	dbo.people.phone_number,
	dbo.people.dashboard
FROM  
	dbo.profiles RIGHT OUTER JOIN
	dbo.people ON dbo.profiles.profile_id = dbo.people.profile_id 
	LEFT OUTER JOIN	dbo.people_positions ON dbo.people.position_id = dbo.people_positions.position_id 
	LEFT OUTER JOIN	dbo.people_branches 
	INNER JOIN dbo.people_teams ON dbo.people_branches.branch_id = dbo.people_teams.branch_id ON dbo.people.team_id = dbo.people_teams.team_id
WHERE 
	dbo.people.active = 1 and dbo.people.userid is not null and dbo.people.userid !=''






GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[73] 4[4] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "profiles"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "people"
            Begin Extent = 
               Top = 6
               Left = 258
               Bottom = 114
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "people_positions"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 192
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "people_branches"
            Begin Extent = 
               Top = 114
               Left = 227
               Bottom = 222
               Right = 387
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "people_teams"
            Begin Extent = 
               Top = 192
               Left = 38
               Bottom = 285
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 135' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_people'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_people'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_people'
GO
