USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_latest_fy]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_grant_latest_fy] (@GrantID int)
  
RETURNS smallint AS  


BEGIN 


RETURN (SELECT max(fy) from appls where grant_id=@GrantID)


END



GO
