USE [EIM]
GO
/****** Object:  Table [dbo].[character_index]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_index](
	[index_id] [int] NULL,
	[character_index] [char](1) NULL,
	[index_seq] [int] NULL
) ON [PRIMARY]
GO
