USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_notification]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NOT NULL,
	[pa] [varchar](10) NULL,
	[subjectLine] [varchar](200) NULL,
	[NotificationBody] [varchar](2000) NULL,
	[NotRcvd_dt] [smalldatetime] NULL,
	[Full_grant_num] [varchar](20) NULL,
	[Created_by] [int] NOT NULL,
	[Created_date] [smalldatetime] NULL,
	[Last_updated_by] [int] NULL,
	[Last_updated_date] [smalldatetime] NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_personid] [int] NULL,
 CONSTRAINT [PK_adsup_notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_notification] ADD  CONSTRAINT [DF_adsup_notification_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
ALTER TABLE [dbo].[adsup_notification]  WITH CHECK ADD  CONSTRAINT [FK_adsup_notification_people] FOREIGN KEY([Created_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_notification] CHECK CONSTRAINT [FK_adsup_notification_people]
GO
ALTER TABLE [dbo].[adsup_notification]  WITH CHECK ADD  CONSTRAINT [FK_adsup_notification_people1] FOREIGN KEY([Last_updated_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_notification] CHECK CONSTRAINT [FK_adsup_notification_people1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Full Grant Number in th supplement request email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_notification', @level2type=N'COLUMN',@level2name=N'Full_grant_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'egrants person_id, who created this entry most of the time this will be system created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_notification', @level2type=N'COLUMN',@level2name=N'Created_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date this record got created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_notification', @level2type=N'COLUMN',@level2name=N'Created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last updated by' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_notification', @level2type=N'COLUMN',@level2name=N'Last_updated_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last Updated date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_notification', @level2type=N'COLUMN',@level2name=N'Last_updated_date'
GO
