USE [EIM]
GO
/****** Object:  Table [dbo].[DB_GPMATS_ASSIGNMENT_STATUS]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_GPMATS_ASSIGNMENT_STATUS](
	[APPL_ID] [int] NULL,
	[FGN] [varchar](19) NULL,
	[REVISON_NUM] [int] NULL,
	[USERID] [varchar](30) NULL,
	[GRANT_ASSIGN_DATE] [datetime] NULL,
	[RELEASE_DATE] [datetime] NULL,
	[BUDGET_START_DATE] [datetime] NULL,
	[APPL_TYPE_CODE] [int] NULL,
	[DAYS_INTRANSIT] [int] NULL,
	[STATUS_CODE] [varchar](10) NULL,
	[ACTION_TYPE] [varchar](20) NULL,
	[ACTIVITY_CODE] [varchar](3) NULL,
	[DAY_COUNT_NUM] [int] NULL,
	[CURRENT_ACTION_STATUS_CODE] [varchar](10) NULL,
	[CURRENT_ACTION_STATUS_DATE] [datetime] NULL
) ON [PRIMARY]
GO
