USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_search_by_filters]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[sp_web_egrants_search_by_filters]

@fy				int=0,
@mechanism		varchar(3)=null,
@admincode		varchar(2)=null,
@serialnum		int=0,
@page_num		int=1,
@browser		varchar(20),
@ic  			varchar(10),
@operator 		varchar(50)

AS
/************************************************************************************************************/
/***									 										***/
/***	Procedure Name:sp_web_egrants_search_by_filter							***/
/***	Description:egrants searching by filter									***/
/***	Created:	02/14/2019	Leon											***/
/***	Modified:	02/15/2019	Leon											***/
/***	Modified:	02/17/2019	Leon											***/
/************************************************************************************************************/
SET NOCOUNT ON

---1=@fy
---2=@mechanism
---3=@admincode
---4=@serialnum

declare @sql			varchar(400)
declare @search_str		varchar(800)
declare @search_id		int

---1,search by @fy only
IF (@fy is not null and @fy>0) and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' order by serial_num desc'
SET @search_str='filter:fy='+convert(varchar,@fy)
END

---2, search by @mechanism only
IF (@fy is null or @fy=0) and (@mechanism is not null and @mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where activity_code =' +char(39)+ @mechanism +char(39)+' order by serial_num desc'
SET @search_str='filter:mechanism='+@mechanism
END

---3, search by @admincode only
IF (@fy is null or @fy=0) and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_grants where admin_phs_org_code =' +char(39)+ @admincode +char(39)+' order by serial_num desc'
SET @search_str='filter:admincode='+@admincode
END

---4, search by @serialnum only
IF (@fy is null or @fy=0) and (@mechanism is null or @mechanism='') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_grants where serial_num =' + convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:serialnum='+convert(varchar,@serialnum)
END

---1-2, search by @fy and @mechanism 
IF (@fy is not null and @fy>0) and (@mechanism is not null and @mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and activity_code='+char(39)+ @mechanism +char(39)+' order by serial_num desc'
SET @search_str='filter:fy='+convert(varchar, @fy)+', mechanism='+ @mechanism 
END

---1-3, search by @fy and @admincode
IF (@fy>0) and (@mechanism is null or @mechanism ='') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by serial_num desc'
SET @search_str='filter:fy='+convert(varchar, @fy)+', admincode='+@admincode
END

---1-4, search by @fy and @serialnum
IF (@fy is not null and @fy>0) and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:fy='+convert(varchar, @fy)+', serialnum='+convert(varchar,@serialnum)
END

---2-3, search by @mechanism and @admincode
IF (@fy is null or @fy=0) and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where activity_code =' +char(39)+ @mechanism +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by serial_num desc'
SET @search_str='filter:mechanism='+ @mechanism +', admincode='+@admincode
END

---2-4, search by @mechanism and @serialnum
IF (@fy is null or @fy=0) and (@mechanism is not null and @mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where activity_code =' +char(39)+ @mechanism +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:mechanism='+ @mechanism +', serialnum='+convert(varchar,@serialnum)
END

---3-4, search by @admincode and @serialnum
IF (@fy is null or @fy=0) and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from grants where admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:admincode='+ @admincode +', serialnum='+convert(varchar,@serialnum)
END

---1-2-3, search by @fy,@mechanism ,@admincode 
IF (@fy is not null and @fy >0) and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum=0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and activity_code =' +char(39)+ @mechanism +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by serial_num desc'
SET @search_str='filter:fy='+ convert(varchar,@fy) +', mechanism=' + @mechanism +', admincode='+ @admincode 
END

---1-2-4, search by @fy,@mechanism and @serialnum
IF (@fy is not null and @fy >0) and (@mechanism is not null and @mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and activity_code =' +char(39)+ @mechanism +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:fy='+ convert(varchar,@fy) +', mechanism=' + @mechanism + ', serialnum='+convert(varchar,@serialnum)
END


---1-3-4, search by @fy, @admincode and @serialnum
IF (@fy is not null and @fy >0) and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:fy='+ convert(varchar,@fy) +', admincode='+ @admincode +', serialnum='+convert(varchar,@serialnum)
END

---2-3-4, search by @mechanism, @admincode and @serialnum
IF (@fy is null or @fy=0) and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where activity_code=' +char(39)+ @mechanism +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:mechanism=' + @mechanism + ', admincode='+ @admincode +', serialnum='+convert(varchar,@serialnum)
END

---1-2-3-4, search by @fy,@mechanism ,@admincode and @serialnum
IF (@fy is not null and @fy >0) and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum>0)	
BEGIN
SET @sql ='select distinct grant_id, serial_num from vw_appls where fy=' + convert(varchar, @fy) +' and activity_code =' +char(39)+ @mechanism +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by serial_num desc'
SET @search_str='filter:fy='+ convert(varchar,@fy) +', mechanism=' + @mechanism + ', admincode='+ @admincode +', serialnum='+convert(varchar,@serialnum)
END

--insert search information
SET @search_id=(SELECT search_id FROM searches WHERE search_string=@search_str)
IF @search_id IS NULL
BEGIN
INSERT searches(search_string) SELECT @search_str
SET @search_id=@@IDENTITY
END

INSERT queries(query_date,search_id,[page],searched_by,ic,browser_type)
SELECT getdate(),@search_id,@page_num,LOWER(@operator),UPPER(@IC),@browser

--return SQL query
SELECT @sql
GO
