USE [EIM]
GO
/****** Object:  Table [dbo].[appls_ciip2]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_ciip2](
	[APPL_ID] [int] NOT NULL,
	[FULL_GRANT_NUM] [varchar](50) NULL,
	[APPL_TYPE_CODE] [varchar](1) NULL,
	[ACTIVITY_CODE] [varchar](3) NULL,
	[ADMIN_PHS_ORG_CODE] [varchar](2) NULL,
	[SERIAL_NUM] [int] NULL,
	[SUPPORT_YEAR] [tinyint] NULL,
	[SUFFIX_CODE] [varchar](4) NULL,
	[PROJECT_TITLE] [varchar](200) NULL,
	[FORMER_NUM] [varchar](50) NULL,
	[RFA_PA_NUMBER] [varchar](10) NULL,
	[COUNCIL_MEETING_DATE] [varchar](10) NULL,
	[EXTERNAL_ORG_ID] [int] NULL,
	[ORG_NAME] [varchar](120) NULL,
	[PROJECT_PERIOD_START_DATE] [datetime] NULL,
	[PROJECT_PERIOD_END_DATE] [datetime] NULL,
	[BUDGET_START_DATE] [datetime] NULL,
	[BUDGET_END_DATE] [datetime] NULL,
	[PERSON_ID] [int] NULL,
	[NAME_PREFIX] [varchar](15) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[FIRST_NAME] [varchar](30) NULL,
	[MI_NAME] [varchar](30) NULL,
	[NAME_SUFFIX] [varchar](5) NULL,
	[EMAIL_ADDR] [varchar](80) NULL,
	[LINE_1_ADDR] [varchar](50) NULL,
	[LINE_2_ADDR] [varchar](50) NULL,
	[LINE_3_ADDR] [varchar](50) NULL,
	[LINE_4_ADDR] [varchar](50) NULL,
	[LINE_5_ADDR] [varchar](50) NULL,
	[PROG_CLASS_CODE] [varchar](8) NULL,
	[IRG_CODE] [varchar](4) NULL,
	[IRG_FLEX_CODE] [varchar](1) NULL,
	[GROUP_CODE] [varchar](2) NULL,
	[IRG_RECOMMENDATION_CODE] [varchar](1) NULL,
	[PRIORITY_SCORE_NUM] [decimal](3, 0) NULL,
	[IRG_PERCENTILE_NUM] [decimal](5, 2) NULL,
	[IRG_PERCENTILE_REF_CODE] [varchar](1) NULL,
	[HUMAN_SUBJECT_CODE] [varchar](2) NULL,
	[ANIMAL_SUBJECTS_CODE] [varchar](2) NULL,
	[AIDS_RELATED_CODE] [varchar](1) NULL,
	[GENDER_CLINICAL_STUDY_CODE] [varchar](2) NULL,
	[MINORITY_CLINICAL_STUDY_CODE] [varchar](2) NULL,
	[APPL_STATUS_GROUP_CODE] [varchar](2) NULL,
	[APPL_STATUS_GROUP_DESCRIP] [varchar](60) NULL,
	[FY] [int] NULL,
	[CHILD_CLINICAL_STUDY_CODE] [varchar](2) NULL,
	[ANIMAL_SUBJECT_ASSURANCE_NUM] [varchar](10) NULL,
	[ANIMAL_SUBJECT_IACUC_DATE] [datetime] NULL,
	[APPL_RECEIVED_DATE] [datetime] NULL,
	[APPL_STATUS_CODE] [varchar](2) NULL,
	[AWD_NOTICE_ISSUED_DATE] [datetime] NULL,
	[COUNCIL_RECOM_CODE] [varchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATOR_ID] [varchar](30) NULL,
	[CURR_AWD_NOTICE_ISSUE_DATETIME] [datetime] NULL,
	[DIRECT_COST_REQUESTED_AMT] [decimal](10, 2) NULL,
	[EIN] [varchar](12) NULL,
	[EXPANDED_AUTHORITIES_CODE] [varchar](1) NULL,
	[EXPEDITED_REVIEW_CODE] [varchar](1) NULL,
	[FED_DEMO_PROJECT_CODE] [varchar](1) NULL,
	[HUMAN_SUBJECT_ASSURANCE_NUM] [varchar](10) NULL,
	[HUMAN_SUBJECT_IRB_DATE] [datetime] NULL,
	[INDIRECT_COST_REQUESTED_AMT] [decimal](10, 2) NULL,
	[INIT_ENCUMBRANCE_DATE] [datetime] NULL,
	[LAST_AWD_NOTICE_ISSUE_DATETIME] [datetime] NULL,
	[LAST_UPD_DATE] [datetime] NULL,
	[LAST_UPD_ID] [varchar](30) NULL,
	[LATEST_ENCUMBRANCE_DATE] [datetime] NULL,
	[OUT_YEARS_NUM] [decimal](1, 0) NULL,
	[SPECIAL_DISP_CODE] [varchar](1) NULL,
	[SUPP_TYPE_CODE] [varchar](1) NULL,
	[TOTAL_COST_REQUESTED_AMT] [decimal](9, 0) NULL,
	[TOTAL_COST_REQUESTED_YEAR1_AMT] [decimal](10, 0) NULL,
	[SUMMARY_STATEMENT_FLAG] [char](1) NULL,
	[active_grant_flag] [char](1) NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[mechanism_code] [varchar](2) NULL
) ON [PRIMARY]
GO
