USE [EIM]
GO
/****** Object:  Table [dbo].[Archive_Grant_List_2017]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive_Grant_List_2017](
	[APPL_ID] [int] NULL,
	[GRANT_NUM] [varchar](19) NULL,
	[ADMIN_PHS_ORG_CODE] [char](2) NULL,
	[FY] [int] NULL
) ON [PRIMARY]
GO
