USE [EIM]
GO
/****** Object:  Table [dbo].[impp_mech_codes]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_mech_codes](
	[APPL_ID] [int] NOT NULL,
	[MECHANISM_CODE] [varchar](2) NULL,
 CONSTRAINT [PK_impp_mech_codes] PRIMARY KEY CLUSTERED 
(
	[APPL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
