USE [EIM]
GO
/****** Object:  Table [dbo].[Temp_eGrants_destruct_command_2014]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_eGrants_destruct_command_2014](
	[APPL_ID] [int] NULL,
	[shellcommand] [varchar](300) NULL,
	[rev_command] [varchar](300) NULL,
	[DOCUMENT_ID] [int] NULL,
	[STATUS] [int] NULL,
	[COMMENT] [varchar](100) NULL
) ON [PRIMARY]
GO
