USE [EIM]
GO
/****** Object:  Table [dbo].[IRDB_CloseOut_Flag]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IRDB_CloseOut_Flag](
	[appl_id] [int] NULL,
	[appl_type_code] [varchar](2) NULL,
	[full_grant_num] [varchar](19) NULL,
	[fy] [int] NULL,
	[project_period_end_date] [datetime] NULL,
	[closeout_status_code] [char](1) NULL,
	[grant_close_date] [datetime] NULL,
	[ltr1_date] [datetime] NULL,
	[ltr2_date] [datetime] NULL,
	[ltr3_date] [datetime] NULL,
	[progress_rpt_accepted_date] [datetime] NULL,
	[final_report_date] [datetime] NULL
) ON [PRIMARY]
GO
