USE [EIM]
GO
/****** Object:  Table [dbo].[grants]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grants](
	[grant_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_phs_org_code] [char](2) NOT NULL,
	[serial_num] [int] NOT NULL,
	[mechanism_code] [char](2) NULL,
	[close_out_date] [smalldatetime] NULL,
	[former_admin_phs_org_code] [char](2) NULL,
	[former_serial_num] [int] NULL,
	[future_admin_phs_org_code] [char](2) NULL,
	[future_serial_num] [int] NULL,
	[stop_sign] [varchar](3) NOT NULL,
	[paperless] [varchar](3) NOT NULL,
	[is_tobacco] [bit] NULL,
	[grant_close_date] [smalldatetime] NULL,
	[to_be_destroyed] [bit] NULL,
	[destruction_reason] [varchar](50) NULL,
	[arra_flag] [char](1) NULL,
	[fda_flag] [char](1) NULL,
 CONSTRAINT [PK_grants] PRIMARY KEY NONCLUSTERED 
(
	[grant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_grants]    Script Date: 8/27/2019 5:06:01 PM ******/
CREATE CLUSTERED INDEX [IX_grants] ON [dbo].[grants]
(
	[serial_num] ASC,
	[admin_phs_org_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_grants_1]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_1] ON [dbo].[grants]
(
	[serial_num] ASC,
	[former_serial_num] ASC,
	[future_serial_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_grants_2]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_2] ON [dbo].[grants]
(
	[former_serial_num] ASC,
	[future_serial_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_grants_3]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_3] ON [dbo].[grants]
(
	[former_serial_num] ASC,
	[serial_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_grants_4]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_4] ON [dbo].[grants]
(
	[future_serial_num] ASC,
	[serial_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_grants_5]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_5] ON [dbo].[grants]
(
	[mechanism_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[grants] ADD  CONSTRAINT [DF_grants_stop_sign]  DEFAULT ('no') FOR [stop_sign]
GO
ALTER TABLE [dbo].[grants] ADD  CONSTRAINT [DF_grants_paperless]  DEFAULT ('no') FOR [paperless]
GO
ALTER TABLE [dbo].[grants] ADD  CONSTRAINT [DF_grants_is_tobacco]  DEFAULT (0) FOR [is_tobacco]
GO
ALTER TABLE [dbo].[grants] ADD  CONSTRAINT [DF_grants_is_closed_out]  DEFAULT (0) FOR [to_be_destroyed]
GO
ALTER TABLE [dbo].[grants] ADD  CONSTRAINT [DF_grants_arra_flag]  DEFAULT ('n') FOR [arra_flag]
GO
ALTER TABLE [dbo].[grants]  WITH NOCHECK ADD  CONSTRAINT [CK_grants] CHECK  ((len([admin_phs_org_code]) = 2))
GO
ALTER TABLE [dbo].[grants] CHECK CONSTRAINT [CK_grants]
GO
