USE [EIM]
GO
/****** Object:  Table [dbo].[people]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[person_name] [varchar](100) NULL,
	[userid] [varchar](50) NULL,
	[profile_id] [smallint] NULL,
	[position_id] [smallint] NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[application_type] [varchar](10) NULL,
	[team_id] [int] NULL,
	[cft] [int] NULL,
	[econ] [int] NULL,
	[gft] [int] NULL,
	[mgt] [int] NULL,
	[egrants] [int] NULL,
	[admin] [int] NULL,
	[docman] [int] NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[last_updated_by] [int] NULL,
	[last_updated_date] [datetime] NULL,
	[first_name] [varchar](50) NULL,
	[middle_initial] [varchar](20) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[ic_coordinator_id] [int] NULL,
	[is_coordinator] [bit] NOT NULL,
	[iccoord] [int] NULL,
	[phone_number] [varchar](10) NULL,
	[dashboard] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_people]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_people] ON [dbo].[people]
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_position_id]  DEFAULT (1) FOR [position_id]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_active]  DEFAULT (1) FOR [active]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_application_type]  DEFAULT ('egrants') FOR [application_type]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_team_id]  DEFAULT (0) FOR [team_id]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_cft]  DEFAULT (0) FOR [cft]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_econ]  DEFAULT (0) FOR [econ]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_gft]  DEFAULT (0) FOR [gft]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_mgt]  DEFAULT (0) FOR [mgt]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_egrants]  DEFAULT (0) FOR [egrants]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_admin]  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_Created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[people] ADD  DEFAULT ((0)) FOR [is_coordinator]
GO
ALTER TABLE [dbo].[people]  WITH NOCHECK ADD  CONSTRAINT [CK_people_ic_coordinator] CHECK  (([is_coordinator]=(1) AND [ic_coordinator_id] IS NULL OR [is_coordinator]=(0) AND [ic_coordinator_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[people] CHECK CONSTRAINT [CK_people_ic_coordinator]
GO
