USE [EIM]
GO
/****** Object:  Table [dbo].[profiles]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profiles](
	[profile_id] [smallint] IDENTITY(1,1) NOT NULL,
	[profile] [varchar](5) NULL,
	[admin_phs_org_code] [char](2) NULL,
	[qc_type] [int] NULL,
 CONSTRAINT [PK_profiles] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_qc_type]  DEFAULT (0) FOR [qc_type]
GO
