USE [EIM]
GO
/****** Object:  Table [dbo].[adm_files]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_files](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[folder_id] [int] NOT NULL,
	[file_name] [varchar](150) NOT NULL,
	[file_type] [varchar](5) NOT NULL,
	[key_word] [varchar](500) NULL,
	[url] [varchar](250) NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[created_by_person_id] [int] NOT NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adm_files] ADD  CONSTRAINT [DF_adm_files_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
