USE [EIM]
GO
/****** Object:  Table [dbo].[IRDB_CloseOut_Flag_New]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IRDB_CloseOut_Flag_New](
	[appl_id] [int] NULL,
	[fy] [int] NULL,
	[GC_OBJECT_NAME] [varchar](200) NULL,
	[GC_ACTION_TYPE_CODE] [varchar](50) NULL,
	[GC_OBJECT_STATUS_CODE] [varchar](50) NULL,
	[Action_date] [datetime] NULL
) ON [PRIMARY]
GO
