USE [EIM]
GO
/****** Object:  Table [dbo].[CIIP_Greensheet_Rev]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIIP_Greensheet_Rev](
	[appl_id] [int] NULL,
	[agt_id] [int] NULL,
	[submitted_date] [datetime] NULL,
	[Revision_type_description] [nvarchar](50) NULL
) ON [PRIMARY]
GO
