USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_attachments_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_attachments_tobedeleted]

@document_id	 int

AS
/****************************************************************************************************************/
/***									 					***/
/***	Procedure Name:  sp_y2013_egrants_attachments		***/
/***	Description:	find the stop_attachments			***/
/***	Created:	11/01/2006	Leon						***/
/***	Modified:	03/27/2013	Leon						***/
/***														***/
/****************************************************************************************************************/

SET NOCOUNT ON

SELECT distinct
1	AS tag, 
null	AS parent,
document_id	[attachments!1!document_id!element], 
null		[attachment!2!attachment_id!element], 
null		[attachment!2!url!element],
null		[attachment!2!file_name!element],
null		[attachment!2!file_type!element]
FROM vw_attachments
WHERE  document_id=@document_id

UNION ALL
SELECT
2, 
1,
document_id,
attachment_id,
url,
file_name,
file_type
FROM vw_attachments
WHERE document_id=@document_id

GO
