USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_Create_Missing_Document_List]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================================================================
-- Author:			Joel Friedman
-- Create date:		05/15/2013
-- Description:		Create a list of missing pFR. PFR is a local file to eGrants this is not an 
--					ImpacII document or any other link. In document table for a PFR if the url is 
--					missing/blank/null this means we do not have document in our system.
-- =====================================================================================================
CREATE PROCEDURE [dbo].[sp_Create_Missing_Document_List] 
	@category_id	int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare	@impac	int
				
	select @impac = person_id from people where person_name ='impac'
	
    select appl_id from documents where category_id=@category_id and url is null and created_by_person_id <>  @impac
    
END
GO
