USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_supp_load_tobedeleted]    Script Date: 8/27/2019 5:06:06 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create PROCEDURE [dbo].[sp_y2013_egrants_supp_load_tobedeleted]

@act 			varchar(50),
@grant_id		int,
@support_year 	smallint,
@suffix_code	varchar(4),
@docid_str		varchar(800),
@former_applid	int,
@Operator		varchar(50),
@Inst			varchar(10)

AS
/************************************************************************************************************/
/***									 							***/
/***	Procedure Name: sp_y2013_egrants_supp_load					***/
/***	Description:load supp to egrants							***/
/***	Created:	10/27/2015	Leon								***/
/***	Modified:	12/16/2015	Leon								***/
/***	Simplified:	12/21/2015	Leon								***/
/***	Modified:	07/28/2016	Leon								***/
/************************************************************************************************************/
SET NOCOUNT ON

DECLARE
@profile_id		smallint,
@person_id		int,
@separate		int,
@count			int,
@appl_id		int,
@supp_appl_id	int,
@category_id	int,
@appl_type_code tinyint,
@activity_code 	char(3),
@serial_num		int,
--@former_appl_id int,
@impac_doc_type	varchar(5),
@doc_id			int,
@document_id	int,
@impacid		int,
@sql			varchar(800),
@xmlout			varchar(max),
@X				Xml

/***find the profile_id**/
SET @Inst=LOWER(@Inst)
SELECT @profile_id=profile_id FROM profiles WHERE profile=@Inst 
SELECT  @impacid=person_id FROM people WHERE person_name='impac'

/***find the operator's person_id***/
SELECT @person_id = person_id FROM vw_people WHERE userid=@Operator and profile_id=@profile_id

/** find user info***/
declare @person_name	varchar(50)
declare @first_name		varchar(50)
declare @qc_date 		smalldatetime
declare @daydiff 		int

--find the qc days
SELECT @qc_date=MIN(qc_date) FROM egrants WHERE qc_person_id=@person_id and qc_date is not null and parent_id is null
IF @qc_date IS NOT NULL
BEGIN
SELECT @daydiff=DATEDIFF(day, getdate(), @qc_date)-1
END

--find user name
set @person_name=(select person_name from people where person_id=@person_id)
IF @person_name<>'' and @person_name is not null 
BEGIN
select  @separate=PATINDEX('%,%', @person_name)
select  @first_name=LEFT(@person_name,@separate-1)
END 

SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,@daydiff as qc_days,convert(varchar, getdate(),101) as today,
can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator and application_type='egrants' and can_egrants='y' ---and can_egrants_upload='y' 

--find serial num, grant_id, former_appl_id
SET @serial_num=(select serial_num from grants where grant_id=@grant_id)

CREATE TABLE #doc (doc_id int)--to insert adm_supp_wip_id 
IF (@act='to_move' or @act='to_pay') and @docid_str is not null 
BEGIN
SET @sql='INSERT #doc SELECT adm_supp_wip_id from dbo.IMPP_Admin_Supplements_WIP where adm_supp_wip_id in (' + @docid_str + ')'
END

IF @act='to_movement' 
BEGIN
SET @sql='INSERT #doc SELECT adm_supp_wip_id from dbo.IMPP_Admin_Supplements_WIP where serial_num='+char(39)+CONVERT(varchar,@serial_num)+char(39)+' and moved_date is null'
END

IF @act='to_history'
BEGIN
SET @sql='INSERT #doc SELECT adm_supp_wip_id from dbo.IMPP_Admin_Supplements_WIP where serial_num='+char(39)+CONVERT(varchar,@serial_num)+char(39)
END

EXEC(@sql)---to insert adm_supp_wip_id 

/***run by act***/
IF @act='to_movement' or @act='to_history' GOTO to_view
IF @act='to_move' GOTO to_move
IF @act='to_pay' GOTO to_pay
--------------------------------------------------------
to_view:

SET @X = (
SELECT 
grant_id,
admin_phs_org_code,
serial_num,
(
SELECT 
adm_supp_wip_id as id,
full_grant_num,
Supp_appl_id as supp_appl_id,
Support_year as support_year,
Suffix_code as suffix_code,
Former_num as former_num, 
Former_appl_id as former_appl_id,
CONVERT(varchar, submitted_date,101) as submitted_date,
dbo.fn_get_category_name(category_id) as category_name,
sub_category_name,
dbo.get_admin_supp_latest_action(serial_num,supp_appl_id) as [status],
url,
/**
--CASE 
--WHEN moved_date is null and Supp_appl_id is null 
--THEN substring(@image_server,0,LEN(@image_server)-1) + url
--WHEN moved_date is not null and Supp_appl_id is not null and dbo.fn_get_impac_doc_type(category_id) in ('IGI','FIS','FPA','FRM','FPR','JIT','MPR','SS') 
--THEN @image_server+'documentviewer/viewDocument.action?applId='+convert(varchar,movedto_appl_id)+'&docType='+dbo.fn_get_impac_doc_type(category_id)
--ELSE url
--END as url,
**/
CASE WHEN moved_date is not null THEN CONVERT(varchar,moved_date,101) 
ELSE null END as moved_date,
CASE WHEN moved_by is not null THEN dbo.fn_get_person_name(moved_by) 
ELSE null END as moved_by
FROM dbo.IMPP_Admin_Supplements_WIP as supplement 
WHERE Serial_num=[grant].serial_num and adm_supp_wip_id in (select doc_id from #doc )
FOR XML AUTO, TYPE, ELEMENTS
)
FROM grants AS [grant]
WHERE grant_id=@grant_id
FOR XML AUTO, TYPE, ELEMENTS	
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

goto to_parents

RETURN
-------------------------------------------------------------------------
to_parents:

SELECT
distinct Former_num, Former_appl_id
FROM dbo.IMPP_Admin_Supplements_WIP as appl
WHERE Serial_num=@serial_num
FOR XML AUTO, TYPE, ELEMENTS

RETURN
---------------
--to create supp documents by parent appl_id
to_pay:

---SET @former_appl_id=(select distinct max(former_appl_id) from IMPP_Admin_Supplements_WIP where adm_supp_wip_id in(select doc_id from #doc))
SET @support_year=(select support_year from appls where appl_id=@former_applid)
SET @suffix_code=(select ISNULL(suffix_code,null)from appls where appl_id=@former_applid)
SET @appl_id=@former_applid

GOTO to_load
---------------------------------------------------------------------------
--to move supp documents by appl_id
to_move:

declare @applid int

/**
to find supp_appl_id
-SET @count=(select COUNT(distinct supp_appl_id) from IMPP_Admin_Supplements_WIP where adm_supp_wip_id in(select doc_id from #doc))

IF @count=1 
BEGIN
SET @appl_id=(select distinct supp_appl_id from IMPP_Admin_Supplements_WIP where adm_supp_wip_id in(select doc_id from #doc))
SET @support_year=(select support_year from appls where appl_id=@appl_id)
SET @suffix_code=(select suffix_code from appls where appl_id=@appl_id)
END
ELSE---to find appl_id
BEGIN
**/  ---commonted out by Leon 8/1/2016

--to find appl_type_code and activity_code
---SET @former_appl_id =(select distinct max(former_appl_id) from IMPP_Admin_Supplements_WIP where adm_supp_wip_id in(select doc_id from #doc))
SET @appl_type_code = 3 
SET @activity_code =(SELECT activity_code FROM appls WHERE appl_id=@former_applid)

--to find created supplement appl_id
SET @count=(select count(appl_id) from appls where grant_id=@grant_id and activity_code=@activity_code and appl_type_code=@appl_type_code and support_year=@support_year and suffix_code=ISNULL(@suffix_code,null))

IF @count=1 
BEGIN
SET @appl_id=(select appl_id from appls where grant_id=@grant_id and activity_code=@activity_code and appl_type_code=@appl_type_code and support_year=@support_year and suffix_code=ISNULL(@suffix_code,null))
END

IF @count=0
BEGIN			--@Supp_appl_id is not existing yet and create new appl_id
SELECT @applid=min(appl_id)-FLOOR(10000 * RAND()) FROM appls
INSERT appls(appl_id,grant_id,appl_type_code,activity_code,support_year,suffix_code)
SELECT @applid,@grant_id,@appl_type_code,@activity_code,@support_year,ISNULL(@suffix_code,null)
SET @appl_id=@applid
END				--end create new appl_id

--END

GOTO to_load--load documents to existing appl_id
----------------
to_load:--load doc to documents table

---create cursor to load data
DECLARE load_doc CURSOR FOR select doc_id from #doc
OPEN load_doc
FETCH NEXT FROM load_doc into @doc_id 
While @@FETCH_STATUS = 0
BEGIN
	--create new document 
	INSERT documents(appl_id,url,category_id,sub_category_name,document_date,file_type,created_date,created_by_person_id, stored_date,stored_by_person_id)
	SELECT @appl_id,url,category_id,ISNULL(sub_category_name,null),Submitted_date,file_type,GETDATE(),@person_id,GETDATE(),@person_id
	FROM IMPP_Admin_Supplements_WIP 
	WHERE adm_supp_wip_id=@doc_id
	
	--to get document_id
	SELECT @document_id = @@IDENTITY
	
	--to update IMPP_Admin_Supplements_WIP table
	UPDATE IMPP_Admin_Supplements_WIP 
	SET Support_year=@support_year,Suffix_code=ISNULL(@suffix_code,null),moved_by=@person_id,moved_date=GETDATE(), movedto_appl_id=@appl_id,movedto_document_id=@document_id
	FROM IMPP_Admin_Supplements_WIP 
	WHERE adm_supp_wip_id=@doc_id
	
	--to load next one
	fetch next from load_doc into @doc_id
END

close load_doc
deallocate load_doc

---return infor
SET @X = (
SELECT 'Done' as return_data, @serial_num as sericl_num 
From performance as return_info 
FOR XML AUTO, TYPE, ELEMENTS
)

select @xmlout = cast(@X as varchar(max))
select @xmlout

RETURN


GO
