USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_HJ_ApplsIDs]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HJ_ApplsIDs]
AS

BEGIN

DECLARE @GrantNum varchar(50)
DECLARE @R int


CREATE TABLE #temp_1
(FileName varchar(255) NULL,
GrantNumber varchar(50) NULL,
PageCount INT NULL,
appl_id INT) 


--Insert records from the input file into a temporary table
INSERT INTO #temp_1 (FileName, GrantNumber, PageCount)
SELECT * FROM OPENQUERY(pdfinfo,'SELECT * FROM SampleInputFile.txt')

--SELECT * FROM #temp_1

--Check to see if provided file name itself is appl_id, if so use it 
UPDATE #temp_1
SET appl_id = CONVERT(INT,[FileName])
where appl_id IS NULL 
AND ISNUMERIC([FileName])=1 
AND EXISTS ( SELECT appl_id 
			 FROM appls 
			 WHERE appl_id = CONVERT (INT, [FileName])
			)


--Get ApplID's
DECLARE cur CURSOR FOR
SELECT COALESCE(GrantNumber,[FileName])
FROM #temp_1
WHERE appl_id IS NULL

OPEN cur

FETCH NEXT FROM cur INTO @GrantNum

WHILE @@FETCH_STATUS=0

BEGIN

exec @R=sp_HJ_GenerateApplID @GrantNum 

UPDATE #temp_1
SET appl_id=@R 
WHERE [FileName]=@GrantNum 
AND appl_id IS NULL

FETCH NEXT FROM cur INTO @GrantNum
END

CLOSE cur
DEALLOCATE cur

--SELECT * FROM #temp_1

END
GO
