USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_DocPageTextImport]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DocPageTextImport]

@DocumentID int,
@Page smallint,
@ImportPathText varchar(255)

AS

SET NOCOUNT ON

DECLARE @UtilityPath varchar(255)
DECLARE @ServerString varchar(255)
DECLARE @SecurityString varchar(50)
DECLARE @WhereClause varchar(50)
DECLARE @ImportString varchar(255)
DECLARE @Cmdline varchar(255)
DECLARE @CmdText varchar(255)


IF  (select count(*) from ncieim_b..dt where document_id=@DocumentID and page=@Page)=0
BEGIN
INSERT ncieim_b..dt(document_id,page)
VALUES(@DocumentID,@Page)
END

UPDATE ncieim_b..dt
SET txt=' '
WHERE document_id=@DocumentID and page=@Page


SELECT @UtilityPath='c:\mssql\mssql\binn\textcopy.exe ' 
SELECT @ServerString='/S ' + @@SERVERNAME + ' /D ncieim_b /T dt '
SELECT @SecurityString='/U sa /P rubmkm '
SELECT @WhereClause='/W "Where document_id=' + convert(varchar,@DocumentID)+ ' and page=' + convert(varchar,@Page) + '" ' 


SELECT @Cmdline=@UtilityPath+@ServerString+@SecurityString+@WhereClause+'/I  '
SELECT @CmdText=@Cmdline+'/C txt '+'/F '+@ImportPathText


EXEC master..xp_cmdshell @CmdText
GO
