USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_irppr_id]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create FUNCTION [dbo].[fn_get_irppr_id] (@applID int)
  
RETURNS int AS  

BEGIN

Declare @irppr_id int

Set @irppr_id=(select irppr_id from IMPP_IRPPR where appl_id=@applID)

RETURN @irppr_id

END
GO
