USE [EIM]
GO
/****** Object:  Table [dbo].[Org_Index]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Org_Index](
	[index_id] [int] IDENTITY(1,1) NOT NULL,
	[org_index] [nchar](1) NOT NULL,
	[index_seq] [int] NOT NULL
) ON [PRIMARY]
GO
