USE [EIM]
GO
/****** Object:  Table [dbo].[people_positions]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_positions](
	[position_id] [smallint] IDENTITY(1,1) NOT NULL,
	[position_name] [varchar](50) NULL
) ON [PRIMARY]
GO
