USE [EIM]
GO
/****** Object:  View [dbo].[vw_appls_used_bygrant]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_appls_used_bygrant]
AS
SELECT DISTINCT dbo.grants.grant_id, dbo.egrants.appl_id
FROM  dbo.egrants INNER JOIN dbo.grants ON dbo.egrants.grant_id = dbo.grants.grant_id

UNION

SELECT DISTINCT dbo.vw_funding.grant_id, dbo.vw_funding.appl_id
FROM  vw_funding 




GO
