USE [EIM]
GO
/****** Object:  Table [dbo].[folder_appls]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folder_appls](
	[folder_id] [int] NOT NULL,
	[appl_id] [int] NOT NULL,
	[folder_appl_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_folder_appls] PRIMARY KEY CLUSTERED 
(
	[folder_appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_folder_appls]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folder_appls] ON [dbo].[folder_appls]
(
	[folder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_folder_appls_1]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_folder_appls_1] ON [dbo].[folder_appls]
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[folder_appls]  WITH NOCHECK ADD  CONSTRAINT [FK_folder_appls_appls] FOREIGN KEY([appl_id])
REFERENCES [dbo].[appls] ([appl_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[folder_appls] CHECK CONSTRAINT [FK_folder_appls_appls]
GO
ALTER TABLE [dbo].[folder_appls]  WITH NOCHECK ADD  CONSTRAINT [FK_folder_appls_folders] FOREIGN KEY([folder_id])
REFERENCES [dbo].[folders] ([folder_id])
GO
ALTER TABLE [dbo].[folder_appls] CHECK CONSTRAINT [FK_folder_appls_folders]
GO
ALTER TABLE [dbo].[folder_appls]  WITH CHECK ADD  CONSTRAINT [CK_folder_appls] CHECK  ((((not([folder_id] >= 206925 and [folder_id] <= 259828)))))
GO
ALTER TABLE [dbo].[folder_appls] CHECK CONSTRAINT [CK_folder_appls]
GO
