USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_adm_file_count]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE FUNCTION [dbo].[fn_adm_file_count] ()
  
RETURNS int AS  

BEGIN 

declare @count int

SET @count=(select count([file_id]) from dbo.adm_files where disabled_date is null) 


RETURN
(

select @count

)
END






GO
