USE [EIM]
GO
/****** Object:  View [dbo].[vw_people_all]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_people_all]
AS
SELECT eg.person_id, ep.person_name, ep.userid, ep.nedid, ep.profile_id, pr.profile as ic, pr.admin_phs_org_code,
sum(eg.CFT) 'cft', sum(eg.eCon) 'econ', sum(eg.eGrants) 'egrants', 
sum(eg.gft) 'gft', sum(eg.mgt) 'mgt'
FROM eim.dbo.vw_people_all_staging eg
INNER JOIN eim.dbo.egrants_people ep ON eg.person_id = ep.person_id
INNER JOIN eim.dbo.profiles pr on ep.profile_id = pr.profile_id
WHERE ep.end_date IS NULL
GROUP BY eg.person_id, ep.person_name, ep.userid, ep.nedid, ep.profile_id, pr.profile, pr.admin_phs_org_code
GO
