USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_pa_master]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_pa_master](
	[pa] [nchar](10) NOT NULL,
	[Detail] [ntext] NULL,
	[Created_by_person_id] [int] NULL,
	[Created_date] [datetime] NULL,
	[Last_updated_by] [int] NULL,
	[Last_updated_date] [datetime] NULL,
	[Start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_adsup_pa_master] PRIMARY KEY CLUSTERED 
(
	[pa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_pa_master] ADD  CONSTRAINT [DF_adsup_pa_master_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
ALTER TABLE [dbo].[adsup_pa_master]  WITH CHECK ADD  CONSTRAINT [FK_adsup_pa_master_people] FOREIGN KEY([Created_by_person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_pa_master] CHECK CONSTRAINT [FK_adsup_pa_master_people]
GO
ALTER TABLE [dbo].[adsup_pa_master]  WITH CHECK ADD  CONSTRAINT [FK_adsup_pa_master_people1] FOREIGN KEY([Last_updated_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_pa_master] CHECK CONSTRAINT [FK_adsup_pa_master_people1]
GO
