USE [EIM]
GO
/****** Object:  Table [dbo].[Greensheet_data_ARC]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Greensheet_data_ARC](
	[appl_id] [int] NULL,
	[agt_id] [int] NULL,
	[submitted_date] [datetime] NULL
) ON [PRIMARY]
GO
