USE [EIM]
GO
/****** Object:  View [dbo].[vw_grants_used]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_grants_used]
AS
SELECT DISTINCT grant_id
FROM  dbo.egrants
GO
