USE [EIM]
GO
/****** Object:  View [dbo].[vw_searches_by_IC]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_searches_by_IC]
AS
select top 27 ic, year(query_date) year, month(query_date) month, count(*) as 'amount of search'
from queries
where ic is not null and ic<>''
group by year(query_date), month(query_date),ic
order by  year desc, month desc, ic asc





GO
