USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPLACE_EGRANTS_DOCUMENT]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:Imran Omair
-- Create date: 4/19/2013
-- Description:	To replace an existing document
-- =============================================
CREATE PROCEDURE [dbo].[SP_REPLACE_EGRANTS_DOCUMENT] 

@DOCID INT,--
@PROFILEID smallint,
@UPLOADID VARCHAR(20), -- ONLY COME FROM NHLBI
@DD VARCHAR(10),	--Document Date is email recieved date
@UID VARCHAR(50),	--Sender user id
@FT VARCHAR(5),		--
@QCFLAG VARCHAR(3)

AS
BEGIN
	SET NOCOUNT ON;

END
GO
