USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_mail]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_egrants_mail]

AS

SET NOCOUNT ON

declare @RenFile 			varchar(255)
declare @Query 				varchar(2000)
declare @Cmd 				varchar(4000)
declare @MID 				int
declare @AID 				int 

declare @convertFolder 		varchar(255)
declare @readyFolder 		varchar(255)
declare @attachmentFolder	varchar(255)
declare @srvPath 			varchar(255)

-- maintain the first space in the Paths!!!
--SET @srvPath=' d:\util\emails\'
--SET @srvPath=' \\NCIDBPRD1\util\emails\'
SET @srvPath='\\NCIDB-P232-V\util\emails\'

SET @RenFile= @srvPath + 'faxren.bat'
SET @convertFolder= @srvPath + 'convert\'
SET @readyFolder=@srvPath + 'send2ftp\'
SET @attachmentFolder=@srvPath + 'attachments\'

--leave QI-created files alone
UPDATE documents SET alias=NULL WHERE alias IS NOT NULL and created_by_person_id!=1884

SELECT @MID=MAX(document_id) FROM documents

EXEC sp_egrants_mail_xmlfile

---move files by alias to convert folder or ready folder
DELETE dir_cmd

INSERT dir_cmd(path, new_path)
SELECT alias, 
CASE file_type WHEN 'tif' THEN  @ConvertFolder ELSE @readyFolder END + convert(varchar, document_id) + '.' + file_type
FROM documents
WHERE alias IS NOT NULL --and qc_reason in ('fax', 'email')-- and document_id>@MID

--Do the following if processing Bundle
If (select count(*) from dir_cmd where path like '%_awardfile.pdf') > 0
begin
	Print 'I got Award Files'
	--disable Bundle individual documents
	update eim.dbo.documents 
	set disabled_date=getdate(),disabled_by_person_id=dbo.fn_get_personid('system')
	----select * from eim.dbo.documents
	where document_id in (select distinct document_id from eim.dbo.bundles_doc where appl_id in 
	(select distinct a.appl_id from documents a,categories b 
	where a.category_id=b.category_id and b.category_name ='Award Bundle'
	and a.document_id>@MID AND a.alias IS NOT NULL AND a.url IS NULL AND a.qc_reason IN ('Fax', 'Email') ) )
	
	--Change wip stage of bundles_doc
	update eim.dbo.bundles_doc set wip_stage=9 where appl_id in
	----select * from eim_dev.dbo.bundles_doc where appl_id IN
	( select distinct a.appl_id from documents a,categories b 
	where a.category_id=b.category_id and b.category_name ='Award Bundle'
	and a.document_id>@MID AND a.alias IS NOT NULL AND a.url IS NULL AND a.qc_reason IN ('Fax', 'Email'))

	--Change wip stage of bundle_appl
	update eim.dbo.bundle_appl set wip_stage=9,stage_date=getdate() where appl_id in 
	----select * from eim_dev.dbo.bundle_appl where appl_id in
	( select distinct appl_id from documents a,categories b 
	where a.category_id=b.category_id and b.category_name ='Award Bundle'
	and a.document_id>@MID AND a.alias IS NOT NULL AND a.url IS NULL AND a.qc_reason IN ('Fax', 'Email'))
end 

UPDATE dir_cmd SET move_cmd='move ' + path + ' ' + new_path

SET @query='select move_cmd from eim..dir_cmd'

SET @Cmd= 'bcp "' + @query + '" queryout ' + @RenFile + '  -c -S ' + @@ServerName + ' -T'
EXEC master..xp_cmdshell @Cmd

--run the bat file on the hard driver
SET @Cmd=@RenFile
EXEC master..xp_cmdshell @Cmd

--update url and file type for documents table
/*Imran : PIV Migration change 6/7/2014*/
/*
UPDATE documents
SET file_type=CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END,
url='https://egrants-data.nci.nih.gov/funded2/nci/main/' + convert(varchar,document_id) + '.' + CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END
WHERE document_id>@MID AND alias IS NOT NULL AND url IS NULL AND qc_reason IN ('Fax', 'Email')
*/
UPDATE documents
SET file_type=CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END,
url='data/funded2/nci/main/' + convert(varchar,document_id) + '.' + CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END
WHERE document_id>@MID AND alias IS NOT NULL AND url IS NULL AND qc_reason IN ('Fax', 'Email')

GO
