USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_folder_grant_num]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_folder_grant_num] (@FolderID int)
  
RETURNS varchar(20) AS


BEGIN 

declare @BCode varchar(10)
declare @GrantID int

SELECT @BCode=bar_code,@GrantID=grant_id from folders where folder_id=@FolderID

IF @BCode is not null
SELECT @GrantID=grant_id from vw_folder_appls where folder_id=@FolderID

RETURN (select grant_num from vw_grants where grant_id=@GrantID)


END











GO
