USE [EIM]
GO
/****** Object:  Table [dbo].[Imm_Capture_Error]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imm_Capture_Error](
	[Error] [varchar](50) NULL,
	[Detail] [nvarchar](200) NULL,
	[timestmp] [datetime] NULL
) ON [PRIMARY]
GO
