USE [EIM]
GO
/****** Object:  Table [dbo].[grants_flag_WIP]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grants_flag_WIP](
	[grant_id] [int] NOT NULL,
	[appl_id] [int] NULL,
	[admin_phs_org_code] [char](2) NULL,
	[serial_num] [int] NULL,
	[stop_sign] [varchar](3) NULL,
	[arra_flag] [char](1) NULL,
 CONSTRAINT [PK_grants_flag_WIP] PRIMARY KEY CLUSTERED 
(
	[grant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_grants_flag_wip]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_grants_flag_wip] ON [dbo].[grants_flag_WIP]
(
	[grant_id] ASC,
	[appl_id] ASC,
	[admin_phs_org_code] ASC,
	[serial_num] ASC,
	[stop_sign] ASC,
	[arra_flag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
