USE [EIM]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[appl_id] [int] NULL,
	[direct_cost_amt] [int] NULL,
	[indirect_cost_amt] [int] NULL,
	[appl_period_start_date] [datetime] NULL,
	[appl_period_end_date] [datetime] NULL,
	[appl_period_num] [int] NULL,
	[period_type_code] [nvarchar](3) NULL,
	[total_period_amt] [int] NULL,
	[total_oblgtd_amt] [int] NULL,
	[fy] [int] NULL,
	[account_descrip] [nvarchar](30) NULL,
	[account_code] [int] NULL,
	[budget_item_amt] [int] NULL,
	[cmnt] [int] NULL,
	[budget_item_type_code] [nvarchar](10) NULL,
	[budget_item_cnt] [int] NULL,
	[can] [int] NULL,
	[display_order_num] [int] NULL,
	[appl_budget_item_id] [int] NULL
) ON [PRIMARY]
GO
