USE [EIM]
GO
/****** Object:  View [dbo].[vw_folders_missing]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_folders_missing]
AS
SELECT     folder_id, bar_code, latest_move_date, id_string, status, serial_num, admin_phs_org_code, profile_id, former_grant_num
FROM         dbo.vw_folders
WHERE     (box_id IS NULL) AND (destroyed_date IS NULL) AND (latest_access_date IS NULL) AND (location_id <> 72)
GO
