USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_admin_sensitive_documents_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_y2013_admin_sensitive_documents_tobedeleted]

@act 				varchar(20),
@item_type			varchar(10),
@item_id			int,
@item_name			varchar(100),
@folder_id			int,
@file_type			varchar(5),
@key_word			varchar(500),
@upload_location	varchar(500),
@ic					varchar(10),
@operator			varchar(50)

AS
/****************************************************************************************************************/
/***									 								***/
/***	Procedure Name: sp_y2013_admin_sensitive_documents				***/
/***	Description:admin_master										***/
/***	Created:	04/17/2014	Leon									***/
/***	Modified:	04/22/2014	Leon									***/
/***	Modified:	08/11/2014	Leon									***/
/****************************************************************************************************************/

SET NOCOUNT ON

declare @xmlout					varchar(max)
declare	@X						Xml
declare @profile_id 			int
declare @person_id 				int
declare @level_id				int
declare @file_id				int
declare @count					int
declare @separate				int

/***find the profile_id**/
SELECT @profile_id=profile_id FROM profiles WHERE profile=@ic

/***find the operator's person_id***/
SELECT @person_id =person_id FROM vw_people WHERE userid=@operator and profile_id=@profile_id

--check permisson
SET @count=(select COUNT(*) FROM vw_people p inner join vw_adm_menu_assignment a on p.person_id=a.person_id
WHERE p.userid=@operator and application_type='egrants' and menu_title='sensitive documents')

--return user's info
IF @count=1
BEGIN
SET @X = (
SELECT *, convert(varchar,getdate(),101) as today
FROM vw_people as user_info 
WHERE user_info.userid=@operator  
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout
END
ELSE
BEGIN
SELECT null
END

/** find user info***/
--declare @person_name	varchar(50)
--declare @first_name		varchar(50)
--declare @separate		int
--declare @qc_date 		smalldatetime		--commented by hareesh on 12/22/2014 5:30pm
--declare @daydiff 		int					--commented by hareesh on 12/22/2014 5:30pm

/*--commented by hareesh on 12/22/2014 5:30pm
--find the qc days
SELECT @qc_date=MIN(qc_date) FROM egrants WHERE qc_person_id=@person_id and qc_date is not null and parent_id is null
IF @qc_date IS NOT NULL
BEGIN
SELECT @daydiff=DATEDIFF(day, getdate(), @qc_date)-1
END
*/

--find user information
--set @person_name=(select person_name from people where person_id=@person_id)
--IF @person_name<>'' and @person_name is not null 
--BEGIN
--select  @separate=PATINDEX('%,%', @person_name)
--select  @first_name=LEFT(@person_name,@separate-1 )
--END 

--/*--newly added by hareesh on 12/22/2014 5:30pm--*/
----return user's info
--SELECT distinct p.person_id, p.person_id, p.person_name,ISNULL(@first_name, NULL) as first_name,p.userid,profile_id,[profile] as ic,
--admin_phs_org_code,position_id,convert(varchar,getdate(),101) as today,can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
--FROM vw_people p inner join vw_adm_menu_assignment a on p.person_id=a.person_id
--WHERE p.userid=@operator and application_type='egrants' and menu_title='Sensitive Documents'   


/*--commented by hareesh on 12/22/2014 5:30pm
SET @X = (
SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,@daydiff as qc_days,convert(varchar, getdate(),101) as today,
can_egrants,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator 
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout
*/


--return admin meun 
SET @X = (
SELECT menu_id,menu_title,menu_url,menu_hover 
FROM  dbo.vw_adm_menu_assignment as menu 
WHERE person_id=@person_id and menu_url is not null
FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout
----------------------------
IF @act<>'' and @act is null GOTO header
IF @act='create_folder'  GOTO to_create_folder
IF @act='create_file'  GOTO to_create_file
IF @act='show_deleted_file'  GOTO to_show_deleted_file
IF @act='search'  GOTO to_search
IF @act='delete'  GOTO to_delete
IF @act='restore' GOTO to_restore
IF @act='rename'  GOTO to_rename
IF @act='edit' and @item_type='folder' GOTO to_edit_folder
IF @act='edit' and @item_type='file' GOTO to_edit_file
-------------------------------------------------------
to_create_folder:

IF @item_id=0 or @item_id is null---create top level folder
BEGIN
INSERT adm_folders (parent_id,folder_name,level_id,created_by_person_id) 
SELECT 0, 'New Folder', 1, @person_id
END 
ELSE
BEGIN
SET @level_id =(select level_id from adm_folders where folder_id=@item_id)+1
INSERT adm_folders (parent_id, folder_name, level_id, created_by_person_id) 
SELECT @item_id, 'New Folder', @level_id, @person_id
END 

GOTO header

RETURN
-------------------------------------------------------
to_create_file:

insert adm_files ([file_name],folder_id,file_type,url,key_word,created_by_person_id)
select @item_name,@item_id,@file_type,@upload_location,@key_word,@person_id

SELECT @file_id = @@IDENTITY
UPDATE adm_files SET url='data/'+@upload_location + convert(varchar,@file_id ) + '.' + @file_type WHERE [file_id]=@file_id

SET @X = (
SELECT [file_id] as new_file_id, url as new_url FROM adm_files AS new_file WHERE [file_id]= @file_id 
FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

---GOTO header

RETURN
-------------------------------------------------------
to_edit_folder:

--move folder 
IF @folder_id = @item_id GOTO header --don't need move

SET @level_id=(select level_id from adm_folders where folder_id=@item_id)---find current folded level
IF @level_id=1 GOTO header ---don't move for main folders

IF @folder_id <> @item_id and @folder_id = 0 ---move to root
BEGIN
UPDATE adm_folders SET parent_id=0, level_id=1 WHERE folder_id=@item_id ---change leve_id for folder
UPDATE adm_folders SET level_id=2 WHERE folder_id in(select folder_id from adm_folders where parent_id = @item_id) ---change cjild folders leve_id to 2
END 

IF @folder_id <> @item_id and @folder_id > 0  ---move folder to another one
BEGIN
SET @level_id=(select level_id from adm_folders where folder_id=@folder_id)---find parent_folder level

IF @level_id=1
BEGIN
UPDATE adm_folders SET parent_id=@folder_id, level_id=2  WHERE folder_id=@item_id ---change leve_id for folder
UPDATE adm_folders SET level_id=3 WHERE folder_id in(select folder_id from adm_folders where parent_id = @item_id) ---change cjild folders leve_id to 2
END

IF @level_id=2
BEGIN
UPDATE adm_folders SET parent_id=@folder_id, level_id=3 WHERE folder_id=@item_id ---change leve_id for folder
UPDATE adm_folders SET parent_id=@folder_id, level_id=3 WHERE folder_id in(select folder_id from adm_folders where parent_id = @item_id) 
END

END

GOTO header

RETURN
---------------------------------
to_edit_file:

---edit file
UPDATE adm_files SET folder_id=@folder_id WHERE [file_id]=@item_id 

GOTO header

RETURN
-------------------------------------------------------
to_rename:

--rename folder
IF @item_type='folder'
BEGIN
UPDATE adm_folders SET folder_name=@item_name WHERE folder_id=@item_id 
END 

---rename file
IF @item_type='file'
BEGIN
UPDATE adm_files SET [file_name]=@item_name, key_word=ISNULL(@key_word,null)  WHERE [file_id]=@item_id 

END 

GOTO header

RETURN
--------------------------------------------------------
to_delete:

--rename folder
IF @item_type='folder'
BEGIN
UPDATE adm_folders SET disabled_by_person_id=@person_id,disabled_date=GETDATE() 
WHERE folder_id=@item_id 
END 

---rename daocument
IF @item_type='file'
BEGIN
UPDATE adm_files SET disabled_by_person_id=@person_id,disabled_date=GETDATE() 
WHERE [file_id]=@item_id 
END 

GOTO header

RETURN
-------------------------------------------------------
to_restore:

UPDATE adm_files SET disabled_by_person_id=null, disabled_date=null
WHERE [file_id]=@item_id

---check if folder for deleted file has been deleted
SET @folder_id =(SELECT folder_id FROM adm_files WHERE [file_id]=@item_id)
IF (SELECT disabled_date FROM adm_folders WHERE folder_id=@folder_id) is not null
BEGIN
SET @folder_id =(SELECT folder_id FROM adm_folders WHERE folder_name='Restored Files' and disabled_date is null)

IF @folder_id is null  ---create new folder to save files
BEGIN
INSERT adm_folders (parent_id,folder_name,level_id,created_by_person_id) SELECT 0, 'Restored Files', 1, @person_id
SELECT @folder_id = @@IDENTITY
END

UPDATE adm_files SET folder_id=@folder_id WHERE [file_id]=@item_id
END

GOTO to_show_deleted_file

RETURN
-------------------------------------------------------
to_show_deleted_file:

SET @X = (
select * from dbo.vw_adm_documents_deleted as [file] where created_by_person_id=@person_id FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

RETURN
---------------------------------------------
to_search:

declare @a varchar(30)
declare @b varchar(30)
declare @c varchar(30)

if (@key_word is not null and len(@key_word)>0)set @key_word=LTRIM(RTRIM(@key_word))
set @key_word =REPLACE(@key_word, ',', ' ')
set @key_word =REPLACE(@key_word, '  ', ' ')

--get first keyword
select @separate=PATINDEX('% %', @key_word)
if @separate=0 
begin
set @a=@key_word
set @key_word=null
end
else
begin
set @a=SUBSTRING(@key_word,0,@separate)
set @key_word=SUBSTRING(@key_word,@separate,len(@key_word))
end

--get second keyword
if (@key_word is not null and len(@key_word)>0) set @key_word=LTRIM(RTRIM(@key_word))
select @separate=PATINDEX('% %', @key_word)
if @separate=0 
begin
set @b=@key_word
set @key_word=null
end
else
begin
set @b=SUBSTRING(@key_word,0,@separate)
set @key_word=SUBSTRING(@key_word,@separate,len(@key_word))
end

--get third keyword
if (@key_word is not null and len(@key_word)>0) set @key_word=LTRIM(RTRIM(@key_word))
select @separate=PATINDEX('% %', @key_word)
if @separate=0 
begin
set @c=@key_word
set @key_word=null
end
else
begin
set @c=SUBSTRING(@key_word,0,@separate)
set @key_word=null
end

select adm_folders.folder_id as grand_parent_id, folder_name as grand_parent_name, null as parent_id, null as parent_name,null as folder_id, null as folder_name,[file_id],[file_name],url,key_word,adm_files.created_by_person_id,convert(varchar,adm_files.created_date,101) as created_date
from adm_folders, adm_files 
where adm_folders.folder_id=adm_files.folder_id and level_id=1 and adm_folders.disabled_date is null and adm_files.disabled_date is null and((key_word like '%'+@a+'%') or (key_word like '%'+@b+'%') or (key_word like '%'+@c+'%'))

union all

select parent_id as grand_parent_id, dbo.fn_adm_parent_name(adm_folders.folder_id) as grand_parent_name, adm_folders.folder_id  as parent_id, folder_name as parent_name,null as folder_id, null as folder_name,[file_id],[file_name],url,key_word,adm_files.created_by_person_id,convert(varchar,adm_files.created_date,101) as created_date
from adm_folders, adm_files 
where adm_folders.folder_id=adm_files.folder_id and level_id=2 and adm_folders.disabled_date is null and adm_files.disabled_date is null and((key_word like '%'+@a+'%') or (key_word like '%'+@b+'%') or (key_word like '%'+@c+'%'))

union all

select dbo.fn_adm_grand_parent_id(adm_folders.folder_id) as grand_parent_id, dbo.fn_adm_grand_parent_name(adm_folders.folder_id) as grand_parent_name, parent_id as parent_id, dbo.fn_adm_parent_name(.adm_files.folder_id) as parent_name,adm_folders.folder_id as folder_id, folder_name as folder_name,[file_id],[file_name],url,key_word,adm_files.created_by_person_id,convert(varchar,adm_files.created_date,101) as created_date
from adm_folders, adm_files 
where adm_folders.folder_id=adm_files.folder_id and level_id=3 and adm_folders.disabled_date is null and adm_files.disabled_date is null and((key_word like '%'+@a+'%') or (key_word like '%'+@b+'%') or (key_word like '%'+@c+'%'))

RETURN
------------------
header:

/**return all admin files**/
SET @X = (
SELECT 
dbo.fn_adm_folder_count() AS folders_count,
dbo.fn_adm_file_count() AS files_count,
(
SELECT level_id,folder_id,folder_name,
CASE
WHEN level_id>=2 THEN parent_id
END AS parent_id,
CASE 
WHEN level_id>=2 THEN dbo.fn_adm_parent_name(folder_id)
END AS parent_name,
CASE 
WHEN level_id=3 THEN dbo.fn_adm_grand_parent_id(folder_id)
END AS grand_parent_id, 
CASE 
WHEN level_id=3 THEN dbo.fn_adm_grand_parent_name(folder_id)
END AS grand_parent_name,
CASE 
WHEN dbo.fn_adm_items_count(folder_id)=null THEN 0 
ELSE dbo.fn_adm_items_count(folder_id)
END AS item_count, 
(SELECT [file_id],[file_name],file_type,url,key_word,created_date,created_by_person_id 
FROM dbo.adm_files AS doc WHERE doc.folder_id=folder.folder_id and doc.disabled_date is null FOR XML AUTO, TYPE, ELEMENTS)
FROM dbo.adm_folders AS folder WHERE folder.disabled_date is null 
FOR XML AUTO, TYPE, ELEMENTS)
FROM performance AS folders FOR XML AUTO, TYPE, ELEMENTS
)

select @xmlout = cast(@X as varchar(max))
select @xmlout



GO
