USE [EIM]
GO
/****** Object:  Table [dbo].[Imran_03_01_2011]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imran_03_01_2011](
	[full_grant_num] [varchar](50) NOT NULL,
	[appl_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[applf] [int] NULL,
	[sumf] [int] NULL,
	[JITf] [int] NULL
) ON [PRIMARY]
GO
