USE [EIM]
GO
/****** Object:  Table [dbo].[GPM_Reports_History]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPM_Reports_History](
	[Report_id] [int] NULL,
	[Date_Executed] [smalldatetime] NULL,
	[xls_path] [varchar](200) NULL,
	[pdf_path] [varchar](200) NULL,
	[xls_url] [varchar](400) NULL,
	[pdf_url] [varchar](400) NULL
) ON [PRIMARY]
GO
