USE [EIM]
GO
/****** Object:  Table [dbo].[adm_folders]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_folders](
	[folder_id] [int] IDENTITY(1,1) NOT NULL,
	[folder_name] [varchar](50) NULL,
	[parent_id] [int] NOT NULL,
	[level_id] [int] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[created_by_person_id] [int] NOT NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adm_folders] ADD  CONSTRAINT [DF_adm_folders_created_date_1]  DEFAULT (getdate()) FOR [created_date]
GO
