USE [EIM]
GO
/****** Object:  Table [dbo].[people_history]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_history](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NULL,
	[person_name] [varchar](100) NULL,
	[userid] [varchar](50) NULL,
	[profile_id] [smallint] NULL,
	[position_id] [smallint] NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[application_type] [varchar](10) NULL,
	[team_id] [int] NULL,
	[cft] [int] NULL,
	[econ] [int] NULL,
	[gft] [int] NULL,
	[mgt] [int] NULL,
	[egrants] [int] NULL,
	[admin] [int] NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[Created_by] [int] NOT NULL,
	[Created_date] [datetime] NOT NULL,
	[Last_updated_by] [int] NULL,
	[Last_updated_date] [datetime] NULL,
	[Action] [nchar](10) NOT NULL,
	[Trigger_table] [nchar](1) NOT NULL,
	[Record_modified_on] [datetime] NOT NULL,
	[first_name] [varchar](50) NULL,
	[middle_initial] [varchar](20) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[ic_coordinator_id] [int] NULL,
	[is_coordinator] [bit] NOT NULL,
	[iccoord] [int] NULL,
	[phone_number] [varchar](10) NULL,
 CONSTRAINT [PK_people_history] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[people_history] ADD  CONSTRAINT [DF_people_history_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[people_history] ADD  CONSTRAINT [DF_people_history_Created_by]  DEFAULT ((1899)) FOR [Created_by]
GO
ALTER TABLE [dbo].[people_history] ADD  CONSTRAINT [DF_people_history_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
ALTER TABLE [dbo].[people_history] ADD  CONSTRAINT [DF_people_history_Record_modified_on]  DEFAULT (getdate()) FOR [Record_modified_on]
GO
ALTER TABLE [dbo].[people_history] ADD  DEFAULT ((0)) FOR [is_coordinator]
GO
ALTER TABLE [dbo].[people_history]  WITH CHECK ADD  CONSTRAINT [CK_people_history] CHECK  (([Action]='Delete' OR [Action]='Update' OR [Action]='New'))
GO
ALTER TABLE [dbo].[people_history] CHECK CONSTRAINT [CK_people_history]
GO
