USE [EIM]
GO
/****** Object:  View [dbo].[vw_econtract_transactions--to_be_deleted]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_econtract_transactions--to_be_deleted]
as
Select  sel.TR_ID, sel.document_id,  sel.action_type, et.transaction_date,  et.operator, et.description
from dbo.econtract_transactions et inner join 
(SELECT action_type, document_id ,max(transaction_id) TR_ID
from dbo.econtract_transactions 
group by document_id, action_type) sel on et.transaction_id = sel.TR_ID 
		
GO
