USE [EIM]
GO
/****** Object:  Table [dbo].[temp_closeout_hj_11282016]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_closeout_hj_11282016](
	[APPL_ID] [numeric](10, 0) NOT NULL,
	[GRANT_CLOSE_DATE] [nvarchar](10) NULL
) ON [PRIMARY]
GO
