USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[DB_LISTOF_NEW_GRANTS_OFTYPE]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

--***********************************************************************
-- Author : Imran Omair
-- Date : 9/6/2016
--NEW GRANTS ARE THOSE ASSIGNED WITHIN LAST TEN DAYS
--TWO POSSIBLE TYPES NC=NONCOMPETING, CC=COMPETING
--USAGE : EXEC DB_LISTOF_NEW_GRANTS_OFTYPE 'SOWELLD','NC'
--EXEC DB_LISTOF_NEW_GRANTS_OFTYPE 'SOWELLD','CC'
--Imran[9/26/2016] Completed this proc that will be used for various widgets.
--Two parameters userid and grant types (non comp and comp and rset of them)
--45 & 60 are two numbers that is set by OGA. These are expected days to release a NonComp or Comp awards.
--similarily @CUTOFFPERIOD = 10 is set by OGA, this can be changed based on what OGA decides
--bug fix [Imran] : 11/14/2016
--12/2/2016: Imran : code changed to add STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
--***********************************************************************
CREATE PROCEDURE [dbo].[DB_LISTOF_NEW_GRANTS_OFTYPE]
@USERID VARCHAR(30),
@TYPE VARCHAR(20)
AS
BEGIN

--DO NOT COMMENT OUT CUTOFFPERIOD AS WE HAVE DONE IN OTHER PROCS
DECLARE @CUTOFFPERIOD INT
SET @CUTOFFPERIOD = 10

IF @TYPE='NC' AND @USERID <> '' 
BEGIN

	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE 	
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE USERID=@USERID
	AND APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	and DAY_COUNT_NUM <= @CUTOFFPERIOD
	ORDER BY GRANT_ASSIGN_DATE
END
ELSE IF @TYPE='CC' AND @USERID <> ''
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  	
	WHERE USERID=@USERID
	AND APPL_TYPE_CODE IN (1,2) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	and DAY_COUNT_NUM <= @CUTOFFPERIOD
	ORDER BY GRANT_ASSIGN_DATE
END
ELSE IF @TYPE='NC' AND @USERID='' 
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE 
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  	
	WHERE APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	and DAY_COUNT_NUM <= @CUTOFFPERIOD
	ORDER BY GRANT_ASSIGN_DATE
END
ELSE IF @TYPE='CC' AND @USERID=''
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  	
	WHERE APPL_TYPE_CODE IN (1,2) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	and DAY_COUNT_NUM  <= @CUTOFFPERIOD
	ORDER BY GRANT_ASSIGN_DATE
END
--SHOW WVERY THING ASSIGNED TO A USER WITHIN LAST 10 DAYS
ELSE IF @TYPE='' AND @USERID <> ''
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE USERID=@USERID AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	and DAY_COUNT_NUM  <= @CUTOFFPERIOD
END
--SHOW WVERY THING ASSIGNED TO EVERY USER WITHIN LAST 10 DAYS (DOESNOT CARE IF THIS IS RELEASED OR PUT RELEASED_DATE IS NULL)
ELSE IF @TYPE='' AND @USERID = ''
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) AS ASSIGNED_DATE	
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE DAY_COUNT_NUM  <= @CUTOFFPERIOD AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') 
	ORDER BY GRANT_ASSIGN_DATE
END
END

GO
