USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_admin_institutions_files_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_y2013_admin_institutions_files_tobedeleted]

@act  			varchar(20),
@ins_id			int,
@ins_name		varchar(250),
@file_type		varchar(5),
@ic  			varchar(10),
@operator 		varchar(50)

AS
/************************************************************************************************************/
/***									 										***/
/***	Procedure Name:sp_y2013_admin_institutions_files						***/
/***	Description:edit institutions_files										***/
/***	Created:	07/10/2013	Leon											***/
/***	Modified:	11/08/2013	Leon											***/
/***																			***/
/************************************************************************************************************/
SET NOCOUNT ON

DECLARE 
/* --commented on 12/19/2014 8:00pm by hareesh*/
@person_id		int,
@profile_id		int,
--added on 12/19/2014 8:00pm by hareesh
@xmlout		varchar(max),
@X				Xml


/** find user info***/
SET @profile_id=(select profile_id from profiles where [profile]=@ic)
SET @person_id=(SELECT person_id FROM vw_people WHERE userid=@Operator and profile_id=@profile_id)

/** find user info***/
declare @person_name	varchar(50)
declare @first_name		varchar(50)
declare @separate		int
--declare @qc_date 		smalldatetime	--commented on 12/19/2014 8:00pm by hareesh
--declare @daydiff 		int				--commented on 12/19/2014 8:00pm by hareesh

/*--commented on 12/19/2014 8:00pm by hareesh
--find the qc days
SELECT @qc_date=MIN(qc_date) FROM egrants WHERE qc_person_id=@person_id and qc_date is not null and parent_id is null
IF @qc_date IS NOT NULL
BEGIN
SELECT @daydiff=DATEDIFF(day, getdate(), @qc_date)-1
END
*/

--find user name
set @person_name=(select person_name from people where person_id=@person_id)
IF @person_name<>'' and @person_name is not null 
BEGIN
select  @separate=PATINDEX('%,%', @person_name)
select  @first_name=LEFT(@person_name,@separate-1 )
END 

/*
--commented on 12/19/2014 8:00pm by hareesh
SET @X2 = (
SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,@daydiff as qc_days,convert(varchar, getdate(),101) as today,
can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator 
FOR XML AUTO, TYPE, ELEMENTS
)

select @xmlout2 = cast(@X2 as varchar(max))
select @xmlout2
*/


/**return user's info
SELECT distinct p.person_id, p.person_id, p.person_name,ISNULL(@first_name, NULL) as first_name,p.userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,convert(varchar,getdate(),101) as today,can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people p inner join vw_adm_menu_assignment a on p.person_id=a.person_id
WHERE p.userid=@operator and application_type='egrants'  
**/

SELECT distinct p.person_id, p.person_id, p.person_name,ISNULL(@first_name, NULL) as first_name,p.userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,convert(varchar,getdate(),101) as today,can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people p 
WHERE p.userid=@operator and application_type='egrants'  


--find index_id
declare @index_id	int

IF (@act ='to_upload') or (@act ='to_modify') 
BEGIN
SET @index_id=(select index_id from dbo.institutions_index where ins_index=left(@ins_name,1))
IF @index_id is null SET @index_id=1 
END

/**set default act**/
if (@act ='' or @act is null) goto header
if (@act ='to_upload') goto upload
if (@act ='to_modify') goto modify
if (@act ='to_disable') goto disable

----------------------
upload:

/**comment out by leon 11/08/2013
declare @file_type	varchar(5)

--find fiel type and ins_name
SET @ins_name=RTRIM(LTRIM(@ins_name))
SET @file_location=RTRIM(LTRIM(@file_location))

IF RIGHT(@file_location,4)='.pdf' SET @file_type='pdf'
ELSE IF SUBSTRING(@file_location, LEN(@file_location)-3,1)='.'
BEGIN
SET @file_type=LOWER(SUBSTRING(@file_location, LEN(@file_location)-2, 3))
END 
ELSE IF SUBSTRING(@file_location, LEN(@file_location)-4,1)='.'
BEGIN
SET @file_type=LOWER(SUBSTRING(@file_location, LEN(@file_location)-3, 4))
END
ELSE IF SUBSTRING(@file_location, LEN(@file_location)-5,1)='.'
BEGIN
SET @file_type=LOWER(SUBSTRING(@file_location, LEN(@file_location)-4, 5))
END
**/

--find new ins_id
INSERT dbo.institutions_files(index_id,institution_name,file_type,created_date,created_by_person_id)
SELECT @index_id,@ins_name,@file_type,GETDATE(),@person_id
SELECT @ins_id = @@IDENTITY

--return info
SET @X = (
SELECT ins_id AS ins_id, LOWER(institution_name) AS ins_name,url 
FROM dbo.vw_institutions_files AS info 
WHERE ins_id=@ins_id FOR XML AUTO, ELEMENTS 
)

---return xml file***/
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO header

RETURN
------------------------
modify:

UPDATE dbo.institutions_files 
SET institution_name=@ins_name,index_id=@index_id, modified_date=GETDATE(),modified_by_person_id=@person_id 
WHERE ins_id=@ins_id

--return info
SET @X = (
SELECT ins_id AS ins_id, LOWER(institution_name) AS ins_name	---LOWER(institution_name)+' has been updated' AS file_location
FROM dbo.institutions_files AS info 
WHERE ins_id=@ins_id FOR XML AUTO, ELEMENTS 
)

---return xml file***/
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO header

RETURN
-------------------------
disable:

UPDATE dbo.institutions_files 
SET disabled_date=GETDATE(),disabled_by_person_id=@person_id 
WHERE ins_id=@ins_id

--return info
SET @X = (
SELECT ins_id AS ins_id, LOWER(institution_name) AS ins_name	---LOWER(institution_name)+' has been deleted' AS file_location
FROM dbo.institutions_files AS info 
WHERE ins_id=@ins_id FOR XML AUTO, ELEMENTS 
)

---return xml file***/
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO header

RETURN
-------------------------
header:

/** find institution files***/
SET @X = (
SELECT      
UPPER(ins_index) AS [index],
index_seq AS seq,
	(SELECT ins_id, LOWER(institution_name)AS ins_name,url,index_id FROM dbo.vw_institutions_files AS ins
	WHERE ins.index_id=institution.index_id FOR XML AUTO, TYPE, ELEMENTS)
FROM dbo.institutions_index	AS institution
ORDER BY ins_index
FOR XML AUTO, ELEMENTS 
)

select @xmlout = cast(@X as varchar(max))
select @xmlout


GO
