USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_econtract_index_dropdown]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_econtract_index_dropdown] (
	@contract_id int
					)
 
RETURNS @tbl TABLE (
	color_sequence	int,
	tab_sequence	int,
	color_name		nvarchar(20),
	tab_name		nvarchar(100),
	color_id		int,
	tab_id			int,
	seq_no			int,
	allow_seq_num	bit,
	active_flag		bit
		)
AS

BEGIN

declare 
	@cnt int,
	@color_sequence int, 
	@tab_sequence int, 
	@color_id int, 
	@tab_id int,
	@color_name nvarchar(20), 
	@tab_name nvarchar(100), 
	@allow_seq_no bit

declare curs cursor for
select * from vw_econtract_tab_select

open curs
while @@fetch_status = 0
begin
	fetch next from curs into @color_sequence, @tab_sequence, @color_id, @tab_id,
		@color_name, @tab_name, @allow_seq_no
	if @allow_seq_no = 0
		begin
			insert into @tbl (
				color_sequence, 
				tab_sequence, 
				color_name, 
				tab_name, 
				color_id,
				tab_id,
				seq_no, 
				allow_seq_num,
				active_flag)
			VALUES (@color_sequence, 
					@tab_sequence, 
					@color_name,
					@tab_name, 
					@color_id, 
					@tab_id,
					1, 
					@allow_seq_no,
					0 )
		end
	else
		begin
			set @cnt = 1

		startit: 
			insert into @tbl (
				color_sequence, 
				tab_sequence, 
				color_name, 
				tab_name, 
				color_id,
				tab_id,
				seq_no, 
				allow_seq_num,
				active_flag)
			VALUES (@color_sequence, 
					@tab_sequence, 
					@color_name,
					@tab_name, 
					@color_id, 
					@tab_id ,
					@cnt, 
					@allow_seq_no,
					0 )

			set @cnt = @cnt + 1

			if @cnt <31 goto startit
		end
end

close curs
deallocate curs

update @tbl set active_flag = 1 from @tbl tt left outer join 
(select * from vw_econtract_documents where contract_id = @contract_id) ed on
tt.tab_id = ed.tab_id and tt.seq_no = ed.seq_no
where ed.contract_id is null

delete from @tbl where active_flag = 0

return
end
GO
