USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_active_grant_flag]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_active_grant_flag] (@GrantID int)
  
RETURNS char(1)

BEGIN

IF (select count(*) from appls where grant_id=@GrantID and active_grant_flag='Y' )>0
RETURN 'Y'

RETURN 'N'

END



--'select count(*) from appls where grant_id=@GrantID and active_grant_status='Y' )>0
GO
