USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_position_id]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_get_position_id] (@access_Type varchar(20))
  
RETURNS int

BEGIN
DECLARE @position_id int

IF @access_Type='Read Only' SET @position_id=1 ElSE SET @position_id =2

RETURN @position_id

END
GO
