USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_impac_docs_tobedeleted]    Script Date: 8/27/2019 5:06:06 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_impac_docs_tobedeleted]

@act			varchar(20),
@appl_id		int,
@inst			varchar(10),
@operator 		varchar(50)

AS
/****************************************************************************************************************/
/***									 						***/
/***	Procedure Name: sp_y2013_egrants_impac_docs				***/
/***	Description:	find the impac docs by act				***/
/***	Created:		03/01/2013	Leon						***/
/***	Modified:		05/14/2015	Leon						***/
/***	Modified:		07/20/2015	Leon add rejection in fsr	***/
/****************************************************************************************************************/

SET NOCOUNT ON

declare @url				varchar(300)
declare @xmlout				varchar(max)
declare @X					Xml

/** find user info***/
declare @profile_id			smallint
declare @person_name		varchar(50)
declare @person_id			int
declare @first_name			varchar(50)
declare @separate			int

SET @person_id=(select person_id from vw_people where userid=@operator)
SET @person_name=(select person_name from vw_people where person_id=@person_id)
IF @person_name<>'' and @person_name is not null 
BEGIN
select  @separate=PATINDEX('%,%', @person_name)
select  @first_name=LEFT(@person_name,@separate-1 )
END 

--return user's info
SELECT person_id, person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,profile_id,[profile] as ic,
admin_phs_org_code,position_id,convert(varchar,getdate(),101) as today,can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people 
WHERE userid=@operator and application_type='egrants' and can_egrants='y'  

IF @act='fsr' GOTO fsr
IF @act='closeout' GOTO closeout
-----------------------
closeout:

set @url='https://i2e.nci.nih.gov/documentviewer/openENotificationHtml.action?applId='+CONVERT(varchar, @appl_id)+'&notifName='

--PROD:https://i2e.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2
--TEST:https://i2e-test.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2
--DEV:https://i2e-dev.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2

SET @X = (
SELECT
@act as doc_type,
appl_id, 
full_grant_num, 
(select Notification_Name,convert(varchar,Created_date, 101) as created_date, @url+Notification_Name as url
from IMPP_CloseOut_Notification_All as closeout where appl_id=appl.appl_id 
FOR XML AUTO, TYPE, ELEMENTS)
FROM vw_appls as appl 
WHERE appl_id=@appl_id
FOR XML AUTO, TYPE, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

RETURN
----------------------------
fsr:

set @url='https://i2e.nci.nih.gov/documentviewer/viewDocument.action?applId='++CONVERT(varchar, @appl_id)+'&docType=FSR&fsrId='
--PROD:https://i2e.nci.nih.gov/documentviewer/viewDocument.action?applId="+applid+"&docType=FSR&fsrId="+fsrid
--TEST:https://i2e-test.nci.nih.gov/documentviewer/viewDocument.action?applId="+applid+"&docType=FSR&fsrId="+fsrid
--DEV:https://i2e-dev.nci.nih.gov/documentviewer/viewDocument.action?applId="+applid+"&docType=FSR&fsrId="+fsrid

SET @X = (
SELECT
@act as doc_type,
appl_id, 
full_grant_num, 
(select fsr_seq_num,convert(varchar,accepted_date,101)as accepted_date, @url+CONVERT(varchar,fsr_id) as url
from impp_fsrs_all as fsr where appl_id=appl.appl_id FOR XML AUTO, TYPE, ELEMENTS)
FROM vw_appls as appl 
WHERE appl_id=@appl_id
FOR XML AUTO, TYPE, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

set @url='https://i2e.nci.nih.gov/documentviewer/openENotificationHtml.action?applId='+CONVERT(varchar, @appl_id)+'&notifName='

--PROD:https://i2e.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2
--TEST:https://i2e-test.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2
--DEV:https://i2e-dev.nci.nih.gov/documentviewer/openENotificationHtml.action?applId=8523361&notifName=GCM_GCC_LTR2

SET @X = (
SELECT
@act as doc_type,
appl_id, 
full_grant_num, 
(select Notification_Name,convert(varchar,Created_date, 101) as created_date, @url+Notification_Name as url
from dbo.IMPP_FFR_Notification_All as closeout where appl_id=appl.appl_id 
FOR XML AUTO, TYPE, ELEMENTS)
FROM vw_appls as appl 
WHERE appl_id=@appl_id
FOR XML AUTO, TYPE, ELEMENTS
)

SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

RETURN
-------------------------------
GO
