USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_doc_count]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_doc_count]  (@ApplID int)  
RETURNS int

AS  
BEGIN 

declare @count  int

select @count=count(*) from egrants where appl_id=@ApplID

IF @count=0 select @count=count(*) from funding_appls where appl_id=@ApplID and disabled_date is null

return @count 

END
GO
