USE [EIM]
GO
/****** Object:  Table [dbo].[contract_documents]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NULL,
	[folder_id] [int] NULL,
	[color_id] [int] NULL,
	[package_id] [int] NULL,
	[tab_id] [int] NULL,
	[latest_action_date] [smalldatetime] NULL,
	[problem_msg] [varchar](100) NULL,
	[file_type] [char](3) NULL,
	[qc_reason] [varchar](50) NULL,
	[created_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[file_modified_date] [smalldatetime] NULL,
	[file_modified_by_person_id] [int] NULL,
	[index_modified_by_person_id] [int] NULL,
	[index_modified_date] [smalldatetime] NULL,
	[url] [varchar](200) NULL,
	[problem_reported_by_person_id] [int] NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
	[qc_date] [smalldatetime] NULL,
	[qc_person_id] [int] NULL,
	[stored_date] [smalldatetime] NULL,
	[stored_by_person_id] [int] NULL,
	[profile_id] [int] NULL,
	[txt] [text] NULL,
	[page_count] [smallint] NULL,
 CONSTRAINT [PK_contract_documents] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'To keep extracted Txt from this doc.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contract_documents', @level2type=N'COLUMN',@level2name=N'txt'
GO
