USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_doc_error_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_doc_error_tobedeleted]

@error		varchar(500),
@docid		int,
@operator	varchar(50),
@inst		varchar(10)

AS
/************************************************************************************************************/
/***									 							***/
/***	Procedure Name:  sp_y2013_egrants_doc_error					***/
/***	Description:	document error report						***/
/***	Created:	12/01/2004		Leon							***/
/***	Modified:	03/27/2013		Leon							***/
/***																***/
/************************************************************************************************************/

SET NOCOUNT ON

DECLARE 
@person_id 	int

/**find profile_id **/
--SELECT @profile_id=profile_id FROM profiles WHERE profile=@inst

---find userinfo
SET @person_id = (SELECT person_id FROM people WHERE userid=@operator)

SELECT person_id,person_name,userid,position_id,profile_id,[profile] as ic
FROM vw_people AS user_info 
WHERE userid=@operator and application_type='egrants'

IF @error is not null and @error<>''
BEGIN
UPDATE documents 
SET problem_msg=@error, problem_reported_by_person_id=@person_id, qc_reason='Error', qc_date=getdate(), stored_date=null	 ---stored_by_person_id=null, profile_id=@profile_id 
WHERE document_id=@docid

/**insert document transaction information**/
EXEC sp_y2013_egrants_doc_transaction @docid, @operator, 'error_reported', @error
END


/*--commented by hareesh on 12/19/2014 6:15pm
DECLARE 
@profile_id	int,
@person_id 	int

/**find profile_id **/
--SELECT @profile_id=profile_id FROM profiles WHERE profile=@inst

/***find the operator's person_id***/
SET @Operator=left(@Operator,50)
SELECT @person_id =person_id FROM people WHERE userid=@operator

IF @person_id IS null or @person_id =''
BEGIN
INSERT INTO people (userid, profile_id) VALUES (@Operator, @profile_id)
SELECT @person_id =@@IDENTITY
END

IF @error is not null and @error<>''
BEGIN
UPDATE documents 
SET problem_msg=@error, problem_reported_by_person_id =@person_id, qc_reason='Error', qc_date=getdate(), stored_date=null	 ---stored_by_person_id=null, profile_id=@profile_id 
WHERE document_id=@docid

/**insert document transaction information**/
EXEC sp_y2013_egrants_doc_transaction @docid, @operator, 'error_reported', @error

END

*/
GO
