USE [EIM]
GO
/****** Object:  View [dbo].[bookmarks]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[bookmarks]
AS
SELECT ncieim_b.dbo.dt.document_id, ncieim_b.dbo.dt.page, dbo.categories.category_name, dbo.documents.page_count, ncieim_b.dbo.dt.page_id, 
               d.ratio
FROM  dbo.documents_i d INNER JOIN
               ncieim_b.dbo.dt ON d.page_id = ncieim_b.dbo.dt.page_id INNER JOIN
               dbo.categories ON d.category_id = dbo.categories.category_id INNER JOIN
               dbo.documents ON ncieim_b.dbo.dt.document_id = dbo.documents.document_id
GO
