USE [EIM]
GO
/****** Object:  Table [dbo].[Grant_contacts_PD]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grant_contacts_PD](
	[PROG_CLASS_CODE] [nvarchar](10) NULL,
	[PD_FULL_NAME] [nvarchar](93) NULL,
	[PD_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[INACTIVE_DATE] [date] NULL
) ON [PRIMARY]
GO
