USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_IRPPR]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_IRPPR](
	[APPL_ID] [int] NULL,
	[SUBMITTED_DATE] [smalldatetime] NULL,
	[IRPPR_ID] [int] NULL
) ON [PRIMARY]
GO
