USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_name_update]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- ====================================================================================
-- Author:	Joel Friedman
-- Create date: 	11/19/2008
-- Description:	Update eGrants and eContracts tables when user changes name 
--				and/or id
-- ====================================================================================
CREATE PROCEDURE [dbo].[sp_user_name_update]
	@old_person_id 		int,
	@new_person_id 		int
AS

BEGIN

SET NOCOUNT ON;

declare @old_name 	nvarchar(200)
declare @new_name 	nvarchar(200)
declare @old_id 	nvarchar(25)
declare @new_id		nvarchar(25)
declare @old_type 	nvarchar(25)

select @old_name = person_name, @old_id = userid, @old_type = type from people where person_id = @old_person_id
select @new_name = person_name, @new_id = userid from people where person_id = @new_person_id

if @old_name is null or @new_name is null or @old_person_id > @new_person_id
begin
	select 'old or new person id is invalid'
	return
end

-- change old to new and new to old in people table

update people set person_name = @old_name , userid = @old_id, active = 0, type = @old_type where person_id = @new_person_id
update people set person_name = @new_name , userid = @new_id, active = 1 where person_id = @old_person_id

-- change new to old in document table
update documents set qc_person_id = @old_person_id where qc_person_id = @new_person_id
update documents set created_by_person_id = @old_person_id where created_by_person_id = @new_person_id
update documents set stored_by_person_id = @old_person_id where stored_by_person_id = @new_person_id
update documents set index_modified_by_person_id = @old_person_id where index_modified_by_person_id = @new_person_id
update documents set file_modified_by_person_id = @old_person_id where file_modified_by_person_id = @new_person_id
update documents set disabled_by_person_id = @old_person_id where disabled_by_person_id = @new_person_id
update documents set problem_reported_by_person_id = @old_person_id where problem_reported_by_person_id = @new_person_id

-- change new to old in documents_transactions table
update documents_transactions set operator = @new_id where operator = @old_id

-- change new to old in econtract_documents table
update econtract_documents set created_by_person_id = @old_person_id where created_by_person_id = @new_person_id

-- change new to old in econtract_transactions table
update econtract_transactions set operator = @new_id where operator = @old_id



END
GO
