USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_institutional_files]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_web_egrants_institutional_files]

@act  				varchar(20),
@str  				varchar(50),
@index_id			int,
@org_id				int,
@doc_id				int,
@category_id		int,
@file_type			varchar(5),
@start_date			varchar(10),
@end_date			varchar(10),
@ic  				varchar(10),
@operator 			varchar(50)

AS
/************************************************************************************************************/
/***									 									***/
/***	Procedure Name:sp_web_org_files										***/
/***	Description:search, dispaly or edit files							***/
/***	Created:	03/09/2016	Leon										***/
/***	Modified:	03/09/2016	Leon										***/
/***	Modified:	12/07/2016	Leon for MVC								***/
/************************************************************************************************************/
SET NOCOUNT ON

DECLARE 
@document_id	int,
@xmlout		varchar(max),
@X		Xml,
@person_id	int,
@count		int,
@profile_id	int

/** find user info***/
SET @profile_id=(select profile_id from profiles where [profile]=@ic)
SET @person_id=(SELECT person_id FROM vw_people WHERE userid=@Operator and profile_id=@profile_id)

/**set default act**/
if @act ='show_orgs' goto show_orgs
if @act ='search_orgs' goto search_orgs
if @act ='show_docs' goto show_docs
if @act ='disable_doc' goto disable_doc
if @act ='upload_doc' goto upload_doc
---------------------
show_orgs:

--display org by index_id
--SELECT org_id, UPPER(Org_name)AS org_name,dbo.fn_get_org_flag_url(Org_name) as sv_doc_url
--FROM dbo.Org_Master
--WHERE index_id=@index_id and dbo.fn_get_org_doc_count(org_id)>0
--ORDER BY Org_name

SELECT 1 as tag, org_id, UPPER(Org_name)AS org_name, null as created_by,null as created_date, null as end_date, null as sv_url
FROM dbo.Org_Master
WHERE index_id=@index_id and dbo.fn_get_org_doc_count(org_id)>0
UNION
SELECT 2 as tag, v.org_id, o.Org_name, created_by, v.created_date, end_date,'https://egrants.nci.nih.gov'+url as sv_url
FROM vw_org_document as v, dbo.Org_Master as o
WHERE o.index_id=@index_id and o.org_id=v.org_id and tobe_flagged=1 and end_date = (select dbo.fn_get_org_max_end_date(o.org_id))
Order by Org_name

RETURN
----------------------
search_orgs:

--display org by search string
SET @str=LTRIM(rtrim(@str))
SET @str=REPLACE(@str, '     ',' ')---reducing space
SET @str=REPLACE(@str, '   ',' ')---reducing space
SET @str=REPLACE(@str, '  ',' ')---reducing space


--SELECT org_id, UPPER(Org_name)AS org_name,dbo.fn_get_org_flag_url(Org_name) as sv_doc_url
--FROM dbo.Org_Master 
--WHERE org_name like '%'+@str+'%'
--ORDER BY Org_name

SELECT 1 as tag, org_id, UPPER(Org_name)AS org_name, null as created_by,null as created_date, null as end_date, null as sv_url
FROM dbo.Org_Master
WHERE org_name like '%'+@str+'%' 
UNION
SELECT 2 as tag, v.org_id, o.Org_name, created_by, v.created_date, end_date, url
FROM vw_org_document as v, dbo.Org_Master as o
WHERE o.org_name like '%'+@str+'%' and o.org_id=v.org_id and tobe_flagged=1 and end_date = (select dbo.fn_get_org_max_end_date(o.org_id))
Order by Org_name

RETURN
------------------------
show_docs:

SELECT 1 as tag,org_id,org_name,null as document_id, null as category_name,null as url,null as [start_date],null as end_date,null as created_date
FROM dbo.vw_Org_Document 
WHERE org_id=@org_id
UNION
SELECT 2 as tag,org_id,null,document_id,category_name, url,[start_date],end_date,created_date
FROM dbo.vw_Org_Document 
WHERE org_id=@org_id

RETURN
-------------------------
disable_doc:

update dbo.Org_Document set disabled_date=GETDATE(), disabled_by_person_id=@person_id where document_id=@doc_id	

RETURN
-------------------------
upload_doc:

----update new document 
INSERT dbo.Org_Document(org_id,doctype_id,file_type,url,created_date,created_by_person_id,start_date_ShowFlag,end_date_showFlag)
SELECT @org_id,@category_id,@file_type,'to be updated',getdate(),@person_id,ISNULL(@start_date,null),ISNULL(@end_date,null)

SELECT  @document_id=@@IDENTITY

----update url
--UPDATE dbo.Org_Document 
--SET url='/data/funded/nci/institutional/'+convert(varchar,@document_id)+'.'+@file_type
--WHERE document_id=@document_id

------return info
--SET @X = (
--SELECT document_id AS doc_id,url
--FROM dbo.Org_Document AS new_doc
--WHERE document_id=@document_id 
--FOR XML AUTO, TYPE, ELEMENTS
--)

----return xml file***/
--select @xmlout = cast(@X as varchar(max))
--select @xmlout

--GOTO load_org

RETURN

GO
