USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_unix_directory]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_unix_directory] (@s varchar(500))

RETURNS varchar(255)

AS  
BEGIN


RETURN
(

SELECT 

CASE
--Imran : 2/9/2015
----WHEN @s like 'https://egrants-data.nci.nih.gov/%' THEN 

----'/egrants' + 
----substring(@s,33, 
----len(@s) - 31 - patindex('%/%',reverse(@s))
----)
----WHEN @s like '/data/%' THEN '/egrants' + substring(@s,6, len(@s) - 4 - patindex('%/%',reverse(@s)))			 comment out by leon 4/22/2016
WHEN @s like 'data/%' THEN '/egrants/' + substring(@s,6, len(@s) - 4 - patindex('%/%',reverse(@s)))
ELSE NULL

END


)



END

GO
