USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_admin_supp]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hareesh Jayini
-- Create date: 10/26/2015
-- Description:	This function takes serial_num as input and returns 1 if count(*) of that serial_num in 
--IMPP_Admin_Supplements_WIP is greater than 1 or not 
-- =============================================
CREATE FUNCTION [dbo].[fn_grant_admin_supp]
(
@grant_id int
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @count int
	DECLARE @serial_num int
	
	SET @serial_num =(SELECT serial_num FROM grants WHERE grant_id=@grant_id)

	-- Add the T-SQL statements to compute the return value here
	select @count = count(*) 
	from IMPP_Admin_Supplements_WIP
	where serial_num = @serial_num

	-- Return the result of the function
	RETURN @count

END
GO
