USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_time_out]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_time_out]
as 

EXEC sp_configure 'remote query timeout', 0
GO
