USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_FFR_Notification_All]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_FFR_Notification_All](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NOT NULL,
	[Notification_Name] [varchar](30) NOT NULL,
	[Created_date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_IMPP_FFR_Notification_All] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
