USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_funding_master_tobedeleted]    Script Date: 8/27/2019 5:06:06 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_y2013_egrants_funding_master_tobedeleted]

@act 		varchar(50),
@str		varchar(50),
@fy			int,
@Operator	varchar(50),
@Inst		varchar(10)

AS
/****************************************************************************************************************/
/***									 								***/
/***	Procedure Name: sp_y2013_egrants_funding_master					***/
/***	Description:display funding_master page							***/
/***	Created:	12/22/2009	Leon									***/
/***	Modified:	11/11/2013	Leon									***/
/***	Modified:	12/21/2016	Leon									***/
/****************************************************************************************************************/

SET NOCOUNT ON

declare 
@profile_id 	int,
@person_id 		int,
@appl_id		int,
@category_fy	int,
@xmlout			varchar(max),
@X	
			Xml
--set @category_fy
IF @fy<=2014 SET @category_fy=@fy
IF @fy >2014 SET @category_fy=2014

/***find the profile_id**/
SELECT @profile_id=profile_id FROM profiles WHERE profile=@Inst 

/***find the operator's person_id***/
SELECT @person_id =person_id FROM vw_people WHERE userid=@Operator and profile_id=@profile_id

/***find count of total category_id form fy**/
SELECT max(category_id) as cat_total FROM funding_categories as [master] WHERE (category_fy is null or category_fy=@category_fy) 

IF @str<>'' and @str is not null GOTO to_search
IF @act='view_all'  GOTO view_all
IF @act='view_arra'  GOTO view_arra

-------------------------------------------------------
view_all:

/**return all funding documents**/
SET @X = (
SELECT 
category_id,
category_name,
parent_id,
level_id,
(
SELECT 
serial_num,
document_id,
doc_label,
arra_flag,
url 
FROM vw_funding_master AS doc
WHERE document_fy=@fy and category_id=category.category_id
FOR XML AUTO, TYPE, ELEMENTS
)
FROM funding_categories AS category
WHERE category_fy is null or category_fy=@category_fy
ORDER BY category_id
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
----------------------------------------------------------
view_arra:

/**return arra funding documents**/
SET @X = (
SELECT 
category_id,
category_name,
parent_id,
level_id,
(
SELECT 
serial_num,
document_id,
doc_label,
arra_flag,
url 
FROM vw_funding_master AS doc
WHERE arra_flag='y' and document_fy=@fy and category_id=category.category_id
FOR XML AUTO, TYPE, ELEMENTS
)
FROM funding_categories AS category
WHERE category_fy is null or category_fy=@category_fy 
ORDER BY category_id
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
--------------------------------------------------------------
to_search:

/**return searched funding documents**/
SET @X = (
SELECT 
category_id,
category_name,
parent_id,
level_id,
(
SELECT 
serial_num,
document_id,
doc_label,
arra_flag,
url 
FROM vw_funding_master AS doc
WHERE serial_num=convert(int,@str) and document_fy=@fy and category_id=category.category_id 
FOR XML AUTO, TYPE, ELEMENTS
)
FROM funding_categories AS category
WHERE category_fy is null or category_fy=@category_fy
ORDER BY category_id
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
-------------------------------------------------------------------
head:

/** find user info***/
declare @person_name	varchar(50)
declare @first_name		varchar(50)
declare @separate		int

set @person_name=(select person_name from people where person_id=@person_id)

IF @person_name<>'' and @person_name is not null 
BEGIN
select  @separate=PATINDEX('%,%', @person_name)
select  @first_name=LEFT(@person_name,@separate-1 )
END 

SELECT person_id, person_name,ISNULL(@first_name, NULL) as first_name,userid,position_id,profile_id, [profile] as ic,
can_egrants,can_egrants_upload,can_cft,can_mgt,can_docman,can_admin
FROM vw_people AS user_info 
WHERE userid=@operator and application_type='egrants'

RETURN
GO
