USE [EIM]
GO
/****** Object:  Table [dbo].[temp4]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp4](
	[EXTERNAL_ORG_ID] [numeric](10, 0) NOT NULL,
	[ORG_NAME] [nvarchar](120) NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[LAST_UPD_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO
