USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_org_flag_url]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[fn_get_org_flag_url] (@org_name varchar(200))
  
RETURNS varchar(100) AS 

BEGIN 

RETURN 
(
select url from vw_org_document
where org_name =@org_name and end_date=(
	select MAX(end_date)
	from vw_Org_Document 
	where org_name =@org_name and tobe_flagged=1
	group by category_id
	) 
)

END

GO
