USE [EIM]
GO
/****** Object:  Table [dbo].[GPM_Reports]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPM_Reports](
	[Rep_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
 CONSTRAINT [PK_GPM_Reports] PRIMARY KEY CLUSTERED 
(
	[Rep_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GPM_Reports] ADD  CONSTRAINT [DF_GPM_Reports_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
