USE [EIM]
GO
/****** Object:  Table [dbo].[DB_Widget_Master]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Widget_Master](
	[widget_id] [int] IDENTITY(1,1) NOT NULL,
	[widget_title] [varchar](100) NULL,
	[description] [varchar](200) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[widget_method] [varchar](100) NULL,
	[widget_method_param] [varchar](30) NULL,
	[widget_help_url] [varchar](300) NULL,
	[template_name] [varchar](20) NULL,
	[Access_Level] [smallint] NULL,
 CONSTRAINT [PK_DB_Widget_Master] PRIMARY KEY CLUSTERED 
(
	[widget_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DB_Widget_Master]  WITH CHECK ADD  CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master] FOREIGN KEY([widget_id])
REFERENCES [dbo].[DB_Widget_Master] ([widget_id])
GO
ALTER TABLE [dbo].[DB_Widget_Master] CHECK CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master]
GO
ALTER TABLE [dbo].[DB_Widget_Master]  WITH CHECK ADD  CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master1] FOREIGN KEY([widget_id])
REFERENCES [dbo].[DB_Widget_Master] ([widget_id])
GO
ALTER TABLE [dbo].[DB_Widget_Master] CHECK CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master1]
GO
ALTER TABLE [dbo].[DB_Widget_Master]  WITH CHECK ADD  CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master2] FOREIGN KEY([widget_id])
REFERENCES [dbo].[DB_Widget_Master] ([widget_id])
GO
ALTER TABLE [dbo].[DB_Widget_Master] CHECK CONSTRAINT [FK_DB_Widget_Master_DB_Widget_Master2]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Example : USER_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DB_Widget_Master', @level2type=N'COLUMN',@level2name=N'widget_method_param'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Store Absolute or Relative path of widget help page.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DB_Widget_Master', @level2type=N'COLUMN',@level2name=N'widget_help_url'
GO
