USE [EIM]
GO
/****** Object:  Table [dbo].[destruction]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[destruction](
	[grant_id] [int] NOT NULL,
	[destruction_reason] [varchar](50) NULL,
	[notes] [varchar](50) NULL,
	[approved_by] [varchar](50) NULL,
	[added_date] [smalldatetime] NOT NULL,
	[destroyed_date] [smalldatetime] NULL,
 CONSTRAINT [PK_destruction] PRIMARY KEY CLUSTERED 
(
	[grant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[destruction] ADD  CONSTRAINT [DF_destruction_added_date]  DEFAULT (getdate()) FOR [added_date]
GO
