USE [EIM]
GO
/****** Object:  Table [dbo].[temp_impp_rpprs_t]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_impp_rpprs_t](
	[document_id] [int] NOT NULL,
	[old_document_date] [smalldatetime] NULL,
	[category_id] [smalldatetime] NULL
) ON [PRIMARY]
GO
