USE [EIM]
GO
/****** Object:  Table [dbo].[accessions]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accessions](
	[accession_id] [int] IDENTITY(200,1) NOT NULL,
	[accession_number] [varchar](10) NOT NULL,
	[accession_year] [smallint] NOT NULL,
	[accession_counter] [smallint] NULL,
	[destroyed_date] [smalldatetime] NULL,
	[contract] [bit] NOT NULL,
	[profile_id] [smallint] NULL,
 CONSTRAINT [PK_accessions] PRIMARY KEY CLUSTERED 
(
	[accession_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accessions] ADD  CONSTRAINT [DF_accessions_contract]  DEFAULT (0) FOR [contract]
GO
