USE [EIM]
GO
/****** Object:  Table [dbo].[Grants_Flag_Construct_History]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grants_Flag_Construct_History](
	[gfh_id] [int] IDENTITY(1,1) NOT NULL,
	[gf_id] [int] NULL,
	[appl_id] [int] NULL,
	[grant_id] [int] NULL,
	[flag_type] [varchar](10) NULL,
	[flag_application] [char](1) NULL,
	[flag_persist] [bit] NOT NULL,
	[start_dt] [datetime] NULL,
	[end_dt] [datetime] NULL,
	[created_by] [int] NULL,
	[created_dt] [datetime] NULL,
	[last_updated_by] [int] NULL,
	[last_updated_date] [datetime] NULL,
	[action] [nchar](10) NOT NULL,
	[trigger_table] [nchar](1) NOT NULL,
	[record_modified_on] [datetime] NOT NULL,
 CONSTRAINT [PK_Grants_Flag_Construct_History] PRIMARY KEY CLUSTERED 
(
	[gfh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct_History] ADD  CONSTRAINT [DF_grants_flag_construct_history_flag_persist]  DEFAULT ('0') FOR [flag_persist]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct_History] ADD  CONSTRAINT [DF_Grants_Flag_Construct_History_start_dt]  DEFAULT (getdate()) FOR [start_dt]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct_History] ADD  CONSTRAINT [DF_Grants_Flag_Construct_History_created_dt]  DEFAULT (getdate()) FOR [created_dt]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct_History] ADD  CONSTRAINT [DF_Grants_Flag_Construct_History_last_updated_date]  DEFAULT (getdate()) FOR [last_updated_date]
GO
ALTER TABLE [dbo].[Grants_Flag_Construct_History] ADD  CONSTRAINT [DF_Grants_Flag_Construct_History_Record_modified_on]  DEFAULT (getdate()) FOR [record_modified_on]
GO
