USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_NEW_PA]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[SP_INSERT_NEW_PA]

@pa				varchar(10)
AS
BEGIN
	 INSERT dbo.adsup_pa_master(PA,Created_by_person_id,Created_date)
	 VALUES(@pa,1899,GETDATE())

END
GO
