USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PA_match]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================================
-- Author:		Imran Omair
-- Create date:	6/12/2014
-- 
-- 
--
--
--
--
--
--
--
--
-- =======================================================================

CREATE FUNCTION [dbo].[fn_PA_match]
(
	@strText varchar(8000)
)
RETURNS varchar(10)

AS

BEGIN
 -- Declare the return variable here
DECLARE	@strT varchar ( 20 ),
		@intI  int,
		@intL  int,
		@intR  int,
		@suffix varchar(4)

	-- Remove spaces from the input string
	set @strText = replace(@strText,' ','')
	set @strText = replace(@strText,char(9),'')		-- Tab
	set @strText = replace(@strText,char(10),'')	-- Line Feed
	--set @strText = replace(@strText,char(13),'')	-- Carriage Return 
	set @suffix = null

	-- LL-nn-nnn
	select @intI = patindex('%[P][A]-[0-9][0-9]-[0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,9)
			goto FoundIt
		End

	else	-- LLnn-nnn
	select @intI = patindex('%[P][A][0-9][0-9]-[0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,8)
			goto FoundIt
		End

	else	-- LLnnnnn
	select @intI = patindex('%[P][A][0-9][0-9][0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,7)			
			goto FoundIt
		End

	else	-- LL-nnnnn
	select @intI = patindex('%[P][A]-[0-9][0-9][0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,8)
			goto FoundIt
		End
    else
	-- LLL-nn-nnn
	select @intI = patindex('%[P][A][R]-[0-9][0-9]-[0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,10)
			goto FoundIt
		End

	else	-- LLLnn-nnn
	select @intI = patindex('%[P][A][R][0-9][0-9]-[0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,9)
			goto FoundIt
		End

	else	-- LLLnnnnn
	select @intI = patindex('%[P][A][R][0-9][0-9][0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,8)			
			goto FoundIt
		End

	else	-- LLL-nnnnn
	select @intI = patindex('%[P][A][R]-[0-9][0-9][0-9][0-9][0-9]%', @strText)
	if @intI>0 
		Begin
			select @strT = substring(@strText,@intI,9)
			goto FoundIt
		End

FoundIt:
	Select @intL=3
	select @intR = null

/*	--		nLnnLLnnnnnn
	select @intI = patindex('%[0-9][A-Z][0-9][0-9][A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9]%', @strT)
	If @intI > 0
		Begin
			Select @intL = @intL + 4
		End
	
	if isnumeric(substring(@strT,@intL,6))=1		-- True
		Begin
			if @suffix is not null
				Begin
					select @intR = (SELECT TOP 1 appl_id from dbo.vw_appls 
							WHERE serial_num = substring(@strT,@intL,6) and  
							FULL_GRANT_NUM LIKE + '%' + @strT + '%' and suffix_code = @suffix
							order by support_year desc, suffix_code desc)
				End
			else
			if @suffix is null
				Begin
					select @intR = (SELECT TOP 1 appl_id from dbo.vw_appls 
							WHERE serial_num = substring(@strT,@intL,6) and  
							FULL_GRANT_NUM LIKE + '%' + @strT + '%' and suffix_code is null
							order by support_year desc, suffix_code desc)
				End
		End
*/
	SELECT @strT=PA FROM dbo.adsup_pa_master WHERE REPLACE(PA,'-','')=REPLACE(@strT,'-','')
	------If NOT EXISTS(SELECT PA FROM dbo.adsup_pa_master WHERE REPLACE(PA,'-','')=REPLACE(@strT,'-',''))
	------BEGIN
	------	EXEC SP_INSERT_NEW_PA @strT
	------ --INSERT dbo.adsup_pa_master(PA,Created_by_person_id,Created_date)
	------ --VALUES(@strT,1899,GETDATE())
	------END
	------SELECT @strT=PA FROM dbo.adsup_pa_master WHERE REPLACE(PA,'-','')=REPLACE(@strT,'-','')
	return @strT

END






GO
