USE [EIM]
GO
/****** Object:  Table [dbo].[documents_nlm_legacy]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_nlm_legacy](
	[document_id] [int] NOT NULL,
	[grant_id] [int] NULL,
	[category_id] [smallint] NULL,
	[appl_id] [int] NULL,
	[url] [varchar](200) NULL,
 CONSTRAINT [PK_documents_nlm_legacy] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
