USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_Unfunded]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fn_grant_Unfunded] (@GID int)
RETURNS bit
BEGIN 

IF EXISTS (SELECT appl_id from appls where grant_id=@GID and appl_status_group_descrip in ('Cancelled','Withdrawn','Terminated'))
RETURN 1


RETURN 0


 
END



















GO
