USE [EIM]
GO
/****** Object:  Table [dbo].[grants_backup]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grants_backup](
	[grant_id] [int] NOT NULL,
	[admin_phs_org_code] [char](2) NOT NULL,
	[serial_num] [int] NOT NULL,
	[mechanism_code] [char](2) NULL,
	[close_out_date] [smalldatetime] NULL,
	[former_admin_phs_org_code] [char](2) NULL,
	[former_serial_num] [int] NULL,
	[future_admin_phs_org_code] [char](2) NULL,
	[future_serial_num] [int] NULL,
	[stop_sign] [varchar](3) NOT NULL,
	[paperless] [varchar](3) NOT NULL
) ON [PRIMARY]
GO
