USE [EIM]
GO
/****** Object:  Table [dbo].[impp_award_book1]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_award_book1](
	[appl_id] [int] NULL,
	[category_id] [smallint] NULL,
	[document_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[file_type] [varchar](5) NOT NULL,
	[url] [varchar](200) NULL,
	[profile_id] [smallint] NULL,
	[nga_rpt_seq_num] [int] NULL,
	[document_date1] [smalldatetime] NULL,
	[document_id] [int] NULL
) ON [PRIMARY]
GO
