USE [EIM]
GO
/****** Object:  Table [dbo].[cord_manager]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cord_manager](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_fname] [nvarchar](50) NOT NULL,
	[user_mi] [nvarchar](20) NULL,
	[user_lname] [nvarchar](50) NOT NULL,
	[user_login] [nvarchar](20) NOT NULL,
	[badge_id] [nvarchar](30) NULL,
	[division] [varchar](20) NULL,
	[status] [varchar](10) NOT NULL,
	[status_date] [smalldatetime] NOT NULL,
	[date_Requested] [smalldatetime] NOT NULL,
	[access_Type] [varchar](20) NOT NULL,
	[date_LastAccess] [smalldatetime] NULL,
	[cord_id] [int] NOT NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
	[comments] [nvarchar](200) NULL,
	[person_id] [int] NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](10) NULL,
	[disabled_date] [smalldatetime] NULL,
 CONSTRAINT [PK_Cord_manager] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
