USE [EIM]
GO
/****** Object:  Table [dbo].[funding_documents]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funding_documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [smallint] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[created_by_person_id] [int] NULL,
	[document_date] [smalldatetime] NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
	[stored_date] [smalldatetime] NULL,
	[stored_by_person_id] [int] NULL,
	[document_fy] [int] NULL,
	[sub_category] [varchar](50) NULL,
	[sub_string] [nvarchar](50) NULL,
 CONSTRAINT [PK_funding_documents] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[funding_documents] ADD  CONSTRAINT [DF_funding_documents_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
