USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_load_data_autocomplete_mechanism]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[sp_web_egrants_load_data_autocomplete_mechanism] 
@fy				varchar(4)=null,
--@fy				int=0,
@mechanism		varchar(3)=null,
@admincode		varchar(2)=null,
--@serialnum		int=0,
@serialnum		varchar(10)=null,
@term           varchar(10)


AS

SET NOCOUNT ON

---1=@fy
---2=@mechanism
---3=@admincode
---4=@serialnum

--select 'I'+nchar(92)+'m happpy'

declare @sql			varchar(400)
--declare @like			varchar(100)


---1,Autocomplete by @fy only
--IF (@fy is not null and @fy<>'') and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum='')	
--BEGIN
--SET @sql ='select distinct top 10  activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +'  order by activity_code'
--exec ( @sql)

--END --new

---2, Autocomplete by @mechanism only
IF (@fy is null or @fy ='') and (@mechanism <>'') and (@admincode is null or  @admincode='') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10  activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' order by activity_code'
exec (@sql)
END --new

---3, Autocompleteh by @admincode only
--IF (@fy is null or @fy='') and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
--BEGIN
--SET @sql ='select distinct top 10 activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' order by activity_code'

--END

---4, Autocomplete by @serialnum only
--IF (@fy is null or @fy='') and (@mechanism is null or @mechanism='') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum<>'')	
--BEGIN
--SET @sql ='select distinct top 10  serial_num from vw_grants_construct_fy_Mechanism_Admincode_serialNum where serial_num like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' order by serial_num '

--END

---1-2, Autocomplete by @fy and @mechanism 
IF (@fy is not null and @fy <>'') and (@mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10   activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and fy=' +convert(varchar, @fy) +' order by activity_code'
 exec ( @sql)
END

---1-3, Autocomplete by @mechanism and @admincode
IF (@fy is null or @fy ='') and (@mechanism <>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10  activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by activity_code'
exec (@sql)
END --new


---1-4, Autocomplete by @fy and @serialnum
--IF (@fy is not null and @fy<>'') and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum<>'')	
--BEGIN
--SET @sql ='select distinct top 10  fy,activity_code serial_num from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like  '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and serial_num=' +convert(varchar, @serialnum) +'  order by fy'
--exec(@sql)
--END

---2-3, Autocomplete by @mechanism and @admincode 222
--IF (@fy is null or @fy='') and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
--BEGIN
--SET @sql ='select distinct top 10  activity_code  from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code  like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +'  and admin_phs_org_code='+char(39)+ @admincode +char(39)+' order by activity_code'
--exec(@sql)
--END--new

---2-4, Autocomplete by @mechanism and @serialnum
IF (@fy is null or @fy='') and (@mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10  activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +'  and serial_num=' +convert(varchar, @serialnum) +' order by activity_code'
exec(@sql)
END --new

---3-4, Autocomplete by @admincode and @serialnum
--IF (@fy is null or @fy='') and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
--BEGIN
--SET @sql ='select distinct top 10  admin_phs_org_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where admin_phs_org_code like ' +char(39)+ @term +char(39)+ '%' +' and serial_num=' +convert(varchar, @serialnum) +' order by admin_phs_org_code'

--END

---1-2-3, Autocomplete by @fy,@mechanism ,@admincode 
IF (@fy is not null and @fy <>'') and (@mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10 activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+char(39) + convert(varchar, @term) + '%'+ +char(39)+' and fy =' +char(39)+ @fy +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by activity_code'
exec(@sql)
END
  
---1-2-4, Autocomplete by @fy, @mechanism and @serialnum
IF (@fy is not null and @fy <>'') and (@mechanism<>'') and (@admincode is  null or @admincode ='') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10  activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like ' +char(39)+ convert(varchar, @term) + '%'+ +char(39)+' and fy=' +char(39)+ @fy +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by activity_code'
exec(@sql)
END


---1-3-4, Autocomplete by @fy, @admincode and @serialnum
--IF (@fy is not null and @fy >0) and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
--BEGIN
--SET @sql ='select distinct top 10  fy, activity_code,admin_phs_org_code,serial_num from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like ' +char(39)+ convert(varchar, @fy) + '%'+ +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by fy'
--exec(@sql)
--END

---2-3-4, Autocomplete by @mechanism, @admincode and @serialnum
IF (@fy is null or  @fy='') and (@mechanism <>'') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10 activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by activity_code '
exec(@sql)
END--new ayua

---1-2-3-4, Autocomplete by @fy,@mechanism ,@admincode and @serialnum
IF (@fy is not null and @fy >0) and (@mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct  top 10 activity_code from vw_grants_construct_fy_Mechanism_Admincode_serialNum where activity_code like ' +char(39)+ convert(varchar, @term) + '%'+char(39)+' and fy =' +char(39)+ @fy +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by activity_code '
exec(@sql)
END



--return SQL query
select @sql
GO
