USE [EIM]
GO
/****** Object:  Table [dbo].[niaid_nga]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niaid_nga](
	[document_id] [int] NULL,
	[url] [varchar](8000) NULL,
	[full_grant_num] [varchar](50) NULL,
	[appl_id] [int] NULL,
	[impac] [char](1) NULL
) ON [PRIMARY]
GO
