USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_pdfinfo]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_egrants_pdfinfo]

@xml_str text

AS

DECLARE @idoc int


EXEC sp_xml_preparedocument @idoc OUTPUT, @xml_str

SELECT *
FROM       OPENXML (@idoc, '/Root/File',2)
          WITH 	(FileName varchar(255), Pages smallint, Producer varchar(255), Optimized varchar(3))

EXEC sp_xml_removedocument @idoc
GO
