USE [EIM]
GO
/****** Object:  Table [dbo].[Nicole_RPPRs]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nicole_RPPRs](
	[fgn] [varchar](50) NULL,
	[appl_id] [int] NULL
) ON [PRIMARY]
GO
