USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_person_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_get_person_name] (@person_id int)
  
RETURNS varchar(100) AS 

BEGIN 
RETURN 
(
select person_name from eim.dbo.people where person_id=@person_id
)


END
GO
