USE [EIM]
GO
/****** Object:  Table [dbo].[cord_manager_coments]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cord_manager_coments](
	[CordManager_id] [int] NULL,
	[comentator_id] [int] NULL,
	[comment_date] [smalldatetime] NULL,
	[Comment] [varchar](2000) NULL,
	[tobe_emailed] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cord_manager_coments] ADD  CONSTRAINT [DF_cord_manager_coments_tobe_emailed]  DEFAULT ('n') FOR [tobe_emailed]
GO
ALTER TABLE [dbo].[cord_manager_coments]  WITH CHECK ADD  CONSTRAINT [FK_cord_manager_coments_Cord_manager] FOREIGN KEY([CordManager_id])
REFERENCES [dbo].[cord_manager] ([id])
GO
ALTER TABLE [dbo].[cord_manager_coments] CHECK CONSTRAINT [FK_cord_manager_coments_Cord_manager]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sequencer from cord_manager table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cord_manager_coments', @level2type=N'COLUMN',@level2name=N'CordManager_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'to be captured by backend process, this is person_id mostly eiother ACM admin or IC Coordinator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cord_manager_coments', @level2type=N'COLUMN',@level2name=N'comentator_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'to be capture by backend process' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cord_manager_coments', @level2type=N'COLUMN',@level2name=N'comment_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Message or comment reletaed to this task/Request' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cord_manager_coments', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Domain {''y'',''n''}' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cord_manager_coments', @level2type=N'COLUMN',@level2name=N'tobe_emailed'
GO
