USE [EIM]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[sequence_id] [int] NOT NULL,
	[sequence_start] [int] NULL,
	[sequence_end] [int] NULL,
	[old_box_number] [smallint] NULL,
	[box_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [FK_purchase_orders_boxes] FOREIGN KEY([box_id])
REFERENCES [dbo].[boxes] ([box_id])
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [FK_purchase_orders_boxes]
GO
