USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_doc_index_modify]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_egrants_doc_index_modify]

@DocID int

AS

set nocount on

declare @pt 		binary(16)
declare @kw 		varchar(600)
declare @CDocID 	int
declare @sz 		int

IF (select count(*) from ncieim_b..documents_text where document_id=@DocID)=0
RETURN


UPDATE ncieim_b..documents_text
SET keywords=dbo.fn_doc_keywords(@DocID)
WHERE document_id=@DocID


--initialize documents with Null txt

UPDATE ncieim_b..documents_text
SET txt=NULL
WHERE document_id=@DocID and txt_size is null 

SELECT @pt=textptr(txt), @kw=keywords, @sz=txt_size FROM ncieim_b..documents_text WHERE document_id=@DocID
--UPDATETEXT ncieim_b..documents_text.txt @pt @sz Null @kw

Update ncieim_b..documents_text
set txt = CONVERT(varchar(max),@pt,2) + '' + @kw+ '' + convert (varchar(8000),isnull(@sz,0))
where document_id=@DocID

print 'kw count='+cast(len(ltrim(rtrim(@kw))) as varchar)

--"UPDATETEXT" will be removed in a future version of Microsoft SQL Server change it at migration (Imran)

--print @DocID


GO
