USE [EIM]
GO
/****** Object:  Table [dbo].[GC_ACTION_HISTORY]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GC_ACTION_HISTORY](
	[GC_ACTION_ID] [int] NOT NULL,
	[APPL_ID] [int] NOT NULL,
	[GC_OBJECT_NAME] [varchar](200) NOT NULL,
	[GC_ACTION_TYPE_CODE] [varchar](50) NOT NULL,
	[GC_OBJECT_STATUS_CODE] [varchar](50) NOT NULL,
	[PERFORMED_BY_PERSON_ID] [int] NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATOR_ID] [varchar](30) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LAST_UPD_ID] [varchar](30) NULL,
	[LAST_UPD_DATE] [datetime] NULL
) ON [PRIMARY]
GO
