USE [EIM]
GO
/****** Object:  Table [dbo].[people_teams]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_teams](
	[team_id] [int] IDENTITY(1,1) NOT NULL,
	[team_name] [nvarchar](50) NULL,
	[branch_id] [int] NULL
) ON [PRIMARY]
GO
