USE [EIM]
GO
/****** Object:  Table [dbo].[categories_subcat_lookup]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories_subcat_lookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_category_id] [smallint] NOT NULL,
	[sub_category_name] [varchar](35) NOT NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[Changed_by_person_id] [int] NULL,
	[changed_date] [smalldatetime] NULL,
 CONSTRAINT [PK_categories_subcat_lookup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories_subcat_lookup]  WITH NOCHECK ADD  CONSTRAINT [FK_categories_subcat_lookup_categories] FOREIGN KEY([parent_category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[categories_subcat_lookup] CHECK CONSTRAINT [FK_categories_subcat_lookup_categories]
GO
ALTER TABLE [dbo].[categories_subcat_lookup]  WITH CHECK ADD  CONSTRAINT [FK_categories_subcat_lookup_people] FOREIGN KEY([created_by_person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[categories_subcat_lookup] CHECK CONSTRAINT [FK_categories_subcat_lookup_people]
GO
ALTER TABLE [dbo].[categories_subcat_lookup]  WITH CHECK ADD  CONSTRAINT [FK_categories_subcat_lookup_people1] FOREIGN KEY([Changed_by_person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[categories_subcat_lookup] CHECK CONSTRAINT [FK_categories_subcat_lookup_people1]
GO
