USE [EIM]
GO
/****** Object:  Table [dbo].[appls_fis_10292014]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_fis_10292014](
	[appl_id] [int] NOT NULL,
	[appl_type_code] [char](1) NOT NULL,
	[activity_code] [char](3) NOT NULL,
	[grant_id] [int] NOT NULL,
	[support_year] [tinyint] NOT NULL,
	[suffix_code] [varchar](4) NULL,
	[project_title] [varchar](200) NULL,
	[former_num] [varchar](19) NULL,
	[rfa_pa_number] [varchar](10) NULL,
	[council_meeting_date] [char](6) NULL,
	[external_org_id] [int] NULL,
	[org_name] [varchar](40) NULL,
	[person_id] [int] NULL,
	[last_name] [varchar](30) NULL,
	[first_name] [varchar](30) NULL,
	[mi_name] [varchar](30) NULL,
	[prog_class_code] [varchar](10) NULL,
	[irg_code] [varchar](4) NULL,
	[appl_status_group_descrip] [varchar](60) NULL,
	[fy] [int] NULL,
	[appl_received_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[last_upd_date] [datetime] NULL,
	[receipt_date] [datetime] NULL,
	[irg_flex_code] [char](1) NULL,
	[summary_statement_flag] [char](1) NULL,
	[ss_upd_date] [smalldatetime] NULL,
	[ss_page_count_num] [smallint] NULL,
	[fsr_accepted_code] [char](1) NULL,
	[fsr_date] [smalldatetime] NULL,
	[in_impac] [char](1) NULL,
	[in_use] [char](1) NULL,
	[loaded_date] [smalldatetime] NULL,
	[snap_questions_all_no] [varchar](3) NULL,
	[active_grant_flag] [char](1) NULL,
	[green_sheet_flag] [char](1) NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[jit_date] [smalldatetime] NULL,
	[fis_date] [smalldatetime] NULL,
	[fpr_date] [smalldatetime] NULL,
	[frc_destroyed] [bit] NULL,
	[new_appl_id] [int] NULL,
	[gms_user_id] [int] NULL,
	[cay_code] [char](2) NULL,
	[budget_period_months] [int] NULL,
	[arra_flag] [char](1) NULL,
	[fda_flag] [char](1) NULL,
	[closeout_flag] [char](1) NOT NULL,
	[C_APPL_ID] [numeric](10, 0) NOT NULL,
	[SUBMITTED_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO
