USE [EIM]
GO
/****** Object:  Table [dbo].[documents_fis_10292014]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_fis_10292014](
	[appl_id] [int] NOT NULL,
	[document_id] [int] NULL,
	[filetype] [varchar](3) NOT NULL,
	[category_id] [int] NOT NULL,
	[created_by_person_id] [int] NOT NULL,
	[fis_date] [smalldatetime] NULL,
	[profile_id] [int] NULL
) ON [PRIMARY]
GO
