USE [EIM]
GO
/****** Object:  Table [dbo].[cache_grants]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_grants](
	[key] [int] NOT NULL,
	[search_id] [int] NOT NULL,
	[counter] [smallint] NOT NULL,
 CONSTRAINT [PK_cache_grants2] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC,
	[counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_cache_grants2]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_cache_grants2] ON [dbo].[cache_grants]
(
	[key] ASC,
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
