USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_all_activity_code]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [dbo].[fn_get_all_activity_code] (@GrantID int)
  
RETURNS varchar(100) AS 

BEGIN 

DECLARE @activity_code	varchar(3)
DECLARE @str_activity_code	varchar(100)
DECLARE @RowNum		int
DECLARE @MaxRow		int

--DECLARE @g_1 TABLE (activity_code varchar(3), support_year tinyint, suffix_code varchar(4))
--DECLARE @g TABLE (id int IDENTITY (1, 1) NOT NULL, activity_code varchar(3))

--INSERT @g_1(activity_code, support_year, suffix_code) select distinct activity_code, support_year, suffix_code from vw_appls where grant_id=@GrantID and (len(activity_code)=3) and doc_count>0 order by support_year, suffix_code
--INSERT @g (activity_code) select distinct activity_code from @g_1 

--INSERT @g_1(activity_code, support_year, suffix_code) select activity_code, support_year, suffix_code from vw_appls where grant_id=@GrantID and (len(activity_code)=3) and doc_count>0 order by support_year desc
--INSERT @g (activity_code) select activity_code from @g_1 group by activity_code order by max(support_year)

DECLARE @g_1 TABLE (activity_code varchar(3), support_year tinyint, suffix_code varchar(4), support_year_suffix varchar(50))
DECLARE @g TABLE (id int IDENTITY (1, 1) NOT NULL, activity_code varchar(3))

INSERT @g_1(activity_code, support_year, suffix_code, support_year_suffix) select  activity_code, support_year, suffix_code, support_year_suffix from vw_appls where grant_id=@GrantID and (len(activity_code)=3) and doc_count>0 order by support_year_suffix desc
INSERT @g (activity_code) select   activity_code  from @g_1 group by activity_code order by max(support_year_suffix) 

set @str_activity_code=''
set @RowNum=1
set @MaxRow = (select count(*) From @g)		--get total number of records
WHILE @RowNum < (@MaxRow +1 )				--loop until no more records
BEGIN   
	set @activity_code=(select activity_code from @g where id = @RowNum )
	--print convert(varchar,@appl_id)
	set @str_activity_code= @str_activity_code + @activity_code +'/';
	set @RowNum = @RowNum + 1                          
END

IF @str_activity_code is not null and @str_activity_code <> '' and LEN(@str_activity_code)>3
BEGIN
SET @str_activity_code = SUBSTRING(@str_activity_code,1,LEN(@str_activity_code)-1)
END
ELSE
BEGIN
SET @str_activity_code=null
END 

return @str_activity_code

END


GO
