USE [EIM]
GO
/****** Object:  Table [dbo].[bundle_categories]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bundle_categories](
	[package_id] [varchar](15) NOT NULL,
	[category_id] [smallint] NOT NULL,
	[cat_sort] [int] NULL,
 CONSTRAINT [PK_bun_categories] PRIMARY KEY CLUSTERED 
(
	[package_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'There are multiple bundles of different documents and categories can be created This column repersents each bundle. Examples are Award, Pre-Award, Post-Award etc..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_categories', @level2type=N'COLUMN',@level2name=N'package_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column will have category id for bundles.
Example : 1 for NGA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_categories', @level2type=N'COLUMN',@level2name=N'category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'documents will arranged in this sort order' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_categories', @level2type=N'COLUMN',@level2name=N'cat_sort'
GO
