USE [EIM]
GO
/****** Object:  Table [dbo].[GPM_Report_Access]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPM_Report_Access](
	[Report_id] [int] NOT NULL,
	[User_login] [varchar](50) NOT NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
 CONSTRAINT [PK_GPM_Report_Access] PRIMARY KEY CLUSTERED 
(
	[Report_id] ASC,
	[User_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
