USE [EIM]
GO
/****** Object:  Table [dbo].[impacii_deleted_apps_tobedeleted]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impacii_deleted_apps_tobedeleted](
	[appl_id] [int] NOT NULL,
	[deleted_date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_impacii_deleted_apps_tobedeleted] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
