USE [EIM]
GO
/****** Object:  View [dbo].[vw_grants]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vw_grants]
AS
SELECT     dbo.grants.grant_id, dbo.grants.admin_phs_org_code, dbo.grants.serial_num, dbo.grants.mechanism_code, 
                      dbo.grants.admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, dbo.grants.serial_num), 6) AS grant_num, 
                      dbo.grants.former_admin_phs_org_code, dbo.grants.former_serial_num, dbo.grants.former_admin_phs_org_code + RIGHT('00000' + CONVERT(varchar,
                       dbo.grants.former_serial_num), 6) AS former_grant_num, dbo.grants.future_admin_phs_org_code, dbo.grants.future_serial_num, 
                      dbo.grants.paperless, dbo.appls.person_id, dbo.grants.future_admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, 
                      dbo.grants.future_serial_num), 6) AS future_grant_num, dbo.appls.org_name, dbo.appls.project_title, dbo.appls.active_grant_flag, dbo.appls.fy, 

                      --dbo.appls.prog_class_code, 	  
					  (SELECT top 1 A.prog_class_code FROM APPLS A, GRANTS B WHERE A.grant_id=B.grant_id AND B.grant_id=dbo.grants.grant_id  AND (A.suffix_code IS NULL OR A.suffix_code LIKE '%A%') ORDER BY B.serial_num,a.fy desc,a.support_year desc, a.suffix_code desc) as prog_class_code,

					  dbo.appls.last_name, dbo.appls.first_name, dbo.appls.mi_name, ISNULL(dbo.appls.first_name + ' ', '') 
                      + ISNULL(dbo.appls.mi_name + ' ', '') + dbo.appls.last_name AS pi_name, ISNULL(dbo.grants.is_tobacco, 0) AS is_tobacco, 
                      dbo.grants.to_be_destroyed, CASE WHEN grant_close_date IS NOT NULL THEN 'Yes' ELSE 'No' END AS closed_out, 
                      CASE WHEN stop_sign = 'yes' AND admin_phs_org_code IN ('CA', 'ES') THEN 'Yes' ELSE 'No' END AS stop_sign, 
                      dbo.fn_grant_tracked(dbo.grants.grant_id) AS paper_file, 
					  dbo.fn_package_used(dbo.grants.grant_id, 'award') AS award_package, 
                      dbo.fn_package_used(dbo.grants.grant_id, 'application') AS application_package, 
					  dbo.fn_package_used(dbo.grants.grant_id, 'correspondence') AS correspondence_package, 
					  dbo.fn_package_used(dbo.grants.grant_id, 'closeout') AS closeout_package, 
					  dbo.fn_grant_funded(dbo.grants.grant_id) AS is_funded, 
					  dbo.grants.grant_close_date, 
					  /*ISNULL(dbo.grants.arra_flag, 'n') AS arra_flag, ISNULL(dbo.grants.fda_flag, 'n') AS fda_flag,*/
                      dbo.fn_get_org_flag_url(dbo.appls.org_name) as org_sv_url,	--added by leon 4/18/2016
                      CASE WHEN dbo.grants.admin_phs_org_code='CA' and dbo.fn_grant_admin_supp (grants.grant_id)>0 THEN 1 ELSE 0 END AS adm_supp,

 					  --dbo.appls.pd_full_name as current_pd_name,dbo.appls.pd_email_address as current_pd_email_address,

					  (SELECT top 1 A.pd_full_name FROM APPLS A, GRANTS B WHERE A.grant_id=B.grant_id AND B.grant_id=dbo.grants.grant_id  AND (A.suffix_code IS NULL OR A.suffix_code LIKE '%A%') ORDER BY B.serial_num,a.fy desc,a.support_year desc, a.suffix_code desc) as current_pd_name,
					  (SELECT top 1 A.pd_email_address FROM APPLS A, GRANTS B WHERE A.grant_id=B.grant_id AND B.grant_id=dbo.grants.grant_id  AND (A.suffix_code IS NULL OR A.suffix_code LIKE '%A%') ORDER BY B.serial_num,a.fy desc,a.support_year desc, a.suffix_code desc) as current_pd_email_address,


					  dbo.appls.first_name+' '+dbo.appls.last_name as current_pi_name,dbo.appls.pi_email_addr as current_pi_email_address,
					  --dbo.appls.gs_full_name as current_spec_name,

					  (SELECT top 1 A.GS_FULL_NAME FROM APPLS A, GRANTS B WHERE A.grant_id=B.grant_id AND B.grant_id=dbo.grants.grant_id  AND (A.suffix_code IS NULL OR A.suffix_code LIKE '%A%') ORDER BY B.serial_num,a.fy desc,a.support_year desc, a.suffix_code desc) as current_spec_name,
					  (SELECT top 1 A.GS_EMAIL_ADDRESS FROM APPLS A, GRANTS B WHERE A.grant_id=B.grant_id AND B.grant_id=dbo.grants.grant_id  AND (A.suffix_code IS NULL OR A.suffix_code LIKE '%A%') ORDER BY B.serial_num,a.fy desc,a.support_year desc, a.suffix_code desc) as current_spec_email_address,


					  /*** 6/7/2019 : IMRAN
  					  CASE WHEN dbo.appls.gs_full_name IS NULL THEN
					  (SELECT TOP 1 GS_FULL_NAME FROM APPLS WHERE grant_id=dbo.grants.grant_id AND GS_FULL_NAME IS NOT NULL
					  order by fy DESC,support_year DESC,suffix_code DESC) ELSE dbo.appls.gs_full_name END AS current_spec_name,

					  --dbo.appls.gs_email_address as current_spec_email_address,
					  CASE WHEN dbo.appls.gs_email_address IS NULL THEN
					  (SELECT TOP 1 GS_EMAIL_ADDRESS FROM APPLS WHERE grant_id=dbo.grants.grant_id AND GS_EMAIL_ADDRESS IS NOT NULL  
					  order by fy DESC,support_year DESC,suffix_code DESC) ELSE dbo.appls.gs_email_address END AS current_spec_email_address,
					  ***/

					  CASE WHEN dbo.appls.bo_email_address IS NULL THEN 
					   (SELECT TOP 1 BO_EMAIL_ADDRESS FROM APPLS WHERE grant_id=dbo.grants.grant_id AND BO_EMAIL_ADDRESS IS NOT NULL 
					   order by fy DESC,support_year DESC,suffix_code DESC) ELSE dbo.appls.bo_email_address END AS current_bo_email_address,
					  --dbo.appls.bo_email_address as current_bo_email_address,

					  --dbo.Grant_Contacts_Detail.current_pd_name,dbo.Grant_Contacts_Detail.current_pd_email_address,dbo.Grant_Contacts_Detail.current_pi_name,dbo.Grant_Contacts_Detail.current_pi_email_address,
					  --dbo.Grant_Contacts_Detail.current_spec_name,dbo.Grant_Contacts_Detail.current_spec_email_address,dbo.Grant_Contacts_Detail.current_bo_email_address,
					  
					  CASE WHEN MS_flag.MSFlag_cnt=0 or MS_flag.MSFlag_cnt is null THEN 'n' ELSE 'y' END AS MS_flag,
					  CASE WHEN OD_flag.ODFlag_cnt=0 or OD_flag.ODFlag_cnt is null THEN 'n' ELSE 'y' END AS OD_flag,
					  CASE WHEN STP_flag.STPFlag_cnt=0 or STP_flag.STPFlag_cnt is null THEN 'n' ELSE 'y' END AS STP_flag,
					  CASE WHEN FDA_flag.FDAFlag_cnt=0 or FDA_flag.FDAFlag_cnt is null THEN 'n' ELSE 'y' END AS FDA_flag,
					  CASE WHEN ARRA_flag.ARRAFlag_cnt=0 or ARRA_flag.ARRAFlag_cnt is null THEN 'n' ELSE 'y' END AS ARRA_flag,
					  CASE WHEN DS_flag.DSFlag_cnt=0 or DS_flag.DSFlag_cnt is null THEN 'n' ELSE 'y' END AS DS_flag


FROM         dbo.grants LEFT OUTER JOIN
                      dbo.appls ON dbo.grants.grant_id = dbo.appls.grant_id AND dbo.fn_grant_latest_appl(dbo.grants.grant_id) = dbo.appls.appl_id

		  LEFT OUTER JOIN (SELECT grant_id,count(*) AS MSFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='MS' and flag_application='A'
			GROUP BY grant_id) as MS_flag ON dbo.grants.grant_id=MS_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

		  LEFT OUTER JOIN(SELECT grant_id,count(*) AS ODFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='OD' and flag_application='A'
			GROUP BY grant_id) as OD_flag ON dbo.grants.grant_id=OD_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

		  LEFT OUTER JOIN(SELECT grant_id,count(*) AS STPFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='STP' and flag_application='G' AND end_dt IS NULL
			GROUP BY grant_id) as STP_flag ON dbo.grants.grant_id=STP_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

		  LEFT OUTER JOIN(SELECT grant_id,count(*) AS FDAFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='FDA' and flag_application='B' AND end_dt IS NULL
			GROUP BY grant_id) as FDA_flag ON dbo.grants.grant_id=FDA_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

		  LEFT OUTER JOIN(SELECT grant_id,count(*) AS ARRAFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='ARRA' and flag_application='G'
			GROUP BY grant_id) as ARRA_flag ON dbo.grants.grant_id=ARRA_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

		  LEFT OUTER JOIN(SELECT grant_id,count(*) AS DSFlag_cnt FROM dbo.Grants_Flag_Construct where flag_type='DS' and flag_application='A'
			GROUP BY grant_id) as DS_flag ON dbo.grants.grant_id=DS_flag.grant_id and dbo.grants.admin_phs_org_code='CA'

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[46] 4[3] 2[33] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "grants"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 13
         End
         Begin Table = "appls"
            Begin Extent = 
               Top = 160
               Left = 44
               Bottom = 268
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_grants'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_grants'
GO
