USE [EIM]
GO
/****** Object:  Table [dbo].[Org_Document]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Org_Document](
	[document_id] [int] IDENTITY(600,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[doctype_id] [int] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[start_date_ShowFlag] [smalldatetime] NULL,
	[end_date_showFlag] [smalldatetime] NULL,
	[url] [varchar](200) NOT NULL,
	[file_type] [varchar](5) NOT NULL,
	[created_by_person_id] [int] NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
 CONSTRAINT [PK_Org_Document] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
