USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_accepted]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_accepted](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supp_appl_id] [int] NOT NULL,
	[full_grant_num] [varchar](19) NULL,
	[Former_num] [varchar](19) NULL,
	[serial_num] [int] NULL,
	[Former_appl_id] [int] NULL,
	[Action_date] [smalldatetime] NULL,
	[admin_supp_action_code] [varchar](5) NULL,
	[Notification_id] [int] NULL
) ON [PRIMARY]
GO
