USE [EIM]
GO
/****** Object:  Table [dbo].[Temp_Obligated_SpreadSheet]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Obligated_SpreadSheet](
	[command] [varchar](1000) NULL,
	[shellcommand] [varchar](8000) NULL,
	[document_id] [int] NULL
) ON [PRIMARY]
GO
