USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[temp_fn1]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[temp_fn1](@action_type varchar(20) )
RETURNS TABLE 
AS

RETURN SELECT transaction_date,operator,description,document_id,max(transaction_id) TR_ID
from dbo.econtract_transactions
		WHERE action_type = @action_type 
		group by transaction_date,operator,description,document_id
		
GO
