USE [EIM]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [smallint] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NOT NULL,
	[package] [varchar](20) NULL,
	[created_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[impac_doc_type_code] [varchar](10) NULL,
	[modified_date] [smalldatetime] NULL,
	[modified_by_person_id] [int] NULL,
	[can_upload] [char](3) NULL,
	[input_type] [char](1) NULL,
	[input_constraint] [char](1) NULL,
 CONSTRAINT [PK_categories_new] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_document_types]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_document_types] ON [dbo].[categories]
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
