USE [EIM]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NULL,
	[file_name] [varchar](255) NULL,
	[file_type] [varchar](4) NOT NULL,
	[attachment_alias] [varchar](50) NULL,
	[document_alias] [varchar](50) NULL
) ON [PRIMARY]
GO
