USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_FRM]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_FRM](
	[Appl_id] [int] NULL,
	[Document_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
