USE [EIM]
GO
/****** Object:  View [dbo].[vw_folders]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_folders]
AS
select    folder_id, bar_code, created_date, destroyed_date, to_be_scanned, latest_move_date, 
	admin_phs_org_code, serial_num, grant_num, dbo.vw_grants.grant_id, profile_id, closed_out, 
	dbo.fn_folder_status(folder_id) AS status, dbo.fn_IDString(folder_id,dbo.folders.grant_id) AS id_string,  
	location_id, specialist_id, box_id, latest_access_date, removed_content_date,  
	former_admin_phs_org_code, former_serial_num, former_grant_num, future_admin_phs_org_code,future_serial_num, future_grant_num,
	CASE WHEN to_be_scanned = 1 THEN 'Yes' ELSE 'No' END AS in_scan
from	dbo.folders INNER JOIN dbo.vw_grants ON dbo.folders.grant_id = dbo.vw_grants.grant_id
where 	folder_id BETWEEN 206925 AND 259828
union 	ALL
select distinct 
               	folder_id, bar_code, created_date, destroyed_date, to_be_scanned, latest_move_date, 
	admin_phs_org_code, serial_num, grant_num, grant_id_appl,profile_id,closed_out,
              	dbo.fn_folder_status(folder_id) AS status, dbo.fn_IDString(folder_id, grant_id_appl) AS id_string, 
	location_id, specialist_id, box_id, latest_access_date, removed_content_date, 
              	former_admin_phs_org_code, former_serial_num, former_grant_num, future_admin_phs_org_code,future_serial_num, future_grant_num,  
              	CASE WHEN to_be_scanned = 1 THEN 'Yes' ELSE 'No' END AS in_scan
from	 vw_folder_appls





GO
