USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_econtracts_noise_words--to_be_deleted]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_econtracts_noise_words--to_be_deleted]

@wholestr 	varchar(8000), 
@result 	varchar(8000) out 

AS
/************************************************************************************************************/
/***									 		***/
/***	Procedure Name: sp_econtracts_noise_words_deleted				***/
/***	Description:	delete noise words from str					***/
/***	Created:	11/3/2006	jim						***/
/***	Modified:	7/31/2007	Leon						***/
/***											***/
/************************************************************************************************************/

SET NOCOUNT ON 

declare @word 	varchar(100)
declare @spot 	smallint 
declare @str 	varchar(8000) 
declare @sql 	varchar(8000)  

-- delete noise words
CREATE TABLE #w (word_id int IDENTITY(1,1) NOT NULL, word varchar(2550) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS)
 
--find all words from @wholestr and insert them to #w
WHILE @wholestr <> ''  
BEGIN  
SET @spot = CHARINDEX(' ', @wholestr)  
IF @spot > 0  
BEGIN  
SET @str = LEFT(@wholestr, @spot-1) 
SET @wholestr = RIGHT(@wholestr, LEN(@wholestr)-@spot)  
END  
ELSE  
BEGIN  
SET @str = RTRIM(@wholestr) 
SET @wholestr = ''  
END  

SET @sql = 'INSERT INTO #w VALUES('''+@str+''')'  
EXEC(@sql)  

END 

--delete all noise words from #w
DELETE #w  WHERE word IN (SELECT w FROM contract_noise_words) 

--create new str by  #w
declare c1 cursor for 
select word from #w

set @str = ''
open c1
	fetch next from c1 into @word
	while @@fetch_status = 0 
	begin
	select @str = @str + ' ' + @word
	fetch next from c1 into @word
	end
	close c1
	deallocate c1
    DROP TABLE #w 
set @result = substring(@str,2,8000)

select @result
GO
