USE [EIM]
GO
/****** Object:  Table [dbo].[impp_PiChange]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_PiChange](
	[appl_id] [int] NOT NULL,
	[document_date] [smalldatetime] NULL,
	[KeyId] [int] NULL
) ON [PRIMARY]
GO
