USE [EIM]
GO
/****** Object:  Table [dbo].[appls_w_to_s]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_w_to_s](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NOT NULL,
	[full_grant_num_eim] [varchar](50) NULL,
	[full_grant_num_impac] [varchar](50) NULL,
	[appl_in_impac] [char](10) NULL,
	[load_date] [smalldatetime] NULL,
	[act] [char](100) NULL,
	[act_date] [smalldatetime] NULL,
 CONSTRAINT [PK_appls_w_to_s] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
