USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_org_category_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[fn_get_org_category_name] (@category_id int)
  
RETURNS varchar(100) AS 

BEGIN 
RETURN 
(
select doctype_name from dbo.Org_Categories where doctype_id=@category_id 
)


END

GO
