USE [EIM]
GO
/****** Object:  View [dbo].[vw_tobacco_grants]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_tobacco_grants] as
SELECT FY, APPL_ID, GRANT_NUM, NAME, APPL_STATUS_CODE
FROM  OPENQUERY(Flare, 'select FY,APPL_ID,FULL_PROJECT_NUM_DC AS GRANT_NUM,NAME,APPL_STATUS_CODE 
						from FLARE.OGA_TOBACCO_GRANTS_T')
GO
