USE [EIM]
GO
/****** Object:  View [dbo].[vw_grant_stop_sign]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


--modified where ltr1_date>=''01-APR-98' to where ltr1_date>=TO_DATE(''01-APR-98'', ''DD-MON-YY'')
--by hareeshj on 3/1/13 1:39pm
--Joel 06/06/2013 for IRDB date comparison

CREATE VIEW [dbo].[vw_grant_stop_sign]
AS

SELECT DISTINCT a1.grant_id, a.appl_id, a.full_grant_num,closeout.CLOSEOUT_FSR_CODE, 
closeout.FINAL_INVENTION_STMNT_CODE, closeout.FINAL_REPORT_DATE
FROM dbo.vw_appls a INNER JOIN OPENQUERY(IRDB, 
	'select appl_id, closeout_fsr_code,final_invention_stmnt_code,final_report_date 
    from gm_closeouts 
    where to_date(to_char(ltr1_date,''yyyy-mm-dd''),''yyyy-mm-dd'')>=to_date(''1998-04-01'',''yyyy-mm-dd'')
    and closeout_status_code=''O'' 
    and (final_report_date is null or final_invention_stmnt_code=''N'' or final_invention_stmnt_code IS NULL)')
    --ltr1_date>=''1998-04-01'' and closeout_status_code=''O'' and (final_report_date is null or final_invention_stmnt_code=''N'' or final_invention_stmnt_code IS NULL)')
    closeout ON a.appl_id = closeout.APPL_ID INNER JOIN
    dbo.vw_appls a1 ON a.last_name = a1.last_name AND a.first_name = a1.first_name 
    AND (a.mi_name IS NULL AND a1.mi_name IS NULL OR REPLACE(a.mi_name, '.', '') = REPLACE(a1.mi_name, '.', ''))
WHERE (a1.admin_phs_org_code IN ('CA', 'ES'))
GO
