USE [EIM]
GO
/****** Object:  Table [dbo].[grants_flag_DS_WIP]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grants_flag_DS_WIP](
	[appl_id] [int] NOT NULL,
	[grant_id] [int] NULL,
	[admin_phs_org_code] [char](2) NULL,
	[serial_num] [int] NULL,
	[appl_type_code] [int] NULL,
	[Diversity_reentry_flag] [char](2) NULL,
 CONSTRAINT [PK_grants_flag_DS_WIP] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table will hold the diversity Supplements' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grants_flag_DS_WIP', @level2type=N'COLUMN',@level2name=N'appl_id'
GO
