USE [EIM]
GO
/****** Object:  View [dbo].[vw_test4]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_test4]
AS
SELECT     dbo.documents.document_id, dbo.documents.appl_id, dbo.categories.category_name, dbo.documents.created_by_person_id, 
                      dbo.documents.created_date, dbo.documents.url, dbo.documents.file_modified_by_person_id, dbo.documents.file_modified_date
FROM         dbo.categories INNER JOIN
                      dbo.documents ON dbo.categories.category_id = dbo.documents.category_id LEFT OUTER JOIN
                      dbo.appls ON dbo.documents.appl_id = dbo.appls.appl_id
WHERE     (dbo.appls.appl_id IS NULL)
GO
