USE [EIM]
GO
/****** Object:  Table [dbo].[dir_cmd]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dir_cmd](
	[path] [varchar](255) NOT NULL,
	[new_path] [varchar](255) NULL,
	[move_cmd] [varchar](255) NULL
) ON [PRIMARY]
GO
