USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_stop_notice]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

create PROCEDURE [dbo].[sp_web_egrants_stop_notice]
(
@GrantID	int,
@ic			varchar(5)
)
AS
/******************************************************************************************************************/
/***	Procedure Name:		sp_egrants_stop_notice																***/
/***	Description:		find the stop_notice by grant_id													***/
/***	Created:			03/01/2013	Leon																	***/
/***	Modified:			03/01/2005	Leon																	***/
/***	Modified:			Hareesh commented lines 23-30 on 03/31/2011 at 5:03 pm, since ths piece of code is not 
							required for openquery any longer. Also changed openquery Linked Server from to 
							in Line 81. Tested the chunk of code containing openquery and it works.				***/
/***	Modified:			Leon modified for MVC																***/
/******************************************************************************************************************/

SET NOCOUNT ON

SELECT
appl_id,
full_grant_num, 
closeout_fsr_code,
final_invention_stmnt_code,
ISNULL(convert(varchar,final_report_date,101),'N') as final_report_date
FROM vw_grant_stop_sign
WHERE grant_id=@GrantID 
GO
