USE [EIM]
GO
/****** Object:  View [dbo].[vw_grant_latest_appl]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_grant_latest_appl]
AS

SELECT DISTINCT appl_id, grant_id, fy,support_year, suffix_code
FROM dbo.appls
WHERE appl_id NOT IN (SELECT DISTINCT appl_id FROM dbo.appls_deleted_in_impac) and appl_id>0
GO
