USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_flag_G]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fn_flag_G] (@GrantID int, @flag_type varchar(10))
  
RETURNS char(1) AS  

BEGIN

IF (select count(*) from grants_flag_construct where grant_id=@GrantID and flag_type=@flag_type and end_dt is null)>0 
RETURN 'y'

RETURN 'n'

END
GO
