USE [EIM]
GO
/****** Object:  Table [dbo].[document_destruction]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_destruction](
	[tab_id] [int] NULL,
	[grant_id] [int] NULL,
	[serial_num] [int] NULL,
	[full_grant_num] [varchar](19) NULL,
	[activity_code] [char](3) NULL,
	[appl_id] [int] NULL,
	[fy] [smallint] NULL,
	[pi_name] [varchar](92) NULL,
	[org_name] [varchar](120) NULL,
	[appl_status_group_descrip] [varchar](60) NULL,
	[grant_close_date] [smalldatetime] NULL,
	[project_start_date] [smalldatetime] NULL,
	[project_end_date] [smalldatetime] NULL,
	[released_date] [smalldatetime] NULL,
	[selected_tobe_destroyed] [varchar](3) NULL,
	[selected_by] [varchar](50) NULL,
	[selected_date] [datetime] NULL,
	[destruction_reason] [varchar](50) NULL,
	[notes] [varchar](50) NULL,
	[approved_tobe_destroyed] [varchar](3) NULL,
	[approved_by] [varchar](50) NULL,
	[approved_date] [datetime] NULL,
	[added_date] [smalldatetime] NOT NULL,
	[proposed_destruction_date] [smalldatetime] NULL,
	[destroyed_date] [smalldatetime] NULL,
	[destroyed_by] [varchar](50) NULL,
	[destroyed_bkup_file_path] [varchar](200) NULL,
	[destroyed_bkup_retention_period] [int] NULL,
	[funded_not_funded] [varchar](3) NULL,
	[impp_closeout_dt] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'close out date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'grant_close_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'project6 start date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'project_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'projecte end date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'project_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'yes/no : indicate whether this grant has been selected for destruct' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'selected_tobe_destroyed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'select by person id who has selected this grant to be destroyed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'selected_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date selected' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'selected_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'yes/No indicates whether this grant has been approved or not.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'approved_tobe_destroyed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'userid to be inserted from front end, who has approved to destroy this Grant.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'approved_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date for approval to destruct.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'approved_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'this grant id is added for destruct consideration on a periodic date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'added_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This date will be selected/chose by the approver of destruct.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'proposed_destruction_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'actual destroyed date, this is should be same as proposed dest date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'destroyed_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'person or system''s anme who has destroyed this file.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'destroyed_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'We will create a zip with DB and files information into a file. and store them on this location.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'destroyed_bkup_file_path'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'For Security reason we want to keep a zip file with DB and files information for some period. Approver will say how many months we should keep this bkup files.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'destroyed_bkup_retention_period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'whether this grant is funded or not funded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'funded_not_funded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'close out date comes from impp close out system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'document_destruction', @level2type=N'COLUMN',@level2name=N'impp_closeout_dt'
GO
