USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_filepart_categoryid]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_filepart_categoryid] (@f varchar(255))

  
RETURNS smallint AS  
BEGIN 

declare @p smallint


set @p=patindex('%NGA%',@f)
IF @p>0 RETURN 1 --category id

set @p=patindex('%Notice of Grant Award%',@f)
IF @p>0 RETURN 1 --category id


set @p=patindex('%Change%',@f)
IF @p>0 RETURN 34

set @p=patindex('%901%',@f)
IF @p>0 RETURN 34

RETURN 1 --default is NGA for now


END









GO
