USE [EIM]
GO
/****** Object:  View [dbo].[vw_test8]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_test8]
AS
SELECT *
FROM  dbo.appls_ciip
WHERE (APPL_ID IN
                   (SELECT DISTINCT appl_id
                    FROM   vw_test6))
GO
