USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_Admin_Supplements]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_Admin_Supplements](
	[Supp_appl_id] [int] NOT NULL,
	[Full_grant_num] [varchar](19) NULL,
	[Former_Num] [varchar](19) NULL,
	[serial_num] [int] NULL,
	[Former_appl_id] [int] NULL,
	[Action_date] [smalldatetime] NULL,
	[admin_supp_action_code] [varchar](5) NULL,
	[APPL_TYPE_CODE] [char](1) NULL,
	[ACTIVITY_CODE] [varchar](3) NULL,
	[ADMIN_PHS_ORG_CODE] [varchar](2) NULL,
	[SUPPORT_YEAR] [tinyint] NULL,
	[SUFFIX_CODE] [varchar](4) NULL
) ON [PRIMARY]
GO
