USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_user_validation]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create PROCEDURE [dbo].[sp_web_egrants_user_validation]

@ic				varchar(5),
@operator 		varchar(50)

AS
/************************************************************************************************************/
/***									 										***/
/***	Procedure Name:sp_web_egrants_user_validation							***/
/***	Description:check user validation										***/
/***	Created:	07/10/2019	Leon											***/
/************************************************************************************************************/
SET NOCOUNT ON

declare @count int

SET @count=(select count(*) from vw_people where userid=@operator and ic=@ic)	

if @count=0 SET @count=(select count(*) from docman..vw_people where userid=@operator and ic=@ic)	

SELECT @count as 'count'
GO
