USE [EIM]
GO
/****** Object:  Table [dbo].[documents_transactions]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[transaction_date] [smalldatetime] NOT NULL,
	[operator] [varchar](50) NOT NULL,
	[action_type] [varchar](20) NOT NULL,
	[full_grant_num] [varchar](20) NULL,
	[category_name] [varchar](50) NULL,
	[document_date] [smalldatetime] NULL,
	[description] [varchar](100) NULL,
 CONSTRAINT [PK_documents_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents_transactions] ADD  CONSTRAINT [DF_documents_transactions_transaction_date]  DEFAULT (getdate()) FOR [transaction_date]
GO
