USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_RPPR_MPR_NEW]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_RPPR_MPR_NEW](
	[APPL_ID] [int] NOT NULL,
	[DOCUMENT_DATE] [smalldatetime] NULL,
	[RPPR_DOC_ID] [int] NULL
) ON [PRIMARY]
GO
