USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_grants_flag_STP]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_grants_flag_STP] AS
Begin

DECLARE 
@SYSUSR INT,
@FLAGAPPLICATION CHAR(1),
@FLAGTYPE VARCHAR(5)

SET @FLAGTYPE='STP'  --HARD CODE :  BECAUSE THIS PROC IS FOR STOP FLAG
SELECT @SYSUSR=PERSON_ID FROM People WHERE person_name='SYSTEM'
SELECT @FLAGAPPLICATION=flag_application_code FROM dbo.Grants_Flag_Master WHERE flag_type_code=@FLAGTYPE AND end_date IS NULL AND flag_gen_type='automatic'
PRINT '==>>  PROC sp_grants_flag_STP STARTED AT = ' + cast(GETDATE() as varchar)

TRUNCATE TABLE dbo.grants_flag_WIP

INSERT dbo.grants_flag_WIP(grant_id,admin_phs_org_code,serial_num,stop_sign,arra_flag)
SELECT grant_id,admin_phs_org_code,serial_num,stop_sign,arra_flag 
FROM DBO.GRANTS

UPDATE dbo.grants_flag_WIP 
SET stop_sign='no' 
WHERE stop_sign='yes'

print 'SET SET ALL FLAGS TO NO COUNT =' + cast(@@ROWCOUNT as varchar)

UPDATE dbo.grants_flag_WIP 
SET stop_sign='yes' 
WHERE grant_id in (
	SELECT grant_id 
	FROM openquery(IRDB, 'select * from gm_closeouts_MV 
		where to_date(to_char(ltr1_date,''yyyy-mm-dd''),''yyyy-mm-dd'')>=to_date(''1998-04-01'',''yyyy-mm-dd'')
		and closeout_status_code=''O'' 
		and (final_report_date is null or final_invention_stmnt_code=''N'' or final_invention_stmnt_code is null)' ) c, 
	vw_appls a 
	WHERE a.appl_id=c.appl_id 
	and a.admin_phs_org_code='CA' 
	and getdate()>dateadd(DAY,120,c.ltr1_date) 
)

print 'NEW FLAGS ADDED FROM IMPACii =' + cast(@@ROWCOUNT as varchar)

------------------------
--exceptions:
-------------------------------------

UPDATE dbo.grants_flag_WIP 
SET stop_sign='no' 
FROM dbo.grants_flag_WIP g, appls a, openquery(IRDB, 'select appl_id from gm_closeouts_MV where final_report_date is not null') c
WHERE g.grant_id=a.grant_id 
and a.appl_id=c.appl_id 
and activity_code in ('R13','R25', 'T32', 'S15') 
and stop_sign='yes'

print 'EXCEPTION =' + cast(@@ROWCOUNT as varchar)

--extend stop notice to grants with the same PI name
UPDATE dbo.grants_flag_WIP 
SET stop_sign='yes' 
WHERE grant_id in (
	SELECT distinct g1.grant_id 
	FROM vw_grants g1,vw_grants g2
	WHERE g2.stop_sign='yes' 
	and g1.stop_sign='no' 
	and g1.admin_phs_org_code IN ('CA','ES') 
	and replace(g1.pi_name,'.','')=replace(g2.pi_name,'.','') 
	and (g1.active_grant_flag='Y' or g1.fy>=(YEAR(getdate())-2))
	and g1.grant_id !=1094636) --added by Hareesh on 11/29/2012 4:44 pm

print 'RULE: EXTENDED STOP NOTICE =' + cast(@@ROWCOUNT as varchar)

--added by hareeshj on 3/26/2014 at 5:27pm
UPDATE grants_flag_WIP
SET stop_sign = 'no'
WHERE grant_id = 1187995

/***  disable all STP flag in construct if it is not in WIP, it means it has changed in ImpacII*/
UPDATE dbo.Grants_Flag_Construct
SET end_dt=GETDATE(), last_updated_by=@SYSUSR, last_updated_date=GETDATE()
WHERE flag_type=@FLAGTYPE
and appl_id is null
and end_dt is null 
and grant_id in (
	select grant_id 
	from dbo.grants_flag_WIP 
	where stop_sign='no')
--PRINT @@

print 'DISABLED STP FLAG=' + cast(@@ROWCOUNT as varchar)

/**  INSERT ALL NEW FLAGS CAME IN TODAY    **/
INSERT DBO.Grants_Flag_Construct(grant_id,flag_type,flag_application,start_dt,created_by,created_dt)
SELECT A.GRANT_ID,@FLAGTYPE,@FLAGAPPLICATION,GETDATE(),@SYSUSR,GETDATE() 
FROM dbo.grants_flag_WIP A  
WHERE A.grant_id not in (
	SELECT B.grant_id 
	FROM dbo.Grants_Flag_Construct B 
	WHERE flag_type=@FLAGTYPE 
	and b.appl_id is null 
	and B.end_dt is null 

UNION 	

	SELECT B.grant_id 
	FROM dbo.Grants_Flag_Construct B 
	WHERE flag_type='STP' 
	AND B.flag_persist = 1  --added by hareeshj on 8/8/16 5:50pm
)
AND A.STOP_SIGN='yes'
print 'NEW FLAGS ADDED =' + cast(@@ROWCOUNT as varchar)

PRINT '==>> PROC sp_grants_flag_STP STARTED FINISHED AT = ' + cast(GETDATE() as varchar)

end

GO
