USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[ContainerTypeID]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[ContainerTypeID] (@Container varchar(50))  
RETURNS tinyint AS  
BEGIN 


IF (SELECT COUNT(*)  FROM locations WHERE location=@Container)=1
RETURN 1



IF (SELECT COUNT(*)  FROM specialists WHERE specialist_name=@Container)=1
RETURN 3


RETURN 2



 
END
GO
