USE [EIM]
GO
/****** Object:  Table [dbo].[Pack_rule]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pack_rule](
	[package_id] [varchar](50) NOT NULL,
	[category_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Pack_rule] PRIMARY KEY CLUSTERED 
(
	[package_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'We have to merge various category od documents into a single bundle, those bundles will have an ID such as, PRE-AWARD,AWARD,POST-AWARD, etc..There could be four or five package' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pack_rule', @level2type=N'COLUMN',@level2name=N'package_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Every package will have 6 or more documents from the same six or nore categories. these categories id will be stored in this column.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pack_rule', @level2type=N'COLUMN',@level2name=N'category_id'
GO
