USE [EIM]
GO
/****** Object:  Table [dbo].[Grant_contacts]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grant_contacts](
	[SERIAL_NUM] [int] NOT NULL,
	[APPL_ID] [int] NULL,
	[ADMIN_PHS_ORG_CODE] [char](2) NULL,
	[SUPPORT_YEAR] [int] NULL,
	[SUFFIX_CODE] [char](4) NULL,
	[FY] [int] NULL,
	[PD_FULL_NAME] [nvarchar](62) NULL,
	[PD_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[PROG_CLASS_CODE] [nvarchar](8) NULL,
	[PI_FULL_NAME] [nvarchar](62) NULL,
	[PI_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[PI_EMAIL_ADDRESS_FOR_LETTER] [nvarchar](100) NULL,
	[RESP_SPEC_FULL_NAME_CODE] [nvarchar](62) NULL,
	[RESP_SPEC_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[RESP_NPN_ID] [int] NULL,
	[SPEC_REASSIGNED_DATE] [datetime] NULL,
	[BO_EMAIL_ADDR] [nvarchar](100) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'eLIMINATE SUPPLEMENT RECORD AS LISA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Grant_contacts', @level2type=N'COLUMN',@level2name=N'SUFFIX_CODE'
GO
