USE [EIM]
GO
/****** Object:  Table [dbo].[institutions_index]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institutions_index](
	[index_id] [int] IDENTITY(1,1) NOT NULL,
	[ins_index] [nchar](1) NOT NULL,
	[index_seq] [int] NOT NULL
) ON [PRIMARY]
GO
