USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_folders]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_folders] (@SerialNum int)

RETURNS @folders TABLE (folder_id int)


AS
BEGIN

 --  DECLARE @reports TABLE (empid nchar(5) primary key, 
  

   INSERT @folders
   SELECT folder_id from vw_folder_grants where serial_num=@SerialNum
   

RETURN
END

GO
