USE [EIM]
GO
/****** Object:  View [dbo].[vw_funding]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_funding]
AS
SELECT     dbo.vw_funding_docs.document_id, dbo.vw_funding_docs.document_date, dbo.vw_funding_docs.created_date, dbo.vw_funding_docs.created_by, dbo.vw_funding_docs.sub_string,
                      dbo.vw_funding_docs.created_by_person_id, dbo.vw_funding_docs.document_fy, dbo.vw_funding_docs.category_fy, dbo.vw_funding_docs.sub_category,
                      dbo.vw_funding_docs.stored_date, dbo.vw_funding_docs.stored_by_person_id, dbo.vw_funding_docs.category_id, dbo.vw_funding_docs.level_id, 
                      dbo.vw_funding_docs.category_name, dbo.vw_funding_docs.parent_category_name, dbo.funding_appls.appl_id, dbo.vw_funding_docs.url, 
                      dbo.vw_appls.serial_num, dbo.vw_appls.admin_phs_org_code, dbo.vw_appls.full_grant_num, dbo.vw_appls.fy, dbo.vw_appls.grant_id, 
                      dbo.vw_funding_docs.parent_id, dbo.vw_funding_docs.grand_parent_id, dbo.vw_appls.rfa_pa_number, ISNULL(dbo.grants.arra_flag, 'n') AS arra_flag, 
                      dbo.funding_appls.disabled_by_person_id, dbo.funding_appls.disabled_date
FROM         dbo.grants INNER JOIN
                      dbo.vw_appls INNER JOIN
                      dbo.vw_funding_docs INNER JOIN
                      dbo.funding_appls ON dbo.vw_funding_docs.document_id = dbo.funding_appls.document_id ON dbo.vw_appls.appl_id = dbo.funding_appls.appl_id ON
                       dbo.grants.grant_id = dbo.vw_appls.grant_id
WHERE     (dbo.funding_appls.disabled_date IS NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[29] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "grants"
            Begin Extent = 
               Top = 7
               Left = 569
               Bottom = 228
               Right = 789
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "vw_appls"
            Begin Extent = 
               Top = 0
               Left = 334
               Bottom = 247
               Right = 554
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_funding_docs"
            Begin Extent = 
               Top = 5
               Left = 4
               Bottom = 241
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "funding_appls"
            Begin Extent = 
               Top = 0
               Left = 203
               Bottom = 240
               Right = 354
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4695
         Alias = 2295
         Table = 2685
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_funding'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_funding'
GO
