USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_adsupp_OGANOTSENT_Status]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Imran Omair
-- Create date: 4/2/2015
-- Description:	<Description, ,>
--Mod 1: Added Create Notification: Failed Clause
-- =============================================
CREATE FUNCTION [dbo].[fn_adsupp_OGANOTSENT_Status]
(
	-- Add the parameters for the function here
	@NotID Int
)
RETURNS varchar(800)
AS
BEGIN
	Declare @Ststus varchar(30)
	Declare @tdt smalldatetime
	SET @tdt=null
	IF exists(select * from adsup_Notification_email_status where Notification_id=@NotID)
	Begin
    select top 1 @tdt=email_date from adsup_Notification_email_status where Notification_id=@NotID order by email_date desc
    
    If exists(select email_send_status from dbo.adsup_Notification_email_status where Notification_id=@NotID and email_date=@tdt and email_send_status='Failed') 
    	SET @Ststus=Convert(varchar(10),@tdt,101)+'[Failed]'
	else
		SET @Ststus=Convert(varchar(10),@tdt,101)+'[Success]'
	END	
	ELSE
		SET @Ststus='Create Notification: Failed'
       
	RETURN @Ststus


END

GO
