USE [EIM]
GO
/****** Object:  View [dbo].[vw_test3]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_test3]
AS
SELECT dbo.appls.appl_id
FROM  dbo.appls LEFT OUTER JOIN
               dbo.appls_ciip ON dbo.appls.appl_id = dbo.appls_ciip.APPL_ID
WHERE (dbo.appls_ciip.APPL_ID IS NULL)
GO
