USE [EIM]
GO
/****** Object:  Table [dbo].[IMPAC_DESTRUCT_OGA_EXCEPTION]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPAC_DESTRUCT_OGA_EXCEPTION](
	[Code] [varchar](20) NOT NULL,
	[Detail] [nvarchar](200) NULL,
	[created_by_person_id] [int] NULL,
	[created_date] [smalldatetime] NULL,
	[disable_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
	[Last_update_date] [smalldatetime] NULL,
	[Last_Update_by_person_id] [int] NULL,
	[Note] [nvarchar](200) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_IMPAC_DESTRUCT_OGA_EXCEPTION] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
