USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_facepage_extract]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_egrants_facepage_extract] 

@DocID int

AS



declare @s varchar(1000)
declare @p int
declare @zin varchar(100)

declare @ha varchar(3)
declare @aa varchar(3)
declare @re varchar(3)
declare @ct varchar(3)

select @s=substring(txt,1,1000) from face_pages where document_id=@DocID


-----------------------------------------------------------------------------------------------------
print 'find research exempt'
SELECT @p=PATINDEX('%exem%',@s)
SELECT @zin=substring(@s,@p+7,13)

print @zin


IF @zin like '%0%No%0%Yes%'  or @zin like '%O%No%O%Yes%' 
BEGIN

SET @re='no'

END


------------------------------------------------------------------------------------------------------
print 'find clinical trial'
SELECT @p=PATINDEX('%tria%',@s)
SELECT @zin=substring(@s,@p,100)



print @zin


IF @zin like '%0%No%0%Yes%'  or @zin like '%n%No%n%Yes%' 
BEGIN

SET @ct='no'

END

------------------------------------------------------------------------------------------------------
print 'find animal assurance'
SELECT @p=PATINDEX('%anim%',@s)
SELECT @zin=substring(@s,@p+7,13)

print @zin


IF @zin like '%0%No%o%Ye%' 
SET @aa='no'

IF  @zin like '%w%No%0%Ye%' 
SET @aa='no'

-------------------------------------------------------------------------------------------------------



select @ha as human_assurance,@aa as animal_assurance,@re as research_exempt,@ct as clinical_trial
GO
