USE [EIM]
GO
/****** Object:  Table [dbo].[egrants_access]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egrants_access](
	[access_id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[application_type] [varchar](10) NOT NULL,
	[position_id] [smallint] NOT NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
 CONSTRAINT [PK_egrants_access] PRIMARY KEY CLUSTERED 
(
	[access_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_egrants_access_person_id_application_type_position_id]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_egrants_access_person_id_application_type_position_id] ON [dbo].[egrants_access]
(
	[person_id] ASC,
	[application_type] ASC,
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[egrants_access] ADD  CONSTRAINT [DF_egrants_access_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[egrants_access]  WITH CHECK ADD  CONSTRAINT [FK_egrants_access_egrants_application_type] FOREIGN KEY([application_type])
REFERENCES [dbo].[egrants_application_type] ([application_type])
GO
ALTER TABLE [dbo].[egrants_access] CHECK CONSTRAINT [FK_egrants_access_egrants_application_type]
GO
ALTER TABLE [dbo].[egrants_access]  WITH NOCHECK ADD  CONSTRAINT [FK_egrants_access_egrants_people] FOREIGN KEY([person_id])
REFERENCES [dbo].[egrants_people] ([person_id])
GO
ALTER TABLE [dbo].[egrants_access] CHECK CONSTRAINT [FK_egrants_access_egrants_people]
GO
ALTER TABLE [dbo].[egrants_access]  WITH CHECK ADD  CONSTRAINT [FK_egrants_access_egrants_role] FOREIGN KEY([position_id])
REFERENCES [dbo].[egrants_role] ([position_id])
GO
ALTER TABLE [dbo].[egrants_access] CHECK CONSTRAINT [FK_egrants_access_egrants_role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Application_type: this defines which egrants tab has tobe made visible to a user when login. there are three or four possible values in this column. egrants, econ, contract. a person can have multiple entry for different tabs. for example if a person has bvothe egrants and econ, he will have access to both the tabs on egrants.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_access', @level2type=N'COLUMN',@level2name=N'application_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'this is fk from egrants_role.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_access', @level2type=N'COLUMN',@level2name=N'position_id'
GO
