USE [EIM]
GO
/****** Object:  Table [dbo].[documents_history]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_history](
	[document_id] [int] NOT NULL,
	[url] [varchar](200) NULL,
	[page_count] [smallint] NULL,
	[appl_id] [int] NULL,
	[stamp] [timestamp] NULL,
	[category_id] [smallint] NULL,
	[document_size] [int] NULL,
	[problem_msg] [varchar](100) NULL,
	[file_type] [varchar](5) NOT NULL,
	[profile_id] [smallint] NULL,
	[corrupted] [char](1) NULL,
	[alias] [varchar](100) NULL,
	[inventoried] [varchar](3) NULL,
	[qc_reason] [varchar](20) NULL,
	[document_date] [smalldatetime] NULL,
	[created_date] [smalldatetime] NULL,
	[modified_date] [smalldatetime] NULL,
	[added_date] [smalldatetime] NULL,
	[stored_date] [smalldatetime] NULL,
	[file_modified_date] [smalldatetime] NULL,
	[qc_date] [smalldatetime] NULL,
	[disabled_date] [smalldatetime] NULL,
	[qc_person_id] [int] NULL,
	[created_by_person_id] [int] NULL,
	[stored_by_person_id] [int] NULL,
	[index_modified_by_person_id] [int] NULL,
	[file_modified_by_person_id] [int] NULL,
	[disabled_by_person_id] [int] NULL,
	[problem_reported_by_person_id] [int] NULL,
	[nga_id] [int] NULL,
	[external_upload_id] [int] NULL,
	[mail_upload_id] [varchar](20) NULL,
	[status_id] [tinyint] NULL,
	[uid] [varchar](100) NULL,
	[aws_id] [int] NULL,
	[impp_doc_id] [int] NULL,
	[processed_date] [smalldatetime] NULL,
	[nga_rpt_seq_num] [int] NULL,
	[is_destroyed] [bit] NULL,
	[control_id] [int] NULL,
	[parent_id] [int] NULL
) ON [PRIMARY]
GO
