USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_filepart_docid]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_filepart_docid] (@f varchar(255))

  
RETURNS int AS  
BEGIN 

RETURN convert(int,   left(@f,patindex('%.%',@f)-1)    )


END




GO
