USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_Document_destruction]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
--  1/12/2013: Imran Omair
--  This pro to run once we  do the following.
--	1). Colllect ImpacII destructed grants
--	2). Remove all exceptions
--	3). Check for any Flag Anomaly, check if there is any grant that was not supposed to be there for deletion.
--	4). Run this proc this will produce list of files to bedeleted from file server
--	Next Step
--	5). File deletion process should create a list of output that could have been fed 
--	to destruction tables to change status from 3 to 4 or further.
--	Final deployment 10/16/2015 : Imran
--  cHANGES MADE : iMRAN : 6/16/2016
--=============================================
CREATE PROCEDURE [dbo].[sp_egrants_Document_destruction]

AS

BEGIN

DECLARE @cmd 		varchar(4000)
DECLARE @stmp 		varchar(50)
DECLARE @tbdcnt 	int
DECLARE @ExcCnt		int

SELECT @ExcCnt=COUNT(*) FROM IMPAC_DESTRUCTED_APPL A
WHERE (
A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'ARRA'  
			AND A.grant_id=B.grant_id  
		)	
OR A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'FDA'  
			AND A.grant_id=B.grant_id  
		)	
OR A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'C06'  
			AND A.grant_id=B.grant_id  
		)				
OR A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'KAT'  
			AND A.grant_id=B.grant_id  
		)
 )
AND A.DESTRUCT_PROCESS_STATUS_CODE=2

IF @ExcCnt <> 0 
BEGIN
	PRINT 'THERE IS AN ERROR!'
	RETURN -1
END	
ELSE
BEGIN	

Delete Imm_bkup_destruct
Insert Imm_bkup_destruct(appl_id,bkup_dt)
Select appl_id,getdate() from eim.dbo.appls where frc_destroyed=1 --138000




Update eim.dbo.appls set frc_destroyed=1 
where appl_id in (select appl_id from  IMPAC_DESTRUCTED_APPL where /*convert(varchar(10),EGRANTS_CREATED_DATE,101)='04/10/2015' AND*/ DESTRUCT_PROCESS_STATUS_CODE=2)
--2016 : 14248

---- Note : In table Temp_eGrants_destruct_command there should be many many null values for shell command and those are impacII documents or greensheet, 
----basicall tehse are links not tye actually document hosted on egrants server
---- Change the following with the correct date every year before running this. convert(varchar(10),EGRANTS_CREATED_DATE,101)=''04/10/2015''


SET @cmd='Insert Temp_eGrants_destruct_command(appl_id,shellcommand,rev_command,document_id,status)'
SET @cmd=@cmd+' Select appl_id
,''mv '' + replace(d.url,''data/'',''/egrants/'') + '' /egrants/scripts/destructed/'' as shellcommand
,''mv /egrants/scripts/destructed/''+cast(d.document_id as varchar)+''.''+d.file_type+'' ''+ replace(d.url,''data/'',''/egrants/'') as rev_command
, document_id , 1
from documents d 

where d.appl_id in (select appl_id from  IMPAC_DESTRUCTED_APPL where DESTRUCT_PROCESS_STATUS_CODE=2 )'

--convert(varchar(10),EGRANTS_CREATED_DATE,101)=''04/10/2015'' and

print @cmd

DELETE Temp_eGrants_destruct_command
EXEC (@cmd)

SET @cmd=''
SET @stmp=getdate()
SET @stmp=replace(@stmp,' ','')
SET @stmp=replace(@stmp,':','_')
SET @cmd='bcp "select shellcommand from eim..Temp_eGrants_destruct_command where shellcommand is not null order by document_id Desc " queryout \\NCIDB-P133-V\Data\util\scripts\DESTRUCTION\Document_DestructList_' +  @stmp + '.sh -c -T -S ' + @@SERVERNAME;


EXEC master..xp_cmdshell @cmd

update IMPAC_DESTRUCTED_APPL 
set DESTRUCT_PROCESS_STATUS_CODE=3
where DESTRUCT_PROCESS_STATUS_CODE=2

--PRINT 'ALL CLEAR!'
END  --IF BLOCK

END

GO
