USE [EIM]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[folder_id] [int] NULL,
	[inventory_date] [datetime] NULL
) ON [PRIMARY]
GO
