USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[Record_egrants_docload_log]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



-- =============================================
-- Author:		Imran Omair
-- Create date: 5/29/2018
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[Record_egrants_docload_log]
@PROC_NAME		VARCHAR(100),		
@RUN_DT			Datetime,			
@CATEGORY_ID	SMALLINT,			
@IMPAC_DOC_TYPE_CODE	varchar(25),		
@IMPAC_DOWNLOAD_CNT		INT,			
@EGRANTS_UPLOAD_CNT		INT,		
@COMMENT	VARCHAR(200)			
AS
SET NOCOUNT ON;
BEGIN
	INSERT eGrants_maint_docslod_log(proc_name,Run_datetime,category_id,impac_doc_type_code,Impac_download_cnt,egrants_upload_cnt,Comment,created_date)
	VALUES (@PROC_NAME,@RUN_DT,@CATEGORY_ID,@IMPAC_DOC_TYPE_CODE,@IMPAC_DOWNLOAD_CNT,@EGRANTS_UPLOAD_CNT,@COMMENT,GETDATE())

END
GO
