USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_adsupp_getemail_string]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_adsupp_getemail_string]
(
	-- Add the parameters for the function here
	@NotID Int, @mailtype char(2)
)
RETURNS varchar(800)
AS
BEGIN
	Declare @emList varchar(800)
	Set @emList=' '
	select @emList=@emList+email_address+' ;' from dbo.adsup_Notification_email_status where Notification_id=@NotID and email=@mailtype
	select @emList=SUBSTRING(@emList, 0, LEN(@emList))
	--Print @emList
	RETURN LTRIM(RTRIM(@emList))
	
--	declare @emList varchar(400)
--Set @emList=' '
--select @emList=@emList+email_address+' ;' from dbo.adsup_Notification_email_status where Notification_id=223 and email='cc'
--Print @emList
--select SUBSTRING(@emList, 0, LEN(@emList))

END

GO
