USE [EIM]
GO
/****** Object:  Table [dbo].[appls_alert]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_alert](
	[appl_id] [int] NULL,
	[add_date] [smalldatetime] NULL,
	[in_pv_grant_pi] [int] NULL,
	[in_appls_t] [int] NULL
) ON [PRIMARY]
GO
