USE [EIM]
GO
/****** Object:  Table [dbo].[pdfinfo_old]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdfinfo_old](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[page_count] [int] NULL,
	[document_id] [int] NULL,
	[cdocument_id] [int] NULL,
	[is_valid] [bit] NOT NULL,
	[is_in_main] [bit] NOT NULL,
 CONSTRAINT [PK_pdfinfo_new] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_pdfinfo_5]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_pdfinfo_5] ON [dbo].[pdfinfo_old]
(
	[file_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_pdfinfo_6]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_pdfinfo_6] ON [dbo].[pdfinfo_old]
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_pdfinfo_7]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_pdfinfo_7] ON [dbo].[pdfinfo_old]
(
	[cdocument_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pdfinfo_old] ADD  CONSTRAINT [DF_pdfinfo_is_valid]  DEFAULT (0) FOR [is_valid]
GO
ALTER TABLE [dbo].[pdfinfo_old] ADD  CONSTRAINT [DF_pdfinfo_is_in_main]  DEFAULT (0) FOR [is_in_main]
GO
