USE [EIM]
GO
/****** Object:  Table [dbo].[scripts]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scripts](
	[script] [varchar](50) NOT NULL,
	[last_run_date] [smalldatetime] NULL,
 CONSTRAINT [PK_scripts] PRIMARY KEY CLUSTERED 
(
	[script] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
