USE [EIM]
GO
/****** Object:  Table [dbo].[Missing_SS]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Missing_SS](
	[document_id] [int] NULL,
	[file_name] [varchar](100) NULL,
	[path] [varchar](200) NULL,
	[missing_yn] [char](1) NULL,
	[where_find] [varchar](200) NULL
) ON [PRIMARY]
GO
