USE [EIM]
GO
/****** Object:  View [dbo].[vw_egrants_impac_docs]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_egrants_impac_docs]
AS
SELECT appl_id, category_name, COUNT(document_id) AS doc_count
FROM  dbo.egrants
WHERE (created_by = 'impac')
GROUP BY appl_id, category_name

GO
