USE [EIM]
GO
/****** Object:  Table [dbo].[bundle_appl]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bundle_appl](
	[appl_id] [int] NULL,
	[run_date] [datetime] NULL,
	[awarded_date] [datetime] NULL,
	[package_id] [varchar](50) NULL,
	[wip_stage] [smallint] NULL,
	[stage_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date time when this record is created in this table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_appl', @level2type=N'COLUMN',@level2name=N'run_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Actual Awarded Date from ImpacII' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_appl', @level2type=N'COLUMN',@level2name=N'awarded_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table is not a lookup table, Daily a proc will collect all awarded appls into this table for bundle type, such as awarded or pre-awarded etc..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_appl', @level2type=N'COLUMN',@level2name=N'package_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'WHICH IS STAGE OF BUNDLE CREATION THIS APPL IN. EX: 1,2,3,..9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_appl', @level2type=N'COLUMN',@level2name=N'wip_stage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of wip state change' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bundle_appl', @level2type=N'COLUMN',@level2name=N'stage_date'
GO
