USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[OGA_OVERALL_WORKLOAD_short]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[OGA_OVERALL_WORKLOAD_short]
--@ACTIONFY VARCHAR(4)
AS

BEGIN
--oct through august sum .. prev yr.
--sept the prev yr
----0 as "Oct Rem"
DECLARE @SQL varchar(4000)

SET @SQL= 'select * from OPENQUERY(CIIP,''SELECT RESP_SPEC_FULL_NAME_CODE,
22 as "PY Thru Aug CNT", 22 as "PY Thru Aug Rel", 
32 as "PY Sep CNT", 25 as "PY Sep Rel", 
OCT_CNT AS "Oct Cnt", OCT_REL as "Oct Rel",  
Nov_CNT AS "Nov Cnt", NOV_REL as "Nov Rel",
Dec_CNT AS "Dec Cnt", DEC_REL as "Dec Rel",
JAN_CNT AS "Jan Cnt", JAN_REL as "Jan Rel",
FEB_CNT AS "Feb Cnt", FEB_REL as "Feb Rel",
MAR_CNT AS "Mar Cnt", MAR_REL as "Mar Rel",
APR_CNT AS "Apr Cnt", APR_REL as "Apr Rel",
MAY_CNT AS "May Cnt", MAY_REL as "May Rel",
JUN_CNT AS "Jun Cnt", JUN_REL as "Jun Rel",
JUL_CNT AS "Jul Cnt", JUL_REL as "Jul Rel",
AUG_CNT AS "Aug Cnt", AUG_REL as "Aug Rel",
SEP_CNT AS "Sep Cnt", SEP_REL as "Sep Rel", 
TOTAL_CNT AS "Total Count", TOTAL_REL as "Total Released", 
TOTL_WRKLD as "Total Workload" '

SET @SQL=@SQL + 'FROM OGA_OVERALL_WORKLOAD WHERE ACTION_FY=2014 order by RESP_SPEC_FULL_NAME_CODE'')'

--PRINT @SQL

EXEC (@SQL)

END








GO
