USE [EIM]
GO
/****** Object:  Table [dbo].[pdfinfo]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdfinfo](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [varchar](255) NULL,
	[directory] [varchar](255) NULL,
	[page_count] [smallint] NULL,
	[document_id] [int] NULL,
	[cdocument_id] [int] NULL,
	[is_in_main] [bit] NOT NULL,
	[is_corrupt] [bit] NOT NULL,
	[is_current] [bit] NOT NULL,
	[last_upd_date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_pdfinfo_new_1] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_pdfinfo_new]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_pdfinfo_new] ON [dbo].[pdfinfo]
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pdfinfo] ADD  CONSTRAINT [DF_pdfinfo_new_is_in_main]  DEFAULT (0) FOR [is_in_main]
GO
ALTER TABLE [dbo].[pdfinfo] ADD  CONSTRAINT [DF_pdfinfo_new_is_corrupt]  DEFAULT (0) FOR [is_corrupt]
GO
ALTER TABLE [dbo].[pdfinfo] ADD  CONSTRAINT [DF_pdfinfo_new_is_current]  DEFAULT (0) FOR [is_current]
GO
ALTER TABLE [dbo].[pdfinfo] ADD  CONSTRAINT [DF_pdfinfo_new_last_upd_date]  DEFAULT (getdate()) FOR [last_upd_date]
GO
