USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_getOfficersEmailForGrantNum_old_tobedeleted]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getOfficersEmailForGrantNum_old_tobedeleted] 
(	@APPLID INT = null, 
	@OffCode varchar(5) = null
)
AS
BEGIN 
	declare @OffEmailAddress  varchar(100), @SQL VARCHAR(400),@srlnum int
	SELECT @srlnum = SERIAL_NUM FROM vw_appls WHERE appl_id=@APPLID
	
	If (@APPLID is not null) AND (RTRIM(LTRIM(@OffCode)) in ('SPEC','PD','PI')) 
	BEGIN
		If @OffCode='SPEC'
			--SELECT RESP_SPEC_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD,'SELECT DISTINCT RESP_SPEC_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where APPL_ID ='+CAST(@APPLID AS VARCHAR)+'')
			--SET @SQL='SELECT RESP_SPEC_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD, '+CHAR(39)+'SELECT DISTINCT RESP_SPEC_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where APPL_ID='+CAST(@APPLID AS VARCHAR)+ CHAR(39)+')'
			SET @SQL='SELECT RESP_SPEC_EMAIL_ADDRESS FROM OPENQUERY(CIIP, '+CHAR(39)+'select RESP_SPEC_EMAIL_ADDRESS from GM_ACTION_QUEUE_VW where support_year in (SELECT Max(Support_year) FROM GM_ACTION_QUEUE_VW where serial_num ='+CAST(@srlnum AS VARCHAR)+') and serial_num='+CAST(@srlnum AS VARCHAR)+ CHAR(39)+')'
			--SET @SQL='SELECT RESP_SPEC_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD, '+CHAR(39)+'SELECT DISTINCT RESP_SPEC_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where APPL_ID='+CAST(@APPLID AS VARCHAR)+')'
		else If @OffCode='PD'
			--SELECT PD_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD,'SELECT DISTINCT PD_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where full_grant_num = ''5P30CA044579-23'' ')
			--SET @SQL='SELECT PD_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD, '+CHAR(39)+'SELECT DISTINCT PD_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where APPL_ID='+CAST(@APPLID AS VARCHAR)+ CHAR(39)+')'
			SET @SQL='SELECT PD_EMAIL_ADDRESS FROM OPENQUERY(CIIP, '+CHAR(39)+'select PD_EMAIL_ADDRESS from GM_ACTION_QUEUE_VW where support_year in (SELECT Max(Support_year) FROM GM_ACTION_QUEUE_VW where serial_num ='+CAST(@srlnum AS VARCHAR)+') and serial_num='+CAST(@srlnum AS VARCHAR)+ CHAR(39)+')'
		else If @OffCode='PI'
			--SELECT PI_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD,'SELECT DISTINCT PI_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where full_grant_num = ''5P30CA044579-23'' ')
			--SET @SQL='SELECT PI_EMAIL_ADDRESS FROM OPENQUERY(CIIP_PROD, '+CHAR(39)+'SELECT DISTINCT PI_EMAIL_ADDRESS FROM GM_ACTION_QUEUE_VW where APPL_ID='+CAST(@APPLID AS VARCHAR)+ CHAR(39)+')'
			SET @SQL='SELECT PI_EMAIL_ADDRESS FROM OPENQUERY(CIIP, '+CHAR(39)+'select PI_EMAIL_ADDRESS from GM_ACTION_QUEUE_VW where support_year in (SELECT Max(Support_year) FROM GM_ACTION_QUEUE_VW where serial_num ='+CAST(@srlnum AS VARCHAR)+') and serial_num='+CAST(@srlnum AS VARCHAR)+ CHAR(39)+')'			
		 --PRINT @SQL
		 EXEC (@SQL)
	END
END

GO
