USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_JIT]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_JIT](
	[serial_num] [int] NULL,
	[appl_id] [int] NULL,
	[doc_type_code] [varchar](10) NULL,
	[submitted_file_date] [datetime] NULL,
	[doc_version] [int] NULL
) ON [PRIMARY]
GO
