USE [EIM]
GO
/****** Object:  View [dbo].[vw_impp_docs]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[vw_impp_docs]
As
--Made changes to code TO_CHAR for d.created_date on 3/30/2013 8:22am by hareeshj for this view to function in 2008

SELECT     impp.DOC_ID, impp.APPL_ID, impp.DOC_TYPE_CODE, impp.CREATED_DATE, impp.RPT_SEQ_NUM
--FROM         OPENQUERY(IMPAC1, 'select doc_id, a.appl_id,doc_type_code,
FROM         OPENQUERY(IRDB, 'select doc_id, a.appl_id,doc_type_code,
								a.created_date,
								r.rpt_seq_num 
								from DOCS_MV d, RPT_JOBS_MV r, appls_t a 
								where d.key_id = r.RPT_SEQ_NUM 
								and r.ID = a.APPL_ID 
								and r.EVENT_STATUS_CODE =''C'' 
								and d.DOC_TYPE_CODE = ''AWS'' ')
                       impp 
						INNER JOIN dbo.appls ON impp.APPL_ID = dbo.appls.appl_id 
						LEFT OUTER JOIN dbo.documents ON impp.DOC_ID = dbo.documents.impp_doc_id
WHERE     (dbo.documents.document_id IS NULL)
GO
