USE [EIM]
GO
/****** Object:  View [dbo].[vw_test]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_test]
AS
SELECT dbo.appls.appl_id, ISNULL(impac.impac_nga_count, 0) AS impac_nga_count, ISNULL([local].local_nga_count, 0) AS local_nga_count
FROM  (SELECT appl_id, COUNT(document_id) AS local_nga_count
               FROM   egrants
               WHERE category_name IN ('NGA', 'Award File') AND impac_doc = 'n'
               GROUP BY appl_id, impac_doc) [local] RIGHT OUTER JOIN
               dbo.appls ON [local].appl_id = dbo.appls.appl_id LEFT OUTER JOIN
                   (SELECT appl_id, COUNT(document_id) AS impac_nga_count
                    FROM   egrants
                    WHERE category_name IN ('NGA', 'Award File', 'Grant File') AND impac_doc = 'y'
                    GROUP BY appl_id, impac_doc) impac ON dbo.appls.appl_id = impac.appl_id
GO
