USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_load_data_autocomplete_fy]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create PROCEDURE [dbo].[sp_web_egrants_load_data_autocomplete_fy]  

@fy				varchar(4)=null,
@mechanism		varchar(3)=null,
@admincode		varchar(2)=null,
@serialnum		varchar(10)=null,
@term           varchar(10)

/************************************************************************************************************/
/***									 																***/
/***	Procedure Name: sp_web_egrants_load_data_autocomplete-fy										***/
/***	Description:Autocomplete for fy, activitycode, admin											***/
/***	Created:	03/05/2019	Ayehualem																***/
/************************************************************************************************************/
AS

SET NOCOUNT ON

declare @sql			varchar(400)

---1,Autocomplete by @fy only
IF (@fy is not null and @fy<>'') and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +'  order by fy'
exec (@sql)
END

-----1-2, Autocomplete by @fy and @mechanism 
IF ( @fy<>'') and (@mechanism is not null and @mechanism<>'') and (@admincode is null or @admincode='') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like ' + nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and activity_code=' +char(39)+ @mechanism +char(39)+' order by fy'
exec(@sql)
END

-------1-3, Autocomplete by @fy and @admincode
IF (@fy<>'') and (@mechanism is null or @mechanism ='') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by fy'
exec(@sql)
END

-----1-4, Autocomplete by @fy and @serialnum
IF (@fy<>'') and (@mechanism is null or @mechanism ='') and (@admincode is null or @admincode='') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like  '+ nchar(39)+ convert(varchar, @term) + '%' + nchar(39) +' and serial_num=' +convert(varchar, @serialnum) +'  order by fy'
exec(@sql)
END

---1-2-3, Autocomplete by @fy,@mechanism ,@admincode 
IF (@fy <>'') and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is null or @serialnum='')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like '+ nchar(39) + convert(varchar, @term) + '%'+ nchar(39) +' and activity_code =' +char(39)+ @mechanism +char(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' order by fy'
exec(@sql)
END
  
-----1-2-4, Autocomplete by @fy, @mechanism and @serialnum
IF (@fy <>'') and (@mechanism is not null or @mechanism<>'') and (@admincode is  null or @admincode ='') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10 fy, activity_code,serial_num from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like ' +char(39)+ convert(varchar, @term) + '%'+ char(39)+' and activity_code=' +char(39)+ @mechanism +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by fy'
exec(@sql)
END


-----1-3-4, Autocomplete by @fy, @admincode and @serialnum
IF (@fy <>'') and (@mechanism is null or @mechanism='') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10 fy, activity_code,admin_phs_org_code,serial_num from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like ' +nchar(39)+ convert(varchar, @term) + '%'+ nchar(39)+' and admin_phs_org_code=' +char(39)+ @admincode +char(39)+' and serial_num=' +convert(varchar, @serialnum) +' order by fy'
exec(@sql)
END

---1-2-3-4, Autocomplete by @fy,@mechanism ,@admincode and @serialnum
IF (@fy <>'') and (@mechanism is not null and @mechanism<>'') and (@admincode is not null and @admincode<>'') and (@serialnum is not null and @serialnum<>'')	
BEGIN
SET @sql ='select distinct top 10 fy from vw_grants_construct_fy_Mechanism_Admincode_serialNum where fy like '+ nchar(39) + convert(varchar, @term) + '%'+ nchar(39) + ' and activity_code =' + char(39)+ @mechanism + char(39) +' and admin_phs_org_code=' + char(39) + @admincode + char(39) +' and serial_num=' + convert(varchar, @serialnum) +' order by fy '
exec(@sql)
END

--return SQL query
select @sql
GO
