USE [EIM]
GO
/****** Object:  View [dbo].[vw_people_backup]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_people_backup]
AS
SELECT 
	dbo.people.person_id, 
	dbo.people.person_name, 
	dbo.people.userid, 
	dbo.people.active, 
	dbo.people.profile_id, 
	dbo.people.application_type, 
	dbo.profiles.profile, 
	dbo.profiles.admin_phs_org_code, 
	dbo.people.position_id, 
	dbo.people_positions.position_name, 
	dbo.people_branches.branch_name, 
	dbo.people_teams.team_name, 
	dbo.people_teams.team_id, 
	dbo.people_branches.branch_id, 
	dbo.people_branches.branch_acronym, 
	dbo.profiles.profile AS ic, 
	dbo.people.cft, 
	dbo.people.econ, 
	dbo.people.egrants, 
	dbo.people.mgt, 
	dbo.people.admin, 
	CASE WHEN (egrants>0) THEN 'y' ELSE 'n' END AS can_egrants, 
	CASE WHEN (dbo.people.application_type = 'egrants' AND dbo.people.egrants > 0 AND.people.position_id > 1) THEN 'y' ELSE 'n' END AS can_egrants_upload,               
	CASE WHEN (cft > 0) THEN 'y' ELSE 'n' END AS can_cft, 
	CASE WHEN (mgt > 0) THEN 'y' ELSE 'n' END AS can_mgt, 
	CASE WHEN ([admin]> 0) THEN 'y' ELSE 'n' END AS can_admin, 
	CASE WHEN (docman > 0) THEN 'y' ELSE 'n' END AS can_docman, 
	CASE WHEN (econ > 0) THEN 'y' ELSE 'n' END AS can_econtracts,
	CASE WHEN (econ > 1) THEN 'y' ELSE 'n' END AS can_econ_upload,  
	dbo.fn_get_qc_days(person_id) AS qc_days, 
	dbo.people.start_date,
	dbo.people.end_date,
	dbo.people.created_by,
	dbo.people.created_date,
	dbo.people.last_updated_by,
	dbo.people.last_updated_date
FROM  
	dbo.profiles RIGHT OUTER JOIN
	dbo.people ON dbo.profiles.profile_id = dbo.people.profile_id 
	LEFT OUTER JOIN	dbo.people_positions ON dbo.people.position_id = dbo.people_positions.position_id 
	LEFT OUTER JOIN	dbo.people_branches 
	INNER JOIN dbo.people_teams ON dbo.people_branches.branch_id = dbo.people_teams.branch_id ON dbo.people.team_id = dbo.people_teams.team_id
WHERE 
	dbo.people.active = 1

GO
