USE [EIM]
GO
/****** Object:  Table [dbo].[IMPP_RPPR_MYP]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPP_RPPR_MYP](
	[APPL_ID] [int] NOT NULL,
	[received_DATE] [smalldatetime] NULL,
	[DOCTYPE] [varchar](3) NULL,
	[RPPR_DOC_ID] [int] NULL
) ON [PRIMARY]
GO
