USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_admin_appl_destructed_index]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create PROCEDURE [dbo].[sp_web_admin_appl_destructed_index]

@year					int,
@status_code			varchar(20),
@exception_code			varchar(20),
@str					varchar(20)

AS
/************************************************************************************************************/
/***									 										***/
/***	Procedure Name: sp_web_admin_appl_destructed_index						***/
/***	Description: proccess for destructed appls from IMPAC.					***/
/***	created:	Leon 4/4/2017												***/
/***	modified:	Leon 4/4/2017												***/
/************************************************************************************************************/
SET NOCOUNT ON

declare @total_pages		int
declare @total_appls		int
declare @per_page			int

IF @year is not null and (@str ='' or @str is null) and (@status_code ='' or @status_code  is null)and (@exception_code ='' or @exception_code is null)
SET @total_appls=(SELECT COUNT(*) FROM dbo.IMPAC_DESTRUCTED_APPL WHERE year(EGRANTS_CREATED_DATE)=@year)


IF @year is not null and @status_code is not null and (@str ='' or @str is null) and (@exception_code ='' or @exception_code is null)
SET @total_appls=(SELECT COUNT(*) FROM dbo.IMPAC_DESTRUCTED_APPL WHERE year(EGRANTS_CREATED_DATE)=@year and APPL_STATUS_GRP_DESCRIP=@status_code)


IF @year is not null and @exception_code is not null and (@str ='' or @str is null) and (@status_code ='' or @status_code is null)
SET @total_appls=(SELECT COUNT(*) FROM dbo.IMPAC_DESTRUCTED_APPL WHERE year(EGRANTS_CREATED_DATE)=@year and DESTRUCTION_EXCEPTION_CODE=@exception_code )

IF @year is not null and @str is not null and (@status_code ='' or @status_code  is null) and (@exception_code ='' or @exception_code is null)
SET @total_appls=(SELECT count(*)FROM dbo.IMPAC_DESTRUCTED_APPL WHERE year(EGRANTS_CREATED_DATE)=@year and FGN like '%'+@str +'%' )


--return all searching info
SET	@per_page=50
SET @total_pages =(select ceiling(convert(real,@total_appls)/@per_page))

SELECT @total_appls as total_appls,@total_pages	as total_pages, @per_page as per_page FROM performance 

GO
