USE [EIM]
GO
/****** Object:  Table [dbo].[nga_1]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nga_1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NULL,
	[appl_id] [int] NULL,
	[grant_id] [int] NULL,
	[profile_id] [int] NULL,
	[nga_id] [int] NULL,
	[rpt_seq_num] [int] NULL,
	[nga_create_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
