USE [EIM]
GO
/****** Object:  Table [dbo].[kmdc]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kmdc](
	[appl_id] [int] NOT NULL,
	[document_id] [int] NULL,
	[descr] [varchar](50) NULL,
	[corrupted] [char](1) NULL
) ON [PRIMARY]
GO
