USE [EIM]
GO
/****** Object:  Table [dbo].[appls_nigms_dups]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_nigms_dups](
	[appl_id] [int] NOT NULL,
	[grant_id] [int] NULL,
	[admin_phs_org_code] [char](2) NULL,
	[serial_num] [int] NULL,
	[appl_type_code] [char](1) NULL,
	[activity_code] [char](3) NULL,
	[support_year] [tinyint] NULL,
	[suffix_code] [varchar](4) NULL,
	[mechanism_code] [char](2) NULL,
	[exist_flag] [int] NULL
) ON [PRIMARY]
GO
