USE [EIM]
GO
/****** Object:  Table [dbo].[DB_WIDGET_ASSIGNMENT]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_WIDGET_ASSIGNMENT](
	[person_id] [int] NULL,
	[userid] [varchar](30) NULL,
	[widget_id] [int] NULL,
	[sortorder] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL
) ON [PRIMARY]
GO
