USE [EIM]
GO
/****** Object:  Table [dbo].[temp_NLM_migration]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_NLM_migration](
	[fgn] [varchar](19) NULL,
	[category] [varchar](50) NULL,
	[document_id] [int] NULL,
	[zipflnm] [varchar](200) NULL,
	[uxflnm] [varchar](200) NULL
) ON [PRIMARY]
GO
