USE [EIM]
GO
/****** Object:  Table [dbo].[temp_closeout]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_closeout](
	[grant_id] [int] NULL,
	[appl_id] [int] NULL,
	[grant_close_date] [datetime] NULL
) ON [PRIMARY]
GO
