USE [EIM]
GO
/****** Object:  Table [dbo].[appls]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls](
	[appl_id] [int] NOT NULL,
	[appl_type_code] [char](1) NOT NULL,
	[activity_code] [char](3) NOT NULL,
	[grant_id] [int] NOT NULL,
	[support_year] [tinyint] NOT NULL,
	[suffix_code] [varchar](4) NULL,
	[project_title] [varchar](200) NULL,
	[former_num] [varchar](19) NULL,
	[rfa_pa_number] [varchar](10) NULL,
	[council_meeting_date] [char](6) NULL,
	[external_org_id] [int] NULL,
	[org_name] [varchar](120) NULL,
	[person_id] [int] NULL,
	[last_name] [varchar](30) NULL,
	[first_name] [varchar](30) NULL,
	[mi_name] [varchar](30) NULL,
	[prog_class_code] [varchar](10) NULL,
	[irg_code] [varchar](4) NULL,
	[appl_status_group_descrip] [varchar](60) NULL,
	[fy] [int] NULL,
	[appl_received_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[last_upd_date] [datetime] NULL,
	[receipt_date] [datetime] NULL,
	[irg_flex_code] [char](1) NULL,
	[summary_statement_flag] [char](1) NULL,
	[ss_upd_date] [smalldatetime] NULL,
	[ss_page_count_num] [smallint] NULL,
	[fsr_accepted_code] [char](1) NULL,
	[fsr_date] [smalldatetime] NULL,
	[in_impac] [char](1) NULL,
	[in_use] [char](1) NULL,
	[loaded_date] [smalldatetime] NULL,
	[snap_questions_all_no] [varchar](3) NULL,
	[active_grant_flag] [char](1) NULL,
	[green_sheet_flag] [char](1) NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[jit_date] [smalldatetime] NULL,
	[fis_date] [smalldatetime] NULL,
	[fpr_date] [smalldatetime] NULL,
	[frc_destroyed] [bit] NULL,
	[new_appl_id] [int] NULL,
	[gms_user_id] [int] NULL,
	[cay_code] [char](2) NULL,
	[budget_period_months] [int] NULL,
	[arra_flag] [char](1) NULL,
	[fda_flag] [char](1) NULL,
	[closeout_flag] [char](1) NOT NULL,
	[pd_full_name] [nvarchar](80) NULL,
	[pd_email_address] [nvarchar](100) NULL,
	[GS_PERSON_ID] [int] NULL,
	[GS_FIRST_NAME] [nvarchar](30) NULL,
	[GS_LAST_NAME] [nvarchar](30) NULL,
	[GS_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[PI_EMAIL_ADDR] [nvarchar](100) NULL,
	[BO_EMAIL_ADDRESS] [nvarchar](100) NULL,
	[GS_FULL_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_appls_1] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_appls]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_appls] ON [dbo].[appls]
(
	[former_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_appls_1]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_appls_1] ON [dbo].[appls]
(
	[grant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_appls_2]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_appls_2] ON [dbo].[appls]
(
	[appl_type_code] ASC,
	[activity_code] ASC,
	[grant_id] ASC,
	[support_year] ASC,
	[suffix_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appls] ADD  CONSTRAINT [DF_appls_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[appls] ADD  CONSTRAINT [DF_appls_loaded_date]  DEFAULT (getdate()) FOR [loaded_date]
GO
ALTER TABLE [dbo].[appls] ADD  CONSTRAINT [DF_appls_arra_flag]  DEFAULT ('n') FOR [arra_flag]
GO
ALTER TABLE [dbo].[appls] ADD  CONSTRAINT [DF_appls_closeout_flag]  DEFAULT ('n') FOR [closeout_flag]
GO
ALTER TABLE [dbo].[appls]  WITH CHECK ADD  CONSTRAINT [CK_appls_closeout_flag] CHECK  (([closeout_flag]='n' OR [closeout_flag]='y'))
GO
ALTER TABLE [dbo].[appls] CHECK CONSTRAINT [CK_appls_closeout_flag]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FInal Invention Statement' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'appls', @level2type=N'COLUMN',@level2name=N'fis_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Final Progress Report' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'appls', @level2type=N'COLUMN',@level2name=N'fpr_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Specialist attached to appl - source in CIIP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'appls', @level2type=N'COLUMN',@level2name=N'gms_user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cancer Activity Code - CIIP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'appls', @level2type=N'COLUMN',@level2name=N'cay_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table contanis details for various "grant applications" abbreviated as appl''s with primary key being appl_id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'appls'
GO
