USE [EIM]
GO
/****** Object:  View [dbo].[vw_docs_disabled]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[vw_docs_disabled]
AS
SELECT dbo.documents.appl_id, dbo.appls.appl_type_code, dbo.appls.activity_code, dbo.appls.support_year, dbo.appls.suffix_code, dbo.appls.project_title, 
               dbo.appls.former_num, dbo.appls.rfa_pa_number, dbo.appls.council_meeting_date, dbo.appls.external_org_id, dbo.appls.org_name, 
               dbo.appls.person_id, dbo.appls.last_name, dbo.appls.first_name, dbo.appls.mi_name, dbo.appls.prog_class_code, dbo.appls.irg_code, 
               dbo.appls.appl_status_group_descrip, dbo.appls.fy, dbo.appls.created_date AS appl_created_date, dbo.appls.last_upd_date, dbo.appls.receipt_date, 
               dbo.appls.appl_received_date, dbo.grants.admin_phs_org_code, dbo.grants.serial_num, dbo.documents.url, dbo.documents.page_count, 
               dbo.documents.document_date, dbo.documents.created_date, 
               --dbo.documents.created_by, 
               dbo.documents.modified_date, 
               --dbo.documents.modified_by, 
               dbo.documents.stored_date, 
               --dbo.documents.stored_by, 
               dbo.documents.problem_msg, dbo.categories.category_name, 
               ISNULL(dbo.appls.first_name + ' ', '') + ISNULL(dbo.appls.mi_name + ' ', '') + dbo.appls.last_name AS pi_name, 
               dbo.grants.admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, dbo.grants.serial_num), 6) AS grant_num, 
               dbo.appls.appl_type_code + dbo.appls.activity_code COLLATE SQL_Latin1_General_CP1_CI_AS + dbo.grants.admin_phs_org_code + RIGHT('00000' + CONVERT(varchar,
                dbo.grants.serial_num), 6) + '-' + RIGHT('0' + CONVERT(varchar, dbo.appls.support_year), 2) + ISNULL(dbo.appls.suffix_code, '') AS full_grant_num, 
               dbo.documents.document_id, dbo.documents.document_size, dbo.appls.irg_flex_code, dbo.documents.file_type, dbo.appls.summary_statement_flag, 
               dbo.grants.grant_id, dbo.documents.profile_id, dbo.documents.added_date, 
               --dbo.documents.converted_by, 
               dbo.documents.corrupted, 
               dbo.fn_doc_descr(dbo.documents.document_id) AS description, 
               --dbo.documents.snap_questions_all_no, 
               dbo.categories.package, 
               dbo.fn_unix_file(dbo.documents.url) AS unix_file, dbo.documents.file_modified_date, 
               --dbo.documents.file_modified_by, 
               dbo.documents.inventoried, 
               --dbo.documents.problem_reported_by, 
               dbo.documents.qc_date, dbo.appls.latest_nga_date, dbo.appls.jit_date, dbo.documents.category_id, 
               dbo.documents.qc_person_id, dbo.documents.qc_reason, dbo.people.person_name AS qc_person_name, dbo.people.userid AS qc_userid, 
               dbo.documents.disabled_date 
               --,dbo.documents.disabled_by
FROM  dbo.documents LEFT OUTER JOIN
               dbo.people ON dbo.documents.qc_person_id = dbo.people.person_id LEFT OUTER JOIN
               dbo.categories ON dbo.documents.category_id = dbo.categories.category_id AND 
               dbo.documents.category_id = dbo.categories.category_id LEFT OUTER JOIN
               dbo.grants INNER JOIN
               dbo.appls ON dbo.grants.grant_id = dbo.appls.grant_id ON dbo.documents.appl_id = dbo.appls.appl_id
WHERE (dbo.documents.disabled_date IS NOT NULL)

GO
