USE [EIM]
GO
/****** Object:  Table [dbo].[egrants_audit_report]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egrants_audit_report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Report_name] [nvarchar](50) NULL,
	[File_name] [nvarchar](50) NULL,
	[Run_date] [datetime] NULL,
	[url] [nvarchar](200) NULL,
	[Unix_path] [nvarchar](100) NULL
) ON [PRIMARY]
GO
