USE [EIM]
GO
/****** Object:  View [dbo].[vw_impp_fsrs_latest]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_impp_fsrs_latest]
AS

SELECT * FROM impp_fsrs_all
WHERE appl_id in (SELECT appl_id FROM impp_fsrs_all GROUP BY appl_id HAVING COUNT(appl_id)=1)
UNION
SELECT * FROM impp_fsrs_all
WHERE fsr_id IN(SELECT MAX(fsr_id) FROM impp_fsrs_all GROUP BY appl_id HAVING COUNT(appl_id)>1)













GO
