USE [EIM]
GO
/****** Object:  Table [dbo].[queries]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[queries](
	[query_id] [int] IDENTITY(1,1) NOT NULL,
	[query_date] [datetime] NULL,
	[execution_time] [int] NULL,
	[search_id] [int] NULL,
	[page] [smallint] NULL,
	[searched_by] [varchar](50) NULL,
	[ic] [varchar](5) NULL,
	[browser_type] [varchar](20) NULL,
 CONSTRAINT [PK_queries] PRIMARY KEY CLUSTERED 
(
	[query_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[queries] ADD  CONSTRAINT [DF_queries_query_date]  DEFAULT (getdate()) FOR [query_date]
GO
