USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_appl_frc_destroyed]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fn_appl_frc_destroyed]  (@appl_id int)  

RETURNS int	AS  

BEGIN 

DECLARE @frc_destroyed  int

SET @frc_destroyed =(SELECT frc_destroyed from vw_appls where appl_id=@appl_id)

RETURN @frc_destroyed

END
GO
