USE [EIM]
GO
/****** Object:  Table [dbo].[people_backup_12022016]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_backup_12022016](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[person_name] [varchar](100) NULL,
	[userid] [varchar](50) NULL,
	[profile_id] [smallint] NULL,
	[position_id] [smallint] NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[application_type] [varchar](10) NULL,
	[team_id] [int] NULL,
	[cft] [int] NULL,
	[econ] [int] NULL,
	[gft] [int] NULL,
	[mgt] [int] NULL,
	[egrants] [int] NULL,
	[admin] [int] NULL,
	[docman] [int] NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[last_updated_by] [int] NULL,
	[last_updated_date] [datetime] NULL,
 CONSTRAINT [PK_users_1] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_position_id]  DEFAULT ((1)) FOR [position_id]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_application_type]  DEFAULT ('egrants') FOR [application_type]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_team_id]  DEFAULT ((0)) FOR [team_id]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_cft]  DEFAULT ((0)) FOR [cft]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_econ]  DEFAULT ((0)) FOR [econ]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_gft]  DEFAULT ((0)) FOR [gft]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_mgt]  DEFAULT ((0)) FOR [mgt]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_egrants]  DEFAULT ((0)) FOR [egrants]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_admin]  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[people_backup_12022016] ADD  CONSTRAINT [DF_people_backup_12022016_Created_date]  DEFAULT (getdate()) FOR [created_date]
GO
