USE [EIM]
GO
/****** Object:  Table [dbo].[nga_2]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nga_2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rpt_seq_num] [int] NULL
) ON [PRIMARY]
GO
