USE [EIM]
GO
/****** Object:  Table [dbo].[boxes]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boxes](
	[box_id] [int] IDENTITY(5000,1) NOT NULL,
	[accession_id] [int] NOT NULL,
	[box_number] [int] NOT NULL,
	[container_type_id] [tinyint] NOT NULL,
	[box_id_old] [int] NULL,
 CONSTRAINT [PK_boxes] PRIMARY KEY CLUSTERED 
(
	[box_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_boxes]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_boxes] ON [dbo].[boxes]
(
	[accession_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[boxes] ADD  CONSTRAINT [DF_boxes_container_type_id]  DEFAULT (2) FOR [container_type_id]
GO
ALTER TABLE [dbo].[boxes]  WITH CHECK ADD  CONSTRAINT [FK_boxes_accessions1] FOREIGN KEY([accession_id])
REFERENCES [dbo].[accessions] ([accession_id])
GO
ALTER TABLE [dbo].[boxes] CHECK CONSTRAINT [FK_boxes_accessions1]
GO
