USE [EIM]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[location_id] [smallint] IDENTITY(62,1) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[profile_id] [smallint] NULL,
	[container_type_id] [tinyint] NOT NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[locations] ADD  CONSTRAINT [DF_locations_container_type_id]  DEFAULT (1) FOR [container_type_id]
GO
