USE [EIM]
GO
/****** Object:  Table [dbo].[egrants_role]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egrants_role](
	[position_id] [smallint] NOT NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_egrants_role] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'In general there are four types of roles are allowed in egrants. browser, updater(limited udate role), everything access and update, and developer or support role.
1: Browse only, 2:Specialist or limited update role, 3:everything,  8: Developer role. If a user has 8 this means he has no restriction of profile id. Example If a user has profile NCI and has a role 8 it means he can access all profile egrants with role 3 (means he can do everything)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_role', @level2type=N'COLUMN',@level2name=N'position_id'
GO
