USE [EIM]
GO
/****** Object:  View [dbo].[vw_appls_used]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_appls_used]
AS
--SELECT DISTINCT appl_id
--FROM  dbo.documents where appl_id is not null

--10/20/2017:Imran: refer to CM-111

--SELECT DISTINCT appl_id
--FROM  dbo.documents where appl_id is not null
--and appl_id not in (select appl_id from appls where frc_destroyed is not null)--2,376839

--10/20/2017 : Imran bring back the original

SELECT DISTINCT appl_id
FROM  dbo.documents where appl_id is not null

GO
