USE [EIM]
GO
/****** Object:  Table [dbo].[xmlfiles]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xmlfiles](
	[file_id] [smallint] IDENTITY(1,1) NOT NULL,
	[path] [varchar](500) NULL,
	[xml] [text] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_xmlfiles] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
