USE [EIM]
GO
/****** Object:  Table [dbo].[terms]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[terms](
	[term] [varchar](50) NOT NULL,
	[keywords] [varchar](150) NULL,
 CONSTRAINT [PK_terms] PRIMARY KEY CLUSTERED 
(
	[term] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
