USE [EIM]
GO
/****** Object:  Table [dbo].[IMPAC_DESTRUCTED_APPL_bkup]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPAC_DESTRUCTED_APPL_bkup](
	[APPL_ID] [int] NOT NULL,
	[IRDB_LAST_UPD_DATE] [smalldatetime] NULL,
	[EGRANTS_CREATED_DATE] [smalldatetime] NULL,
	[DESTRUCT_APPROVED_BY] [varchar](20) NULL,
	[DESTRUCT_APPROVED_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_BY] [varchar](20) NULL,
	[GRANT_ID] [nchar](10) NULL,
	[FGN] [varchar](19) NULL,
	[APPL_STATUS_GRP_DESCRIP] [varchar](60) NULL,
	[DESTRUCT_PROCESS_STATUS_CODE] [int] NULL,
	[DESTRUCTION_EXCEPTION_CODE] [varchar](20) NULL,
	[CAY_CODE] [char](2) NULL,
 CONSTRAINT [PK_IMPAC_DESTRUCTED_APPL_bkup] PRIMARY KEY CLUSTERED 
(
	[APPL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
