USE [EIM]
GO
/****** Object:  Table [dbo].[IMPAC_DESTRUCTION_EXCLUSION]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPAC_DESTRUCTION_EXCLUSION](
	[appl_id] [int] NOT NULL,
	[creator_id] [nchar](20) NULL,
	[created_date] [smalldatetime] NULL,
	[fgn] [varchar](19) NULL,
	[exclusion_reason] [nvarchar](50) NULL
) ON [PRIMARY]
GO
