USE [EIM]
GO
/****** Object:  Table [dbo].[funding_appls]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funding_appls](
	[document_id] [int] NOT NULL,
	[appl_id] [int] NOT NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
 CONSTRAINT [PK_funding_appls] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC,
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Idx_funding]    Script Date: 8/27/2019 5:06:03 PM ******/
CREATE NONCLUSTERED INDEX [Idx_funding] ON [dbo].[funding_appls]
(
	[disabled_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
