USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_personid]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_get_personid] (@person_name varchar(100))
  
RETURNS int AS  

BEGIN 
RETURN 
(
select person_id from eim.dbo.people where userid=@person_name
)


END
GO
