USE [EIM]
GO
/****** Object:  View [dbo].[vw_appls_used_byappl]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*This view returns appls that are used in egrants and that are in the same grant as the appl_id_check
*/
CREATE VIEW [dbo].[vw_appls_used_byappl]
AS
SELECT DISTINCT dbo.egrants.appl_id, dbo.appls.appl_id AS appl_id_check
FROM  dbo.egrants INNER JOIN
               dbo.appls ON dbo.egrants.grant_id = dbo.appls.grant_id
GO
