USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_totals]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_egrants_totals]

@SID int,
@str varchar(500)

AS

declare @GrantCount int
declare @ApplCount int
declare @DocCount int
declare @PageCount int

declare @fGrantCount int
declare @fApplCount int
declare @fDocCount int
declare @fPageCount int

SET @str=dbo.fn_str(@str)

SELECT
@GrantCount=count(distinct grant_id),
@ApplCount= count(distinct appl_id),
@DocCount= count(*),
@PageCount=sum(page_count)
FROM
CONTAINSTABLE(ncieim_b..documents_text,keywords,@str) c, egrants e
WHERE e.document_id=c.[key]

SELECT
@fGrantCount=count(distinct grant_id),
@fApplCount= count(distinct appl_id),
@fDocCount= count(*),
@fPageCount=sum(page_count)
FROM
CONTAINSTABLE(ncieim_b..documents_text,txt,@str) c, egrants e
WHERE e.document_id=c.[key]

UPDATE searches 
SET
grant_total=@GrantCount,
appl_total=@ApplCount,
doc_total=@DocCount,
page_total=@PageCount,

grant_total_full=@fGrantCount,
appl_total_full=@fApplCount,
doc_total_full=@fDocCount,
page_total_full=@fPageCount

WHERE search_id=@SID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Author: Imran Omair 
Description: This proc calculates and store grant,appl,doc,page count for the keywords and the fulltext into searches table.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'sp_egrants_totals'
GO
