USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_org_doc_count]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[fn_get_org_doc_count] (@org_id int)
  
RETURNS int AS 

BEGIN 
RETURN 
(
select count(*) from dbo.Org_document where org_id=@org_id and disabled_date is null
)

END


GO
