USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_org_max_end_date]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_get_org_max_end_date] (@org_id int)
  
RETURNS smalldatetime

BEGIN 

RETURN 
(
SELECT MAX(end_date)
FROM vw_Org_Document 
WHERE org_id = @org_id and tobe_flagged=1 ---and end_date > GETDATE()
GROUP BY category_id
)

END
GO
