USE [EIM]
GO
/****** Object:  Table [dbo].[cord_manager_messaging]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cord_manager_messaging](
	[cordmanager_id] [int] NULL,
	[emailSend_date] [smalldatetime] NULL,
	[from_name] [varchar](100) NULL,
	[to_name] [varchar](100) NULL,
	[Subject] [varchar](200) NULL,
	[email_template_id] [int] NULL,
	[email_content] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cord_manager_messaging]  WITH CHECK ADD  CONSTRAINT [FK_cord_manager_messaging_Cord_manager] FOREIGN KEY([cordmanager_id])
REFERENCES [dbo].[cord_manager] ([id])
GO
ALTER TABLE [dbo].[cord_manager_messaging] CHECK CONSTRAINT [FK_cord_manager_messaging_Cord_manager]
GO
