USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_filepart_page]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_filepart_page] (@f varchar(255))

  
RETURNS int AS  
BEGIN 

declare @S varchar(100)

set @s=right (@f,len(@f)-patindex('%-%',@f) ) --just for show get the left side of the file name to extract the page number
RETURN convert(int, left(@s,len(@s)-4) )


END


GO
