USE [EIM]
GO
/****** Object:  Table [dbo].[DB_REMINDER]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_REMINDER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_type] [varchar](10) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[appl_id] [int] NOT NULL,
	[effective_date] [datetime] NOT NULL,
	[Txt] [ntext] NOT NULL,
	[to_be_emailed] [char](1) NOT NULL,
	[to_be_displayed] [char](1) NOT NULL,
	[emailed_date] [datetime] NULL,
	[displayed_date] [datetime] NULL,
	[created_date] [datetime] NOT NULL,
	[disabled_date] [datetime] NULL,
	[created_by_person_id] [int] NOT NULL,
	[disabled_by_person_id] [int] NULL,
 CONSTRAINT [PK_DB_REMINDER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DB_REMINDER]  WITH CHECK ADD  CONSTRAINT [FK_DB_REMINDER_DB_REMINDER] FOREIGN KEY([id])
REFERENCES [dbo].[DB_REMINDER] ([id])
GO
ALTER TABLE [dbo].[DB_REMINDER] CHECK CONSTRAINT [FK_DB_REMINDER_DB_REMINDER]
GO
