USE [EIM]
GO
/****** Object:  Table [dbo].[email_process_log]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_process_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folder_path] [nvarchar](200) NOT NULL,
	[log_dt] [datetime] NOT NULL,
	[msg] [varchar](100) NULL,
 CONSTRAINT [PK_email_process_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
