USE [EIM]
GO
/****** Object:  Table [dbo].[GreenSheet_data]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GreenSheet_data](
	[appl_id] [int] NULL,
	[spec_form_submitted_date] [datetime] NULL,
	[spec_form_status] [nvarchar](50) NULL,
	[pgm_form_submitted_date] [datetime] NULL,
	[pgm_form_status] [nvarchar](50) NULL,
	[appl_type_code] [char](1) NULL
) ON [PRIMARY]
GO
