USE [EIM]
GO
/****** Object:  View [dbo].[vw_temp2]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_temp2]
AS
SELECT     dbo.vw_appls.appl_id, dbo.vw_appls.grant_id AS old_grant_id, dbo.grants.grant_id AS new_grant_id
FROM         dbo.temp2 INNER JOIN
                      dbo.grants INNER JOIN
                      dbo.impp_mech_codes ON 
                      dbo.grants.mechanism_code COLLATE SQL_Latin1_General_CP1_CI_AS = dbo.impp_mech_codes.MECHANISM_CODE INNER JOIN
                      dbo.vw_appls ON dbo.impp_mech_codes.APPL_ID = dbo.vw_appls.appl_id AND 
                      dbo.grants.admin_phs_org_code = dbo.vw_appls.admin_phs_org_code AND dbo.grants.serial_num = dbo.vw_appls.serial_num ON 
                      dbo.temp2.appl_id = dbo.vw_appls.appl_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1 [56] 4 [18] 2))"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "grants"
            Begin Extent = 
               Top = 0
               Left = 701
               Bottom = 198
               Right = 921
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "impp_mech_codes"
            Begin Extent = 
               Top = 136
               Left = 57
               Bottom = 214
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_appls"
            Begin Extent = 
               Top = 0
               Left = 340
               Bottom = 217
               Right = 560
            End
            DisplayFlags = 280
            TopColumn = 38
         End
         Begin Table = "temp2"
            Begin Extent = 
               Top = 0
               Left = 51
               Bottom = 63
               Right = 202
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      RowHeights = 220
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1995
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_temp2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_temp2'
GO
