USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_ic_coordinator]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create PROCEDURE [dbo].[sp_web_egrants_ic_coordinator]

@act				varchar(50),
@cord_id			int,
@request_user_id	int,
@first_name			nvarchar(50),
@middle_name		nvarchar(20),
@last_name			nvarchar(50),
@login_id			nvarchar(20),
@email_address		varchar(100),
@phone_number		varchar(10),
@division			varchar(20),
@access_type		varchar(12),
@start_date			varchar(12),--@start_date		smalldatetime,
@end_date			varchar(12),--@end_date			smalldatetime,
@comments			nvarchar(200),
@ic					varchar(10),
@operator			varchar(50)

AS
/************************************************************************************************************/
/***									 							***/
/***	Procedure Name: sp_web_ic_coordinator						***/
/***	Description:for ic_coord create new request or review		***/
/***	Created:	05/24/2014	Leon								***/
/***	Modified:	05/24/2014	Leon								***/
/***	Modified:	05/26/2014	Leon								***/
/***	Modified:	10/14/2016	Leon to modify for MVC				***/
/************************************************************************************************************/
SET NOCOUNT ON

DECLARE
@profile_id			smallint,
@person_id			int,
@totalusers			int,
@url 				varchar(800),
@sql				varchar(850),
@count				int

---find user info
SET @person_id=(SELECT person_id FROM people WHERE userid=@Operator)

IF @middle_name='' or @middle_name='null' or @middle_name is null SET @middle_name=null
IF @comments='' or @comments='null' or @comments is null SET @comments=null

IF @act='default' GOTO to_default
IF @act='review' and @cord_id>0 GOTO to_review
IF @act='review' and @cord_id=0 GOTO review_all
IF @act='request' or @act='edit' GOTO to_request
IF @act='create' GOTO to_create
IF @act='delete' GOTO to_delete
IF @act='update' GOTO to_update
--IF @act='add' GOTO head
-------------------
to_update:

SET @sql='update dbo.cord_manager set date_LastAccess='+char(39)+convert(varchar,GETDATE(),101)+char(39)+','
IF @first_name is not null and @first_name<>'' SET @sql= @sql+ 'user_fname='+char(39)+@first_name+char(39)+','
IF @last_name is not null and @last_name<>'' SET @sql= @sql + 'user_lname='+char(39)+@last_name+char(39)+','
IF @login_id is not null and @login_id<>'' SET @sql=@sql+'user_login='+char(39)+@login_id+char(39)+ ','
IF @division is not null and @division<>'' SET @sql=@sql+'division='+char(39)+@division+char(39)+','
IF @access_type is not null and @access_type<>'' SET @sql=@sql+ 'access_Type='+char(39)+@access_type+char(39)+','
IF @email_address is not null and @email_address<>'' SET @sql=@sql +'email='+char(39)+@email_address+char(39)+','
IF @phone_number is not null and @phone_number<>'' SET @sql=@sql +'phone_number='+char(39)+@phone_number+char(39)+','
IF @end_date is not null and @end_date<>'null' SET @sql=@sql +'end_date='+char(39)+@end_date+char(39)+','
IF @start_date is not null and @start_date<>'' SET @sql=@sql +'start_date='+char(39)+Convert(varchar,@start_date,101)+char(39)
SET @sql=@sql+ ' where id='+ CONVERT(varchar,@request_user_id)

EXEC(@sql)

IF @middle_name <>'' and @middle_name is not null UPDATE cord_manager SET user_mi=@middle_name WHERE id=@request_user_id
ELSE UPDATE cord_manager SET user_mi=null WHERE id=@request_user_id

IF @end_date<>'' and @end_date is not null UPDATE cord_manager SET end_date=@end_date WHERE id=@request_user_id
ELSE UPDATE cord_manager SET end_date=null WHERE id=@request_user_id

IF @comments<>'' and @comments is not null UPDATE cord_manager SET comments=@comments WHERE id=@request_user_id
ELSE UPDATE cord_manager SET comments=null WHERE id=@request_user_id


RETURN
------------------
to_delete:

UPDATE dbo.cord_manager SET disabled_date=getdate(), date_LastAccess=getdate() WHERE id=@request_user_id

return
------
to_default:

---load requested user list by person_id
SELECT 
id,
user_fname as first_name,
user_mi as middle_name,
user_lname as last_name,
user_login as userid, 
UPPER(division) as division, 
UPPER([status]) as [status],
access_type,
email as email_address,
phone_number,
comments,
@person_id as review_by_person_id,
person_id as created_by_person_id,
convert(varchar,[start_date],101)as [start_date],
convert(varchar,end_date,101) as end_date, 
convert(varchar,[status_date],101)as [status_date],
convert(varchar,date_Requested,101)as requested_date,
convert(varchar,date_LastAccess,101) as lastaccess_date, 
dbo.fn_get_person_name(cord_id) as coordinator_name, 
cord_id as coordinator_id 
FROM dbo.cord_manager a
WHERE cord_id=@person_id and [status]<>'approved' and disabled_date is null
ORDER BY date_Requested DESC

RETURN
----------------
to_review:

---load requested user list by @cord_id
SELECT 
id,
user_fname as first_name,
user_mi as middle_name,
user_lname as last_name,
user_login as userid, 
UPPER(division) as division, 
UPPER([status]) as [status],
access_type,
email as email_address,
phone_number,
comments,
@person_id as review_by_person_id,
person_id as created_by_person_id,
convert(varchar,[start_date],101)as [start_date],
convert(varchar,[status_date],101)as [status_date],
convert(varchar,end_date,101) as end_date, 
convert(varchar,date_Requested,101)as requested_date,
convert(varchar,date_LastAccess,101) as lastaccess_date, 
dbo.fn_get_person_name(cord_id) as coordinator_name, 
cord_id as coordinator_id 
FROM dbo.cord_manager a
WHERE cord_id=@cord_id
ORDER BY date_Requested DESC

RETURN
---------------
review_all:

---load all requested user list 
SELECT 
id,
user_fname as first_name,
user_mi as middle_name,
user_lname as last_name,
user_login as userid, 
UPPER(division) as division, 
UPPER([status]) as [status],
access_type,
email as email_address,
phone_number,
comments,
@person_id as review_by_person_id,
person_id as created_by_person_id,
convert(varchar,[start_date],101)as [start_date],
convert(varchar,end_date,101) as end_date, 
convert(varchar,[status_date],101)as [status_date],
convert(varchar,date_Requested,101)as requested_date,
convert(varchar,date_LastAccess,101) as lastaccess_date, 
dbo.fn_get_person_name(cord_id) as coordinator_name, 
cord_id as coordinator_id 
FROM dbo.cord_manager  
WHERE [status]<>'approved' and disabled_date is null
ORDER BY date_Requested DESC

RETURN
----------------
to_request:

SELECT 
id,
user_fname as first_name,
user_mi as middle_name,
user_lname as last_name,
user_login as userid,
UPPER(division) as division,
[status],
access_type,
cord_id,
comments,
@person_id as review_by_person_id,
person_id as created_by_person_id,
convert(varchar,status_date,101) as status_date, 
convert(varchar,date_LastAccess,101) as lastaccess_date,
email as email_address,
phone_number,
convert(varchar,date_Requested,101) as requested_date, 
convert(varchar,[start_date],101) as [start_date],
convert(varchar,end_date,101) as end_date, 
dbo.fn_get_person_name(cord_id) as coordinator_name, 
cord_id as coordinator_id 
FROM dbo.cord_manager 
WHERE id=@request_user_id

RETURN
--------------
to_create:

insert cord_manager (user_fname,user_mi,user_lname,user_login,email,phone_number,division,access_Type,[status],status_date,date_LastAccess,date_Requested,person_id,cord_id,[start_date],comments )
select @first_name,ISNULL(@middle_name,null),@last_name,@login_id,@email_address,@phone_number,ISNULL(@division,null),@access_type,'new',
ISNULL(CONVERT(smalldatetime,@start_date),GETDATE()),GETDATE(),GETDATE(),@person_id,@person_id,@start_date,ISNULL(@comments,null)

SET @request_user_id=@@IDENTITY
IF @end_date<>'' and @end_date is not null UPDATE cord_manager SET end_date=@end_date WHERE id=@request_user_id

RETURN

GO
