USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[DB_WIDGET_AVGTIME]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[DB_WIDGET_AVGTIME]
@USERID VARCHAR(30)
AS
BEGIN
--SET @USERID='BIRKENJG'
IF @USERID <> '' 
BEGIN
SELECT AA.USERID,ALLOWED_RELEASE_DAYS, AVG(RELEASED_IN_DAYS) AS AVG_DAYSTAKEN,COUNT(*) AS GRANT_COUNT FROM (
	SELECT USERID,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		WHEN 1 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		WHEN 2 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		ELSE
			DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
	END AS RELEASED_IN_DAYS,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN 'TYPE 5'
		WHEN 1 THEN 'TYPE 1,2'
		WHEN 2 THEN 'TYPE 1,2'
		ELSE
			'OTHERS'
	END AS ALLOWED_RELEASE_DAYS
	
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE USERID=@USERID  AND action_type='AWARD' AND GRANT_ASSIGN_DATE IS NOT NULL  AND STATUS_CODE='CLOSED') AA 
	
GROUP BY AA.USERID,AA.ALLOWED_RELEASE_DAYS
ORDER BY AA.USERID,AA.ALLOWED_RELEASE_DAYS
END
ELSE IF @USERID = ''
BEGIN
SELECT AA.USERID,ALLOWED_RELEASE_DAYS, AVG(RELEASED_IN_DAYS) AS AVG_DAYSTAKEN,COUNT(*) AS GRANT_COUNT FROM (
	SELECT USERID,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		WHEN 1 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		WHEN 2 THEN DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
		ELSE
			DATEDIFF(day,GRANT_ASSIGN_DATE,RELEASE_DATE)
	END AS RELEASED_IN_DAYS,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN 'TYPE 5'
		WHEN 1 THEN 'TYPE 1,2'
		WHEN 2 THEN 'TYPE 1,2'
		ELSE
			'OTHERS'
	END AS ALLOWED_RELEASE_DAYS
	
	from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE action_type='AWARD' AND GRANT_ASSIGN_DATE IS NOT NULL  AND STATUS_CODE='CLOSED') AA 
	
GROUP BY AA.USERID,AA.ALLOWED_RELEASE_DAYS
ORDER BY AA.USERID,AA.ALLOWED_RELEASE_DAYS
END
END



GO
