USE [EIM]
GO
/****** Object:  Table [dbo].[DESTRUCTION_PROCESS_STATUS_DETAIL]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTRUCTION_PROCESS_STATUS_DETAIL](
	[DESTRUCT_PROCESS_STATUS_CODE] [int] NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_DESTRUCTION_PROCESS_STATUS_DETAIL] PRIMARY KEY CLUSTERED 
(
	[DESTRUCT_PROCESS_STATUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
