USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[OGA_OVERALL_WORKLOAD_EXPANDED_TEAM]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[OGA_OVERALL_WORKLOAD_EXPANDED_TEAM]
--@ACTIONFY VARCHAR(4)
AS

BEGIN

DECLARE @SQL varchar(4000)
declare @FY varchar(4)
declare @PY varchar(4)

set @FY= '2014'
set @PY = '2013'
select * from OPENQUERY(CIIP,'SELECT CY.RESP_SPEC_FULL_NAME_CODE,
PY.OCT_CNT+PY.Nov_CNT+PY.Dec_CNT+PY.JAN_CNT+PY.FEB_CNT+PY.MAR_CNT+PY.APR_CNT+PY.MAY_CNT+PY.JUN_CNT+PY.JUL_CNT+PY.AUG_CNT as "py thru Aug Cnt", 
PY.OCT_REL+PY.NOV_REL+PY.DEC_REL+PY.JAN_REL+PY.FEB_REL+PY.MAR_REL+PY.APR_REL+PY.MAY_REL+PY.JUN_REL+PY.JUL_REL+PY.AUG_REL as "py thru Aug Rel", 
PY.SEP_CNT as "py Sep Cnt", 
Py.SEP_REL as "py Sep Rel", 
CY.OCT_CNT as "Oct Cnt", 
CY.OCT_REL as "Oct Rel", 
CY.Nov_CNT as "Nov Cnt", 
CY.NOV_REL as "Nov Rel",
CY.Dec_CNT as "Dec Cnt", 
CY.DEC_REL as "Dec Rel",
CY.JAN_CNT as "Jan Cnt", 
CY.JAN_REL as "Jan Rel",
CY.FEB_CNT as "Feb Cnt", 
CY.FEB_REL as "Feb Rel",
CY.MAR_CNT as "Mar Cnt", 
CY.MAR_REL as "Mar Rel",
CY.APR_CNT as "Apr Cnt", 
CY.APR_REL as "Apr Rel",
CY.MAY_CNT as "May Cnt", 
CY.MAY_REL as "May Rel",
CY.JUN_CNT as "Jun Cnt", 
CY.JUN_REL as "Jun Rel",
CY.JUL_CNT as "Jul Cnt", 
CY.JUL_REL as "Jul Rel",
CY.AUG_CNT as "Aug Cnt", 
CY.AUG_REL as "Aug Rel",
CY.SEP_CNT as "Sep Cnt", 
CY.SEP_REL as "Sep Rel",
CY.TOTAL_CNT as "Total Cnt", 
CY.TOTAL_REL as "Total Rel",
CY.TOTL_WRKLD as "Total Workload",
CY.RESP_SPEC_ROLE_USAGE_CODE as specialist_code,CY.BRANCH_NUM,CY.TEAM_NUM
FROM OGA_OVERALL_WORKLOAD CY, OGA_OVERALL_WORKLOAD_2013 PY 
WHERE CY.RESP_SPEC_FULL_NAME_CODE = PY.RESP_SPEC_FULL_NAME_CODE(+)
order by CY.BRANCH_NUM,CY.TEAM_NUM,CY.RESP_SPEC_FULL_NAME_CODE')
--CY.BRANCH_NUM,CY.TEAM_NUM,
--PRINT @SQL

EXEC (@SQL)

END
GO
