USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_notification_history]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_notification_history](
	[id] [int] NULL,
	[appl_id] [int] NOT NULL,
	[pa] [varchar](10) NULL,
	[subjectLine] [varchar](200) NULL,
	[NotificationBody] [varchar](2000) NULL,
	[NotRcvd_dt] [datetime] NULL,
	[Full_grant_num] [varchar](20) NULL,
	[Created_by] [int] NULL,
	[Created_date] [datetime] NULL,
	[Last_updated_by] [int] NULL,
	[Last_updated_date] [datetime] NULL,
	[Action] [nchar](10) NOT NULL,
	[Trigger_table] [nchar](1) NOT NULL,
	[Record_modified_on] [datetime] NOT NULL,
	[SCOPE_IDENTIFIER] [varchar](50) NULL
) ON [PRIMARY]
GO
