USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_egrants_load_category_list]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[sp_web_egrants_load_category_list]

@grant_id		int,
@years 			varchar(800)

AS
/************************************************************************************************************/
/***									 										***/
/***	Procedure Name:sp_egrants_load_category_list							***/
/***	Description:searching data for egrants head								***/
/***	Created:	02/01/2014	Leon											***/
/***	Modified:	02/01/2014	Leon											***/
/***	Modified:	04/25/2014	Leon											***/
/************************************************************************************************************/
SET NOCOUNT ON

create table #sy (id int IDENTITY (1, 1) NOT NULL, appl_id int, support_year int)
declare @max_year int
declare @min_year int
declare @sql	  varchar(800)

--return all category id
if (@years is null or @years='' or @years='All' or @years='all')
begin
--print 'test-1'
set @sql='select distinct category_id, category_name from egrants where grant_id='+convert(varchar,@grant_id)+' order by category_name'
end

---select category id list by appl_id list
if (@years is not null and @years<>'all' and  @years<>'All' and @years<>'' and len(@years)>2) 
begin
--print 'test-2'
set @sql='select distinct category_id, category_name from egrants where grant_id=' + convert(varchar,@grant_id)+' and appl_id in('+@years+') order by category_name'
end

---select category id list by latest @years
if (@years is not null and @years<>'all' and  @years<>'All' and @years<>'' and len(@years)<=2)  ---ISNUMERIC(convert(int, @years))=1
begin

--print 'test-3'
--set @sql=
--'select distinct category_id, category_name from egrants where appl_id in ('+
--' select appl_id from vw_appls where grant_id=' + convert(varchar,@grant_id)+' and support_year in ('+
--' select top ' + @years + ' support_year from vw_appls where doc_count>=1 and grant_id='+ convert(varchar,@grant_id)+' order by support_year desc)) order by category_name'

insert #sy(appl_id, support_year) 
select distinct appl_id, support_year 
from vw_appls where grant_id=@grant_id and doc_count>0 
order by support_year desc

set @max_year=(select support_year from #sy where id=1) 
set @min_year=@max_year-@years

set @sql=
'select distinct category_id, category_name from egrants where appl_id in ('+
' select appl_id from #sy where support_year >'+ convert(varchar, @min_year) + ') order by category_name'
end

exec(@sql)

GO
