USE [EIM]
GO
/****** Object:  Table [dbo].[folder_appls_IMPORTANT_ADD]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folder_appls_IMPORTANT_ADD](
	[folder_id] [int] NOT NULL,
	[appl_id] [int] NOT NULL
) ON [PRIMARY]
GO
