USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_pi_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_grant_pi_name] (@GrantID int)
  
RETURNS varchar(100) AS  


BEGIN 


RETURN 
(
SELECT pi_name from vw_appls where appl_id=
(select max(appl_id) from appls where grant_id=@GrantID)
)


END


GO
