USE [EIM]
GO
/****** Object:  Table [dbo].[Org_Master]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Org_Master](
	[org_id] [int] IDENTITY(1,1) NOT NULL,
	[Org_name] [varchar](200) NOT NULL,
	[ImpacII_orgid] [int] NULL,
	[index_id] [int] NULL,
	[created_date] [smalldatetime] NULL,
 CONSTRAINT [PK_Org_Master] PRIMARY KEY CLUSTERED 
(
	[org_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Org_Master] ADD  CONSTRAINT [DF_Org_Master_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
