USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_appl_fsr_count]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [dbo].[fn_appl_fsr_count]  (@appl_id int)  
RETURNS int

AS  
BEGIN 

DECLARE @fsr_count	int

SELECT @fsr_count=COUNT(*) FROM  dbo.impp_fsrs_all WHERE appl_id = @appl_id GROUP BY appl_id 

IF @fsr_count=0 or @fsr_count is null SET @fsr_count=0

RETURN @fsr_count

END



GO
