USE [EIM]
GO
/****** Object:  Table [dbo].[appls_in_impac_pvgrantpi]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_in_impac_pvgrantpi](
	[appl_id] [int] NOT NULL,
 CONSTRAINT [PK_appls_in_impac_pvgrantpi] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
