USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_doc_keywords]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_doc_keywords]  (@DocID int)  
RETURNS varchar(1000)

AS  
BEGIN 


--Imran: there is no null checking in this code returning whole null

RETURN (SELECT 
 isnull(dbo.fn_appl_keywords(appl_id),'') + ' ' +
 isnull(dbo.fn_month_name(document_date),'')  + ' ' +
 isnull(convert(varchar,year(document_date)),'') + ' ' +
isnull(dbo.fn_term_keywords(category_name),'')  + ' ' 

FROM egrants WHERE document_id=@DocID)




END

GO
