USE [EIM]
GO
/****** Object:  Table [dbo].[cord_manager_documents]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cord_manager_documents](
	[cordmanager_id] [int] NULL,
	[doc_name] [varchar](50) NULL,
	[path] [nvarchar](200) NULL,
	[create_date] [smalldatetime] NULL,
	[created_by] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cord_manager_documents]  WITH CHECK ADD  CONSTRAINT [FK_cord_manager_documents_Cord_manager] FOREIGN KEY([cordmanager_id])
REFERENCES [dbo].[cord_manager] ([id])
GO
ALTER TABLE [dbo].[cord_manager_documents] CHECK CONSTRAINT [FK_cord_manager_documents_Cord_manager]
GO
