USE [EIM]
GO
/****** Object:  Table [dbo].[people_branches]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_branches](
	[branch_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_name] [varchar](50) NULL,
	[profile_id] [int] NULL,
	[application_type] [char](10) NULL,
	[branch_acronym] [char](10) NULL
) ON [PRIMARY]
GO
