USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_email_position_master]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_email_position_master](
	[email_position_code] [nchar](10) NOT NULL,
	[email_positions] [varchar](30) NOT NULL,
	[email_positions_description] [varchar](50) NULL,
 CONSTRAINT [PK_adsup_email_position_master] PRIMARY KEY CLUSTERED 
(
	[email_position_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
