USE [EIM]
GO
/****** Object:  Table [dbo].[Imm_temp_C06]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imm_temp_C06](
	[appl_id] [int] NULL,
	[fgn] [varchar](20) NULL
) ON [PRIMARY]
GO
