USE [EIM]
GO
/****** Object:  Table [dbo].[appls_deleted_in_impac]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_deleted_in_impac](
	[appl_id] [int] NOT NULL,
	[deleted_date] [smalldatetime] NOT NULL,
	[exception_date] [smalldatetime] NULL,
 CONSTRAINT [PK_appls_deleted_in_impac] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_appls_deleted_in_impac] UNIQUE NONCLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appls_deleted_in_impac] ADD  CONSTRAINT [DF_appls_deleted_in_impac_deleted_date]  DEFAULT (getdate()) FOR [deleted_date]
GO
