USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_DocText]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DocText]

@Path varchar(255), @tabName varchar(255)
AS

declare @cmd varchar(255)
declare @TempFile varchar(255)
declare @FName varchar(255)
declare @CPath varchar(255)
declare @sql varchar(500)

SELECT @TempFile='c:\directory.txt'

SELECT @Cmd= 'dir ' + @Path + '*.txt  /B /W >>' + @TempFile
EXEC master..xp_cmdshell @Cmd

IF OBJECT_ID('tempdb..##directory') IS NOT NULL
DROP TABLE ##directory

CREATE TABLE ##directory(path varchar(255))

SELECT @Cmd= 'bcp ##directory in ' + @TempFile + ' -c -t , -r \n -S ' + @@SERVERNAME + ' -T '
EXEC master..xp_cmdshell @Cmd

SELECT @Cmd='DEL ' + @TempFile
EXEC master..xp_cmdshell @Cmd

SET @sql= 'INSERT ' + @tabName + '(file_name, txt) SELECT path, char(32) from ##directory'
EXEC (@sql)

declare cur CURSOR FOR
select path from ##directory order by path

open cur

FETCH NEXT FROM cur INTO @FName

WHILE @@FETCH_STATUS=0

BEGIN

SET @CPath=@Path + @FName

-------------

SET @cmd='c:\progra~1\micros~1\mssql\binn\textcopy.exe ' + '/S ' + @@SERVERNAME + 
' /U sa /P rubmkm /D eim /T ' + @tabName + ' /W "where file_name=' + char(39) + @FName + char(39) + '"  /I /C txt /F ' + @CPath

EXEC master..xp_cmdshell @cmd

FETCH NEXT FROM cur INTO @FName
END

close cur
deallocate cur
drop table ##directory
GO
