USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_faxmail]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_egrants_faxmail]

AS

SET NOCOUNT ON

declare @RenFile 	varchar(255)
declare @Query 	varchar(2000)
declare @Cmd 		varchar(4000)
declare @MID 		int
declare @AID 		int 

declare @convertFolder 	varchar(255)
declare @readyFolder 		varchar(255)
declare @attachmentFolder 	varchar(255)
declare @srvPath 		varchar(255)

-- maintain the first space in the Paths!!!
--SET @srvPath=' d:\util\emails\'
--SET @srvPath=' \\NCIDBPRD1\util2\emails' --modified by hareeshj on 10/06/2014 at 3:02pm
--SET @srvPath=' \\NCIDBPRD1\util\emails' 
SET @srvPath=' \\NCIDB-P133-V\util\emails' 


SET @RenFile= @srvPath + 'faxren.bat'
SET @convertFolder= @srvPath + 'convert\'
SET @readyFolder=@srvPath + 'send2ftp\'
SET @attachmentFolder=@srvPath + 'attachments\'

UPDATE documents SET alias=NULL WHERE alias IS NOT NULL

SELECT @MID=MAX(document_id) FROM documents
SELECT @AID=ISNULL(MAX(attachment_id),0) FROM attachments

---find the new fax file by ic
EXEC sp_egrants_fax_ic 'NCI'			--1
EXEC sp_egrants_fax_ic 'NIBIB'			--2
EXEC sp_egrants_fax_ic 'NIGMS'		--3
EXEC sp_egrants_fax_ic 'NIDDK'		--4
EXEC sp_egrants_fax_ic 'NHLBI'		--5
EXEC sp_egrants_fax_ic 'NIEHS'		--6
EXEC sp_egrants_fax_ic 'NLM'			--7
EXEC sp_egrants_fax_ic 'NICHD'		--8
EXEC sp_egrants_fax_ic 'NIAID'			--9
EXEC sp_egrants_fax_ic 'NIMH'			--10

EXEC sp_egrants_mail

---move files by alias to convert folder or ready folder

--MSG files are to be saved as TXT - we only want the body iteslf
DELETE dir_cmd
INSERT dir_cmd(path, new_path)
SELECT alias, 
CASE file_type WHEN 'tif' THEN  @ConvertFolder ELSE @readyFolder END + convert(varchar, document_id) + '.' + replace(file_type,'msg','txt')
FROM documents
WHERE alias IS NOT NULL --and qc_reason in ('fax', 'email')-- and document_id>@MID

INSERT dir_cmd(path, new_path)
SELECT attachment_alias, @readyFolder  + 'a' + RIGHT(('000000' + convert(varchar, attachment_id)),6) + '.' + file_type
FROM attachments
WHERE attachment_id>@AID

UPDATE dir_cmd SET move_cmd='move ' + path + ' ' + new_path

SET @query='select move_cmd from eim..dir_cmd'

SET @Cmd= 'bcp "' + @query + '" queryout ' + @RenFile + '  -c -S ' + @@ServerName + ' -T'
EXEC master..xp_cmdshell @Cmd

--run the bat file on the hard driver
SET @Cmd=@RenFile
EXEC master..xp_cmdshell @Cmd

--update url and file type for documents table
/* Imran : PIV Migration change 6/7/2014*/
/*
UPDATE documents
SET file_type=CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END,
url='https://egrants-data.nci.nih.gov/funded2/nci/main/' + convert(varchar,document_id) + '.' + CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END
WHERE document_id>@MID AND alias IS NOT NULL AND url IS NULL AND qc_reason IN ('fax', 'email')
*/

UPDATE documents
SET file_type=CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END,
url='data/funded2/nci/main/' + convert(varchar,document_id) + '.' + CASE file_type WHEN 'tif' THEN 'pdf' ELSE file_type END
WHERE document_id>@MID AND alias IS NOT NULL AND url IS NULL AND qc_reason IN ('fax', 'email')
GO
