USE [EIM]
GO
/****** Object:  Table [dbo].[appls_restriction]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_restriction](
	[appl_id] [int] NULL,
	[full_grant_num] [varchar](50) NULL
) ON [PRIMARY]
GO
