USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[DB_SET_WIDGET_ASSIGNMENT]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[DB_SET_WIDGET_ASSIGNMENT]
@USERID VARCHAR(30),@WIDGETSTR VARCHAR(30)
AS
BEGIN
DECLARE @PERSON_ID INT,@RET INT 
SELECT @PERSON_ID = PERSON_ID FROM people WHERE userid=@USERID

--DISABLE ALL PAST ASSIGNMENT
UPDATE dbo.DB_WIDGET_ASSIGNMENT 
SET end_date = GETDATE()
WHERE userid=@USERID AND person_id=@PERSON_ID AND end_date IS NULL

--SELECT 408,'OMAIRI',ITEM,ITEM,GETDATE()FROM fn_db_StringList2Table(@WIDGETSTR)

--INSERT NEW WIDGET SELECTION TO ASSIGNMENT TABLE
INSERT dbo.DB_WIDGET_ASSIGNMENT(person_id,userid,widget_id,sortorder,start_date)
SELECT @PERSON_ID,@USERID,ITEM,ITEM,GETDATE()FROM fn_db_StringList2Table(@WIDGETSTR)
SELECT @RET=@@ROWCOUNT
----SELECT 408,'OMAIRI',ITEM,ITEM,GETDATE()FROM fn_db_StringList2Table(',,1,2,3,4,')
--RETURN (SELECT @RET as RETURNVAL)
--RETURN @@ROWCOUNT
SELECT @RET as RETURNVAL

END

GO
