USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_adm_grand_parent_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [dbo].[fn_adm_grand_parent_name] (@folder_id int)
  
RETURNS varchar(250) AS  

BEGIN 

declare @grand_parent_name  varchar(250)

set @grand_parent_name =(select folder_name from dbo.adm_folders where folder_id =(select dbo.fn_adm_grand_parent_id(@folder_id)))

RETURN
(

select @grand_parent_name  

)
END




GO
