USE [EIM]
GO
/****** Object:  Table [dbo].[email_process_scheduler]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_process_scheduler](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[folder_path] [nvarchar](200) NOT NULL,
	[default_ic] [varchar](50) NULL,
	[default_category_id] [nchar](10) NULL,
	[default_category] [varchar](100) NULL,
	[lastRun_dt] [datetime] NOT NULL,
	[RunStatus] [varchar](100) NULL,
	[ProdStatus] [varchar](5) NULL,
	[SaveBody] [varchar](5) NULL,
	[MovetoOld] [varchar](5) NULL,
	[QC] [varchar](5) NULL,
 CONSTRAINT [PK_email_process_scheduler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[email_process_scheduler] ADD  CONSTRAINT [DF_email_process_scheduler_QC]  DEFAULT ('Yes') FOR [QC]
GO
