USE [EIM]
GO
/****** Object:  Table [dbo].[impp_fsrs_all]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_fsrs_all](
	[appl_id] [int] NOT NULL,
	[fsr_id] [int] NOT NULL,
	[fsr_seq_num] [int] NULL,
	[accepted_date] [smalldatetime] NULL,
 CONSTRAINT [PK_impp_fsrs_multi] PRIMARY KEY NONCLUSTERED 
(
	[fsr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_multi] UNIQUE CLUSTERED 
(
	[fsr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
