USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_desturction_report_New]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_egrants_desturction_report_New]

AS
BEGIN

DELETE eim.dbo.document_destruction

INSERT eim.dbo.document_destruction(grant_id,serial_num,full_grant_num,appl_id,pi_name,org_name,appl_status_group_descrip,grant_close_date,added_date,destruction_reason,FY,activity_code)
select DISTINCT grant_id,serial_num,full_grant_num,appl_id,pi_name,org_name,appl_status_group_descrip,grant_close_date,getdate(),'Retention Policy',FY,activity_code
from egrants
where admin_phs_org_code='CA'
and is_tobacco=0 and activity_code not like 'C%'
and unix_directory is not null
and grant_close_date<'10/1/2002' 
and grant_id NOT IN (select DISTINCT grant_id from eim.dbo.Document_destruction)
order by 1,2,3

--UPDATE PROJECTSTART AND PROJECT END DATE INTO DOCUMENT_DESTRUCTION TABLE FROM NCI SCHEMA AS EGRANTS DOES NOT HAVE THEM.
update eim.dbo.document_destruction 
set eim.dbo.Document_destruction.project_start_date=c.project_period_start_date,
eim.dbo.Document_destruction.project_end_date=c.project_period_end_date
FROM openquery(CIIP,'select appl_id,project_period_start_date,project_period_end_date from nci_appl_vw') c
where c.appl_id=eim.dbo.document_destruction.appl_id



END
GO
