USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_appl_keywords]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_appl_keywords] (@ApplID int)
RETURNS varchar(1000) AS  
BEGIN 

DECLARE @S varchar(1000)

SELECT @S=
 ' ' +
--institute 
admin_phs_org_code + ' ' +
dbo.fn_term_keywords(admin_phs_org_code) + ' ' + 

activity_code + ' ' + isnull(project_title,'') + ' ' + isnull(irg_code,'') + ' ' + 
--Joel added mi_name and mechanism_code 2/11/13
isnull(first_name,'') + ' ' + isnull(mi_name,'') + ' ' + isnull(last_name,'') + ' ' +
isnull(pi_name,'') + ' ' + isnull(org_name,'')+ ' '+
--isnull(LEFT(PROG_CLASS_CODE,2),'') + ' ' + 
isnull(LEFT(PROG_CLASS_CODE,4),'') + ' ' + 
isnull(mechanism_code,'')  + ' ' + 

--rfa numbers
isnull(rfa_pa_number,'') + ' ' +
isnull(replace(rfa_pa_number,'-',''),'') + ' ' +
isnull(right(rfa_pa_number,len(rfa_pa_number)-2),'') + ' ' +
--isnull(replace(right(rfa_pa_number,len(rfa_pa_number)-2),'-',''),'') + ' ' +

isnull(council_meeting_date,'') + ' ' +

case
when appl_status_group_descrip is null then ''
when appl_status_group_descrip='Awarded'  then 'Funded Awarded' 
else  'Unfunded'   end  + ' ' + 

case when appl_type_code in ('1','2','6','9') then 'Competing' else 'Non-Competing NonCompeting' end + ' ' +

--add some info for the former number

CASE WHEN  (serial_num<>former_serial_num) THEN
ISNULL(former_admin_phs_org_code,'') + ' ' +  --former institute
ISNULL(RIGHT('00000' + CONVERT(varchar, former_serial_num),5),'') + ' ' +  --former 5 digit serial num 
ISNULL(RIGHT('00000' + CONVERT(varchar, former_serial_num),6),'') + ' ' + -- former 6 digit serial num
former_admin_phs_org_code+ISNULL(RIGHT('00000' + CONVERT(varchar, former_serial_num),5),'') + ' ' + --former 5 digit grant num
former_admin_phs_org_code+ISNULL(RIGHT('00000' + CONVERT(varchar, former_serial_num),6),'') + ' ' --former 6 digit grant num
ELSE '' END +

ISNULL(former_num,'') + ' ' +  --full former num

--add same for future number
CASE WHEN future_serial_num IS NOT NULL THEN
ISNULL(future_admin_phs_org_code,'') + --future institute
ISNULL(RIGHT('00000' + CONVERT(varchar, future_serial_num),5),'') + ' ' +  --future 5 digit serial num 
ISNULL(RIGHT('00000' + CONVERT(varchar, future_serial_num),6),'') + ' ' + -- former 6 digit serial num
future_admin_phs_org_code+ISNULL(RIGHT('00000' + CONVERT(varchar, future_serial_num),5),'') + ' ' + --future 5 digit grant num
future_admin_phs_org_code+ISNULL(RIGHT('00000' + CONVERT(varchar, future_serial_num),6),'') + ' ' --future 6 digit grant num
ELSE '' END +

isnull(serial_num_5,'')  + ' ' + 
serial_num_6  + ' ' + 
isnull(serial_num_5 + '-' + support_year_2,'') + ' ' +
serial_num_6 + '-' + support_year_2 + ' ' +
case when suffix_code is not null then isnull(serial_num_5 + '-' +support_year_2 + suffix_code,'') + ' ' else '' end +
case when suffix_code is not null then serial_num_6 + '-' + support_year_2 + suffix_code + ' ' else '' end + 

isnull(admin_phs_org_code+serial_num_5,'') + ' ' +
grant_num + ' ' +    

isnull(admin_phs_org_code+serial_num_5+ '-' + support_year_2,'') + ' ' +
grant_num +  '-' + support_year_2 + ' ' +

case when suffix_code is not null then isnull(admin_phs_org_code+serial_num_5+ '-' + support_year_2  + isnull(suffix_code,''),'') + ' ' else '' end +
case when suffix_code is not null then grant_num +  '-' +support_year_2 +  isnull(suffix_code,'') + ' ' else '' end +

isnull(activity_code  + admin_phs_org_code +serial_num_5,'') + ' ' +
activity_code + grant_num + ' ' +

--case when suffix_code is not null then isnull(activity_code + admin_phs_org_code +serial_num_5 + isnull(suffix_code,''),'') + ' ' else '' end +
--case when suffix_code is not null then activity_code + grant_num + isnull(suffix_code,'') + ' ' else '' end +

isnull(appl_type_code+ activity_code + admin_phs_org_code +serial_num_5,'') + ' ' +
appl_type_code+ activity_code + grant_num + ' ' +

isnull(appl_type_code+ activity_code + admin_phs_org_code +serial_num_5 + '-' + support_year_2,'')+ ' ' +
appl_type_code+ activity_code + grant_num + '-' +support_year_2 + ' ' +

--just the year itself
support_year_2 + ' ' + 

case when suffix_code is not null then support_year_2 + suffix_code else '' end + ' ' +
case when suffix_code is not null then isnull(appl_type_code+ activity_code + admin_phs_org_code +serial_num_5 + '-' + support_year_2 + suffix_code,'') + ' ' else '' end +
case when suffix_code is not null then full_grant_num else '' end + ' ' +

--parts without the appl_type_code

activity_code + admin_phs_org_code + ' ' +

isnull(activity_code + admin_phs_org_code + serial_num_5,'') + ' ' +
activity_code + admin_phs_org_code + serial_num_6 + ' ' +

isnull(activity_code + admin_phs_org_code + serial_num_5 + '-' + support_year_2,'') + ' ' +
activity_code + admin_phs_org_code + serial_num_6 + '-' + support_year_2 + ' ' +

case when suffix_code is not null then isnull(activity_code + admin_phs_org_code + serial_num_5 + '-' + support_year_2 + suffix_code,'') else '' end + ' ' +
case when suffix_code is not null then activity_code + admin_phs_org_code + serial_num_6 + '-' + support_year_2 + suffix_code else '' end + ' ' +

case when patindex('%A%',suffix_code)>0 then 'Amendment' else '' end + ' ' +
case when patindex('%S%',suffix_code)>0 then 'Supplement' else '' end + ' ' +
case when patindex('%X%',suffix_code)>0 then 'Foreign Supplement' else '' end + ' ' +

--fiscal year
isnull(convert(varchar,fy),'') + ' ' +
isnull('fy' +  convert(varchar,fy),'') + ' ' +
isnull('fy:' + convert(varchar,fy),'') + ' ' + 


--isnull('pd_code:' + LEFT(PROG_CLASS_CODE,2),'') + ' ' +
isnull('pd_code:' + LEFT(PROG_CLASS_CODE,4),'') + ' ' +
--isnull('external_org_id:' + convert(varchar,external_org_id),'') + ' ' +
--isnull('person_id:' + convert(varchar,person_id),'') + ' ' +
'grant_id:' + convert(varchar,grant_id) + ' ' +
'appl_id:' + convert(varchar,appl_id) + ' ' +

--Imran: 2/9/2013 added following 
CASE WHEN fda_flag='y' THEN 'FDA flag' else '' end + ' '+
CASE WHEN MS_flag='y' THEN 'Moon shot Moonshot' else '' end + ' '+
CASE WHEN DS_flag='y' THEN 'Diversity Supplement' else '' end + ' '+
CASE WHEN OD_flag='y' THEN 'Office of Director funds OD' else '' end + ' '+
CASE WHEN frc_destroyed=1 THEN 'Deleted destroyed' else '' end + ' '+
CASE WHEN closed_out='Yes' THEN 'Closed' else '' end + ' '


FROM vw_appls WHERE appl_id=@ApplID




RETURN @S

END

GO
