USE [EIM]
GO
/****** Object:  Table [dbo].[impp_aws_bkup_02152017]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_aws_bkup_02152017](
	[doc_id] [int] NULL,
	[appl_id] [int] NULL,
	[doc_type_code] [char](3) NULL,
	[created_date] [smalldatetime] NULL,
	[rpt_seq_num] [int] NULL
) ON [PRIMARY]
GO
