USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_Notification_impac_status]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_Notification_impac_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_id] [int] NOT NULL,
	[APPL_ID] [int] NOT NULL,
	[Impac_status] [varchar](100) NULL,
	[Impac_status_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_Notification_impac_status]  WITH CHECK ADD  CONSTRAINT [FK_adsup_Notification_impac_status_adsup_notification] FOREIGN KEY([Notification_id])
REFERENCES [dbo].[adsup_notification] ([id])
GO
ALTER TABLE [dbo].[adsup_Notification_impac_status] CHECK CONSTRAINT [FK_adsup_Notification_impac_status_adsup_notification]
GO
