USE [EIM]
GO
/****** Object:  Table [dbo].[impp_grant_images_t]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_grant_images_t](
	[appl_id] [int] NOT NULL,
	[accession_num] [int] NOT NULL,
	[total_pages_num] [smallint] NULL,
	[created_date] [smalldatetime] NULL,
	[last_upd_date] [smalldatetime] NULL,
 CONSTRAINT [PK_grant_images_t] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
