USE [EIM]
GO
/****** Object:  Table [dbo].[RPPR]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPPR](
	[appl_id] [int] NULL,
	[full_grant_num] [varchar](19) NULL,
	[last_upd_date] [datetime] NULL
) ON [PRIMARY]
GO
