USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_tracked]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_grant_tracked] (@GrantID int)
  
RETURNS varchar(3) AS  

BEGIN 

IF (SELECT COUNT(*) FROM folders where grant_id=@GrantID)>0
RETURN 'yes'


RETURN 'no'



END

GO
