USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_adm_grand_parent_id]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[fn_adm_grand_parent_id] (@folder_id int)
  
RETURNS int AS  

BEGIN 

declare @grant_parent_id  int

set @grant_parent_id=(select parent_id from dbo.adm_folders where folder_id=(
select parent_id from dbo.adm_folders where folder_id=@folder_id)
)
RETURN
(

select @grant_parent_id

)
END




GO
