USE [EIM]
GO
/****** Object:  Table [dbo].[GPM_Report_User]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPM_Report_User](
	[User_id] [varchar](50) NOT NULL,
	[User_Name] [varchar](100) NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
 CONSTRAINT [PK_GPM_Report_User] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
