USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_email_rules]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_email_rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pa] [nchar](10) NOT NULL,
	[email_to] [varchar](200) NOT NULL,
	[email_cc] [varchar](200) NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[last_modified_by] [int] NULL,
	[last_modified_date] [smalldatetime] NULL,
	[email_template_id] [int] NULL,
	[comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_adsup_email_rules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_email_rules] ADD  CONSTRAINT [DF_adsup_email_rules_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[adsup_email_rules] ADD  CONSTRAINT [DF_adsup_email_rules_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adsup_email_rules]  WITH CHECK ADD  CONSTRAINT [FK_adsup_email_rules_adsup_email_master] FOREIGN KEY([email_template_id])
REFERENCES [dbo].[adsup_email_master] ([id])
GO
ALTER TABLE [dbo].[adsup_email_rules] CHECK CONSTRAINT [FK_adsup_email_rules_adsup_email_master]
GO
ALTER TABLE [dbo].[adsup_email_rules]  WITH CHECK ADD  CONSTRAINT [FK_adsup_email_rules_people] FOREIGN KEY([created_by_person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_email_rules] CHECK CONSTRAINT [FK_adsup_email_rules_people]
GO
ALTER TABLE [dbo].[adsup_email_rules]  WITH CHECK ADD  CONSTRAINT [FK_adsup_email_rules_people1] FOREIGN KEY([last_modified_by])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[adsup_email_rules] CHECK CONSTRAINT [FK_adsup_email_rules_people1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column will save email to in coded form such as @@PD;@@SPEC;@@PI;omairi@mail.nih.gov' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_rules', @level2type=N'COLUMN',@level2name=N'email_to'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column will save email to in coded form such as @@PD;@@SPEC;@@PI;omairi@mail.nih.gov' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_rules', @level2type=N'COLUMN',@level2name=N'email_cc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Start date of this rule not nullable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_rules', @level2type=N'COLUMN',@level2name=N'start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'end date of this rule nullable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_rules', @level2type=N'COLUMN',@level2name=N'end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'created_by_person_id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_rules', @level2type=N'COLUMN',@level2name=N'created_by_person_id'
GO
