USE [EIM]
GO
/****** Object:  Table [dbo].[adm_menu]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_title] [nvarchar](50) NOT NULL,
	[menu_url] [nvarchar](200) NULL,
	[menu_hover] [nvarchar](100) NULL,
	[menu_help_url] [nvarchar](200) NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
	[menu_action] [nvarchar](50) NULL,
 CONSTRAINT [PK_adm_menu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adm_menu] ADD  CONSTRAINT [DF_adm_menu_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
