USE [EIM]
GO
/****** Object:  View [dbo].[vw_attachments]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_attachments]
AS 
select 
a.*,
/*Imran : PIV Migration change 6/7/2014*/
--'https://egrants-data.nci.nih.gov/funded2/nci/main4/' + 'a'  + RIGHT('000000' + convert(varchar, attachment_id),6) + '.' + a.file_type as url
'/data/funded2/nci/main4/' + 'a'  + RIGHT('000000' + convert(varchar, attachment_id),6) + '.' + a.file_type as url
FROM 
attachments a INNER JOIN documents d ON
d.document_id=a.document_id



GO
