USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_HJ_Egrants_Active_Documents]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HJ_Egrants_Active_Documents]
AS

SELECT 
SUBSTRING(url,(CHARINDEX('gov', url) + 4), LEN(url)) Filename_with_path, 
appl_id, 
profile_id
FROM [eim].[dbo].[documents]
WHERE disabled_date IS NULL 
AND disabled_by_person_id IS NULL
AND created_by_person_id NOT IN (SELECT person_id FROM people WHERE person_name = userid)
GO
