USE [EIM]
GO
/****** Object:  Table [dbo].[impp_gm_closeouts]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_gm_closeouts](
	[appl_id] [int] NOT NULL,
	[closeout_status_code] [char](1) NULL,
	[ltr1_date] [datetime] NULL,
	[final_report_date] [datetime] NULL,
	[final_invention_stmnt_code] [char](1) NULL,
 CONSTRAINT [PK_impp_gm_closeouts] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
