USE [EIM]
GO
/****** Object:  Table [dbo].[funding_categories]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funding_categories](
	[category_id] [smallint] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](255) NOT NULL,
	[grand_parent_id] [smallint] NULL,
	[parent_id] [smallint] NULL,
	[level_id] [smallint] NULL,
	[category_fy] [smallint] NULL,
 CONSTRAINT [PK_funding_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
