USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[Find_Category_Name_Match]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:			Joel Friedman
-- Create date:		05/02/2012
-- Description:		Find closest match to input category
-- =============================================
CREATE PROCEDURE [dbo].[Find_Category_Name_Match]
	-- Add the parameters for the stored procedure here
	@cat_search varchar(50), 
	@ic varchar(5)
AS
BEGIN
SET NOCOUNT ON;

	declare @cat_name varchar(50)
	declare @cat_search_1 varchar(50)
	declare @row_count	int
	
/*	select 	@cat_name=categories.category_name from categories  
			inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
			where ic=@ic and replace(category_name,' ','') = replace(@cat_search,' ','')
			
	if @cat_name is null
						
			select top 1 @cat_name=categories.category_name from categories  
					inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
					where ic=@ic and soundex(replace(@cat_search,' ','')) = soundex(replace(category_name,' ',''))
*/

declare @found table(
	cat_name varchar(50),
	short_name varchar(50)
	)
	
	set @cat_search_1 = replace(@cat_search,' ','')
	select 	@cat_name=categories.category_name from categories  
			inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
			where ic=@ic and replace(category_name,' ','') = @cat_search_1
			
	if @cat_name is null
					
		insert into @found(cat_name, short_name)
				select category_name, right(category_name,len(category_name)-charindex(' ',category_name)) from categories  
				inner join dbo.categories_ic on categories.category_id=categories_ic.category_id
				where ic=@ic and soundex(@cat_search_1) = soundex(replace(category_name,' ',''))

		select @row_count = @@RowCount from @found
		
		select top 1 @cat_name = cat_name from @found 
		
		if @row_count > 1 
			--select i1 = charindex(' ',@cat_search)
			set @cat_search_1=replace(right(@cat_search,len(@cat_search)-charindex(' ',@cat_search)),' ','')
			
			select @cat_name = cat_name from @found where soundex(@cat_search_1) = soundex(replace(short_name,' ',''))
			
	select @cat_name
END

GO
