USE [EIM]
GO
/****** Object:  View [dbo].[vw_econtract_upload_count--to_be_deleted]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_econtract_upload_count--to_be_deleted]
AS
select contract_id, count(contract_id) as open_docs from econtract_documents
where uploaded_flag = 0 and active_flag=1
group by contract_id
GO
