USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_pi_name_by_applid]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create FUNCTION [dbo].[fn_get_pi_name_by_applid] (@appl_id int)
  
RETURNS varchar(92) AS  

BEGIN

declare @pi_name  varchar(92)
set @pi_name=(select pi_name from vw_grants where grant_id=(select grant_id from vw_appls where appl_id=@appl_id))

RETURN @pi_name

END
GO
