USE [EIM]
GO
/****** Object:  Table [dbo].[TEMP_AWSBROCKENLINK_BKUP_DOCUMENT]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_AWSBROCKENLINK_BKUP_DOCUMENT](
	[DOCUMENT_ID] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[CREATED_BY] [int] NULL,
	[REASON] [varchar](50) NULL
) ON [PRIMARY]
GO
