USE [EIM]
GO
/****** Object:  Table [dbo].[egrants_application_type]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egrants_application_type](
	[application_type] [varchar](10) NOT NULL,
	[applicaton_type_name] [varchar](50) NULL,
 CONSTRAINT [PK_egrants_application_type] PRIMARY KEY CLUSTERED 
(
	[application_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'There are five application type codes in egrants. egrants=egrants,econ=econtracts,mgt=management,gft=grant file tracking,cft=contract file tracking' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_application_type', @level2type=N'COLUMN',@level2name=N'application_type'
GO
