USE [EIM]
GO
/****** Object:  Table [dbo].[DB_GPMATS_ACTION_STATUSCODE]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_GPMATS_ACTION_STATUSCODE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_CODE] [varchar](10) NULL,
	[DESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]
GO
