USE [EIM]
GO
/****** Object:  Table [dbo].[Org_Categories]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Org_Categories](
	[doctype_id] [int] IDENTITY(1,1) NOT NULL,
	[doctype_name] [varchar](100) NOT NULL,
	[tobe_flagged] [char](1) NOT NULL,
	[icon_path] [varchar](200) NULL,
	[Flag_period] [int] NULL,
 CONSTRAINT [PK_Org_Categories] PRIMARY KEY CLUSTERED 
(
	[doctype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
