USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_Find_Applid_in_txt]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Find_Applid_in_txt] 


AS
BEGIN

SET NOCOUNT ON;
declare @FilePath nvarchar(50)
declare @Path nvarchar(200)
declare @cmd nvarchar(500)

	select @Path= 'D:\util\txt\disaster\'

	declare txt_curs  CURSOR 
		FOR
		select fil_name from dbo.tmp_joel
		for read only
	
	open txt_curs
	
	fetch next from txt_curs into @FilePath
	
	while @@fetch_status = 0
		begin
			
			SET @cmd= 'c:\progra~1\micros~1\mssql\binn\textcopy.exe ' + '/S ' + @@SERVERNAME + ' /U sa /P rubmkm /D eim /T tmp_joel /W "where fil_name=''' + @FilePath + '''"  /I /C text1 /F ' + @Path + @FilePath  

 			EXEC master..xp_cmdshell @cmd

	fetch next from txt_curs into @FilePath

END
close txt_curs
deallocate txt_curs
end

GO
