USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[bundled_documents_report]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================================================
-- Author:			Joel Friedman
-- Create date:		06/27/2011
-- Modified date:	
-- Description:		Summary Report on Bundled Documents
-- ===================================================================================
CREATE PROCEDURE [dbo].[bundled_documents_report] 

AS
BEGIN
		select aa.appl_id, aa.package_id, aa.awarded_date, aa.wip_stage, count(*) as doc_count, 
		sum(cast(is_doc_downloaded as int)) as doc_have,
		sum(case when is_doc_downloaded =1 and url like '%documentviewer%' then 1 else 0 end) as doc_impac_have,
		sum(case when dd.wip_stage = 1 then 1 else 0 end) as stage_1,
		sum(case when dd.wip_stage = 2 then 1 else 0 end) as stage_2,
		sum(case when dd.wip_stage = 9 then 1 else 0 end) as stage_9
		from Bundle_appl aa left outer join Bundles_doc dd on aa.appl_id = dd.appl_id 
		group by aa.appl_id, aa.package_id, aa.wip_stage, aa.awarded_date
END
GO
