USE [EIM]
GO
/****** Object:  Table [dbo].[categories_ic]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories_ic](
	[category_id] [smallint] NOT NULL,
	[ic] [varchar](5) NOT NULL,
	[added_date] [smalldatetime] NULL,
	[added_by_person_id] [int] NULL,
	[removed_date] [smalldatetime] NULL,
	[removed_by_person_id] [int] NULL,
 CONSTRAINT [PK_categories_ic] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC,
	[ic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories_ic]  WITH NOCHECK ADD  CONSTRAINT [FK_categories_ic_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[categories_ic] CHECK CONSTRAINT [FK_categories_ic_categories]
GO
