USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_term_keywords]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_term_keywords](@term varchar(50))

RETURNS varchar(100) AS  
BEGIN 

DECLARE @S varchar(100)
SET @S=''

SELECT @S= isnull(keywords,'') from terms where term=@term
RETURN @S


END
GO
