USE [EIM]
GO
/****** Object:  Table [dbo].[DB_EARLY_CONCUR_FLAG]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_EARLY_CONCUR_FLAG](
	[userid] [nchar](30) NULL,
	[appl_id] [int] NULL,
	[fgn] [nvarchar](19) NULL,
	[budget_start_date] [datetime] NULL,
	[NCAB_date] [varchar](19) NULL
) ON [PRIMARY]
GO
