USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_DocumentList_Generator]    Script Date: 8/27/2019 5:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DocumentList_Generator]
(@IC int)
AS
BEGIN
DECLARE @cmd varchar(4000)
DECLARE @Dt varchar(20)
DECLARE @stmp varchar(50)
declare @Query varchar(2000)

set @stmp=getdate()
set @stmp=replace(@stmp,' ','')
set @stmp=replace(@stmp,':','_')
SET @Dt= char(39) + @Dt + char(39)

SET @query='select e.unix_file,e.full_grant_num,d.category_id,e.appl_id from eim..egrants e'
SET @query=@query+' Inner Join eim..documents d on e.document_id = d.document_id where e.url is not null'
SET @query=@query+' and e.profile_id='+convert(varchar(2),@IC,101)+' and e.unix_directory like ''/egrants/%'''
--print @query

SET @Cmd= 'bcp "' + @query + '" queryout d:\util\scripts\DocExportList_profl'+convert(varchar(2),@IC,101)+'_' + @stmp + '.txt -c -T'

EXEC master..xp_cmdshell @cmd

END
GO
