USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_grant_latest_appl]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_grant_latest_appl] (@GrantID int)
  
RETURNS int AS  

BEGIN 

--RETURN (SELECT TOP 1 appl_id from appls where grant_id=@GrantID order by fy DESC,support_year DESC,suffix_code DESC)


DECLARE @appl_id int 

SET @appl_id =(SELECT TOP 1 appl_id from vw_grant_latest_appl where grant_id=@GrantID order by fy DESC,support_year DESC,suffix_code DESC)

IF @appl_id is null or @appl_id ='' SET @appl_id =(SELECT TOP 1 appl_id from appls where grant_id=@GrantID order by fy DESC,support_year DESC,suffix_code DESC)

RETURN @appl_id

END






GO
