USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_category_name]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create FUNCTION [dbo].[fn_get_category_name] (@category_id int)
  
RETURNS varchar(50) AS  

BEGIN

declare @category_name varchar(50)

select @category_name  = category_name from categories where category_id = @category_id

RETURN @category_name 

END
GO
