USE [EIM]
GO
/****** Object:  Table [dbo].[cord_manager_history]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cord_manager_history](
	[id] [int] NOT NULL,
	[user_fname] [nvarchar](50) NULL,
	[user_lname] [nvarchar](50) NULL,
	[user_login] [nvarchar](20) NULL,
	[badge_id] [nvarchar](30) NULL,
	[division] [varchar](20) NULL,
	[status] [varchar](10) NULL,
	[status_date] [smalldatetime] NULL,
	[date_Requested] [smalldatetime] NULL,
	[access_Type] [varchar](20) NULL,
	[date_LastAccess] [smalldatetime] NULL,
	[cord_id] [int] NOT NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
	[comments] [nvarchar](200) NULL,
	[person_id] [int] NULL,
	[action] [nchar](10) NULL,
	[Trigger_table] [nchar](1) NULL,
	[record_modified_on] [smalldatetime] NULL
) ON [PRIMARY]
GO
