USE [EIM]
GO
/****** Object:  Table [dbo].[institutions_files]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institutions_files](
	[ins_id] [int] IDENTITY(1,1) NOT NULL,
	[index_id] [int] NOT NULL,
	[file_type] [varchar](5) NULL,
	[institution_name] [varchar](250) NULL,
	[created_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[modified_date] [smalldatetime] NULL,
	[modified_by_person_id] [int] NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[institutions_files] ADD  CONSTRAINT [DF_Table_1_ins_index]  DEFAULT ((1)) FOR [index_id]
GO
