USE [EIM]
GO
/****** Object:  Table [dbo].[appl_id_not_in_appls]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appl_id_not_in_appls](
	[appl_id] [int] NOT NULL
) ON [PRIMARY]
GO
