USE [EIM]
GO
/****** Object:  Table [dbo].[Imm_bkup_destruct_2016]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imm_bkup_destruct_2016](
	[appl_id] [int] NULL,
	[bkup_dt] [smalldatetime] NULL
) ON [PRIMARY]
GO
