USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_funding_doc_count]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_funding_doc_count] (@category_id int, @fy int)
RETURNS int

AS  

BEGIN 

declare @count  int

SET @count=(SELECT COUNT(*) FROM vw_funding_master 
WHERE document_fy=@fy and category_id=@category_id
GROUP BY category_id
)

IF @count is null SET @count=0
return @count 

END
GO
