USE [EIM]
GO
/****** Object:  Table [dbo].[folders_backup]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folders_backup](
	[folder_id] [int] NOT NULL,
	[bar_code] [nvarchar](8) NULL,
	[created_date] [datetime] NULL,
	[destroyed_date] [datetime] NULL,
	[grant_id] [int] NULL,
	[location_id] [smallint] NULL,
	[specialist_id] [smallint] NULL,
	[box_id] [int] NULL,
	[to_be_scanned] [bit] NOT NULL,
	[latest_move_date] [datetime] NULL,
	[latest_access_date] [datetime] NULL,
	[profile_id] [smallint] NULL,
	[is_transfer] [varchar](3) NULL,
	[removed_content_date] [smalldatetime] NULL
) ON [PRIMARY]
GO
