USE [EIM]
GO
/****** Object:  Table [dbo].[doc_transactions]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doc_transactions](
	[transaction_id] [int] NULL,
	[transaction_date] [smalldatetime] NULL,
	[date_string] [varchar](10) NULL
) ON [PRIMARY]
GO
