USE [EIM]
GO
/****** Object:  View [dbo].[vw_appls_duplicates]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_appls_duplicates]
AS
select   	dbo.vw_appls.appl_id, dbo.vw_appls.full_grant_num, 
	vw_appls.appl_type_code, vw_appls.activity_code,vw_appls.grant_id, vw_appls.support_year, vw_appls.suffix_code,
	isnumeric(dbo.vw_all_appls_used.appl_id) AS is_used, isnumeric(impp.APPL_ID) AS in_impac
from       dbo.vw_appls 
	INNER JOIN dbo.vw_appls_dups ON dbo.vw_appls.grant_id = dbo.vw_appls_dups.grant_id AND 
	dbo.vw_appls.appl_type_code = dbo.vw_appls_dups.appl_type_code AND 
	dbo.vw_appls.activity_code = dbo.vw_appls_dups.activity_code AND 
     	dbo.vw_appls.support_year = dbo.vw_appls_dups.support_year 
	LEFT OUTER JOIN OPENQUERY(IRDB, 'select appl_id from appls_t') impp ON dbo.vw_appls.appl_id = impp.APPL_ID 
	LEFT OUTER JOIN dbo.vw_all_appls_used ON dbo.vw_appls.appl_id = dbo.vw_all_appls_used.appl_id
where    (dbo.vw_appls.suffix_code IS NULL) AND (dbo.vw_appls_dups.suffix_code IS NULL) OR
	(dbo.vw_appls.suffix_code = dbo.vw_appls_dups.suffix_code)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1 [56] 4 [18] 2))"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vw_appls"
            Begin Extent = 
               Top = 11
               Left = 106
               Bottom = 126
               Right = 327
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_appls_dups"
            Begin Extent = 
               Top = 0
               Left = 515
               Bottom = 115
               Right = 673
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_all_appls_used"
            Begin Extent = 
               Top = 158
               Left = 910
               Bottom = 228
               Right = 1062
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "impp"
            Begin Extent = 
               Top = 0
               Left = 893
               Bottom = 70
               Right = 1045
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      RowHeights = 220
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5295
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_appls_duplicates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_appls_duplicates'
GO
