USE [EIM]
GO
/****** Object:  View [dbo].[vw_funding_docs]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_funding_docs]
AS

SELECT     dbo.funding_documents.document_id, dbo.funding_documents.document_date, dbo.funding_documents.created_date, dbo.funding_documents.sub_string,
                      dbo.people.person_name AS created_by, dbo.funding_documents.created_by_person_id, dbo.funding_documents.document_fy, 
                      dbo.funding_documents.stored_date, dbo.funding_documents.stored_by_person_id, dbo.funding_categories.category_id, 
                      dbo.funding_categories.level_id, dbo.funding_categories.category_fy, dbo.funding_categories.category_name, dbo.funding_documents.sub_category,
                      parent.category_name AS parent_category_name, dbo.funding_categories.parent_id, dbo.funding_categories.grand_parent_id, 
                      /*Imran : PIV Migration change 6/7/2014*/
                      --'https://egrants-data.nci.nih.gov/funded/nci/funding/upload/' + RIGHT('00000' + CONVERT(varchar, dbo.funding_documents.document_id), 6) 
                      '/data/funded/nci/funding/upload/' + RIGHT('00000' + CONVERT(varchar, dbo.funding_documents.document_id), 6) 
                      + '.pdf' AS url, dbo.fn_funding_RFA(dbo.funding_documents.document_id) AS rfa_pa_number, 
                      dbo.fn_funding_RFA_count(dbo.funding_documents.document_id) AS rfa_pa_number_count  
FROM         dbo.funding_documents INNER JOIN
                      dbo.people ON dbo.funding_documents.created_by_person_id = dbo.people.person_id INNER JOIN
                      dbo.funding_categories ON dbo.funding_documents.category_id = dbo.funding_categories.category_id LEFT OUTER JOIN
                      dbo.funding_categories AS parent ON dbo.funding_categories.parent_id = parent.category_id INNER JOIN 
                      (select distinct document_id from funding_appls where disabled_date is null) fa
						on dbo.funding_documents.document_id =fa.document_id





GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[34] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
         Begin Table = "funding_documents"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 264
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "people"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 114
               Right = 425
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "funding_categories"
            Begin Extent = 
               Top = 118
               Left = 264
               Bottom = 262
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "parent"
            Begin Extent = 
               Top = 102
               Left = 514
               Bottom = 195
               Right = 669
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "funding_appls"
            Begin Extent = 
               Top = 198
               Left = 461
               Bottom = 306
               Right = 651
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5310
         Alias = 2415
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_funding_docs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_funding_docs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_funding_docs'
GO
