USE [EIM]
GO
/****** Object:  Table [dbo].[performance]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[performance](
	[average_performance] [float] NULL,
	[dissatisfaction_rate] [tinyint] NULL,
	[last_reindexed_doc] [varbinary](8) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IMPORTANT DO NOT DELETE!' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'performance', @level2type=N'COLUMN',@level2name=N'last_reindexed_doc'
GO
