USE [EIM]
GO
/****** Object:  Table [dbo].[people_transactions]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people_transactions](
	[Transaction_Id] [int] IDENTITY(1,1) NOT NULL,
	[Created_by] [int] NOT NULL,
	[Created_date] [date] NOT NULL,
	[User_person_id] [int] NOT NULL,
	[Transaction_type] [varchar](20) NOT NULL,
	[History_people_id] [int] NULL,
 CONSTRAINT [PK_People_transactions] PRIMARY KEY CLUSTERED 
(
	[Transaction_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequencer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'Transaction_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created by person ID : Normally this is an admin doing access control on eGrants or DocMan.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'Created_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'Created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Person ID is being managed by admin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'User_person_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction type key words will be here. Normally this is any of them ( new, edit,disabled) in future there will be constraint on this field.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'Transaction_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK from History_people table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'people_transactions', @level2type=N'COLUMN',@level2name=N'History_people_id'
GO
