USE [EIM]
GO
/****** Object:  Table [dbo].[quality_control]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_control](
	[qc_reason] [varchar](20) NOT NULL,
	[person_id] [int] NOT NULL,
	[effort] [tinyint] NULL,
 CONSTRAINT [PK_quality_control] PRIMARY KEY CLUSTERED 
(
	[qc_reason] ASC,
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
