USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_script_Spread]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_script_Spread]
AS

BEGIN

DECLARE @cmd varchar(1000)
DECLARE @sql varchar(1000)
DECLARE @lastRun smalldatetime

SET @cmd='bcp "select command from eim..vw_script_spread" queryout d:\util\scripts\spread.sh -c -T'

exec master..xp_cmdshell @cmd

END



RETURN

GO
