USE [EIM]
GO
/****** Object:  Table [dbo].[impp_ss]    Script Date: 8/27/2019 5:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impp_ss](
	[appl_id] [int] NOT NULL,
	[ss_upd_date] [smalldatetime] NULL,
	[ss_page_count_num] [smallint] NULL,
	[last_upd_date] [smalldatetime] NULL,
 CONSTRAINT [PK_ss] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
