USE [EIM]
GO
/****** Object:  Table [dbo].[adsup_email_master]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adsup_email_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [varchar](50) NOT NULL,
	[subject] [nvarchar](max) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[created_by_person_id] [int] NOT NULL,
	[created_date] [smalldatetime] NOT NULL,
	[modified_by] [int] NULL,
	[modified_date] [smalldatetime] NULL,
 CONSTRAINT [PK_adsup_email] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[adsup_email_master] ADD  CONSTRAINT [DF_adsup_email_master_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Table unique id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_master', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'There will one template for one PA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_master', @level2type=N'COLUMN',@level2name=N'template_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'if it''s all going to be ascii-based, say for HTML with English content' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_master', @level2type=N'COLUMN',@level2name=N'subject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'html based including special charecters' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adsup_email_master', @level2type=N'COLUMN',@level2name=N'body'
GO
