USE [EIM]
GO
/****** Object:  Table [dbo].[egrants_people]    Script Date: 8/27/2019 5:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egrants_people](
	[person_id] [int] IDENTITY(2863,1) NOT NULL,
	[person_name] [varchar](100) NULL,
	[userid] [varchar](50) NULL,
	[nedid] [char](10) NULL,
	[profile_id] [smallint] NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
 CONSTRAINT [PK_egrants_people] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[egrants_people] ADD  CONSTRAINT [DF_egrants_people_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK on profile Table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_people', @level2type=N'COLUMN',@level2name=N'profile_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If there is an end date it means this person is not active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'egrants_people', @level2type=N'COLUMN',@level2name=N'end_date'
GO
