USE [EIM]
GO
/****** Object:  View [dbo].[vw_contracts_ciip_t--to_be_deleted]    Script Date: 8/27/2019 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_contracts_ciip_t--to_be_deleted]
AS
SELECT  * FROM OPENQUERY(CIIP,
'select c.id, C.AWARD_NUM, LATEST_SIGNED_MOD_NUM
, to_char(c.last_change_date, ''yyyymmdd'') as  last_change_date
from contracts_t c') ciip 




GO
