USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_max_econtract_transaction_id]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_max_econtract_transaction_id](
		@document_id int,
		@action_type varchar(20) )
RETURNS int as
--smalldatetime AS  
BEGIN 

declare @t_id int


SELECT @t_id = max (transaction_id)
from dbo.econtract_transactions
WHERE action_type = @action_type and document_id = @document_id 

RETURN @t_id
end
GO
