USE [EIM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_unix_file]    Script Date: 8/27/2019 5:06:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_unix_file] (@url varchar(500))

RETURNS varchar(100)

AS  
BEGIN

--Imran : 2/9/2015
----return replace (@url,'https://egrants-data.nci.nih.gov', '/egrants')
----return replace (@url,'/data', '/egrants')				comment out by leon 4/22/2016
return replace (@url,'data', '/egrants')

END
GO
