USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_y2013_egrants_doc_upload_tobedeleted]    Script Date: 8/27/2019 5:06:05 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_y2013_egrants_doc_upload_tobedeleted]

@Act 			varchar(50),
@AdminCode 		char(2),
@SerialNum		int, 
@ApplID 		int,
@CategoryID 	int,
@SubCategory	varchar(35),
@DocDate 		smalldatetime,
@FileLocation	varchar(200),
@DocumentID		int,
@Specialistid	int,
@file_type		varchar(5),
@Inst			varchar(10),
@Operator		varchar(50)

AS
/************************************************************************************************************/
/***									 							***/
/***	Procedure Name: sp_y2013_egrants_doc_upload					***/
/***	Description:	create or edit document						***/
/***	Created:	07/26/2006	Leon								***/
/***	Modified:	11/01/2013	Leon								***/
/***	Modified:	10/25/2014	Leon								***/
/************************************************************************************************************/
SET NOCOUNT ON

DECLARE
@profile_id		smallint,
@person_id		int,
@count 			int,
@url 			varchar(300),
@sql			varchar(850),
@separate		int,
@xmlout			varchar(max),
@X				Xml

/***find the profile_id**/
SET @Inst=LOWER(@Inst)
SELECT @profile_id=profile_id FROM profiles WHERE profile=@Inst 

/***find the operator's person_id***/
SELECT @person_id = person_id FROM vw_people WHERE userid=@Operator and profile_id=@profile_id

IF @SubCategory="null" SET @SubCategory=null

---decode input string and update 6/9/2016 by leon
SET @Act=LTRIM(RTRIM(dbo.fn_str_decode(@Act)))
SET @file_type=LTRIM(RTRIM(dbo.fn_str_decode(@file_type)))

SET @url='data/'+@FileLocation---update 5/24/2014 by leon

--return admin_phs_org_code
SET @X = (
SELECT DISTINCT admin_phs_org_code FROM vw_appls AS admin_phs_org_code
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

--return specialists
SET @X = (
SELECT person_id, ISNULL(person_name,userid)AS person_name
FROM vw_people AS specialist
WHERE profile_id=@profile_id and application_type='egrants' and position_id >=2 
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

--return categories where can_upload='yes'
SELECT MAX(category_id) as max_categoryid,
(
SELECT category_id,category_name,package,input_type 
FROM vw_categories AS category 
WHERE ic=@Inst and can_upload='yes'
FOR XML AUTO, TYPE, ELEMENTS
)
FROM vw_categories as categories 
WHERE ic=@inst  
FOR XML AUTO, TYPE, ELEMENTS

--return all categories
SELECT MAX(category_id) as max_categoryid,
(
SELECT category_id,category_name,package,input_type  
FROM vw_categories as category 
WHERE ic=@Inst
FOR XML AUTO, TYPE, ELEMENTS
)
FROM vw_categories as all_categories 
WHERE ic=@inst  
FOR XML AUTO, TYPE, ELEMENTS

--return all sub categories
SELECT category_id,category_name,input_type, 
(
SELECT parent_category_id, sub_category_name  
FROM dbo.categories_subcat_lookup as sub_category 
WHERE parent_category_id=main_category.category_id 
ORDER BY category_id
FOR XML AUTO, TYPE, ELEMENTS
)
FROM dbo.vw_categories as main_category
WHERE input_type is not null and ic=@Inst
--ORDER BY category_name
FOR XML AUTO, TYPE, ELEMENTS

/***run by act***/
IF @act='' or @act is null
GOTO head

IF @act='to_load' GOTO to_load
IF @act='to_search' GOTO to_search
IF @act='to_create' GOTO to_create
IF @act='to_modify' GOTO to_modify
---IF @act='to_test' GOTO to_test
---IF @act='to_upload' GOTO to_upload
--------------------------------------------------------
/***to load document information for modify document index***/
to_load:

--load grant and appl data by @DocumentID
SET @X = (
SELECT 
grant_id,
admin_phs_org_code,
serial_num,
(
SELECT DISTINCT appl_id,support_year,full_grant_num FROM vw_appls AS appl 
WHERE grant_id=(select grant_id from egrants AS appl where document_id=@DocumentID)and deleted_by_impac='n' 
FOR XML AUTO, TYPE, ELEMENTS
)
FROM egrants AS [grant]
WHERE document_id=@DocumentID
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

declare @input_type	char(1)
SET @input_type=(select input_type from categories where category_id=(select category_id from documents where document_id=@DocumentID))

--load document data by @DocumentID
SET @X = (
SELECT document_name,document_id,appl_id,full_grant_num,category_name,category_id,sub_category_name,@input_type as input_type,page_count,file_type, convert(varchar,qc_date,101) AS qc_date, convert(varchar,document_date,101) AS document_date
FROM egrants AS document  
WHERE document_id=@DocumentID 
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
----------------------------------------------------------
/***to return all appls by searching  for createing new document***/
to_search:

--searching by appl_id
IF @ApplID<>'' and @ApplID is not null
BEGIN
SET @X = (
SELECT
grant_id,
admin_phs_org_code,
serial_num,
(
SELECT DISTINCT appl_id,support_year,full_grant_num FROM vw_appls AS appl 
WHERE grant_id=(select grant_id from vw_appls where appl_id=@ApplID)and deleted_by_impac='n' 
FOR XML AUTO, TYPE, ELEMENTS
)
FROM vw_grants AS [grant] WHERE grant_id =(select grant_id from vw_appls where appl_id=@ApplID)
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout
END
ELSE
--searching by @AdminCode and @SerialNum
--IF (@AdminCode<>'' and @AdminCode is not null) and (@SerialNum<>'' and @SerialNum is not null)
BEGIN
SET @X = (
SELECT 
grant_id,
admin_phs_org_code,
serial_num,
(SELECT DISTINCT appl_id,support_year,full_grant_num
FROM vw_appls AS appl 
WHERE admin_phs_org_code=@AdminCode and serial_num=@SerialNum and deleted_by_impac='n' 
FOR XML AUTO, TYPE, ELEMENTS
)
FROM vw_grants AS [grant] WHERE admin_phs_org_code=@AdminCode and serial_num=@SerialNum
ORDER BY grant_id
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout
END

GOTO head

RETURN
--------------------------------------------------------
/***to create new document***/
to_create:

----IF @PageCount='' or  @PageCount=0 SET @PageCount = null
INSERT documents(appl_id,category_id,sub_category_name,document_date, file_type, created_date, created_by_person_id, qc_date, profile_id, qc_reason)
SELECT @ApplID,@CategoryID,ISNULL(@SubCategory,null),@DocDate, @file_type, getdate(), @person_id, getdate(), @profile_id, 'LocalScan'

SELECT @DocumentID = @@IDENTITY
UPDATE documents SET url=REPLACE(@url + convert(varchar,@DocumentID) + '.' + @file_type,' ', '') WHERE document_id=@DocumentID

/**insert document transaction information**/
EXEC sp_y2013_egrants_doc_transaction @DocumentID, @Operator,'created', null

/**return new  document_id and url **/

SELECT @url = REPLACE(url , '.nci.', '.'+@Inst+'.') FROM documents WHERE document_id= @DocumentID

SET @X = (
SELECT document_id, @url as new_url 
FROM documents AS new_document 
WHERE document_id= @DocumentID 
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO to_reload

GOTO head

RETURN
--------------------------
/**reload grant and appl data after created new**/
to_reload:

--load by @DocumentID
SET @X = (
SELECT 
grant_id,
admin_phs_org_code,
serial_num,
(
SELECT appl_id,support_year,full_grant_num FROM egrants AS appl
WHERE document_id=@DocumentID and deleted_by_impac='n'
FOR XML AUTO, TYPE, ELEMENTS
)
FROM egrants AS [grant]
WHERE document_id=@DocumentID
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
-----------------------------
/***to modify document index after image was upload and return new url***/
to_modify:

UPDATE documents 
SET url=REPLACE(@url+ convert(varchar,documents.document_id) + '.' +@file_type,' ',''), file_type=@file_type, file_modified_date=getdate(), file_modified_by_person_id=@person_id, qc_date=getdate(), qc_person_id=null,qc_reason='Change',profile_id=@profile_id, stored_date=null, stored_by_person_id=null
FROM documents
WHERE document_id=@DocumentID

UPDATE grants
SET paperless='yes'
FROM grants g,egrants e
WHERE e.document_id=@DocumentID and g.grant_id=e.grant_id

/**insert document transaction information**/
EXEC sp_y2013_egrants_doc_transaction @DocumentID,@Operator,'image_modified', null

/**return new  url **/
SELECT @url = REPLACE(url , '.nci.', '.'+@Inst+'.') FROM documents WHERE document_id= @DocumentID
---SELECT @url AS new_url FROM performance AS new_url ---FOR XML AUTO, ELEMENTS

SET @X = (
SELECT document_id, @url as new_url 
FROM documents AS new_document 
WHERE document_id= @DocumentID 
FOR XML AUTO, TYPE, ELEMENTS
)
select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO head

RETURN
-----------------------------------------------------------
/***to load document information for updateing document index***/
to_upload:

/**
SELECT
1	AS tag, 
null	AS parent,
grant_id 		[grant!1!grant_id!element],
admin_phs_org_code	[grant!1!admin_phs_org_code!element],
serial_num		[grant!1!serial_num!element],
null			[appl!2!appl_id!element],
null			[appl!2!support_year!element],
null			[appl!2!full_grant_num!element]
FROM egrants
WHERE document_id=@DocumentID
UNION 

SELECT
2	AS tag, 
1	AS parent,
e.grant_id,
null,
null,
a.appl_id,
a.support_year,
a.full_grant_num
FROM vw_appls a, egrants e 
WHERE a.admin_phs_org_code=e.admin_phs_org_code and a.serial_num=e.serial_num and e.document_id=@DocumentID
ORDER BY [grant!1!grant_id!element]
---FOR XML EXPLICIT

SELECT document_id,appl_id,full_grant_num,category_name,page_count,file_type, convert(varchar,qc_date,101) AS qc_date, convert(varchar,document_date,101) AS document_date
FROM egrants AS document WHERE document_id= @DocumentID ---FOR XML AUTO, ELEMENTS
**/

GOTO head

RETURN
---------------------------
head:

--check permission
SET @count=(select COUNT(*) from vw_people where userid=LOWER(@operator) and application_type='egrants' and can_egrants_upload='y')

IF @count=1
BEGIN
SET @X = (
SELECT *,convert(varchar, getdate(),101) as today
FROM vw_people as user_info
WHERE userid=@operator 
FOR XML AUTO, TYPE, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout
END
ELSE
BEGIN
SELECT null
END



RETURN
GO
