source-aspnet/.vs/egrants_new/v17/fileList.bin
source-aspnet/.vs/
source-aspnet/packages/

/source-csxscripts/EmailHandling/EmailHandling/.vs/*
/source-csxscripts/EmailHandling/EmailHandling/EmailTests/.vs/*
/source-csxscripts/EmailHandling/EmailHandling/EmailTests/bin/*
/source-csxscripts/EmailHandling/EmailHandling/EmailTests/obj/*
/source-csxscripts/EmailHandling/EmailHandling/Out/*
/source-csxscripts/EmailHandling/EmailHandling/packages/*
/source-csxscripts/EmailHandling/EmailHandling/Router/bin/*
/source-csxscripts/EmailHandling/EmailHandling/Router/obj/*
/EmailHandling/EmailHandling/.vs/*
/EmailHandling/.vs/*
/EmailHandling/EmailTests/.vs/*
/EmailHandling/EmailTests/bin/*
/EmailHandling/EmailTests/obj/*
/EmailHandling/Out/*
/EmailHandling/packages/*
/EmailHandling/Router/bin/*
/EmailHandling/Router/obj/*
/EmailHandling/Router/.vs/*
/source-aspnet/egrants_new/App_Data/*
/EmailHandling/CommonUtilties/obj/*
/EmailHandling/CommonUtilties/bin/*
/EmailHandling/OGARequestAccountDisable/bin/*
/EmailHandling/OGARequestAccountDisable/obj/*
/EmailHandling/EmailConcatenationPOC/.vs/EmailConcatenationPOC/FileContentIndex/*
/EmailHandling/EmailConcatenationPOC/.vs/*
/EmailHandling/EmailConcatenationPOC/EmailConcatenationPOC/.vs/*
/EmailHandling/EmailConcatenationPOC/EmailConcatenationPOC/bin/*
/EmailHandling/EmailConcatenationPOC/EmailConcatenationPOC/obj/*
/EmailHandling/EmailConcatenationPOC/packages/*
/source-aspnet/pdf_file_conversion/bin/Debug/*
/source-aspnet/pdf_file_conversion/obj/*
/source-aspnet/temp/*
/source-aspnet/egrants_new/DocPDFConversion/input/old/*
/source-aspnet/egrants_new/DocPDFConversion/output/old/*
/source-aspnet/pdf_file_conversion/.vs/*
/source-aspnet/pdf_file_conversion/bin/*
