SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
-- =============================================
-- Author:		<Imran Omair>
-- Create date: <12/13/2012>
-- Description:	<Create distinct IMPACII distructed appl list from IRDB>
--DESTRUCT_PROCESS_STATUS_CODE
--0.Excluded or Retained (for various reasons) from deletion either by a user or by a proc
--1.Waiting : waiting for approval or Just downloaded from impac
--2.Approved: Ready for approval either by a uaser or automated proc
--3.WIP : System is locating files on various file server
--4.Error :Error in Locating files.
--5.Deletion Complete : Deletion of documents completed, Links are unlinked, notice on website created etc....
--6. BIG CHANGE ON 9/25/2015 : [iMM]
--7. 10/16/2015 dEPLOYMENT : [Imran]
-- =============================================
CREATE PROCEDURE [dbo].[sp_egrants_maint_impac_distructed_appl]
AS
BEGIN
	SET NOCOUNT ON;
	
--Commented on 6/24/16 3:33pm by hareeshj	
--INSERT dbo.IMPAC_DESTRUCTED_APPL(APPL_ID,EGRANTS_CREATED_DATE,DESTRUCT_PROCESS_STATUS_CODE)	
--	SELECT A.appl_id,GETDATE() AS EGRANTS_CREATED_DATE,1
--	FROM OPENQUERY(IRDB,'SELECT *
--	from IRDB.PROJECT_VERSIONS_T A
--	where a.source_code_dc = ''HISTORY''
--	AND a.ADMIN_PHS_ORG_CODE=''CA'' ')A 
--	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM EIM.DBO.IMPAC_DESTRUCTED_APPL)

--added by hareeshj on 6/24/2016 3:33pm
--INSERT dbo.IMPAC_DESTRUCTED_APPL(APPL_ID,EGRANTS_CREATED_DATE,DESTRUCT_PROCESS_STATUS_CODE)	
--	SELECT A.appl_id,GETDATE() AS EGRANTS_CREATED_DATE,1
--	FROM OPENQUERY(IRDB,'SELECT distinct A.APPL_ID
--	from appls_at A
--	where a.source_code_dc in (''HISTORY'', ''CURRENT'')
--	AND a.ADMIN_PHS_ORG_CODE=''CA'' ')A 
--	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM EIM.DBO.IMPAC_DESTRUCTED_APPL)

INSERT dbo.IMPAC_DESTRUCTED_APPL(APPL_ID,EGRANTS_CREATED_DATE,DESTRUCT_PROCESS_STATUS_CODE)	
	SELECT A.appl_id,GETDATE() AS EGRANTS_CREATED_DATE,1
	FROM dbo.Archive_Grant_List_2017 A 
	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM EIM.DBO.IMPAC_DESTRUCTED_APPL)
	
	
		
	UPDATE A
	SET A.GRANT_ID=B.GRANT_ID,
	A.APPL_STATUS_GRP_DESCRIP=B.appl_status_group_descrip
	FROM DBO.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.APPLS B ON A.APPL_ID=B.APPL_ID

	UPDATE A
	SET A.FGN=B.FULL_GRANT_NUM
	FROM DBO.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.VW_APPLS B ON A.APPL_ID=B.APPL_ID
	
	--CREATE A LIST OF OGA EXCLUSION FROM IMPAC DESTRUCTION
	--MANUALLY ADD A PERSON ID WHO HAS CREATED THIS EXCLUSION OVER THE YEAR IN QVR EXCLUSION SYSTEM

	INSERT dbo.IMPAC_DESTRUCTION_EXCLUSION(APPL_ID,creator_id, created_date)	
	SELECT A.APPL_ID,A.CREATOR_ID,A.CREATED_DATE
	FROM OPENQUERY(IRDB,'SELECT APPL_ID,CREATOR_ID,CREATED_DATE from IRDB.ARCHIVE_APPL_HOLDS_MV where CREATOR_ID = ''BAKERB'' ')A 
	WHERE A.APPL_ID NOT IN (SELECT APPL_ID FROM dbo.IMPAC_DESTRUCTION_EXCLUSION)

	UPDATE A
	SET A.FGN=B.FULL_GRANT_NUM
	FROM dbo.IMPAC_DESTRUCTION_EXCLUSION A  INNER JOIN DBO.VW_APPLS B ON A.APPL_ID=B.APPL_ID AND A.FGN IS NULL
	
	UPDATE A
	SET A.serial_num = B.serial_num
	FROM dbo.IMPAC_DESTRUCTED_APPL A  INNER JOIN DBO.VW_APPLS B ON A.APPL_ID=B.APPL_ID 

	-- 
	
	
	-- MARK TOBACCO RELATED GRANTS FROM dbo.IMPAC_DESTRUCTED_APPL
	-- Imran 5/12/2016 commented out the following because it is not needed any more.	
		----UPDATE A
		----SET A.DESTRUCTION_EXCEPTION_CODE='TOBACCO',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		----A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		----FROM dbo.IMPAC_DESTRUCTED_APPL A  
		----WHERE A.APPL_ID IN (SELECT DISTINCT APPL_ID FROM EGRANTS WHERE IS_TOBACCO=1) -- 1322
		
	-- Imran : 5/12/2016
	--TOBACCO RESTRICTIONS ARE GONE. So we have to remove all Tobacco exceptions in the past using that we had been retaining these grants
	--run the following only once because para above is commented out
	--SELECT COUNT(*) FROM DBO.IMPAC_DESTRUCTED_APPL WHERE DESTRUCTION_EXCEPTION_CODE='TOBACCO'  --3060
	----UPDATE dbo.IMPAC_DESTRUCTED_APPL
	----SET DESTRUCT_PROCESS_STATUS_CODE=1,DESTRUCTION_EXCEPTION_CODE=NULL
	----WHERE DESTRUCTION_EXCEPTION_CODE='TOBACCO'  
	----(3060 row(s) affected)
	
	-- ARRA GRANTS THAT IMPACii HAS DELETED THIS YEAR -- 3
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='ARRA',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--select COUNT(*)
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE convert(varchar(10),A.EGRANTS_CREATED_DATE,101)='05/03/2017'
		AND A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'ARRA'  
			AND A.grant_id=B.grant_id  -- 47283
		)	

		-- SAVE ALL ARRA GRANTS THAT HAS NOT BEEN DELETED IN PRIOR YEARS OR THEY MIGHT HAVE BEEN MARKED TOBACCO.- 273
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='ARRA',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--select *
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE 
		A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'ARRA'  
			AND A.grant_id=B.grant_id  -- 47283
		)	
		AND DESTRUCT_PROCESS_STATUS_CODE <>3
		AND DESTRUCTION_EXCEPTION_CODE IS NULL
		
	-- C06 GRANTS THAT IMPACii HAS DELETED THIS YEAR -- 3
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='C06',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--select COUNT(*)		
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE convert(varchar(10),A.EGRANTS_CREATED_DATE,101)='05/03/2017'
		AND A.APPL_ID IN (
				select DISTINCT A.appl_id from vw_appls A
				where A.activity_code = 'c06'  
		)
				
	-- SAVE ALL C06 FROM PRIOR YEARS OR THE ONE MARKED ARRA RECENTLY AND NOT DELETED PREVIOUSLY -- 0
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='C06',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--select COUNT(*)		
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE A.APPL_ID IN (
				select DISTINCT A.appl_id from vw_appls A
				where A.activity_code = 'c06'  
		)
		AND DESTRUCT_PROCESS_STATUS_CODE <>3
		AND DESTRUCTION_EXCEPTION_CODE IS NULL	
						
	-- Mark Not to delete, KAT GRANTS THAT IMPACii HAS DELETED THIS YEAR -- 3
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='KAT',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--SELECT *
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE convert(varchar(10),A.EGRANTS_CREATED_DATE,101)='05/03/2017'
		AND A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'KAT'  
			AND A.grant_id=B.grant_id
			AND A.appl_id=B.appl_id
		)		

	-- SAVE KATRINA GRANTS THAT IS FLAGGED ON BOTH APPL OR GRANT LEVEL --2
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='KAT',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--SELECT * 
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'KAT'  
			AND A.grant_id=B.grant_id
			--AND A.appl_id=B.appl_id   ==> SAVE BOTH WHETHER ON APPL OR gRANT LEVEL
		)		
		AND DESTRUCT_PROCESS_STATUS_CODE <>3
		AND DESTRUCTION_EXCEPTION_CODE IS NULL			
		
	-- FDA GRANTS THAT IMPACii HAS DELETED THIS YEAR -- 3
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='FDA',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--SELECT * 
		FROM dbo.IMPAC_DESTRUCTED_APPL A  						
		WHERE convert(varchar(10),A.EGRANTS_CREATED_DATE,101)='5/2/2017'
		AND A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'FDA'  
			AND A.grant_id=B.grant_id
			AND A.appl_id=B.appl_id
		)		

	--  SAVE FDA GRANTS THAT IS FLAGGED ON BOTH APPL OR GRANT LEVEL --0
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='FDA',A.DESTRUCT_PROCESS_STATUS_CODE=0,
		A.DESTRUCTION_EXCEPTION_CREATED_BY=1899, A.DESTRUCTION_EXCEPTION_CREATED_DATE=GETDATE()
		--SELECT * 			
		FROM dbo.IMPAC_DESTRUCTED_APPL A  					
		WHERE A.APPL_ID IN (
			select DISTINCT B.appl_id from dbo.Grants_Flag_Construct A, vw_appls B
			where A.flag_type = 'FDA'  
			AND A.grant_id=B.grant_id
			--AND A.appl_id=B.appl_id  ==> SAVE BOTH WHETHER ON APPL OR gRANT LEVEL
		)		
		AND DESTRUCT_PROCESS_STATUS_CODE <>3
		AND DESTRUCTION_EXCEPTION_CODE IS NULL			
			
	-- MARK/CHECK GRANTS THAT FALL FROM ANY OTHER EXCEPTIONS THAT OGA CREATED INCLUDING qvr eXCLUSION SYSTEM
		UPDATE A
		SET A.DESTRUCTION_EXCEPTION_CODE='OGA EXCLSN',A.DESTRUCT_PROCESS_STATUS_CODE=0
		FROM dbo.IMPAC_DESTRUCTED_APPL A  INNER JOIN dbo.IMPAC_DESTRUCTION_EXCLUSION B ON A.APPL_ID=B.APPL_ID
		
	-- Mark DESTRUCT_PROCESS_STATUS_CODE=2 for all records that are ready to be deleted.
		UPDATE dbo.IMPAC_DESTRUCTED_APPL 
		SET DESTRUCT_PROCESS_STATUS_CODE=2
		WHERE DESTRUCTION_EXCEPTION_CODE is NULL
		AND DESTRUCT_PROCESS_STATUS_CODE=1
		
END




GO
