SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON



-- =============================================
-- Author:			Benny Shell
-- Create date:		06/07/2020
-- Description:		CAll a URL from SQL Server 
-- =============================================
CREATE   PROCEDURE [dbo].[sp_BENNY_TEST]
AS
BEGIN
SET NOCOUNT ON;
	
Select top 10 * from WSHistory

END

GO
