SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON





-- =============================================
-- Author:			Benny Shell
-- Create date:		06/07/2020
-- Description:		Retrieve the WebService details
-- =============================================
CREATE         PROCEDURE [dbo].[sp_web_service_get_endpoint]
	@webserviceId int
AS
BEGIN
SET NOCOUNT ON;
	
SELECT [WSEndpoint_Id]
      ,[Name]
      ,[Description]
      ,[EndpointUri]
      ,[Action]
      ,[AcceptsHeader]
      ,[AuthenticationType]
      ,[SourceOrganization]
      ,[NextRun]
      ,[LastRun]
      ,[DestinationDatabase]
      ,[DestinationTable]
      ,[Interval]
      ,[Enabled]
      ,[TriggerAuth]
      ,[RetryOnFail]
      ,[RetryInterval]
      ,[RetryFreq]
      ,[Frequency]
      ,[WebRequestMethod]
      ,[KeepAlive]
      ,[Timeout]
      ,[Schema]
      ,[QueryString]
      ,[AllowRedirect]
      ,[Database]
      ,[ReconciliationBehavior]
      ,[CertificatePath]
      ,[CertificatePwd]
	  ,IntervalTimeSpan
  FROM [dbo].[WSEndpoint]
  WHERE [WSEndpoint_Id] = @webserviceId;

END



GO
