SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON

--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[DB_GET_WIDGET_ASSIGNMENT]
@USERID VARCHAR(30)
AS
BEGIN
select b.widget_id,b.widget_title,b.description,b.widget_method,b.widget_method_param,b.widget_help_url,
(select 'y' from dbo.DB_WIDGET_ASSIGNMENT a where a.userid=@USERID and a.end_date is null and a.widget_id=b.widget_id) as selected
from dbo.DB_Widget_Master b where b.end_date is null
END




GO
