SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON


CREATE PROCEDURE [dbo].[OGA_MONTHLY_NREL_BYMECH]
--@ACTIONFY VARCHAR(4)
AS

BEGIN

DECLARE @SQL varchar(4000)

--REPORT TITLE: GRANTS NOT RELEASED BY MECHANISM

SET @SQL= 'select * from OPENQUERY(CIIP,''SELECT ACTIVITY_CODE,
OCT_NREL AS "Oct",
Nov_NREL AS "Nov",
Dec_NREL AS "Dec",
JAN_NREL AS "Jan",
FEB_NREL AS "Feb",
MAR_NREL AS "Mar",
APR_NREL AS "Apr",
MAY_NREL AS "May",
JUN_NREL AS "Jun",
JUL_NREL AS "Jul",
AUG_NREL AS "Aug",
SEP_NREL AS "Sep",
TOTAL_CNT AS "Total Count", TOTAL_REL as "Total Released", TOTAL_NREL as "Total Not Released", 
TOTAL_REL/TOTAL_CNT as "Pct Released", 
TOTAL_NREL/TOTAL_CNT as "Pct Not Released", 
TOTL_WRKLD as "Total Workload" '

SET @SQL=@SQL + 'FROM NCIGAB.OGA_MONTHLY_PROGRESS_BYMECH order by ACTIVITY_CODE'')'

--PRINT @SQL

EXEC (@SQL)

END







GO
