SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE [dbo].[sp_y2013_egrants_access_control_tobedeleted]

@act  				varchar(20),
@user_id			int,
@loginid			varchar(50),
@first_name			varchar(50),
@middle_name		varchar(20),
@last_name			varchar(50),
@email_address		varchar(100),
@phone_num			varchar(10),
@coordinator_id		int,
@position_id		smallint,
@active_type		int,
@ic_id				smallint,
@egrants_tab		int,
@mgt_tab			int,
--@docman_tab		int,
--@cft_tab			int,
@admin_tab			int,
@iccoord_tab		int,
@dashboard_tab		int,
@is_coordinator		bit,
@end_date			varchar(10),
@ic  				varchar(10),
@operator 			varchar(50)

AS
/************************************************************************************************************/
/***									 											***/
/***	Procedure Name:sp_y2013_egrants_access_control (sp_y2013_admin_user_edit)	***/
/***	Description:edit user info													***/
/***	Created:	08/23/2013	Leon												***/
/***	Modified:	12/12/2013	Leon	added @active_type							***/
/***	Modified:	03/28/2014	Leon	added start_date, end_date					***/
/***	Modified:	06/19/2014	Leon	added return information					***/
/***	Modified:	09/10/2014	Leon	added ic_id information						***/
/***	Modified:	09/01/2015	Leon	simplify code								***/
/***	Modified:	09/29/2015	Leon	modify last name, first name...				***/
/***	Modified:	12/12/2015	Leon	add end-date 								***/
/************************************************************************************************************/
SET NOCOUNT ON

declare @xmlout			varchar(max)
declare	@X				Xml
declare @person_id		int
declare @new_user_id	int
declare @separate		int
declare @profile_id		int
declare @profile		varchar(5)
declare @people_history_id	int
declare @person_name	varchar(100)
declare @count			int
declare @inst			varchar(5)

--IF @active_type is null SET @active_type=1
SET @profile_id	=(SELECT profile_id	FROM profiles WHERE [profile]=@ic)
SET @person_id=(SELECT person_id FROM people WHERE userid=@Operator and profile_id=@profile_id)

--check permission
SET @count=(select COUNT(*) FROM vw_people p inner join vw_adm_menu_assignment a on p.person_id=a.person_id
WHERE p.userid=@operator and application_type='egrants' and menu_title='eGrants Access Control' )

--return user's info
IF @count=1
BEGIN
SET @X = (
SELECT *,convert(varchar,getdate(),101) as today
FROM vw_people  as user_info
WHERE userid=LOWER(@operator)
FOR XML AUTO, TYPE, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout
END
ELSE
BEGIN
SELECT null
END

IF @loginid <>'' and @loginid is not null SET @loginid=rtrim(ltrim(@loginid))
IF @last_name <>'' and @last_name is not null SET @last_name=rtrim(ltrim(@last_name))
IF @first_name <>'' and @first_name is not null SET @first_name=rtrim(ltrim(@first_name))
IF @end_date='' or @end_date is null SET @end_date=null
IF @is_coordinator is null set @is_coordinator=0
IF @is_coordinator=1 set @coordinator_id=null

/**set default act**/
if (@act ='' or @act is null) goto load_users
if (@act ='ic') goto to_ic
if (@act ='load') goto to_load
if (@act ='create') goto to_create
if (@act ='update') goto to_update
if (@act ='review') goto to_review
if (@act ='access') goto to_create
if (@act ='search') goto search_users
if (@act ='activate') goto to_active
if (@act ='inactivate') goto to_inactive
----------------------
to_load:

SET @X = 
(
SELECT person_id,userid,person_name,first_name,last_name,middle_initial as middle_name,
email,phone_number,ic_coordinator_id as coordinator_id,is_coordinator,profile_id,dashboard,
active,application_type,cft,docman,mgt,iccoord,egrants,[admin],
convert(varchar(16),start_date,121)as [start_date_time],convert(varchar,start_date,101)as [start_date], 
convert(varchar,end_date,101)as end_date, convert(varchar(16),end_date,121) as end_date_time,
CASE WHEN active = 1 THEN 'active' ELSE 'inactive' END as [status],
pp.position_id,pp.position_name
FROM dbo.people AS [user] inner join people_positions as pp on [user].position_id=pp.position_id
WHERE person_id=@user_id 
FOR XML AUTO, ELEMENTS 
)

select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO load_users

RETURN
------------------------
to_create:

--check if it is already existed
SET @count=(select COUNT(*) from people where userid=@loginid and active=1)

---user data is already existe
IF @count>=1
BEGIN
SET @inst=(select [profile] from profiles where profile_id=(select profile_id from people where userid=@loginid and active=1))
--return notice
SET @X = (
SELECT 'Account of '+@first_name+' '+@last_name+' already exist' FROM performance AS return_info FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout
END

---create new user's data
IF @count=0
BEGIN
INSERT INTO people (userid,person_name,last_name,middle_initial,first_name,profile_id,application_type,email,phone_number,ic_coordinator_id,is_coordinator,end_date,
egrants,mgt,[admin],iccoord,dashboard,position_id,Created_by,last_updated_by,last_updated_date)
SELECT @loginid,@last_name+', '+@first_name,@last_name,ISNULL(@middle_name,null),@first_name,@ic_id,'egrants',ISNULL(@email_address,null),ISNULL(@phone_num,null),ISNULL(@coordinator_id,null),@is_coordinator,ISNULL(@end_date,null),
ISNULL(@egrants_tab,0),ISNULL(@mgt_tab,0),ISNULL(@admin_tab,0),ISNULL(@iccoord_tab,0),ISNULL(@dashboard_tab,0),@position_id,@person_id,@person_id,GETDATE()

---update cord_manager table
SET @count=(select COUNT(*) from cord_manager where user_login=@loginid)
IF @count=1 UPDATE cord_manager SET date_LastAccess=GETDATE(), status='approved' WHERE user_login=@loginid

----get person_name and return notice
SET @person_name=(SELECT person_name FROM people WHERE userid=@loginid)
SET @X = (
SELECT 'The account of '+@person_name+' has been created' 
FROM performance AS return_info FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout
END

GOTO load_users

RETURN
-------------------------
to_update:

--update user's data
UPDATE people 
SET userid=@loginid,person_name=@last_name+', '+@first_name,last_name=@last_name,middle_initial=@middle_name,first_name=@first_name,email=ISNULL(@email_address,null),is_coordinator=@is_coordinator,
ic_coordinator_id=@coordinator_id,phone_number=ISNULL(@phone_num,null),position_id=@position_id,last_updated_by=@person_id,last_updated_date=GETDATE(), end_date=ISNULL(@end_date,null),
egrants=ISNULL(@egrants_tab,0),mgt=ISNULL(@mgt_tab,0),[admin]=ISNULL(@admin_tab,0),iccoord=ISNULL(@iccoord_tab,0),dashboard=ISNULL(@dashboard_tab,0)
WHERE person_id=@user_id

--inactive user 
IF (@end_date is not null and @end_date>=convert(varchar,getdate(),101)) GOTO to_inactive

--get person_name and return notice
SET @person_name=(SELECT person_name FROM people WHERE person_id=@user_id)
SET @X = (
SELECT 'The account of '+@person_name+' has been updated' 
FROM performance AS return_info FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO load_users

RETURN
-------------------------
to_review:

SET @X = 
(
select id as person_id,user_login as userid, user_fname as first_name, user_lname as last_name,user_mi as middle_name,
email,phone_number,cord_id as coordinator_id,1 as profile_id,@active_type as active,
pp.position_id,pp.position_name
FROM dbo.cord_manager AS [user] inner join people_positions as pp on dbo.fn_get_position_id([user].access_Type)=pp.position_id
WHERE id=@user_id 
FOR XML AUTO, ELEMENTS 
)

select @xmlout = cast(@X as varchar(max))
select @xmlout

GOTO load_users

RETURN
-------------------------
to_active:

--to active
update people set active=1, last_updated_by=@person_id, last_updated_date=GETDATE() where person_id=@user_id

--get person_name and return notice
SET @person_name=(SELECT person_name FROM people WHERE person_id=@user_id)
SET @X = (
SELECT 'The account of '+@person_name+' has been actived' 
FROM performance AS return_info FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO load_users

RETURN
-------------------------
to_inactive:

--to inactive
update people set active=0, last_updated_by=@person_id, last_updated_date=getdate() where person_id=@user_id

--get person_name and return notice
SET @person_name=(SELECT person_name FROM people WHERE person_id=@user_id)
SET @X = (
SELECT 'The account of '+@person_name+' has been inactived' 
FROM performance AS return_info FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO load_users

RETURN
-------------------------
to_ic:

--to update user's ic
update people set profile_id=@ic_id,active=1,last_updated_by=@person_id,last_updated_date=GETDATE() where person_id=@user_id

--get person_name and return notice
SET @person_name=(SELECT person_name FROM people WHERE person_id=@user_id)
SET @profile=(select [profile] from profiles where profile_id=@ic_id)
SET @X = (
SELECT 'The IC for '+@person_name+' has been changed to ' + @profile FROM performance AS return_info 
FOR XML AUTO, ELEMENTS 
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO load_users

RETURN
-------------------------
search_users:

IF @active_type<=1 
BEGIN			---find inactive or active users
SET @X = (
SELECT 
index_id,Upper(ins_index) as [index],index_seq,
(
SELECT 
person_id,userid,person_name,active,@ic as ic,application_type,email,phone_number,ic_coordinator_id,
CASE WHEN mgt>0 THEN 'y' ELSE 'n' END as mgt,
CASE WHEN egrants>0 THEN 'y' ELSE 'n' END as egrants,
CASE WHEN [admin]>0 THEN 'y' ELSE 'n' END as [admin],
CASE WHEN iccoord>0 THEN 'y' ELSE 'n' END as iccoord,
CASE WHEN dashboard>0 THEN 'y' ELSE 'n' END as dashboard,
convert(varchar,[start_date],101) as [start_date],
convert(varchar,end_date,101) as end_date,
pp.position_id,pp.position_name
FROM people as [user] inner join people_positions as pp on [user].position_id=pp.position_id
WHERE application_type='egrants' and active=@active_type and [user].position_id=@position_id and last_name is not null and first_name is not null and [user].profile_id=1
ORDER BY last_name+', '+first_name
FOR XML AUTO, TYPE, ELEMENTS 
)
FROM dbo.institutions_index as [index]
WHERE index_id=1
FOR XML AUTO, TYPE, ELEMENTS 
)
END
ELSE
BEGIN		---find all users
SET @X = (
SELECT 
index_id,Upper(ins_index) as [index],index_seq,
(
SELECT 
person_id,userid,person_name,active,@ic as ic,application_type,email,phone_number,ic_coordinator_id,
CASE WHEN mgt>0 THEN 'y' ELSE 'n' END as mgt,
CASE WHEN egrants>0 THEN 'y' ELSE 'n' END as egrants,
CASE WHEN [admin]>0 THEN 'y' ELSE 'n' END as [admin],
CASE WHEN iccoord>0 THEN 'y' ELSE 'n' END as iccoord,
CASE WHEN dashboard>0 THEN 'y' ELSE 'n' END as dashboard,
convert(varchar,[start_date],101) as [start_date],
convert(varchar,end_date,101) as end_date,
pp.position_id,pp.position_name
FROM people as [user] inner join people_positions as pp on [user].position_id=pp.position_id 
WHERE application_type='egrants' and [user].position_id=@position_id and last_name is not null and first_name is not null and [user].profile_id=1
ORDER BY last_name+', '+first_name
FOR XML AUTO, TYPE, ELEMENTS 
)
FROM dbo.institutions_index as [index]
WHERE index_id=1
FOR XML AUTO, TYPE, ELEMENTS 
)
END

SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO header

RETURN
--------------------------
load_users:

IF @active_type<=1 
BEGIN			---find inactive user

SET @X = (
SELECT 
index_id,Upper(ins_index) as [index],index_seq,
(
SELECT 
person_id,userid,person_name,active,@ic as ic,application_type,email,phone_number,ic_coordinator_id,
CASE WHEN mgt>0 THEN 'y' ELSE 'n' END as mgt,
CASE WHEN egrants>0 THEN 'y' ELSE 'n' END as egrants,
CASE WHEN [admin]>0 THEN 'y' ELSE 'n' END as [admin],
CASE WHEN iccoord>0 THEN 'y' ELSE 'n' END as iccoord,
CASE WHEN dashboard>0 THEN 'y' ELSE 'n' END as dashboard,
convert(varchar,[start_date],101) as [start_date],
convert(varchar,end_date,101) as end_date,
pp.position_id,pp.position_name
FROM people as [user] inner join people_positions as pp on [user].position_id=pp.position_id
WHERE application_type='egrants' and last_name is not null and first_name is not null and active=@active_type and
LEFT(last_name,1)=[index].ins_index and profile_id=@profile_id	
ORDER BY last_name+', '+first_name
FOR XML AUTO, TYPE, ELEMENTS 
)
FROM dbo.institutions_index as [index]
WHERE index_id>1
ORDER BY index_id
FOR XML AUTO, TYPE, ELEMENTS 
)

END
ELSE
BEGIN		---find all user

SET @X = (
SELECT 
index_id,Upper(ins_index) as [index],index_seq,
(
SELECT 
person_id,userid,person_name,active,@ic as ic,application_type,email,phone_number,ic_coordinator_id,
CASE WHEN mgt>0 THEN 'y' ELSE 'n' END as mgt,
CASE WHEN egrants>0 THEN 'y' ELSE 'n' END as egrants,
CASE WHEN [admin]>0 THEN 'y' ELSE 'n' END as [admin],
CASE WHEN iccoord>0 THEN 'y' ELSE 'n' END as iccoord,
CASE WHEN dashboard>0 THEN 'y' ELSE 'n' END as dashboard,
convert(varchar,[start_date],101) as [start_date],
convert(varchar,end_date,101) as end_date,
pp.position_id,pp.position_name
FROM people as [user] inner join people_positions as pp on [user].position_id=pp.position_id
WHERE application_type='egrants' and last_name is not null and first_name is not null 
and LEFT(last_name,1)=[index].ins_index and profile_id=@profile_id	
ORDER BY last_name+', '+first_name
FOR XML AUTO, TYPE, ELEMENTS 
)
FROM dbo.institutions_index  as [index]
WHERE index_id>1
ORDER BY index_id
FOR XML AUTO, TYPE, ELEMENTS 
)
END

SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

GOTO header

RETURN
----------------------------
header:

--return coordinators
SET @X = (SELECT person_name, person_id FROM vw_people AS coordinator WHERE is_coordinator=1 and person_name is not null and profile_id=@profile_id FOR XML AUTO, ELEMENTS)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

--return people positions
SET @X = (SELECT * FROM people_positions AS position FOR XML AUTO, ELEMENTS)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

--return user's meun 
SET @X = (
SELECT menu_id,menu_title,menu_url,menu_hover 
FROM  dbo.vw_adm_menu_assignment as menu 
WHERE person_id=@person_id and menu_url is not null
FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

--return all ic
SET @X = (
SELECT profile_id, [profile] FROM  dbo.profiles as profile FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

--return all index
SET @X = (
SELECT index_id,Upper(ins_index) as [index],index_seq FROM dbo.institutions_index as [index] FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

RETURN

GO
