SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF

CREATE PROCEDURE [dbo].[sp_egrants_jOBS_TOPOFTHE_HOUR] 
AS

DECLARE @impacID int
SELECT @impacID=person_id FROM people WHERE userid='impac'
DECLARE @CATEGORYID smallint
DECLARE @DOCTYPE VARCHAR(5)
DECLARE @PROC_NAME VARCHAR(50)
DECLARE @RUN_DATETIME DATETIME
DECLARE @IMPAC_DOWNLOAD_CNT INT
DECLARE @EGRANTS_UPLOAD_CNT INT
SET @PROC_NAME = 'sp_egrants_jOBS_TOPOFTHE_HOUR'
SET @RUN_DATETIME = GETDATE()

print '====>>Proc sp_egrants_jOBS_TOPOFTHE_HOUR Started @' + cast(getdate() as varchar)


exec dbo.sp_egrants_maint_pop_FSR


GO
