SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON

--USAGE: exec DB_GET_WIDGET_LATEGRANTS 'OMAIRI' 
CREATE PROCEDURE [dbo].[DB_GET_WIDGET_LATEGRANTS]
@USERID VARCHAR(30)
AS
BEGIN

SELECT APPL_ID,FGN,USERID,STATUS_CODE,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN '['+CAST( DAY_COUNT_NUM as varchar)+'/45]'
	END AS DAYS_LATE
FROM dbo.DB_GPMATS_ASSIGNMENT_STATUS WHERE USERID=@USERID
AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED')
AND APPL_TYPE_CODE IN (5) AND (ACTIVITY_CODE NOT like 'P%' AND ACTIVITY_CODE NOT like 'U%')
AND DAY_COUNT_NUM > 45
UNION
SELECT APPL_ID,FGN,USERID,STATUS_CODE,
		CASE APPL_TYPE_CODE
		WHEN 5 THEN '['+CAST( DAY_COUNT_NUM as varchar)+'/60]'
	END AS DAYS_LATE
FROM dbo.DB_GPMATS_ASSIGNMENT_STATUS WHERE USERID=@USERID
AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED')
AND APPL_TYPE_CODE IN (5) AND (ACTIVITY_CODE like 'P%' OR ACTIVITY_CODE like 'U%')
AND DAY_COUNT_NUM > 60
UNION
SELECT APPL_ID,FGN,USERID,STATUS_CODE,
		CASE APPL_TYPE_CODE
		WHEN 1 THEN '['+CAST( DAY_COUNT_NUM as varchar)+'/60]'
		WHEN 2 THEN '['+CAST( DAY_COUNT_NUM as varchar)+'/60]'
	END AS DAYS_LATE
FROM dbo.DB_GPMATS_ASSIGNMENT_STATUS WHERE USERID=@USERID
AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED')
AND APPL_TYPE_CODE IN (1,2)
AND DAY_COUNT_NUM > 60


END




GO
