SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE [dbo].[sp_egrants_maint_newappls]

AS

INSERT ncieim_b..appls_txt(appl_id,keywords)
SELECT dbo.vw_appls_used.appl_id,dbo.fn_appl_keywords(dbo.vw_appls_used.appl_id)
FROM  dbo.vw_appls_used LEFT OUTER JOIN
               ncieim_b.dbo.appls_txt ON dbo.vw_appls_used.appl_id = ncieim_b.dbo.appls_txt.appl_id
WHERE (ncieim_b.dbo.appls_txt.appl_id IS NULL)

EXEC ncieim_b..sp_fulltext_catalog 'appl_kw', 'start_incremental'

GO
