SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [dbo].[sp_pdfinfo]  AS

UPDATE pdfinfo
SET page_count=source.page_count
FROM 
openquery(pdfinfo,'select * from pdfinfo.txt') source
INNER JOIN 
pdfinfo 
ON pdfinfo.file_name=source.file_name
WHERE 
pdfinfo.page_count<>source.page_count or (pdfinfo.page_count IS NULL and source.page_count IS NOT NULL)


INSERT pdfinfo(file_name, page_count)
SELECT source.file_name, source.page_count
FROM 
openquery(pdfinfo,'select * from pdfinfo.txt') source
LEFT OUTER JOIN 
pdfinfo 
ON pdfinfo.file_name=source.file_name
WHERE pdfinfo.file_id IS NULL and source.file_name IS NOT NULL



UPDATE pdfinfo SET document_id=convert(float,replace([file_name],'.pdf',''))
WHERE
ISNUMERIC(replace([file_name],'.pdf',''))=1 and document_id IS NULL


UPDATE pdfinfo SET cdocument_id=replace(replace(file_name, 'c',''),'.pdf','')
where [file_name] like 'c%' and
ISNUMERIC(replace(replace(file_name, 'c',''),'.pdf',''))=1 and cdocument_id IS NULL


UPDATE contract_documents
SET page_count=p.page_count
FROM pdfinfo p INNER JOIN contract_documents c ON
p.cdocument_id=c.document_id
WHERE 
--c.page_count IS NULL and p.page_count IS NOT NULL or
ISNULL(c.page_count,-1)!=ISNULL(p.page_count,-2)

UPDATE documents SET page_count=p.page_count
FROM pdfinfo p INNER JOIN documents d ON 
p.document_id=d.document_id
WHERE d.page_count IS NULL and p.page_count IS NOT NULL

------------------------reset the URLs of the newly converted files

UPDATE pdfinfo SET is_in_main=0 WHERE is_in_main=1

UPDATE pdfinfo
SET is_in_main=1
FROM 
openquery(pdfinfo,'select * from pdfinfo.txt') source
INNER JOIN 
pdfinfo 
ON pdfinfo.file_name=source.file_name
WHERE ISNUMERIC(source.page_count)=1

UPDATE documents SET url=
'https://egrants-data.nci.nih.gov/funded2/nci/main/' + convert(varchar, documents.document_id) + '.pdf'
FROM pdfinfo INNER JOIN documents ON pdfinfo.document_id=documents.document_id
WHERE 
is_in_main=1 and url like
'https://egrants-data.nci.nih.gov/funded2/nci/convert%'
GO
