SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON

--USAGE: exec BUNDLE_Upload 
CREATE PROCEDURE [dbo].[DB_WIDGET_GRANTS_STATUS]
AS
BEGIN

select action_type AS ACTION,status_code AS STATUS,COUNT(*) AS GRANTS_COUNT
from DB_GPMATS_ASSIGNMENT_STATUS
group by action_type,status_code
order by 1,2

END




GO
