SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE PROCEDURE [dbo].[Create_PFR]

@APPLID			INT,		
@Rcvd_dt		Datetime,	
@Catname		varchar(50),
@filetype		varchar(3),	
@CreatedBy		varchar(30)	
AS
/**************************************************************************************************************************************/
/*** Description : This sp is in the replacement of sp_egrants_mail or xml. This sp is being caleld from DTS packages				***/
/***				Once the PFR has been recieved and brought to data staging machine under e:/egrants/PFR   /PFR/DEV  /PFR/STAGE	***/
/***				This proc should be called from Visual Cron DTS Activescript.													***/
/**************************************************************************************************************************************/
SET NOCOUNT ON;
BEGIN
declare 
@Categoryid int,
@CreatedbyPersonId int,
@CreatedByPersonEmail int,
@CreatedByPersonIdProfileId int,
@CreatedByEmailProfileId int,
@Documentid int

    SELECT @Categoryid=CATEGORY_ID FROM categories WHERE category_name=@Catname
    
    SELECT @CreatedbyPersonId=PERSON_ID,@CreatedByPersonIdProfileId=profile_id FROM PEOPLE WHERE USERID = @CreatedBy
    SELECT @CreatedByPersonEmail=PERSON_ID,@CreatedByEmailProfileId=profile_id FROM PEOPLE WHERE USERID = 'email'
	
	INSERT documents(appl_id,document_date,file_type,category_id,created_date,created_by_person_id,profile_id, uid)
	values(@APPLID,@Rcvd_dt,@filetype,@Categoryid,GETDATE(),ISNULL(@CreatedbyPersonId,@CreatedByPersonEmail),ISNULL(@CreatedByPersonIdProfileId,@CreatedByEmailProfileId),ISNULL(@CreatedBy,'email') )
	SET @Documentid=@@identity	

	UPDATE documents SET url='data/funded2/nci/main/'+CAST(@Documentid AS VARCHAR)+'.'+@filetype
	WHERE document_id=@Documentid
	
	SELECT @Documentid as ABC
	
END



GO
