SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE sp_DocPageTextImportDir

@Path varchar(255)

AS

SET NOCOUNT ON

declare @cmd varchar(255)
declare @s varchar(255)

declare @TempFile varchar(255)
declare @CPath varchar(255)
declare @CDocID int
declare @CPage int


--RESTORE THIS SECTION!!!!

SELECT @TempFile='c:\directory.txt'

SELECT @Cmd= 'dir ' + @Path + '*.txt /B /W >>' + @TempFile
EXEC master..xp_cmdshell @Cmd

IF OBJECT_ID('tempdb..##directory') IS NOT NULL
DROP TABLE ##directory

CREATE TABLE ##directory(path varchar(255))

SELECT @Cmd= 'bcp ##directory in ' + @TempFile + ' -c -t , -r \n -S ' + @@SERVERNAME + ' -T '
print @Cmd
EXEC master..xp_cmdshell @Cmd

SELECT @Cmd='DEL ' + @TempFile
EXEC master..xp_cmdshell @Cmd


--ATTENTION:
--Change this part to reflect possible overwrites!

create table #t(pid int identity,document_id int,page int,path varchar(255) PRIMARY KEY (document_id,page))

insert #t(path,document_id,page)
select path,dbo.fn_filepart_docid(path),dbo.fn_filepart_page(path) from ##directory

declare cur CURSOR FOR
select document_id,page,path from #t where pid not in
(select pid from #t,ncieim_b..dt d where #t.document_id=d.document_id and #t.page=d.page)
order by document_id,page

open cur

FETCH NEXT FROM cur INTO @CDocID,@CPage,@CPath

WHILE @@FETCH_STATUS=0

BEGIN

--create FULL PATH with home directory                           
SET @CPath=@Path + @CPath
exec sp_DocPageTextImport @CDocID,@CPage,@CPath
print @CDocID

FETCH NEXT FROM cur  INTO @CDocID,@CPage,@CPath

END

close cur
deallocate cur

drop table ##directory
GO
