SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE [dbo].[sp_egrants_mail_xmlfile]

AS

SET NOCOUNT ON

---read the next XML File in the directory
declare @xmlPath 		varchar(255)
declare @xmlbackupPath  varchar(255)
declare @xmlFile 		varchar(255)
declare @cmd 			varchar(2000)
declare @xmlString 		varchar(8000)
declare @idoc 			int
declare @sql 			varchar(300)
declare @document_id	int
declare @operator		varchar(50)
declare @count			int
declare @max_documentid int

declare @SystemUID int

SELECT @SystemUID=person_id from people where userid='email'

CREATE TABLE #cmdout (content varchar(8000))

--SET @xmlPath='d:\util\emails\Imran\test\'
--SET @xmlPath='d:\util\emails\'

--SET @xmlPath='\\NCIDBPRD1\util2\emails\'  --modified by hareeshj on 10/06/2014 at 3:02pm
--SET @xmlPath='\\NCIDBPRD1\util\emails\'		--modified by hareeshj on 10/06/2014 at 3:02pm
---SET @xmlPath='\\NCIDB-P133-V\util\emails\'		--modified by hareeshj on 10/06/2014 at 3:02pm    comment out by Leon 3/26/2018
SET @xmlPath='\\NCIDB-P232-V\util\emails\'

--SET @xmlbackupPath='d:\util\emails\xml_backup\'
--SET @xmlbackupPath='\\NCIDBPRD1\util2\emails\xml_backup\' --modified by hareeshj on 10/06/2014 at 3:02pm
--SET @xmlbackupPath='\\NCIDBPRD1\util\emails\xml_backup\' 
--SET @xmlbackupPath='\\NCIDB-P133-V\util\emails\xml_backup\' --comment out by Leon 3/26/2018
SET @xmlbackupPath='\\NCIDB-P232-V\util\emails\xml_backup\'


SET @cmd= 'dir /B /W ' + @xmlPath + '*.xml'

--PRINT '@cmd=' + @cmd

INSERT #cmdout
EXEC master..xp_cmdshell @cmd


--select * from #cmdout

--delete later
DELETE #cmdout WHERE content like '%budget%'

SELECT @xmlFile=content FROM #cmdout WHERE content IS not null 		-----and content <>'File Not Found'

IF @xmlFile='' or @xmlFile IS null  or @xmlFile='File Not Found' RETURN -1

DELETE #cmdout

--PRINT 'XML FILE IS:'
--PRINT @xmlFile

SET @xmlFile = @xmlPath + @xmlFile

SET @sql='BULK INSERT #cmdout  FROM ' + char(39) + @xmlFile + char(39) + ' WITH (FIELDTERMINATOR = ''|'', ROWTERMINATOR = ''$$'')'

PRINT 'SQL IS:'
PRINT @sql

EXECUTE (@sql)
SELECT @xmlString=content FROM #cmdout

--PRINT 'Field out put is:'
--PRINT @xmlString

EXEC sp_xml_preparedocument @idoc output, @xmlString

INSERT documents(alias, document_date, created_date, created_by_person_id, profile_id, qc_reason,
file_type,  uid, category_id, mail_upload_id,appl_id, qc_date, stored_date)

SELECT @xmlPath + alias as alias, [date] as document_date, getdate() as created_date,

ISNULL(person_id,@SystemUID) ,

COALESCE(people.profile_id, profiles.profile_id,1) as profile_id, 'Email' as qc_reason, 
lower(left(file_type,3)) as file_type  ,

uid ,coalesce(categoryid,default_category_id,59) as category_id ,

CASE WHEN (uploadid='') THEN NULL ELSE uploadid END as uploadid,

CASE WHEN (applid IS NULL or applid='' or applid=0) THEN NULL ELSE applid END as appl_id,

CASE WHEN ((applid>0 and s.qc='no') or uid='system') THEN NULL ELSE getdate() END as qc_date,

NULL as stored_date

FROM OPENXML (@idoc, '/Root/document', 2) 
WITH 
(
uploadid varchar(20), 
applid int, alias varchar(100),uid varchar(50), folderid int,subject varchar(500),
date smalldatetime, file_type varchar(5), categoryid int

) xml

LEFT OUTER JOIN email_process_scheduler s ON s.[id]=xml.folderid
LEFT OUTER JOIN profiles on profiles.profile=s.default_ic
LEFT OUTER JOIN people  ON xml.uid=people.userid


--RETURN

--PRINT "99999"

EXEC sp_xml_removedocument @idoc

SET @Cmd='move ' +@xmlFile + ' ' + @xmlbackupPath
EXEC master..xp_cmdshell @Cmd

RETURN 1
GO
