SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
CREATE procedure [dbo].[sp_egrants_convert_file_old_x]
@File varchar(255)
AS

--curently only processing excel files

DECLARE @mainDir varchar(255)
DECLARE @URL varchar(255)
DECLARE @DocID int
DECLARE @LocXLS int
DECLARE @FType varchar(5)
DECLARE @FTypeX varchar(5)

--SET @mainDir='https://egrants-data.nci.nih.gov/funded2/nci/main/'
--SET @mainDir='/data/funded2/nci/main/' comment out by Leon 5/16/2016
SET @mainDir='data/funded2/nci/main/'

set @LocXLS=charindex('.xls', @File)
--print @LocXLS
--IF @File NOT LIKE '%.xls%' RETURN 
IF @LocXLS = 0 RETURN
IF ISNUMERIC(LEFT(@File, len(@File)- @LocXLS -1))=0 RETURN

SET @DocID=convert(int,LEFT(@File, @LocXLS -1))
--print @DocID
SET @FTypeX=right(rtrim(@file),len(rtrim(@file))-@LocXLS ) 
IF 
(
SELECT count(*) from egrants
WHERE document_id=@DocID and category_name='Spread Sheet' and profile_id=1
)=1
SET @FType='pdf'
ELSE SET @FType = @FTypeX --leave as excel 

BEGIN TRAN

UPDATE documents
SET url = @mainDir + convert(varchar, document_id) + '.' + @FType,
file_type = @FType,

file_modified_date=
(CASE 
WHEN file_type like 'xls%' and @FType like 'xls%' THEN file_modified_date
ELSE getdate()
END),

file_modified_by_person_id=
(CASE 
WHEN file_type like 'xls%' and @FType like 'xls%'  THEN file_modified_by_person_id
ELSE 1899
END)

where document_id=@DocID

IF @@rowcount>1 ROLLBACK TRAN

COMMIT TRAN

return
GO
