SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

create PROCEDURE [dbo].[sp_web_management_system_report]

@act			varchar(20),
@search_number	int,   --could be serial_number or accession_id
@ic				varchar(10),
@operator		varchar(50)

AS
/**************************************************************************************/
/***									 											***/
/***	Procedure Name:dbo. sp_web_management_system_report							***/
/***	Description: Find the egrants system data									***/
/***	Created:	07/14/2016	 leon	for egrants MVC								***/
/**************************************************************************************/

SET NOCOUNT ON  
  
DECLARE  
@profile_id   	smallint,  
@person_id   	int

set @profile_id=( select profile_id from eim.dbo.profiles where profile=@ic)  
set @person_id=(select person_id from eim.dbo.people where userid=@operator)  
  
IF @act ='by_accessionid' GOTO accession  
IF @act ='by_serialnumber' GOTO serialnum  
------------------------------  
serialnum:  
  
/**find data by serial number**/  
--SELECT folder_id,bar_code, grant_num,[status],latest_access_date   
--FROM vw_folders AS folder  
--WHERE @serial_number in (serial_num,former_serial_num,future_serial_num) and profile_id=@profile_id  
  
SELECT folder_id,bar_code,grant_num,former_grant_num,replace(id_string,'#','_') as id_string,[status] as current_status,   
convert(varchar, destroyed_date, 101) as accession_destroyed_date,  
convert(varchar, latest_move_date, 101) as latest_move_date,closed_out   
FROM vw_folders AS folder  
WHERE @search_number in (serial_num,former_serial_num,future_serial_num)and profile_id=@profile_id  
  
RETURN  
----------------  
accession:  
  
/**find data by accession id**/  
--SELECT folder_id,bar_code,admin_phs_org_code,serial_num,former_grant_num,id_string,[status],  
--convert(varchar,latest_move_date,101) as latest_move_date,closed_out  
--FROM eim.dbo.vw_boxes as accession, eim.dbo.vw_folders as folder  
--WHERE accession.box_id=folder.box_id and accession.accession_id=@accession_id   
  
SELECT folder_id,bar_code,grant_num,former_grant_num,replace(id_string,'#','_') as id_string,[status] as current_status,   
convert(varchar, accessions.destroyed_date, 101) as accession_destroyed_date,  
convert(varchar, latest_move_date, 101) as latest_move_date,closed_out   
FROM eim.dbo.vw_boxes as boxes, eim.dbo.vw_folders as folder , accessions  
WHERE boxes.box_id = folder.box_id and boxes.accession_id = @search_number and accessions.accession_id = @search_number  
  
RETURN  
  
GO
