SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON

--***********************************************************************
-- Author : Imran Omair
-- Date : 9/6/2016
--GRANTS TO GO ON 15 DAYS
--TWO POSSIBLE TYPES NC=NONCOMPETING, CC=COMPETING
--USAGE : EXEC DB_LISTOF_GRANTS_TOGO_OFTYPE 'SOWELLD','NC'
--EXEC DB_LISTOF_GRANTS_TOGO_OFTYPE 'SOWELLD','CC'
--12/1/2016 : REQUIREMENT CHANGE : All Type 5s are due in 45 days, EXCEPT Activity Codes “P” and “U”. 
--			The Specialists have 60 days to complete those Type 5s. All other Type 5s are 45 days. 
--***********************************************************************
CREATE PROCEDURE [dbo].[DB_LISTOF_GRANTS_TOGO_OFTYPE]
@USERID VARCHAR(30),
@TYPE VARCHAR(20)
AS
BEGIN

--DECLARE @CUTOFFPERIOD INT
--SET @CUTOFFPERIOD = 10

IF @TYPE='NC' AND @USERID <> '' 
BEGIN

	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/45]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE USERID=@USERID
	AND APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') AND ACTIVITY_CODE NOT like '%P%' AND ACTIVITY_CODE NOT like '%U%'
	and DAY_COUNT_NUM BETWEEN 35 AND 45
	UNION	
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/60]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE USERID=@USERID
	AND APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') AND (ACTIVITY_CODE like 'P%' OR ACTIVITY_CODE like 'U%')
	and DAY_COUNT_NUM BETWEEN 50 AND 60	
	ORDER BY ASSIGNED_DATE 	
	
END
ELSE IF @TYPE='CC' AND @USERID <> ''
BEGIN
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/60]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  	
	WHERE USERID=@USERID
	AND APPL_TYPE_CODE IN (1,2) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED')
	and DAY_COUNT_NUM BETWEEN 50 AND 60
	ORDER BY GRANT_ASSIGN_DATE
END
ELSE IF @TYPE='NC' AND @USERID='' 
BEGIN

	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/45]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') AND ACTIVITY_CODE NOT like '%P%' AND ACTIVITY_CODE NOT like '%U%'
	and DAY_COUNT_NUM BETWEEN 35 AND 45
	UNION	
	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/60]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  
	WHERE APPL_TYPE_CODE IN (5) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED') AND (ACTIVITY_CODE like 'P%' OR ACTIVITY_CODE like 'U%')
	and DAY_COUNT_NUM BETWEEN 50 AND 60	
	ORDER BY USERID, ASSIGNED_DATE 
		
END
ELSE IF @TYPE='CC' AND @USERID=''
BEGIN

	SELECT APPL_ID,FGN,USERID,convert(varchar(10),GRANT_ASSIGN_DATE,101) + ' ['+CAST( DAY_COUNT_NUM as varchar)+'/60]' AS ASSIGNED_DATE from dbo.DB_GPMATS_ASSIGNMENT_STATUS  	
	WHERE APPL_TYPE_CODE IN (1,2) AND STATUS_CODE NOT IN ('CLOSED','NEW','CANCELLED')
	and DAY_COUNT_NUM BETWEEN 50 AND 60
	ORDER BY GRANT_ASSIGN_DATE
END

END




GO
