SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE [dbo].[sp_DocTextImport]

@DocID 	int,
@Path 		varchar(255),
@typeFlag 	char(1)=d,
@Overwrite 	bit=0

--d is document --c is contract

AS

SET NOCOUNT ON

declare @cmd varchar(1000)

IF @typeFlag='c'
BEGIN

UPDATE contract_documents
SET txt=' ' WHERE document_id=@DocID

SET @cmd='c:\progra~1\micros~1\mssql\binn\textcopy.exe ' + '/S ' + @@SERVERNAME + ' /U sa /P rubmkm /D eim /T contract_documents  /W "where document_id=' + convert(varchar,@DocID) + '"  /I /C txt /F ' + @Path

EXEC master..xp_cmdshell @cmd

--UPDATE contracts_text
--SET txt_size=(select DATALENGTH(txt) from ncieim_b..documents_text where document_id=@DocID)
--WHERE document_Id=@DocID

RETURN
END

--------------------------------------This is the normal flow-------------

IF @overwrite=0 and (select txt_size from ncieim_b..documents_text where document_id=@DocID) >1
BEGIN
PRINT convert(varchar,@DocID) + ' text available'
RETURN
END

UPDATE ncieim_b..documents_text
SET txt=' ', update_date=getdate(),
txt_size_previous=txt_size,
xpdf_extract_date=

CASE @overwrite
WHEN 1 THEN getdate()
ELSE NULL
END

WHERE document_id=@DocID

SET @cmd='c:\progra~1\micros~1\mssql\binn\textcopy.exe ' + '/S ' + @@SERVERNAME + ' /U sa /P rubmkm /D ncieim_b /T documents_text  /W "where document_id=' + convert(varchar,@DocID) + '"  /I /C txt /F ' + @Path

--print @cmd

EXEC master..xp_cmdshell @cmd

--get the txt_size

UPDATE ncieim_b..documents_text
SET txt_size=(select DATALENGTH(txt) from ncieim_b..documents_text where document_id=@DocID)
WHERE document_Id=@DocID

--reload keywords and combine keywords with the newly loaded text
exec sp_egrants_doc_index_modify @DocID
GO
