SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON








CREATE PROCEDURE [dbo].[OGA_OVERALL_WORKLOAD_EXPANDED]
--@ACTIONFY VARCHAR(4)
AS

BEGIN

DECLARE @SQL varchar(4000)
declare @FY varchar(4)
declare @PY varchar(4)

set @FY= '2014'
set @PY = '2013'
/*
set @SQL= 'select * from OPENQUERY(CIIP,''SELECT RESP_SPEC_FULL_NAME_CODE,
case  ACTION_FY when ' + @PY + ' then OCT_CNT+Nov_CNT+Dec_CNT+JAN_CNT+FEB_CNT+MAR_CNT+APR_CNT+MAY_CNT+JUN_CNT+JUL_CNT+AUG_CNT else 0 end as "py thru Aug Cnt", 
case  ACTION_FY when ' + @PY + ' then OCT_REL+NOV_REL+DEC_REL+JAN_REL+FEB_REL+MAR_REL+APR_REL+MAY_REL+JUN_REL+JUL_REL+AUG_REL else 0 end as "py thru Aug Rel", 
case  ACTION_FY when ' + @PY + ' then SEP_CNT else 0 end as "py Sep Cnt", 
case  ACTION_FY when ' + @PY + ' then SEP_REL else 0 end as "py Sep Rel", '

SET @SQL=@SQL + '
case  ACTION_FY when ' + @FY + ' then OCT_CNT else 0 end as "Oct Cnt", 
case  ACTION_FY when ' + @FY + ' then OCT_REL else 0 end as "Oct Rel", 
case  ACTION_FY when ' + @FY + ' then Nov_CNT else 0 end as "Nov Cnt", 
case  ACTION_FY when ' + @FY + ' then NOV_REL else 0 end as "Nov Rel",
case  ACTION_FY when ' + @FY + ' then Dec_CNT else 0 end as "Dec Cnt", 
case  ACTION_FY when ' + @FY + ' then DEC_REL else 0 end as "Dec Rel",
case  ACTION_FY when ' + @FY + ' then JAN_CNT else 0 end as "Jan Cnt", 
case  ACTION_FY when ' + @FY + ' then JAN_REL else 0 end as "Jan Rel",
case  ACTION_FY when ' + @FY + ' then FEB_CNT else 0 end as "Feb Cnt", 
case  ACTION_FY when ' + @FY + ' then FEB_REL else 0 end as "Feb Rel",
case  ACTION_FY when ' + @FY + ' then MAR_CNT else 0 end as "Mar Cnt", 
case  ACTION_FY when ' + @FY + ' then MAR_REL else 0 end as "Mar Rel",
case  ACTION_FY when ' + @FY + ' then APR_CNT else 0 end as "Apr Cnt", 
case  ACTION_FY when ' + @FY + ' then APR_REL else 0 end as "Apr Rel",
case  ACTION_FY when ' + @FY + ' then MAY_CNT else 0 end as "May Cnt", 
case  ACTION_FY when ' + @FY + ' then MAY_REL else 0 end as "May Rel",
case  ACTION_FY when ' + @FY + ' then JUN_CNT else 0 end as "Jun Cnt", 
case  ACTION_FY when ' + @FY + ' then JUN_REL else 0 end as "Jun Rel",
case  ACTION_FY when ' + @FY + ' then JUL_CNT else 0 end as "Jul Cnt", 
case  ACTION_FY when ' + @FY + ' then JUL_REL else 0 end as "Jul Rel",
case  ACTION_FY when ' + @FY + ' then AUG_CNT else 0 end as "Aug Cnt", 
case  ACTION_FY when ' + @FY + ' then AUG_REL else 0 end as "Aug Rel",
case  ACTION_FY when ' + @FY + ' then SEP_CNT else 0 end as "Sep Cnt", 
case  ACTION_FY when ' + @FY + ' then SEP_REL else 0 end as "Sep Rel",
case  ACTION_FY when ' + @FY + ' then TOTAL_CNT else 0 end as "Total Cnt", 
case  ACTION_FY when ' + @FY + ' then TOTAL_REL else 0 end as "Total Rel",
case  ACTION_FY when ' + @FY + ' then TOTL_WRKLD else 0 end as "Total Workload" '

--SET @SQL=@SQL + 'FROM OGA_OVERALL_WORKLOAD WHERE ACTION_FY in ('+ @PY +','+ @FY +')  order by RESP_SPEC_FULL_NAME_CODE'')'
*/

select * from OPENQUERY(CIIP,'SELECT CY.RESP_SPEC_FULL_NAME_CODE,
PY.OCT_CNT+PY.Nov_CNT+PY.Dec_CNT+PY.JAN_CNT+PY.FEB_CNT+PY.MAR_CNT+PY.APR_CNT+PY.MAY_CNT+PY.JUN_CNT+PY.JUL_CNT+PY.AUG_CNT as "py thru Aug Cnt", 
PY.OCT_REL+PY.NOV_REL+PY.DEC_REL+PY.JAN_REL+PY.FEB_REL+PY.MAR_REL+PY.APR_REL+PY.MAY_REL+PY.JUN_REL+PY.JUL_REL+PY.AUG_REL as "py thru Aug Rel", 
PY.SEP_CNT as "py Sep Cnt", 
Py.SEP_REL as "py Sep Rel", 
CY.OCT_CNT as "Oct Cnt", 
CY.OCT_REL as "Oct Rel", 
CY.Nov_CNT as "Nov Cnt", 
CY.NOV_REL as "Nov Rel",
CY.Dec_CNT as "Dec Cnt", 
CY.DEC_REL as "Dec Rel",
CY.JAN_CNT as "Jan Cnt", 
CY.JAN_REL as "Jan Rel",
CY.FEB_CNT as "Feb Cnt", 
CY.FEB_REL as "Feb Rel",
CY.MAR_CNT as "Mar Cnt", 
CY.MAR_REL as "Mar Rel",
CY.APR_CNT as "Apr Cnt", 
CY.APR_REL as "Apr Rel",
CY.MAY_CNT as "May Cnt", 
CY.MAY_REL as "May Rel",
CY.JUN_CNT as "Jun Cnt", 
CY.JUN_REL as "Jun Rel",
CY.JUL_CNT as "Jul Cnt", 
CY.JUL_REL as "Jul Rel",
CY.AUG_CNT as "Aug Cnt", 
CY.AUG_REL as "Aug Rel",
CY.SEP_CNT as "Sep Cnt", 
CY.SEP_REL as "Sep Rel",
CY.TOTAL_CNT as "Total Cnt", 
CY.TOTAL_REL as "Total Rel",
CY.TOTL_WRKLD as "Total Workload" 
FROM OGA_OVERALL_WORKLOAD CY, OGA_OVERALL_WORKLOAD_2013 PY 
WHERE CY.RESP_SPEC_FULL_NAME_CODE = PY.RESP_SPEC_FULL_NAME_CODE(+)
order by CY.RESP_SPEC_FULL_NAME_CODE')

--PRINT @SQL

EXEC (@SQL)

END





GO
