SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF

CREATE PROCEDURE [dbo].[sp_appls_deleted_in_impac]

/**************************************************************************************************************/
/***                                                                                                        ***/
/***  Procedure Name:		  sp_appls_deleted_in_impac                                                     ***/
/***  Description:            Update table with appl_id's in eGrants but not in IMPAC II on a dialy basis   ***/
/***  Created:                09/23/2010 by Joel Friedman													***/
/***  Modified:               07/14/2017 by leon                                                            ***/
/***                                                                                                        ***/
/**************************************************************************************************************/

AS

BEGIN

DECLARE @ROWS_EFFECTED INT
SET NOCOUNT ON;
print '====>>Proc sp_appls_deleted_in_impac Started @' + cast(GETDATE() as varchar)

TRUNCATE TABLE eim.dbo.appls_in_impac
TRUNCATE TABLE eim.dbo.appls_in_impac_pvgrantpi

INSERT INTO eim.dbo.appls_in_impac SELECT appl_id FROM OPENQUERY(IRDB,'SELECT DISTINCT appl_id FROM appls_t') 
SELECT @ROWS_EFFECTED = @@ROWCOUNT
print 'APPLS COUNT FROM APPLS_T=' + cast(@ROWS_EFFECTED as varchar)

INSERT INTO eim.dbo.appls_in_impac_pvgrantpi SELECT appl_id FROM OPENQUERY(IRDB,'SELECT DISTINCT appl_id FROM PVA_GRANT_PI_MV') 
SELECT @ROWS_EFFECTED = @@ROWCOUNT
print 'APPLS COUNT FROM PVA_GRANT_PI_MV=' + cast(@ROWS_EFFECTED as varchar)


INSERT INTO eim.dbo.appls_deleted_in_impac(appl_id,deleted_date)
SELECT a.appl_id, GETDATE()
FROM appls a
LEFT OUTER JOIN eim.dbo.appls_in_impac b ON a.appl_id = b.appl_id
LEFT OUTER JOIN eim.dbo.appls_deleted_in_impac c ON a.appl_id = c.appl_id
WHERE a.appl_id  > 0
AND b.appl_id IS NULL
AND c.appl_id IS NULL

SELECT @ROWS_EFFECTED = @@ROWCOUNT
print 'NEW IMPAC DELETED APPLS COUNT=' + cast(@ROWS_EFFECTED as varchar)

INSERT INTO eim.dbo.appls_deleted_in_impac_pvgrantpi(appl_id,deleted_date)
SELECT a.appl_id, GETDATE()
FROM appls a
LEFT OUTER JOIN eim.dbo.appls_in_impac_pvgrantpi b ON a.appl_id = b.appl_id
LEFT OUTER JOIN eim.dbo.appls_deleted_in_impac_pvgrantpi c ON a.appl_id = c.appl_id
WHERE a.appl_id  > 0
AND b.appl_id IS NULL
AND c.appl_id IS NULL

SELECT @ROWS_EFFECTED = @@ROWCOUNT
print 'NEW IMPAC DELETED PVGRANTPI APPLS COUNT=' + cast(@ROWS_EFFECTED as varchar)
--added by Leon 4/4/2018
----update documents set documents.disabled_date=getdate(), documents.disabled_by_person_id=530
----from documents d, appls_deleted_in_impac a 
----where d.appl_id = a.appl_id 
----and d.document_id in (
----select d.document_id
----from egrants d, appls_deleted_in_impac a
------where d.appl_id = a.appl_id and a.exception_date is null and d.url is null and d.frc_destroyed=0 and d.admin_phs_org_code ='GM' ) --722757,gm=66248/(66248 rows affected)
----where d.appl_id = a.appl_id and a.exception_date is null and d.url is null and d.frc_destroyed=0 and d.admin_phs_org_code is not null ) --656509
----SELECT @ROWS_EFFECTED = @@ROWCOUNT
----print 'DEADLINK DOCUMENT DISABLED=' + cast(@ROWS_EFFECTED as varchar)


--select count(*) from egrants  --9242543

END


GO
