SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF

CREATE PROCEDURE [dbo].[sp_egrants_DocsLoad_3OCLOCK] 
AS

DECLARE @impacID int
SELECT @impacID=person_id FROM people WHERE userid='impac'
DECLARE @CATEGORYID smallint
DECLARE @DOCTYPE VARCHAR(5)
DECLARE @PROC_NAME VARCHAR(50)
DECLARE @RUN_DATETIME DATETIME
DECLARE @IMPAC_DOWNLOAD_CNT INT
DECLARE @EGRANTS_UPLOAD_CNT INT
SET @PROC_NAME = 'sp_egrants_maint_impacdocs'
SET @RUN_DATETIME = GETDATE()

print '====>>Proc sp_egrants_maint_impacdocs_latest Started @' + cast(getdate() as varchar)

-------------------------------------------
--Add CloseOut Flag
--(Imran 10/17/2014)
-------------------------------------------
TRUNCATE TABLE IRDB_CLOSEOUT_FLAG_NEW
INSERT dbo.IRDB_CLOSEOUT_FLAG_NEW(appl_id,fy,GC_OBJECT_NAME,GC_ACTION_TYPE_CODE,GC_OBJECT_STATUS_CODE,action_date)
SELECT appl_id,fy,GC_OBJECT_NAME,GC_ACTION_TYPE_CODE,GC_OBJECT_STATUS_CODE, action_date
FROM OPENQUERY(IRDB,'SELECT g.appl_id,a.fy,g.GC_OBJECT_NAME,GC_ACTION_TYPE_CODE,GC_OBJECT_STATUS_CODE, action_date
FROM GC_ACTION_HISTORY_MV g , appls_t a 
WHERE g.appl_id = a.appl_id
AND a.admin_phs_org_code=''CA''
AND g.GC_OBJECT_NAME=''GRANT_CLOSEOUT'' AND g.GC_OBJECT_STATUS_CODE=''O'' AND a.fy >= 2014 ORDER BY g.action_date desc')

print 'Closeout Flag Update =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)

Update appls 
Set closeout_flag='y'
From appls a, IRDB_CLOSEOUT_FLAG_NEW b
Where a.appl_id=b.appl_id

print 'Count of Closeout_Flag in appls =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)

---------------------------
--DOWNLOAD GRANTS ASSIGNMENT FROM GPMATS FOR EGRANTS DASHBOARD
---------------------------
TRUNCATE TABLE DB_GPMATS_ASSIGNMENT_STATUS

INSERT dbo.DB_GPMATS_ASSIGNMENT_STATUS(APPL_ID,FGN,REVISON_NUM,USERID,GRANT_ASSIGN_DATE,RELEASE_DATE,BUDGET_START_DATE,APPL_TYPE_CODE,STATUS_CODE,ACTION_TYPE,ACTIVITY_CODE,DAY_COUNT_NUM)
SELECT * FROM OPENQUERY(CIIP,'
SELECT DISTINCT B.APPL_ID,B.FULL_GRANT_NUM AS FGN,B.REVISION_NUM,
(SELECT A.USERID FROM nci_people_t A WHERE A.ID=B.RESP_SPEC_NPN_ID)  AS USERID,
B.AWAITGMR_DATE AS GRANT_ASSIGN_DATE,B.RELEASE_DATE,B.BUDGET_START_DATE,B.APPL_TYPE_CODE,B.CURRENT_ACTION_STATUS_CODE,B.ACTION_TYPE,B.ACTIVITY_CODE,B.DAY_COUNT_NUM
FROM GM_ACTION_QUEUE_VW B WHERE B.ACTION_FY=2017 ORDER BY USERID,B.BUDGET_START_DATE DESC')
print 'GPMATS_ASSIGNMENT DOWNLOADED for dashboard =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)

--*********************************************************
---Add new Greensheet PGM 

INSERT documents(appl_id,category_id,created_by_person_id,file_type,profile_id)	
SELECT appl_id,73,@impacID,'pdf',1
FROM vw_ciip_docs
WHERE appl_id NOT IN (select appl_id from documents where category_id=73)

print 'Inserted GreenSheet PGM=' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)

--*********************************************************
---Add new MYP
Exec dbo.sp_egrants_maint_pop_MYP
GO
