SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [dbo].[sp_y2013_egrants_create_appl_tobedeleted]

@act 			varchar(50)=null,
@phs_code		char(2),
@serial_num 	int,
@appl_type 		tinyint,
@activity_code 	char(3),
@support_year 	smallint,
@suffix_code	varchar(4),
@ic				varchar(10),
@operator 		varchar(50)

AS
/************************************************************************************************************/
/***									 						***/
/***	Procedure Name: sp_2013_egrants_create_appl				***/
/***	Description:Create Grant Year							***/
/***	Created:	08/16/2013	Leon							***/
/***	Modified:	08/19/2013	Leon							***/
/***	Modified:	04/08/2014	Leon	add return notice		***/
/************************************************************************************************************/

SET NOCOUNT ON

declare 
@applid 	int,
@grantid 	int,
@X			xml,
@count		int,
@xmlout		varchar(max),
@full_grant_num	varchar(20),
@return_notice	varchar(200)

--check @suffix_code	
IF @suffix_code	='' or @suffix_code is null SET @suffix_code=null


/*--new code, created by Leon, changed by hareesh on 12/19/2014 6:27pm--*/
SELECT person_id, person_name,userid,profile_id,[profile] as ic,admin_phs_org_code,position_id
FROM vw_people AS user_info 
WHERE userid=@operator  and application_type='egrants' and can_egrants_upload='y' 

--pick action
IF @act='' or @act is null GOTO header  
IF @act='create_new' GOTO create_new

----------------------------------------------------------------
create_new:

/**find grant_id**/
SELECT @grantid = grant_id FROM grants WHERE admin_phs_org_code=@phs_code and serial_num=@serial_num

IF @grantid IS NULL 
BEGIN
INSERT grants(admin_phs_org_code, serial_num)
VALUES(@phs_code, @serial_num)
SET @grantid=@@identity
END

---to check if it is only one
IF @suffix_code='' OR @suffix_code IS NULL
BEGIN
SET @count=(SELECT COUNT(appl_id) FROM appls WHERE grant_id=@grantid and activity_code=@activity_code and appl_type_code=@appl_type and support_year=@support_year and suffix_code is null)
--SET @applid=(SELECT appl_id FROM appls WHERE grant_id=@grantid and activity_code=@activity_code and appl_type_code=@appl_type and support_year=@support_year)
END
ELSE
BEGIN
SET @count=(
SELECT COUNT(appl_id) FROM appls WHERE grant_id=@grantid and activity_code=@activity_code and appl_type_code=@appl_type and support_year=@support_year and suffix_code=@suffix_code)
--SET @applid=(SELECT appl_id FROM appls WHERE grant_id=@grantid and activity_code=@activity_code and appl_type_code=@appl_type and support_year=@support_year and suffix_code=@suffix_code)
END

IF @count=0
BEGIN
/**create appl_id**/
SELECT @applid=min(appl_id)-FLOOR(10000 * RAND()) FROM appls
INSERT appls(appl_id, appl_type_code,activity_code, grant_id, support_year,suffix_code)
VALUES (@applid, @appl_type, @activity_code, @grantid, @support_year, upper(isnull(@suffix_code,null)))

SET @full_grant_num=(SELECT full_grant_num FROM vw_appls WHERE appl_id=@applid)
SET @return_notice= @full_grant_num +' has been created'
END

ELSE
BEGIN
--SET @full_grant_num=(SELECT full_grant_num FROM vw_appls WHERE appl_id=@applid)
SET @return_notice= 'The grant year you want to create is duplicate'
END

GOTO header

RETURN
---------------------
header:

--SET @X = (SELECT DISTINCT admin_phs_org_code FROM grants AS admin_phs_org_code FOR XML AUTO,TYPE,ELEMENTS)
--select @xmlout = cast(@X as varchar(max))
--select @xmlout;

SET @X = (SELECT DISTINCT appl_type_code FROM appls AS appl_type_code WHERE appl_id>0 FOR XML AUTO,TYPE,ELEMENTS)
select @xmlout = cast(@X as varchar(max))
select @xmlout;

SET @X = (SELECT DISTINCT activity_code FROM vw_appls AS activity_code WHERE appl_id>0 and admin_phs_org_code=(select admin_phs_org_code from profiles where profile=@ic)

FOR XML AUTO,TYPE,ELEMENTS)
select @xmlout = cast(@X as varchar(max))
select @xmlout;


IF (@phs_code<>'' and @phs_code is not null) and (@serial_num <>'' and @serial_num is not null)
BEGIN
SET @X = (SELECT admin_phs_org_code,serial_num,appl_type_code,support_year,suffix_code,full_grant_num 
FROM vw_appls AS grant_year 
WHERE admin_phs_org_code=@phs_code AND serial_num=@serial_num 
FOR XML AUTO,TYPE,ELEMENTS)
select @xmlout = cast(@X as varchar(max))
select @xmlout;
END

--return notice 
SET @X = (
SELECT isnull(@return_notice,null) as notice, person_name,userid from people as return_notice where userid=@operator 
FOR XML AUTO, ELEMENTS
)
SELECT @xmlout = cast(@X as varchar(max))
SELECT @xmlout

/**
SET @X4 = (SELECT DISTINCT suffix_code FROM appls AS suffix_code WHERE appl_id>0 and suffix_code is not null FOR XML AUTO,TYPE,ELEMENTS)
select @xmlout4 = cast(@X4 as varchar(max))
select @xmlout4;
**/

GO
