SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE FUNCTION [dbo].[temp_fn1](@action_type varchar(20) )
RETURNS TABLE 
AS

RETURN SELECT transaction_date,operator,description,document_id,max(transaction_id) TR_ID
from dbo.econtract_transactions
		WHERE action_type = @action_type 
		group by transaction_date,operator,description,document_id
		

GO
