SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE FUNCTION [dbo].[fn_doc_count]  (@ApplID int)  
RETURNS int

AS  
BEGIN 

declare @count  int

select @count=count(*) from egrants where appl_id=@ApplID

IF @count=0 select @count=count(*) from funding_appls where appl_id=@ApplID and disabled_date is null

return @count 

END

GO
