SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE FUNCTION [dbo].[fn_doc_descr]  (@DID int)

RETURNS varchar(300)

AS
BEGIN 

DECLARE @T varchar(8000)
DECLARE @s varchar(300)
DECLARE @str_length int

declare @S1 int  --Dear:
declare @S2 int  --From:
declare @S3 int  --To:
declare @S4 int  --Subject
declare @S5 int  --Whom it may concern
declare @S6 int --BUSINESS OFFICIAL:
declare @S7 int --Re:
declare @S8 int  --Hi

declare @st int
declare @ed int

declare @ProfileID smallint
declare @S1_length smallint

SET @st=1
SET @ed=8000

--for NHLBI only
SELECT @ProfileID=profile_id FROM documents where document_id=@DID
IF @ProfileID=5 SET @S1_length=200 ELSE SET @S1_length=100

--IF (select count(*) FROM egrants d, ncieim_b..documents_text dt	--[app2-db3].ncieim_b.dbo.documents_text dt --
--WHERE d.document_id=@DID and d.document_id=dt.document_id and d.txt_size is not null and category_id in (11,12,23,24,59))=0
--RETURN NULL

IF  
(
select count(*) FROM egrants d, ncieim_b..documents_text dt, categories c	--[app2-db3].ncieim_b.dbo.documents_text dt --
WHERE 
d.document_id=@DID and d.document_id=dt.document_id and
c.category_id=d.category_id and c.package='Correspondence' and
d.txt_size is not null
)=0 
RETURN NULL

GetDescription:

SET @s=''

SELECT @T=substring(txt,@st,@ed),@str_length=txt_size
FROM ncieim_b..documents_text 	--[app2-db3].ncieim_b.dbo.documents_text  --ncieim_b..documents_text 
WHERE document_id=@DID

SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')
SET @T=replace (@T,'  ',' ')

SET @T=replace (@T,char(10),' ')
SET @T=replace (@T,char(10),' ')
SET @T=replace (@T,char(10),' ')

/**to take off invalid character s**/
SET @T=replace(@T,'','')
SET @T=replace(@T,'','')
SET @T=replace(@T,'','')

SELECT @S1=PATINDEX('%Dear%',@T)
SELECT @S2=PATINDEX('%From:%',@T)
SELECT @S3=PATINDEX('%To:%',@T)
SELECT @S4=PATINDEX('%Subject%',@T)
SELECT @S5=PATINDEX('%Whom it may concern%',@T)
SELECT @S6=PATINDEX('%BUSINESS OFFICIAL:%',@T)
SELECT @S7=PATINDEX('%Re:%',@T)
SELECT @S8=PATINDEX('%Hi %',@T)

IF @S1>0 
SET @s=@s + substring(@T,@S1,@S1_length) + '..... '

IF @S2>0 AND @ProfileID<>5 ---dont include the FROM clause for NHLBI
SET @s=@s + substring(@T,@S2,30) + '..... '

IF @S3>0 AND @ProfileID<>5 
SET @s=@s + substring(@T,@S3,30) + '..... '

IF @S4>0 AND @ProfileID<>5 
SET @s=@s + substring(@T,@S4,100) + '..... '

IF @S5>0 
SET @s=@s + substring(@T,@S5,100) + '..... '

IF @S8>0 
SET @s=@s + substring(@T,@S8,100) + '..... '

IF @S6>0 
SET @s=@s + substring(@T,@S6,100) + '..... '

IF @S7>0 
SET @s=@s + substring(@T,@S7,50) + '..... '

--get rid of funny characters
SET @s=replace(@s,char(12),'')

--second round
IF @s IS NULL and @st=1 --and @str_length>8000
BEGIN
SET @st=4000
SET @ed=8000
GOTO GetDescription
END

/**
--	06/24/2013	Joel Friedman	Code to cleanup caracters for XML

	set @s = replace(@s,'&','&amp;') 
	set @s = replace(@s,'#','&#35;') 
	set @s = replace(@s,':','&#58;') 
	set @s = replace(@s,'–','&#45;') 
	set @s = replace(@s,'’','''') 
	set @s = replace(@s,@char,'--')
	
--	end new code	

	DECLARE @char varchar(1)
            
	set @char = char(151)	--	em dash	 
	
	set @s = replace(@s,'&','&amp;')  
	set @s = replace(@s,'#','&#35;') 
	set @s = replace(@s,':','&#58;') 
	set @s = replace(@s,'–','&#45;') 
	set @s = replace(@s,'<','&#60;') 
	set @s = replace(@s,'>','&#62;') 
	set @s = replace(@s,'<<','&#171;') 
	set @s = replace(@s,'>>','&#187;') 
	set @s = replace(@s,'’','''') 
	set @s = replace(@s,@char,'--')   
	
	--check last two characters by leon
	if RIGHT(@s,1)='#'
	set @s=substring(@s,1,LEN(@s)-1)

	if RIGHT(@s,1)='&'
	set @s=substring(@s,1,LEN(@s)-1)
**/	 
RETURN @s

END












GO
