SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF





CREATE FUNCTION [dbo].[fn_adm_file_count] ()
  
RETURNS int AS  

BEGIN 

declare @count int

SET @count=(select count([file_id]) from dbo.adm_files where disabled_date is null) 


RETURN
(

select @count

)
END







GO
