SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE FUNCTION fn_filepart_docid (@f varchar(255))

  
RETURNS int AS  
BEGIN 

RETURN convert(int,   left(@f,patindex('%.%',@f)-1)    )


END





GO
