SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE FUNCTION fn_filepart_page (@f varchar(255))

  
RETURNS int AS  
BEGIN 

declare @S varchar(100)

set @s=right (@f,len(@f)-patindex('%-%',@f) ) --just for show get the left side of the file name to extract the page number
RETURN convert(int, left(@s,len(@s)-4) )


END



GO
