SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION fn_folder_grant_num (@FolderID int)
  
RETURNS varchar(20) AS


BEGIN 

declare @BCode varchar(10)
declare @GrantID int

SELECT @BCode=bar_code,@GrantID=grant_id from folders where folder_id=@FolderID

IF @BCode is not null
SELECT @GrantID=grant_id from vw_folder_appls where folder_id=@FolderID

RETURN (select grant_num from vw_grants where grant_id=@GrantID)


END












GO
