SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF





CREATE FUNCTION [dbo].[fn_appl_fda_flag_to_be_deleted] (@applID int)
  
RETURNS char(1) AS  

BEGIN

Declare @GrantID int

Select @GrantID = grant_id from appls where appl_id = @applID

IF (select count(*) from grants_flag_construct where flag_type='FDA' and grant_id=@GrantID and appl_id = @applID and end_dt is null)>0  

---IF (select count(*) from grants_flag_construct where grant_id=@GrantID and flag_type='FDA' )>0  --appl_id = @applID and 
RETURN 'y'

RETURN 'n'

END





GO
