SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
-- =============================================
-- Author:	Imran Omair
-- date :  	7/21/2010
-- Description:	get rpt seq number for a given document id.
-- =============================================
CREATE FUNCTION [dbo].[fn_get_AWSSeqNoFromImpacid]
(
	@impcid int
)
RETURNS int
AS
BEGIN

	DECLARE @seq_no int, @SQL nvarchar(500), @param nvarchar(100)
	DECLARE @Cnt int, @sequence_no int

	SET @SQL = 'SELECT * FROM OPENQUERY(IRDB, ''select  R.RPT_SEQ_NUM from docs d, rpt_jobs r where D.KEY_ID=R.RPT_SEQ_NUM and D.DOC_ID='+ CAST(@impcid   AS VARCHAR(10))+')'''


	EXEC sp_executesql @sql, @param, @sequence_no out

	RETURN @sequence_no 

END

GO
