SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE FUNCTION fn_folder_status (@FolderID int)
  
RETURNS varchar(50) AS  


BEGIN 
declare @s varchar(50)

declare @LID int
declare @SID int
declare @BID int

declare @DestDate datetime

select
@LID=location_id,
@SID=specialist_id,
@BID=box_id,
@DestDate=destroyed_date
from folders where folder_id=@FolderID

IF @DestDate is not null
SET @s='Destroyed'

IF @LID is not null
SELECT @s= location from locations where location_id=@LID

IF @SID is not null
SELECT @s=person_name from people where person_id=@SID

IF @BID IS NOT NULL
SELECT @s=box + (case  when destroyed_date is not null then ' Destroyed' else '' end)
from vw_boxes
where box_id=@BID


RETURN @s

END










GO
