SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


CREATE FUNCTION [dbo].[fn_adm_folder_count] ()
  
RETURNS int AS  

BEGIN 

declare @count int

SET @count=(select count(folder_id) from dbo.adm_folders where disabled_date is null) 

RETURN
(

select @count

)
END







GO
