SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

-- =============================================
-- Author:		iMRAN oMAIR
-- Create date: 10/23/2015
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_adsupp_getemail_body]
(
	-- Add the parameters for the function here
	@NotID Int
)
RETURNS Nvarchar(MAX)
AS
BEGIN
	Declare @BODY nvarchar(max), @fgn varchar(20), @PDName varchar(50)
	
	
		
	select @BODY=c.body from dbo.adsup_email_master c
	where c.id in (select distinct b.email_template_id from dbo.adsup_Notification_email_status b where b.Notification_id=@NotID)
	
	SELECT @fgn=a.Full_grant_num from dbo.adsup_notification a WHERE A.id=@NotID
	
	
	--select @BODY=c.body,@fgn=a.Full_grant_num from dbo.adsup_notification a,
	--dbo.adsup_email_rules b, dbo.adsup_email_master c
	--where a.pa=b.pa
	--and b.email_template_id=c.id
	--and a.id=@NotID
	
	--currently there is no template that addresses with name so commentingouit for now.
	select @PDName=person_name from adsup_Notification_email_status where Notification_id=@NotID and email='to' and position in ('PD','SPEC','PI')
	
	SELECT @BODY=REPLACE(@BODY,'@@FULLGRANTNUMBER',@fgn)
	SELECT @BODY=REPLACE(@BODY,'@@PROGRAMDIRECTORNAME',LTRIM(Rtrim(isnull(@PDName,''))))
	
	RETURN LTRIM(RTRIM(@BODY))

END



GO
