SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

create FUNCTION [dbo].[fn_get_org_category_name] (@category_id int)
  
RETURNS varchar(100) AS 

BEGIN 
RETURN 
(
select doctype_name from dbo.Org_Categories where doctype_id=@category_id 
)


END


GO
