SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

CREATE FUNCTION [dbo].[fn_appl_frc_destroyed]  (@appl_id int)  

RETURNS int	AS  

BEGIN 

DECLARE @frc_destroyed  int

SET @frc_destroyed =(SELECT frc_destroyed from vw_appls where appl_id=@appl_id)

RETURN @frc_destroyed

END
GO
