SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE FUNCTION [dbo].[fn_get_org_max_end_date] (@org_id int)
  
RETURNS smalldatetime

BEGIN 

RETURN 
(
SELECT MAX(end_date)
FROM vw_Org_Document 
WHERE org_id = @org_id and tobe_flagged=1 ---and end_date > GETDATE()
GROUP BY category_id
)

END
GO
