SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

create FUNCTION [dbo].[fn_appl_full_grant_num] (@applID int)
  
RETURNS varchar(19) AS  

BEGIN

declare @full_grant_num varchar(19)

select @full_grant_num = full_grant_num from vw_appls where appl_id = @applID

RETURN @full_grant_num

END

GO
