SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

create FUNCTION [dbo].[fn_get_irppr_id] (@applID int)
  
RETURNS int AS  

BEGIN

Declare @irppr_id int

Set @irppr_id=(select irppr_id from IMPP_IRPPR where appl_id=@applID)

RETURN @irppr_id

END

GO
