SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION fn_face_zone (@docID int,@zone varchar(10))
  
RETURNS varchar(50) AS  

BEGIN 

DECLARE @s varchar(100)
declare @nhood varchar(20)
declare @p int
declare @xmark varchar(100)
declare @czone tinyint


--Xmark alternatives
SET @xmark= '%[R,X,S,$,E,W,@,L,H,K,&,T,I,>,7,8]%'


IF @zone='ha1'
SELECT @s=substring(ha1,1,100) from face_pages where document_id=@docID

IF @zone='re1'
SELECT @s=substring(re1,1,100) from face_pages where document_id=@docID

IF @zone='hn1'
BEGIN
SELECT @s=substring(hn1,1,100) from face_pages where document_id=@docID
GOTO HUMAN_NUMBER
END


--truncate everything after if exempt, quatations...
SELECT @p=PATINDEX('%"Y%',@s)
IF @p=0 SET @p=PATINDEX('%S"%',@s)
IF @p>0 SET @s=left(@s,@p-4)

--replace specials characters
set @s=replace(@s,'%','&')

-------------------------------------------------------------------------------------------------------

XMARK:


--concentrate on the No neigborhood
SELECT @p=PATINDEX('%No%',@s)
IF @p>0 SET @nhood= substring(@s,@p-4,4) ELSE GOTO CHECK_YES
IF @nhood like @xmark RETURN 'no'


CHECK_YES:
SELECT @p=PATINDEX('%Yes%',@s)
IF @p>0 SET @nhood= substring(@s,@p-4,4) ELSE GOTO ZONE_END
IF @nhood like @xmark RETURN 'yes'

ZONE_END:
RETURN NULL

---------------------------------------------------------------------------------------------------

HUMAN_NUMBER:

--replace specials characters
set @s=replace(@s,'um','')
set @s=replace(@s,'ma','')

--concentrate on the  neigborhood that looks like human number
SELECT @p=PATINDEX('%FW%',@s)
IF @p=0 SELECT @p=PATINDEX('%M%',@s)

IF @p>0 SET @nhood= substring(@s,@p,17) ELSE RETURN NULL

SET @nhood=replace(@nhood,'i','1')
SET @nhood=replace(@nhood,' ','')

SET @p=PATINDEX('%6c%',@nhood)
IF @p>0 SET @nhood=left(@nhood,@p-1)

SET @nhood=RTRIM(@nhood)

RETURN @nhood

---------------------------------------------------------------------------------------------------


RETURN NULL


END

















GO
