SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION [dbo].[fn_file_found]
(
	@strFileName varchar(8000)
)
 
RETURNS int

AS

-- =============================================
-- Author:		Joel Friedman
-- Create date:	11/13/2007
-- Description:	Return 1 if the file name exists

-- =============================================

BEGIN

DECLARE @intI int

exec master..xp_fileexist @strFileName, @intI output

return @intI

End
GO
