
@{
    ViewBag.title = "Docman [Log In Default]";
}

<html>
<head>
    <link rel='stylesheet' type='text/css' href='~/Content/egrants.css' />
</head>

<body>
    <div id="content">
        <br /><br />
        <center>
            <img src="~/Content/images/nci_logo.gif" width="35" height="35">
            <img src="~/Content/images/docman.gif" width="116" height="23">
            <br /><br />
            <span>
                <h4>
                    All DocMan access requests must be submitted through Jonathan Rudd.<br />
                    Please contact <a href="mailto:Jonathan.Rudd@nih.gov" target="_top">Jonathan</a> to submit a DocMan access request on your behalf.<br /><br />
                    NOTE: Please verify whether you need eContracts access as well; <br />
                    you will be unable to view contracts in DocMan without this access.
                </h4>
            </span>
        </center>
        <br />
    </div>
</body>
</html>
