@using egrants_new.Egrants.Models;
@{
    ViewBag.Title = "eGrants [Show Popup Timed Out Modal]";
}

<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

    #NormalModal .modal-dialog {
        width: 600px !important;
        height: 300px !important;
    }

    #NormalModal .modal-content {
        width: 600px !important;
        height: 300px !important;
    }

    #MediumModal .modal-dialog {
        width: 700px !important;
        height: 500px !important;
    }

    #MediumModal .modal-content {
        width: 700px !important;
        height: 500px !important;
    }
</style>

<div class="modal fade" id="timedoutModalId" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="height:200px;">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                    <span aria-hidden="true">&times;</span>
                </button>*@

                <div style="margin-top:90px;font-weight:bold;">Your session has been timed out.</div>
            </div>
            @*<div class="modal-footer">
                </div>*@
        </div>
    </div>
</div>

