@{
    ViewBag.title = "eGrants [Log In Default]";
}
<html>
<head>
    <link rel='stylesheet' type='text/css' href='~/Content/egrants.css' />
</head>

<body>
   <div id="content">
      <br />
      <br />
      <!-- <center> -->
      <img src="../Content/images/eglogo.PNG" width="400" height="50" />
      <br />
      <br />
         <span>
            <b>
               All eGrants access requests must be submitted by IC Coordinators.<br />
               For your convenience, here is a list of all of the IC <a target="_new" href="http://inside.era.nih.gov/techrep_list.cfm ">Coordinators</a><br />
               Please have your coordinator submit an eGrants access request on your behalf.<br />
            </b>
         </span>
    <!-- </center> -->
      <br />
   </div>
</body>
</html>
