<!--start search form-->
<script language="JavaScript" type="text/javascript">
    function search() {
        if (document.getElementById("txtStr").value == '') {
            alert("Insert a search string.");
            document.getElementById("txtStr").value = "";
            document.getElementById("txtStr").focus();
            return false;
        } else var result = CheckCharacters(document.getElementById("txtStr").value, 'key word search');	//check special characters

        if (result == false || result == 'false') {
            document.getElementById("txtStr").value = '';
            document.getElementById("txtStr").focus();
            return false;
        } else SearchStr = document.getElementById("txtStr").value;

        var url = "@Url.Action("by_str", "Docman")?str=" + SearchStr;
        //alert(url);
        window.self.location = url;
    }
</script>

    <form name="frmSearch" onSubmit="return search()" method="get" action="~/Docman/by_str">
        <div class="form-inline">
            <label for="Key Word Search"><b>Key Word Search:</b></label>&#0160;
            <input id="txtStr" name="str" type="text" class="form-control" style="height:30px; width:350px" title="Enter key word to search" value="@ViewBag.SearchStr" />&#0160;
            <button type="button" accesskey="S" class="btn btn-primary btn-sm" title="Click here to search by Key Word [shift + alt + S]" onclick="JavaScript: search();">
                <u>S</u>earch
            </button>
            &#0160;&#0160;@Html.ActionLink("Documents Deleted From System", "DocmanDeletedDocsIndex", "Docman")
        </div>
    </form>

<!--end search form-->