@using egrants_new.Controllers
<script language="JavaScript">
    function run_menu() {      
        if (document.getElementById("ddlMenus").selectedIndex != 0) {      
            var ActionController = document.getElementById("ddlMenus").options[document.getElementById("ddlMenus").selectedIndex].value;
            var url = '@Url.Action("Index", "Controller")';
            url = url.replace("Controller", ActionController);
            window.document.location.href = url;
        }
    }
</script>            

<div id="main" class="form-inline" style="margin:0;padding:0;">   
    <b>Menu Option:</b>      
    <select name="menus" id="ddlMenus" class="form-control m-1" style="width:300px;" onchange="Javascript:run_menu()" title="select admin object">
        <option></option>
        @foreach (var item in ViewBag.AdminMenu)
        {
            <option value="@item.MenuAction" id="@item.MenuId">@item.MenuTitle</option>
        }
    </select>
</div><!--end main-->



