<!--start display appls and documents-->
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/datetime-moment.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet"/>
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-icons.min.css">
<script src="~/scripts/fontawesome/fontawesome.min.js" data-auto-replace-svg="nest"></script>

<script src="~/scripts/fontawesome/solid.min.js"></script>
<link href="~/Content/fontawesome/solid.min.css" rel="stylesheet"/>
<script src="~/scripts/bootstrap-checkbox.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-checkbox.css">

<style>
    table.dataTable thead th {
        background: transparent !important;
        white-space: nowrap;
    }

    /* when a column is not activly sorted the */

    table.dataTable thead .sorting .bi-sort-down {
        color: black;
        display: none;
    }

    table.dataTable thead .sorting .bi-sort-up {
        color: black;
        display: none;
    }

    table.dataTable thead .sorting .bi-arrow-down-up {
        color: #a9a9a9;
        display: inline;
    }

    table.dataTable thead .sorting_asc .bi-sort-down {
        color: black;
        display: inline;
    }

    table.dataTable thead .sorting_desc .bi-sort-up {
        color: black;
        display: none;
    }

    table.dataTable thead .sorting_desc .bi-sort-down {
        color: black;
        display: none;
    }

    table.dataTable thead .sorting_desc .bi-sort-up {
        color: black;
        display: inline;
    }

    /* when the datatable column is in asc or des sort mode, hide the updown arrow */

    table.dataTable thead .sorting_asc .bi-arrow-down-up { display: none; }

    table.dataTable thead .sorting_desc .bi-arrow-down-up { display: none; }

    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc_disabled:before { content: "" !important; }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after { content: "" !important; }

    table.dataTable tbody tr.even-row {
        background-color: #ffffff;
        height: 30px;
    }

    table.dataTable tbody tr.odd-row {
        background-color: #AED6F1;
        height: 30px;
    }

    #overlay {
        background-color: white;
        display: none;
        height: 100%;
        left: 0px;
        /* filter: alpha( opacity=75 ); */
        opacity: 0.75;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 99999;
    }

    .fa-file-excel { color: grey; }

    .fa-file-lines {
        color: blue;
        display: none;
    }

    .fa-folder-open {
        color: green;
        display: none;
    }


    .fa-circle-check { color: green; }

    .fa-rotate { color: blueviolet }

    .fa-circle-exclamation { color: red; }
</style>


@{
    // note common Audit File Download functions defined in _egrants_showDocsDownloadSupportFuncitons.js

    var appl_id = Model.ApplId;
    var fullGrantNumber = Model.FullGrantNumber;
    <div id="overlay">
        <img style="height: 150px; margin-left: 400px; margin-top: 150px; width: 150px;" src="~/Content/images/Loading.gif"/>
    </div>

    <div id="create new buttons" style="display: inline; float: right;">
        <button type="button" id="downloadData_@appl_id" accesskey="D" class="btn btn-sm btn-primary" style="background-color: #008b8b; font-size: medium; height: 35px; width: 150px;" title="Click here to download documents selected [shift + alt + O]"><u>D</u>ownload</button>
    </div>

    <div id="data_table">
    <div class="container">
        <br/>
        <div style="float: left; width: 880px;">
            <table id="loadgridDownload_@appl_id" class="" style="width: 100%">
                <thead>
                <tr>
                    <th>
                        <div id="dl_checkbox_all_@appl_id" style="display: inline;">
                            <input type="checkbox" title="Check All" class="showDownloadAll" id="checkboxall_@appl_id"/>
                        </div>
                    </th>
                    <th>
                        Document Name
                        @*bootstrap icons for sorting icons*@
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down ml-1" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up ml-1" viewBox="0 0 16 16">
                            <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-down-up ml-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </th>
                    <th>
                        Date
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down ml-1" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up ml-1" viewBox="0 0 16 16">
                            <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-down-up ml-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        // start load document dat to data table
        $("#overlay").show();

        $(document).ready(function() {

            $.fn.dataTable.moment('MM/DD/YYYY');
            jQuery.extend(jQuery.fn.dataTableExt.oSort,
                {
                    'dateNonStandard-asc': function(a, b) {
                        var x = Date.parse(a);
                        var y = Date.parse(b);
                        if (x == y) {
                            return 0;
                        }
                        if (isNaN(x) || x < y) {
                            return 1;
                        }
                        if (isNaN(y) || x > y) {
                            return -1;
                        }
                    },
                    'dateNonStandard-desc': function(a, b) {
                        var x = Date.parse(a);
                        var y = Date.parse(b);
                        if (x == y) {
                            return 0;
                        }
                        if (isNaN(y) || x < y) {
                            return -1;
                        }
                        if (isNaN(x) || x > y) {
                            return 1;
                        }
                    }
                });

            var table = $("#loadgridDownload_" + @appl_id).DataTable({
                paging: false, // for reinitialize
                searching: false, // for reinitialize
                ordering: true,
                order: [[2, 'asc']], // desc
                processing: true, // for show progress bar
                serverSide: false, // for process server side
                filter: true, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                bInfo: false,
                timeout: 600000,
                initComplete: function(settings, json) {
                    $("#overlay").hide();
                    var info = this.api().page.info();
                },

                ajax: {
                    url: "/Egrants/LoadDocsGrid?appl_id=" + @appl_id + "&search_type=@Convert.ToString(ViewBag.SearchStyle)" + "&category_list=@Convert.ToString(ViewBag.SelectedCats)",
                    type: "GET",
                    contentType: 'application/json; charset=utf=8',
                    dataType: 'JSON',
                    timeout: 600000,
                },
                // rowId: 'id',
                stripeClasses: ['odd-row', 'even-row'],
                columnDefs: [
                    {
                        targets: [0, 3],
                        orderable: false
                    },
                    {
                        visible: true,
                        searching: false,
                        paging: false
                    },
                    {
                        type: 'dateNonStandard',
                        targets: [2]
                    }
                ],
                columns: [
                    {
                        className: "details-control",
                        autoWidth: true,
                        // show the checkox's that allow a user to download files
                        render: function(data, type, full, meta) {
                            return renderDetailsControl(data, type, full, meta)
                        }
                    },
                    {
                        // show document_name with url
                        autoWidth: true,
                        render: function(data, type, full, meta) {
                            if (full.frc_destroyed == 0) {
                                if (full.fsr_count > 1 && (full.document_name == "FFR" || full.document_name == "Financial Report")) {
                                    console.log("In Document Link: " + full);
                                    if (full.document_name == "Financial Report") {
                                        var str = "<a href=JavaScript:show_doc('" +
                                            full.url +
                                            "') title='show document'>" +
                                            full.document_name +
                                            "</a>";
                                    }
                                    if (full.document_name == "FFR") {
                                        var str = "<a href = '#'" +
                                            "') title='Select Item To View'>" +
                                            full.document_name +
                                            "</a>";
                                    }
                                    return str;

                                } else if (full.attachment_count > 0) {
                                    var str = "<a href=JavaScript:show_doc('" +
                                        full.url +
                                        "') title='show document'>" +
                                        full.document_name +
                                        "</a>";

                                    return str;

                                } else if (full.document_name == "Closeout Notification") {
                                    var str = "<a href = '#'" +
                                        "') title='Select Item To View'>" +
                                        full.document_name +
                                        "</a>";

                                    return str;

                                } else {
                                    var str = "<a href=JavaScript:show_doc(\"" + full.url + "\") title=\"show document\">" + full.document_name + "</a>";

                                    return str;
                                }
                            } else return "<strike>" + full.document_name + "</strike>";
                        }


                    },
                    {
                        className: 'document_date',
                        data: "doc_date",
                        autoWidth: true,
                        render: function(data, type, full, meta) {
                            if (full.document_date == "") {
                                return '';
                            } else {
                                return moment(data).format('MM/DD/YYYY');
                            }
                        }
                    },
                    {
                        // replace document image
                        className: 'icon_display',
                        authWidth: true,
                        render: function(data, type, full, meta) {

                            var str = ((full.url.substring(0, 11) == "https://i2e" ? "<i class=\"fa fa-file-excel\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"File URL is not supported.\"></i>" : "<i class=\"fa fa-file-lines\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"\"></i>"));

                            return str;
                        }
                    }
                ]
            });


            var mode = document.getElementById("hidMode").value;

            // when a user checks the checkbox in the header all row checkboxs are checked
            $('#loadgridDownload_' + @appl_id + ' thead').on('click',
                'input.showDownloadAll',
                function() {
                    var isAllChecked = $(this).prop('checked');

                    $.each($('#loadgridDownload_' + @appl_id + ' input.showDownload'),
                        function() {
                            console.log(isAllChecked);

                            // skip the item if it is disabled
                            if (!$(this).prop('disabled')) {

                                // check the box if all should be checked or uncheck if all should be unchecked
                                if (isAllChecked) {
                                    if ($(this).hasClass('FinancialReport') || $(this).hasClass('FFR')) {
                                        var tr = $(this).parents('tr');
                                        var row = table.row(tr);
                                        if (!row.child.isShown()) {
                                            getFinancialReport(row, @appl_id);
                                        }
                                    }

                                    if ($(this).hasClass('CloseoutNotifications')) {
                                        var tr = $(this).closest('tr');
                                        var row = table.row(tr);
                                        if (!row.child.isShown()) {
                                            getCloseoutNotification(row, @appl_id);
                                        }
                                    }

                                    if ($(this).hasClass('Attachments')) {
                                        var tr = $(this).closest('tr');
                                        var row = table.row(tr);
                                        if (!row.child.isShown()) {
                                            getAttchaments(row);
                                        }
                                    }

                                    $(this).prop('checked', true);

                                } else {
                                    if ($(this).hasClass('FinancialReport') || $(this).hasClass('CloseoutNotifications') || $(this).hasClass('FFR')) {
                                        console.log("has Fincial Report or CloseoutNotification or Attachments");
                                        var tr = $(this).closest('tr');
                                        var row = table.row(tr);
                                        if (!row.child.isShown()) {
                                            row.child.hide();
                                        }
                                    }

                                    $(this).prop('checked', false);
                                }
                            }
                        });
                });

            // when the user clicks on a row's checkbox
            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
                'input.showDownload',
                function() {
                    // assume all are checked
                    var isAllChecked = true;

                    // if anyone is not checked set the flag to false
                    $.each($('#loadgridDownload_' + @appl_id + ' input.showDownload'),
                        function() {
                            if ($(this).hasClass('FinancialReport') || $(this).hasClass('FFR')) {
                                var tr = $(this).closest('tr');
                                var row = table.row(tr);
                                if ($(this).prop('checked')) {
                                    getFinancialReport(row, @appl_id);
                                }
                            }

                            if ($(this).hasClass('CloseoutNotifications')) {
                                var tr = $(this).closest('tr');
                                var row = table.row(tr);
                                if ($(this).prop('checked')) {
                                    getCloseoutNotification(row, @appl_id);
                                }
                            }

                            if ($(this).hasClass('Attachments')) {
                                var tr = $(this).closest('tr');
                                var row = table.row(tr);
                                if ($(this).prop('checked')) {
                                    getAttachments(row);
                                }
                            }

                            if (!$(this).prop('disabled') && !$(this).prop('checked')) {
                                isAllChecked = false;
                            }
                        });

                    // if all checkboxes are checked, check the header checkbox
                    if (isAllChecked) {
                        $('#checkboxall_' + @appl_id).prop('checked', true);
                    } else {
                        $('#checkboxall_' + @appl_id).prop('checked', false);
                    }
                });


            // check all the rows and the child rows of Financial Report to see if all are checked
            $('#loadgridDownload_@appl_id' + ' tbody').on('click',
                '#ffrChildTable_@appl_id' + ' tbody',
                '#grantChildTable_@appl_id' + ' tbody',
                function() {
                    // assume all are checked
                    var isAllChecked = true;

                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    var ptr = $(this).closest('tr').parents('tr');
                    var prevtr = ptr.prev('tr')[0];
                    var data = table.row(prevtr).data();

                    //console.log(JSON.stringify(data));

                    console.log("Row Clicked");

                    // if anyone is not checked set the flag to false
                    $("#ffrChildTable_@appl_id tr").each(function() {
                        console.log("Check all Children");
                        if (!$(this).prop('disabled') && !$(this).prop('checked')) {
                            isAllChecked = false;
                            console.log("isAllChecked = false");
                        }
                    });

                    $("#grantChildTable_@appl_id tr").each(function() {
                        console.log("Check all Children");
                        if (!$(this).prop('disabled') && !$(this).prop('checked')) {
                            isAllChecked = false;
                            console.log("isAllChecked = false");
                        }
                    });

                    // if all checkboxes are checked, check the header checkbox
                    if (isAllChecked) {
                        console.log("all are checked");
                        $('#' + data.document_id).prop('checked', true);
                    } else {
                        console.log("not all checked");
                        $('#' + data.document_id).prop('checked', false);
                    }
                });

            // when the user clicks on a row's checkbox
            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
                'input.CloseoutNotifications',
                function() {
                    console.log("In Closeout Notification Report");
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if ($(this).prop('checked')) {

                        getCloseoutNotification(row, @appl_id);

                    } else if (!$(this).prop('checked')) {
                        row.child.hide();
                    }
                });


            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
                'input.FinancialReport',
                "input.FFR",
                function() {
                    console.log("In Financial Report");
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if ($(this).prop('checked')) {

                        getFinancialReport(row, @appl_id);

                    } else if (!$(this).prop('checked')) {
                        row.child.hide();
                    }
                });

            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
                'input.Attachments',
                function() {
                    console.log("In Attachments");
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if ($(this).prop('checked')) {

                        getAttachments(row);

                    } else if (!$(this).prop('checked')) {
                        row.child.hide();
                    }
                });

            // when the user clicks the download button get all the rows that are checked
            $('#downloadData_@appl_id').on('click',
                function() {
                    // var trSvg;
                    var fsrUrl;
                    var closeoutUrl;
                    // create an object of appl_id and list of urls to send to save method
                    var dataToSend = {};
                    dataToSend.appl = @appl_id;
                    dataToSend.fullGrantNumber = "@fullGrantNumber";

                    var list = new Array();

                    // loop through each row and add the checked items to a list
                    $.each($('#loadgridDownload_' + @appl_id + ' input.showDownload'),
                        function() {
                            var tr = $(this).closest('tr');
                            //console.log(JSON.stringify(tr));

                            var row = table.row(tr);
                            var datvals;

                            // if the row has a class that include "FinancialReport"
                            if ($(this).hasClass('FinancialReport') || $(this).hasClass('FFR')) {
                                if (row.child.isShown()) {
                                    var tr = $(this).closest('tr');
                                    var row = table.row(tr);
                                    console.log("In Financial Report Row and FFR");
                                    if ($(this).hasClass('FinancialReport')) {
                                        $("#ffrChildTable_@appl_id tr").each(function() {
                                            //var category_name;
                                            console.log("In Financial Report for data");
                                            // if the checkbox is ccked then extract the data from the row and add it to the list to be sent for download.
                                            if ($(this).find("input[type='checkbox']").prop('checked') == true) {

                                                fsrUrl = $(this).find("a[href^='JavaScript']").attr('name');

                                                var tag = $(this).find("a[href^='JavaScript']").attr('id');
                                                console.log("Tag:" + tag);
                                                var categoryName = $(this).find("input[type='checkbox']").attr('value');

                                                var documentDate;

                                                if (tag == 2) {
                                                    documentDate = $(this).find("span[name='accepted_date']").text();
                                                    console.log("tag 2 documentDate:" + documentDate);
                                                } else if (tag == 3) {
                                                    documentDate = $(this).find("span[name='created_date']").text();
                                                    console.log("tag 3 documentDate:" + documentDate);
                                                } else {
                                                    documentDate = null;
                                                    console.log("null documentDate:" + documentDate);
                                                }

                                                var trSvg = $(this).find('[data-fa-i2svg]');

                                                list.push(fsrUrl + "|" + categoryName + "|" + "" + "|" + "" + "|" + categoryName + "|" + documentDate + "|" + tag);

                                                if (trSvg.attr("class") === "fa-circle-check") {
                                                    trSvg
                                                        .toggleClass('fa-circle-check');
                                                }

                                                if (trSvg.attr("class") === "fa-circle-exclamation") {
                                                    trSvg
                                                        .toggleClass('fa-circle-exclamation');
                                                }

                                                if (trSvg.attr("class") === "fa-file-lines") {
                                                    trSvg
                                                        .toggleClass('fa-file-lines');
                                                }

                                                trSvg
                                                    .toggleClass('fa-solid fa-rotate fa-spin');
                                                trSvg.attr("title", "Downloading...");
                                            }
                                        });
                                    }
                                }
                            } else if ($(this).hasClass('CloseoutNotifications')) {
                                if (row.child.isShown()) {
                                    // for each table row (tr) in the closeout notification child rows (which contains a bootstrap table)
                                    $("#closeoutChildTable_@appl_id tr").each(function() {

                                        // if the checkbox is checked then extract the data from the row and add it to the list to be sent for download
                                        if ($(this).find("input[type='checkbox']").prop('checked') == true) {

                                            closeoutUrl = $(this).find("a[href^='JavaScript']").attr('name');

                                            var categoryName = $(this).find("input[type='checkbox']").attr('value');

                                            var documentDate = $(this).find("span[name='created_date']").text();

                                            var trSvg = $(this).find('[data-fa-i2svg]');

                                            list.push(closeoutUrl + "|" + "CloseoutNotification" + "|" + "" + "|" + "" + "|" + categoryName + "|" + documentDate + "|" + "");

                                            if (trSvg.attr("class") === "fa-circle-check") {
                                                trSvg
                                                    .toggleClass('fa-circle-check');
                                            }

                                            if (trSvg.attr("class") === "fa-circle-exclamation") {
                                                trSvg
                                                    .toggleClass('fa-circle-exclamation');
                                            }

                                            if (trSvg.attr("class") === "fa-file-lines") {
                                                trSvg
                                                    .toggleClass('fa-file-lines');
                                            }

                                            trSvg
                                                .toggleClass('fa-solid fa-rotate fa-spin');
                                            trSvg.attr("title", "Downloading...");
                                        }
                                    });

                                }

                            } else {

                                // console.log(JSON.stringify(row));
                                var data = row.data();

                                var trSvg = tr.find('[data-fa-i2svg]');


                                // if the row is checked add the url to the list of data
                                if ($(this).prop('checked')) {
                                    if (!$(this).hasClass('FinancialReport') && !$(this).hasClass('CloseoutNotifications') && !$(this).hasClass('FFR')) {
                                        list.push(data.url + "|" + data.category_name + "|" + data.sub_category_name + "|" + data.document_id + "|" + data.document_name + "|" + data.document_date + "|" + "");


                                        if (trSvg.attr("class") === "fa-circle-check") {
                                            trSvg
                                                .toggleClass('fa-circle-check');
                                        }

                                        if (trSvg.attr("class") === "fa-circle-exclamation") {
                                            trSvg
                                                .toggleClass('fa-circle-exclamation');
                                        }

                                        if (trSvg.attr("class") === "fa-file-lines") {
                                            trSvg
                                                .toggleClass('fa-file-lines');
                                        }

                                        trSvg
                                            .toggleClass('fa-solid fa-rotate fa-spin');
                                        trSvg.attr("title", "Downloading...");
                                    }
                                }
                            }
                        });

                    dataToSend.listOfUrl = list;

                    //console.log("Data To C# = " + JSON.stringify(list));

                    // post the data to the server
                    $.ajax(
                        {
                            cache: false,
                            async: true,
                            type: 'POST',
                            dataType: 'JSON',
                            contentType: 'application/json; charset=utf=8',
                            url: "/Egrants/IsDownloadForm",
                            data: JSON.stringify(dataToSend),
                            timeout: 600000,
                            success: function(data) {
                                console.log("SUCCESS: ");
                                //console.log(JSON.stringify(data));

                                var countSuccess = 0;

                                $.each($('#loadgridDownload_' + @appl_id + ' input.showDownload'),
                                    function() {
                                        var tr = $(this).closest('tr');
                                        //console.log(JSON.stringify(tr));

                                        var row = table.row(tr);
                                        // if the row is checked add the url of the link is the same as one found in the object,
                                        // check the error flag to see if there is an error and show the success or error icon

                                        if ($(this).hasClass('FinancialReport') || $(this).hasClass('FFR')) {
                                            if (row.child.isShown()) {
                                                var tr = $(this).closest('tr');
                                                var row = table.row(tr);
                                                console.log("In Financial Report Row and FFR");
                                                if ($(this).hasClass('FinancialReport') || $(this).hasClass('FFR')) {
                                                    $("#ffrChildTable_@appl_id tr").each(function() {
                                                        console.log("In Financial Report Row");
                                                        if ($(this).find("input[type='checkbox']").prop('checked') == true) {

                                                            var found = data.DownloadDataList.filter(function (item) { return item.Url === fsrUrl; });
                                                            if (found != null) {
                                                                var trSvg = $(this).find('[data-fa-i2svg]');
                                                                console.log("Found: ");

                                                                //console.log(JSON.stringify(found));
                                                                console.log(found[0].Error);
                                                                if (found[0].Error == null) {
                                                                    trSvg
                                                                        .toggleClass('fa-circle-check')
                                                                        .toggleClass('fa-solid fa-rotate fa-spin');

                                                                    trSvg.attr("title", "File Download Successful!");

                                                                    countSuccess++;
                                                                } else {
                                                                    trSvg
                                                                        .toggleClass('fa-circle-exclamation')
                                                                        .toggleClass('fa-solid fa-rotate fa-spin');

                                                                    trSvg.attr("title", found[0].Error);
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                        } else if ($(this).hasClass('CloseoutNotifications')) {
                                            if (row.child.isShown()) {
                                                var tr = $(this).closest('tr');
                                                var row = table.row(tr);
                                                $("#closeoutChildTable_@appl_id tr").each(function() {
                                                    //var tr = $(this).closest('tr');
                                                    //var row = table.row(tr);
                                                    if ($(this).find("input[type='checkbox']").prop('checked') == true) {

                                                        var found = data.DownloadDataList.filter(function (item) { return item.Url === closeoutUrl; });
                                                        if (found != null) {
                                                            var trSvg = $(this).find('[data-fa-i2svg]');
                                                            console.log("Found: ");

                                                            //console.log(JSON.stringify(found));
                                                            console.log(found[0].Error);
                                                            if (found[0].Error == null) {
                                                                trSvg
                                                                    .toggleClass('fa-circle-check')
                                                                    .toggleClass('fa-solid fa-rotate fa-spin');

                                                                trSvg.attr("title", "File Download Successful!");

                                                                countSuccess++;
                                                            } else {
                                                                trSvg
                                                                    .toggleClass('fa-circle-exclamation')
                                                                    .toggleClass('fa-solid fa-rotate fa-spin');

                                                                trSvg.attr("title", found[0].Error);
                                                            }
                                                        }
                                                    }
                                                });

                                            }

                                        } else {
                                            var tr = $(this).closest('tr');
                                            var row = table.row(tr);
                                            if ($(this).prop('checked')) {

                                                console.log("row: ");
                                                console.log(row);

                                                var rowData = row.data();

                                                //console.log("RowData:" + JSON.stringify(rowData));

                                                var found = data.DownloadDataList.filter(function(item) { return item.Url === rowData.url; });

                                                if (found != null) {
                                                    var trSvg = tr.find('[data-fa-i2svg]');
                                                    console.log("Found: ");

                                                    //console.log(JSON.stringify(found));
                                                    // console.log(found[0].Error);
                                                    if (found[0].Error == null) {
                                                        trSvg
                                                            .toggleClass('fa-circle-check')
                                                            .toggleClass('fa-solid fa-rotate fa-spin');

                                                        trSvg.attr("title", "File Download Successful!");

                                                        countSuccess++;
                                                    } else {
                                                        trSvg
                                                            .toggleClass('fa-circle-exclamation')
                                                            .toggleClass('fa-solid fa-rotate fa-spin');

                                                        trSvg.attr("title", found[0].Error);
                                                    }
                                                }

                                            }
                                        }
                                        //else {
                                        //      alert("A matching row was never found! Notify the System Developer of this error! This should not happen!");
                                        // }


                                    });

                                if (countSuccess > 0) {
                                    window.location = '/Egrants/Download?fileGuid=' + data.Handle + '&filename=' + data.ZipFilename;
                                } else {
                                    alert("No files were successfully downloaded!");
                                }
                            },
                            error: function(resp) {
                                console.log("ERROR: " + JSON.stringify(resp));
                            }
                        });
                });
        });

        window.onload = function() {
            $("#overlay").hide();
        };
    </script>
    </div>

}
<!--end show documents-->