@{
    ViewBag.Title = "egrants [Admin Mian]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<div id="main">
    <div>
        @Html.Partial("~/Egrants_Admin/Views/_AdminMenuIndex.cshtml")
    </div>
    <br />
    We are building Admin Section of eGrants. This page will render menu options that you are allowed to access.
    If you think some options are missing, please contact
    <a href="mailto:robert.jones2@nih.gov" target="_top">Mr.Robert Jones</a> to grant you necessary privillegs.
    <br />
    <br />
</div>



