USE [EIM]
GO
/****** Object:  StoredProcedure [dbo].[sp_egrants_maint_pop_FSR]    Script Date: 5/2/2023 11:39:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[sp_egrants_maint_pop_FSR]

AS
DECLARE @impacID int
DECLARE @CATEGORYID smallint
DECLARE @PROC_NAME VARCHAR(50)
DECLARE @RUN_DATETIME DATETIME
DECLARE @IMPAC_DOWNLOAD_CNT INT
DECLARE @EGRANTS_UPLOAD_CNT INT
DECLARE @UPDT_CNT INT
DECLARE @INSRT_CNT INT
SET @PROC_NAME = 'sp_egrants_maint_pop_FSR'
SET @RUN_DATETIME = GETDATE()

PRINT 'BEGIN PROC: [sp_egrants_maint_pop_FSR] @ '+ cast(getdate() as varchar)





/**
Bring accepted FSR from IRDB  {fsr_accepted_code='Y'}
**/

select @CATEGORYID=category_id from categories where impac_doc_type_code='FSR' and category_name='FFR'
SELECT @impacID=person_id FROM people WHERE userid='impac'

PRINT 'Creating Temp table A. Starting: ' + cast(getdate() as varchar)
DECLARE @a table(appl_id int primary key, fsr_date smalldatetime)

PRINT 'Obtaining data from IRDB and inserting data into local temp table A. Starting: ' + cast(getdate() as varchar)

/**
    INSERT INTO @a(appl_id, fsr_date)
        SELECT appl_id, last_upd_date 
        FROM openquery(IRDB,'select appl_id, last_upd_date  from appls_t 
        where to_date(to_char(last_upd_date,''yyyy-mm-dd''),''yyyy-mm-dd'')>=to_date(''2003-05-01'',''yyyy-mm-dd'') and fsr_accepted_code=''Y'' ')
**/

INSERT INTO @a(appl_id, fsr_date)
	SELECT appl_id, latest_accepted_date
	FROM openquery (IRDB, 'SELECT appl_id, max(accepted_date) AS latest_accepted_date
	FROM fsrs f where TO_DATE(to_char(ACCEPTED_DATE,''yyyy-mm-dd''),''yyyy-mm-dd'')>TO_DATE(''2003-05-01'',''yyyy-mm-dd'')
	AND EXISTS (SELECT 1 FROM appls_t WHERE appl_id = f.appl_id AND TO_DATE(to_char(last_upd_date,''yyyy-mm-dd''),''yyyy-mm-dd'')>=TO_DATE(''2003-05-01'',''yyyy-mm-dd'') AND fsr_accepted_code=''Y'')
	GROUP BY appl_id')

PRINT 'Brought FSRs from IRDB into temp table A. FSR Count =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)

PRINT 'INSERTING Data into impp_fsrs table from local temp table containing IRDB data' + cast(getdate() as varchar)

TRUNCATE TABLE impp_fsrs

INSERT INTO impp_fsrs(appl_id, fsr_date)
    SELECT appl_id, fsr_date
    FROM @a;

SELECT @UPDT_CNT=count(*) 
FROM impp_fsrs i
INNER JOIN appls a on i.appl_id = a.appl_id
WHERE 
i.appl_id not in 
(
    select appl_id 
    from  egrants 
    where created_by_person_id=530 and category_id in 
    (   select category_id 
        from categories 
        where impac_doc_type_code='FSR'
    ) 
)

IF @UPDT_CNT > 0   
BEGIN
	UPDATE documents
	SET documents.document_date=v.fsr_date 
	FROM documents d,impp_fsrs v
	WHERE d.category_id in (select category_id from categories where impac_doc_type_code='FSR')
	and d.created_by_person_id=@impacID and d.url is null and d.appl_id=v.appl_id and d.document_date<>v.fsr_date 
	print 'updated FSR last_upd_date in documents table =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)
END

SELECT @INSRT_CNT=count(*)
FROM impp_fsrs i, appls a
WHERE i.appl_id=a.appl_id and i.appl_id not in (select appl_id from  egrants where created_by_person_id=530 
and category_id in (select category_id from categories where impac_doc_type_code='FSR') )

IF @INSRT_CNT > 0
BEGIN
	INSERT documents(appl_id, category_id, document_date, page_count, created_by_person_id, file_type, profile_id)
	SELECT i.appl_id, @CATEGORYID, i.fsr_date,1, @impacID, 'pdf',dbo.fn_grant_profile_id(a.grant_id)
	FROM impp_fsrs i, appls a
	WHERE i.appl_id=a.appl_id and i.appl_id not in (select appl_id from  egrants where created_by_person_id=@impacID 
	and category_id in (select category_id from categories where impac_doc_type_code='FSR') )
	print 'New FFR Added =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)
END

/**
Bring and insert all FSR to impp_fsrs_all
**/ 


PRINT 'Creating Temp table B. Starting: ' + cast(getdate() as varchar)
DECLARE  @b table(appl_id int, fsr_id int primary key, fsr_seq_num int, accepted_date smalldatetime)

PRINT 'Obtaining data from IRDB and inserting data into local temp table B. Starting: ' + cast(getdate() as varchar)

INSERT INTO @b(appl_id, fsr_id, fsr_seq_num, accepted_date)
    SELECT appl_id,fsr_id,fsr_seq_num,accepted_date
    FROM openquery(IRDB,'select APPL_ID, FSR_ID, FSR_SEQ_NUM, ACCEPTED_DATE, SUBMITTED_DATE from fsrs where to_date(to_char(ACCEPTED_DATE,''yyyy-mm-dd''),''yyyy-mm-dd'')>to_date(''2003-05-01'',''yyyy-mm-dd'') ')

PRINT 'INSERTING Data into local table impp_fsrs from local temp table containing IRDB data' + cast(getdate() as varchar)

TRUNCATE TABLE impp_fsrs_all

INSERT INTO impp_fsrs_all (appl_id,fsr_id,fsr_seq_num,accepted_date)
    SELECT appl_id,fsr_id,fsr_seq_num,accepted_date
    FROM @b;

print 'All FSR Added =' + cast(@@ROWCOUNT as varchar)+' @ '+ cast(getdate() as varchar)


PRINT 'END PROC:==> [sp_egrants_maint_pop_FSR] @ '+ cast(getdate() as varchar)
