SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TestData](
	[Col1] [int] NULL,
	[Col2] [char](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[Col3] [int] NULL
) ON [PRIMARY]

GO
