SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[character_index](
	[index_id] [int] NULL,
	[character_index] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[index_seq] [int] NULL
) ON [PRIMARY]

GO
