SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[IMPAC_DESTRUCTED_APPL_bkup](
	[APPL_ID] [int] NOT NULL,
	[IRDB_LAST_UPD_DATE] [smalldatetime] NULL,
	[EGRANTS_CREATED_DATE] [smalldatetime] NULL,
	[DESTRUCT_APPROVED_BY] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DESTRUCT_APPROVED_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_DATE] [smalldatetime] NULL,
	[FINAL_DESTRUCT_BY] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GRANT_ID] [nchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FGN] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[APPL_STATUS_GRP_DESCRIP] [varchar](60) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DESTRUCT_PROCESS_STATUS_CODE] [int] NULL,
	[DESTRUCTION_EXCEPTION_CODE] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CAY_CODE] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
