SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RPPR_STUDY_COMPARISON_IMPORT](
	[DOC_KEY_ID] [int] NOT NULL,
	[APPL_ID] [int] NOT NULL,
	[SUBMITTED_DATE] [smalldatetime] NOT NULL
) ON [PRIMARY]

GO
