SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp_impp_rpprs_t](
	[document_id] [int] NOT NULL,
	[old_document_date] [smalldatetime] NULL,
	[category_id] [smalldatetime] NULL
) ON [PRIMARY]

GO
