SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[adsup_email_position_master](
	[email_position_code] [nchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[email_positions] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[email_positions_description] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
