SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[BKP_gm_closeouts_MV_20201007](
	[BO_CLOSEOUT_EMAIL_ADDR] [nvarchar](240) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_FSR_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_STATUS_CODE] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PI_CLOSEOUT_EMAIL_ADDR] [nvarchar](240) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATOR_ID] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BOX_NUM] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[FRC_ACCESSION_NUM] [nvarchar](11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FINAL_INVENTION_STMNT_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FINAL_REPORT_DATE] [datetime2](7) NULL,
	[GRANT_CLOSE_DATE] [datetime2](7) NULL,
	[REMARKS_TEXT] [nvarchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_UPD_ID] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_UPD_DATE] [datetime2](7) NULL,
	[LTR2_DATE] [datetime2](7) NULL,
	[LTR1_DATE] [datetime2](7) NULL,
	[RECEIVED_DATE] [datetime2](7) NULL,
	[APPL_ID] [numeric](10, 0) NOT NULL,
	[PROGRESS_RPT_RCVD_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FRC_DESTROYED_DATE] [datetime2](7) NULL,
	[PROGRESS_RPT_ACCEPTABLE_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TYPE_2_PROGRESS_REPORT_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BUSINESS_AREA_CODE] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REPORTED_INVENTION_STATUS_CODE] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TEN_DAY_DEFAULT_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FIS_WAIVED_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FSR_WAIVED_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FPR_WAIVED_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVENTIONS_PRESENT_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REPORTED_TO_DEITR_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FPR_LTR_SENT_DATE] [datetime2](7) NULL,
	[FPR_NOT_APPLICABLE_FLAG] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROGRESS_RPT_ACCPTD_PERSON_ID] [numeric](10, 0) NULL,
	[LTR3_DATE] [datetime2](7) NULL,
	[PROGRESS_RPT_ACCEPTED_DATE] [datetime2](7) NULL,
	[CLOSEOUT_SENT_CNT] [numeric](2, 0) NULL,
	[LAST_CLOSEOUT_LETTER_SENT_DATE] [datetime2](7) NULL,
	[CLOSEOUT_PERFOMED_ROLE] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_PERFORMED_BY] [numeric](10, 0) NULL,
	[END_DATE_LAST_RPT_QTR] [datetime2](7) NULL,
	[OGC_LETTER_RECEIVED_DATE] [datetime2](7) NULL,
	[OGC_LETTER_SENT_DATE] [datetime2](7) NULL,
	[UI_LETTER_TEMPLATE_ID] [numeric](10, 0) NULL,
	[FINAL_AMT] [numeric](12, 2) NULL,
	[CASH_DISBURSEMENT_AMT] [numeric](12, 2) NULL
) ON [PRIMARY]

GO
