SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[DB_GPMATS_ASSIGNMENT_STATUS](
	[APPL_ID] [int] NULL,
	[FGN] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[REVISON_NUM] [int] NULL,
	[USERID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GRANT_ASSIGN_DATE] [datetime] NULL,
	[RELEASE_DATE] [datetime] NULL,
	[BUDGET_START_DATE] [datetime] NULL,
	[APPL_TYPE_CODE] [int] NULL,
	[DAYS_INTRANSIT] [int] NULL,
	[STATUS_CODE] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ACTION_TYPE] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ACTIVITY_CODE] [varchar](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DAY_COUNT_NUM] [int] NULL,
	[CURRENT_ACTION_STATUS_CODE] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CURRENT_ACTION_STATUS_DATE] [datetime] NULL
) ON [PRIMARY]

GO
