SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[appls_ciip](
	[APPL_ID] [int] NOT NULL,
	[FULL_GRANT_NUM] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[APPL_TYPE_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ACTIVITY_CODE] [varchar](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ADMIN_PHS_ORG_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[SERIAL_NUM] [int] NULL,
	[SUPPORT_YEAR] [tinyint] NULL,
	[SUFFIX_CODE] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROJECT_TITLE] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FORMER_NUM] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[RFA_PA_NUMBER] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[COUNCIL_MEETING_DATE] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[EXTERNAL_ORG_ID] [int] NULL,
	[ORG_NAME] [varchar](120) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROJECT_PERIOD_START_DATE] [datetime] NULL,
	[PROJECT_PERIOD_END_DATE] [datetime] NULL,
	[BUDGET_START_DATE] [datetime] NULL,
	[BUDGET_END_DATE] [datetime] NULL,
	[PERSON_ID] [int] NULL,
	[NAME_PREFIX] [varchar](15) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LAST_NAME] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FIRST_NAME] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[MI_NAME] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[NAME_SUFFIX] [varchar](5) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[EMAIL_ADDR] [varchar](80) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LINE_1_ADDR] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LINE_2_ADDR] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LINE_3_ADDR] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LINE_4_ADDR] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LINE_5_ADDR] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROG_CLASS_CODE] [varchar](8) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[IRG_CODE] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[IRG_FLEX_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GROUP_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[IRG_RECOMMENDATION_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PRIORITY_SCORE_NUM] [decimal](3, 0) NULL,
	[IRG_PERCENTILE_NUM] [decimal](5, 2) NULL,
	[IRG_PERCENTILE_REF_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[HUMAN_SUBJECT_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ANIMAL_SUBJECTS_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[AIDS_RELATED_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GENDER_CLINICAL_STUDY_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[MINORITY_CLINICAL_STUDY_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[APPL_STATUS_GROUP_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[APPL_STATUS_GROUP_DESCRIP] [varchar](60) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FY] [int] NULL,
	[CHILD_CLINICAL_STUDY_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ANIMAL_SUBJECT_ASSURANCE_NUM] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ANIMAL_SUBJECT_IACUC_DATE] [datetime] NULL,
	[APPL_RECEIVED_DATE] [datetime] NULL,
	[APPL_STATUS_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[AWD_NOTICE_ISSUED_DATE] [datetime] NULL,
	[COUNCIL_RECOM_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATOR_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CURR_AWD_NOTICE_ISSUE_DATETIME] [datetime] NULL,
	[DIRECT_COST_REQUESTED_AMT] [decimal](10, 2) NULL,
	[EIN] [varchar](12) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[EXPANDED_AUTHORITIES_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[EXPEDITED_REVIEW_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FED_DEMO_PROJECT_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[HUMAN_SUBJECT_ASSURANCE_NUM] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[HUMAN_SUBJECT_IRB_DATE] [datetime] NULL,
	[INDIRECT_COST_REQUESTED_AMT] [decimal](10, 2) NULL,
	[INIT_ENCUMBRANCE_DATE] [datetime] NULL,
	[LAST_AWD_NOTICE_ISSUE_DATETIME] [datetime] NULL,
	[LAST_UPD_DATE] [datetime] NULL,
	[LAST_UPD_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LATEST_ENCUMBRANCE_DATE] [datetime] NULL,
	[OUT_YEARS_NUM] [decimal](1, 0) NULL,
	[SPECIAL_DISP_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[SUPP_TYPE_CODE] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[TOTAL_COST_REQUESTED_AMT] [decimal](9, 0) NULL,
	[TOTAL_COST_REQUESTED_YEAR1_AMT] [decimal](10, 0) NULL,
	[SUMMARY_STATEMENT_FLAG] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[active_grant_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[mechanism_code] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[grant_id] [int] NULL,
	[gms_user_id] [int] NULL,
	[cay_code] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[pd_full_name] [nvarchar](80) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[pd_email_address] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GS_PERSON_ID] [int] NULL,
	[GS_FIRST_NAME] [nvarchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GS_LAST_NAME] [nvarchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GS_EMAIL_ADDRESS] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PI_EMAIL_ADDR] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
