SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[IMPP_FPA](
	[Appl_id] [int] NULL,
	[Document_date] [smalldatetime] NULL,
	[Doc_File_name] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
