SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp4](
	[EXTERNAL_ORG_ID] [numeric](10, 0) NOT NULL,
	[ORG_NAME] [nvarchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[LAST_UPD_DATE] [datetime2](7) NULL
) ON [PRIMARY]

GO
