SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[adm_menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_title] [nvarchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[menu_url] [nvarchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[menu_hover] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[menu_help_url] [nvarchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[start_date] [smalldatetime] NOT NULL,
	[end_date] [smalldatetime] NULL,
	[menu_action] [nvarchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
