SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RPPR](
	[appl_id] [int] NULL,
	[full_grant_num] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[last_upd_date] [datetime] NULL
) ON [PRIMARY]

GO
