SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[cord_manager_coments](
	[CordManager_id] [int] NULL,
	[comentator_id] [int] NULL,
	[comment_date] [smalldatetime] NULL,
	[Comment] [varchar](2000) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[tobe_emailed] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
