SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[appls_alert](
	[appl_id] [int] NULL,
	[add_date] [smalldatetime] NULL,
	[in_pv_grant_pi] [int] NULL,
	[in_appls_t] [int] NULL
) ON [PRIMARY]

GO
