SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[IMPP_JIT](
	[serial_num] [int] NULL,
	[appl_id] [int] NULL,
	[doc_type_code] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[submitted_file_date] [datetime] NULL,
	[doc_version] [int] NULL
) ON [PRIMARY]

GO
