SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Grants_Flag_Construct](
	[gf_id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NULL,
	[grant_id] [int] NULL,
	[flag_type] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[flag_application] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[flag_persist] [bit] NOT NULL,
	[start_dt] [datetime] NULL,
	[end_dt] [datetime] NULL,
	[created_by] [int] NULL,
	[created_dt] [datetime] NULL,
	[last_updated_by] [int] NULL,
	[last_updated_date] [datetime] NULL
) ON [PRIMARY]

GO
