SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Temp_Obligated_SpreadSheet](
	[command] [varchar](1000) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[shellcommand] [varchar](8000) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[document_id] [int] NULL
) ON [PRIMARY]

GO
