SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[GC_ACTION_HISTORY](
	[GC_ACTION_ID] [int] NOT NULL,
	[APPL_ID] [int] NOT NULL,
	[GC_OBJECT_NAME] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[GC_ACTION_TYPE_CODE] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[GC_OBJECT_STATUS_CODE] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[PERFORMED_BY_PERSON_ID] [int] NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATOR_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LAST_UPD_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LAST_UPD_DATE] [datetime] NULL
) ON [PRIMARY]

GO
