SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[impp_rpprs_t](
	[appl_id] [int] NOT NULL,
	[created_date] [smalldatetime] NULL,
	[last_upd_date] [smalldatetime] NULL,
	[correct_rcvd_date] [smalldatetime] NULL,
	[correct_rcvd_date1] [smalldatetime] NULL
) ON [PRIMARY]

GO
