SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Archive_Grant_List_2017](
	[APPL_ID] [int] NULL,
	[GRANT_NUM] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ADMIN_PHS_ORG_CODE] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FY] [int] NULL
) ON [PRIMARY]

GO
