SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[appls_backup_10292014](
	[appl_id] [int] NOT NULL,
	[appl_type_code] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[activity_code] [char](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[grant_id] [int] NOT NULL,
	[support_year] [tinyint] NOT NULL,
	[suffix_code] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[project_title] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[former_num] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[rfa_pa_number] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[council_meeting_date] [char](6) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[external_org_id] [int] NULL,
	[org_name] [varchar](40) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[person_id] [int] NULL,
	[last_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[first_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[mi_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[prog_class_code] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[irg_code] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[appl_status_group_descrip] [varchar](60) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fy] [int] NULL,
	[appl_received_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[last_upd_date] [datetime] NULL,
	[receipt_date] [datetime] NULL,
	[irg_flex_code] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[summary_statement_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[ss_upd_date] [smalldatetime] NULL,
	[ss_page_count_num] [smallint] NULL,
	[fsr_accepted_code] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fsr_date] [smalldatetime] NULL,
	[in_impac] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[in_use] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[loaded_date] [smalldatetime] NULL,
	[snap_questions_all_no] [varchar](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[active_grant_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[green_sheet_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[jit_date] [smalldatetime] NULL,
	[fis_date] [smalldatetime] NULL,
	[fpr_date] [smalldatetime] NULL,
	[frc_destroyed] [bit] NULL,
	[new_appl_id] [int] NULL,
	[gms_user_id] [int] NULL,
	[cay_code] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[budget_period_months] [int] NULL,
	[arra_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fda_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[closeout_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
