SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Org_Master](
	[org_id] [int] IDENTITY(1,1) NOT NULL,
	[Org_name] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[ImpacII_orgid] [int] NULL,
	[index_id] [int] NULL,
	[created_date] [smalldatetime] NULL
) ON [PRIMARY]

GO
