SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Pack_rule](
	[package_id] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[category_id] [nchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
