SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp_impp_NoCostExt](
	[appl_id] [int] NOT NULL,
	[document_date] [smalldatetime] NULL,
	[KeyId] [int] NULL,
	[Request_Id] [int] NULL,
	[new_keyId] [int] NULL,
	[document_id] [int] NULL
) ON [PRIMARY]

GO
