SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[bundle_categories](
	[package_id] [varchar](15) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[category_id] [smallint] NOT NULL,
	[cat_sort] [int] NULL
) ON [PRIMARY]

GO
