SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TEMP_NGA_RECONCILE](
	[APPLID] [int] NULL,
	[NGAID] [int] NULL,
	[RPTSEQNUM] [int] NULL,
	[NGACREATEDDATE] [smalldatetime] NULL
) ON [PRIMARY]

GO
