SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[scripts](
	[script] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[last_run_date] [smalldatetime] NULL
) ON [PRIMARY]

GO
