SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[impp_Carryover](
	[appl_id] [int] NOT NULL,
	[document_date] [smalldatetime] NULL,
	[KeyId] [int] NULL,
	[Request_id] [int] NULL
) ON [PRIMARY]

GO
