SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[appls_ciip_backup_hj_11292016_since_11132016](
	[appl_id] [numeric](10, 0) NULL,
	[appl_type_code] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[activity_code] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[admin_phs_org_code] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[serial_num] [numeric](6, 0) NULL,
	[support_year] [numeric](2, 0) NULL,
	[suffix_code] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[project_title] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[former_num] [nvarchar](19) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[rfa_pa_number] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[council_meeting_date] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[external_org_id] [numeric](10, 0) NULL,
	[org_name] [nvarchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[pi_role_person_id] [numeric](10, 0) NULL,
	[pi_last_name] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[pi_first_name] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[pi_mi_name] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[prog_class_code] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[irg_code] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[APPL_STATUS_GROUP_DESCRIP] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fy] [numeric](4, 0) NULL,
	[LAST_UPD_DATE] [datetime2](7) NULL,
	[irg_flex_code] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ss_exists_code] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[active_grant_flag] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
