SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[IMPP_RPPR_MYP_NEW](
	[APPL_ID] [int] NOT NULL,
	[DOCUMENT_DATE] [smalldatetime] NULL,
	[RPPR_DOC_ID] [int] NULL
) ON [PRIMARY]

GO
