SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[adsup_Notification_email_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_id] [int] NOT NULL,
	[email] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[person_name] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[position] [nchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[email_address] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[email_date] [smalldatetime] NULL,
	[created_date] [smalldatetime] NOT NULL,
	[email_template_id] [int] NOT NULL,
	[reply_recieved_date] [smalldatetime] NULL,
	[reply_status] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[email_send_status] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
