SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Temp_eGrants_destruct_command_2017](
	[APPL_ID] [int] NULL,
	[shellcommand] [varchar](300) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[rev_command] [varchar](300) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DOCUMENT_ID] [int] NULL,
	[STATUS] [int] NULL,
	[COMMENT] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[Date_command_run] [smalldatetime] NULL,
	[create_date] [smalldatetime] NULL
) ON [PRIMARY]

GO
