SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[email_process_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folder_path] [nvarchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[log_dt] [datetime] NOT NULL,
	[msg] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
