SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Grant_contacts](
	[SERIAL_NUM] [int] NOT NULL,
	[APPL_ID] [int] NULL,
	[ADMIN_PHS_ORG_CODE] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[SUPPORT_YEAR] [int] NULL,
	[SUFFIX_CODE] [char](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FY] [int] NULL,
	[PD_FULL_NAME] [nvarchar](62) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PD_EMAIL_ADDRESS] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROG_CLASS_CODE] [nvarchar](8) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PI_FULL_NAME] [nvarchar](62) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PI_EMAIL_ADDRESS] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PI_EMAIL_ADDRESS_FOR_LETTER] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[RESP_SPEC_FULL_NAME_CODE] [nvarchar](62) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[RESP_SPEC_EMAIL_ADDRESS] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[RESP_NPN_ID] [int] NULL,
	[SPEC_REASSIGNED_DATE] [datetime] NULL,
	[BO_EMAIL_ADDR] [nvarchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
