SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[xmlfiles](
	[file_id] [smallint] IDENTITY(1,1) NOT NULL,
	[path] [varchar](500) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[xml] [text] COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[type] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
