SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[impp_award_book1](
	[appl_id] [int] NULL,
	[category_id] [smallint] NULL,
	[document_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[file_type] [varchar](5) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[url] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[profile_id] [smallint] NULL,
	[nga_rpt_seq_num] [int] NULL,
	[document_date1] [smalldatetime] NULL,
	[document_id] [int] NULL
) ON [PRIMARY]

GO
