SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TEMP_AWSBROCKENLINK_BKUP_DOCUMENT](
	[DOCUMENT_ID] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[CREATED_BY] [int] NULL,
	[REASON] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
