SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[joint_new](
	[appl_id] [int] NULL,
	[category_name] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[document_date] [smalldatetime] NULL
) ON [PRIMARY]

GO
