SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[BKP_gm_closeouts_20201002_keep](
	[BO_CLOSEOUT_EMAIL_ADDR] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_FSR_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_STATUS_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PI_CLOSEOUT_EMAIL_ADDR] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATOR_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BOX_NUM] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FRC_ACCESSION_NUM] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FINAL_INVENTION_STMNT_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FINAL_REPORT_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[GRANT_CLOSE_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[REMARKS_TEXT] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_UPD_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_UPD_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LTR2_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LTR1_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[RECEIVED_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[APPL_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROGRESS_RPT_RCVD_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FRC_DESTROYED_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROGRESS_RPT_ACCEPTABLE_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TYPE_2_PROGRESS_REPORT_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BUSINESS_AREA_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REPORTED_INVENTION_STATUS_CODE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TEN_DAY_DEFAULT_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FIS_WAIVED_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FSR_WAIVED_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FPR_WAIVED_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVENTIONS_PRESENT_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REPORTED_TO_DEITR_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FPR_LTR_SENT_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FPR_NOT_APPLICABLE_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROGRESS_RPT_ACCPTD_PERSON_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LTR3_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[PROGRESS_RPT_ACCEPTED_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CLOSEOUT_SENT_CNT] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[LAST_CLOSEOUT_LETTER_SENT_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CLOSEOUT_PERFOMED_ROLE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CLOSEOUT_PERFORMED_BY] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[END_DATE_LAST_RPT_QTR] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[OGC_LETTER_RECEIVED_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[OGC_LETTER_SENT_DATE] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[UI_LETTER_TEMPLATE_ID] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[FINAL_AMT] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[CASH_DISBURSEMENT_AMT] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
