SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[GRANT_AWARD_APPLS](
	[APPL_ID] [numeric](10, 0) NULL,
	[ACTION_TYPE] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
