SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[DB_GPMATS_ACTION_STATUSCODE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_CODE] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DESCRIPTION] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
