SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[closeouts_final](
	[appl_id] [int] NOT NULL,
	[ltr1_date] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[grant_close_date] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fy_6] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fy_20] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
