SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[construction_grants](
	[ic] [varchar](5) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[grant_id] [int] NULL,
	[admin_phs_org_code] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[serial_num] [int] NULL,
	[grant_num] [varchar](8) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[is_tobacco] [bit] NULL,
	[to_be_destroyed] [bit] NULL,
	[mechanism_code] [char](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[grant_close_date] [smalldatetime] NULL,
	[full_grant_num] [varchar](19) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[appl_type_code] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[activity_code] [char](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[support_year] [tinyint] NULL,
	[suffix_code] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[project_title] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[former_num] [varchar](19) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[rfa_pa_number] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[council_meeting_date] [char](6) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[external_org_id] [int] NULL,
	[pi_name] [varchar](92) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[person_id] [int] NULL,
	[last_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[first_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[mi_name] [varchar](30) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[org_name] [varchar](120) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[prog_class_code] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[appl_received_date] [datetime] NULL,
	[irg_code] [varchar](4) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[irg_flex_code] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[summary_statement_flag] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[appl_status_group_descrip] [varchar](60) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[fy] [int] NULL,
	[appl_created_date] [datetime] NULL,
	[last_upd_date] [datetime] NULL,
	[receipt_date] [datetime] NULL,
	[frc_destroyed] [bit] NOT NULL,
	[latest_nga_date] [smalldatetime] NULL,
	[jit_date] [smalldatetime] NULL,
	[category_name] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[package] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[category_id] [smallint] NULL,
	[appl_id] [int] NULL,
	[document_id] [int] NOT NULL,
	[document_size] [int] NULL,
	[document_date] [smalldatetime] NULL,
	[page_count] [smallint] NULL,
	[profile_id] [smallint] NULL,
	[added_date] [smalldatetime] NULL,
	[corrupted] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[nga_rpt_seq_num] [int] NULL,
	[nga_id] [int] NULL,
	[is_destroyed] [bit] NULL,
	[inventoried] [varchar](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[external_upload_id] [int] NULL,
	[mail_upload_id] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[txt_size] [int] NULL,
	[attachment_count] [int] NOT NULL,
	[file_type] [varchar](5) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[alias] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[created_date] [smalldatetime] NULL,
	[created_by_person_id] [int] NULL,
	[created_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[file_modified_date] [smalldatetime] NULL,
	[file_modified_by_person_id] [int] NULL,
	[file_modified_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[modified_date] [smalldatetime] NULL,
	[index_modified_by_person_id] [int] NULL,
	[modified_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[qc_date] [smalldatetime] NULL,
	[qc_reason] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[qc_person_id] [int] NULL,
	[qc_userid] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[qc_person_name] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[stored_by_person_id] [int] NULL,
	[stored_date] [smalldatetime] NULL,
	[stored_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[disabled_date] [smalldatetime] NULL,
	[disabled_by_person_id] [int] NULL,
	[disabled_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[problem_reported_by] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[description] [varchar](300) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[unix_file] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[parent_id] [int] NULL,
	[url] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[unix_directory] [varchar](255) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[deleted_by_impac] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[impac_doc_type] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[problem_msg] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[impac_doc] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[can_modify_index] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[can_upload] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[can_delete] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[can_restore] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[can_store] [varchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
