SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[IMPAC_DESTRUCTION_PROCESS_STATUS_DETAIL](
	[DESTRUCT_PROCESS_STATUS_CODE] [int] NOT NULL,
	[DESCRIPTION] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[DETAIL] [ntext] COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
