SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Missing_SS](
	[document_id] [int] NULL,
	[file_name] [varchar](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[path] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[missing_yn] [char](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[where_find] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
