SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[adsup_notification_history](
	[id] [int] NULL,
	[appl_id] [int] NOT NULL,
	[pa] [varchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[subjectLine] [varchar](200) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[NotificationBody] [varchar](2000) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[NotRcvd_dt] [datetime] NULL,
	[Full_grant_num] [varchar](20) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[Created_by] [int] NULL,
	[Created_date] [datetime] NULL,
	[Last_updated_by] [int] NULL,
	[Last_updated_date] [datetime] NULL,
	[Action] [nchar](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[Trigger_table] [nchar](1) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[Record_modified_on] [datetime] NOT NULL,
	[SCOPE_IDENTIFIER] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
