SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[appls_w_to_s](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appl_id] [int] NOT NULL,
	[full_grant_num_eim] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[full_grant_num_impac] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[appl_in_impac] [char](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[load_date] [smalldatetime] NULL,
	[act] [char](100) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[act_date] [smalldatetime] NULL
) ON [PRIMARY]

GO
