SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[niaid_table](
	[appl_id] [int] NULL,
	[filename] [varchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[document_date] [smalldatetime] NULL,
	[created_date] [char](10) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
