SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Impp_AWS](
	[doc_id] [int] NULL,
	[appl_id] [int] NULL,
	[doc_type_code] [char](3) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL,
	[created_date] [smalldatetime] NULL,
	[rpt_seq_num] [int] NULL
) ON [PRIMARY]

GO
