SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[impp_mech_codes](
	[APPL_ID] [int] NOT NULL,
	[MECHANISM_CODE] [varchar](2) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NULL
) ON [PRIMARY]

GO
