SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[performance](
	[average_performance] [float] NULL,
	[dissatisfaction_rate] [tinyint] NULL,
	[last_reindexed_doc] [varbinary](8) NULL
) ON [PRIMARY]

GO
