SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [HangFire].[JobQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) COLLATE SQL_Latin1_General_Pref_CP1_CI_AS NOT NULL,
	[FetchedAt] [datetime] NULL
) ON [PRIMARY]

GO
