SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE view [dbo].[vw_econtract_tabs--to_be_deleted]
AS

SELECT	ed.contract_id, c.color_sequence, et.tab_sequence, et.color_id, ed.tab_id, 
		COUNT(ed.document_id) AS tab_doc_count, c.color_name, et.tab_name, et.allow_seq_no 
FROM	econtract_documents ed INNER JOIN 
		econtract_tabs et on ed.tab_id = et.tab_id INNER JOIN 
		econtract_colors c on et.color_id = c.color_id  
WHERE	ed.active_flag =1  
GROUP BY ed.contract_id, c.color_sequence, et.tab_sequence, et.color_id, ed.tab_id, c.color_name, 
		et.tab_name, et.allow_seq_no
GO
