SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
CREATE VIEW dbo.vw_appls_used_bygrant
AS
SELECT DISTINCT dbo.grants.grant_id, dbo.egrants.appl_id
FROM  dbo.egrants INNER JOIN dbo.grants ON dbo.egrants.grant_id = dbo.grants.grant_id

UNION

SELECT DISTINCT dbo.vw_funding.grant_id, dbo.vw_funding.appl_id
FROM  vw_funding 





GO
