SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE view [dbo].[vw_tobacco_grants] as
SELECT FY, APPL_ID, GRANT_NUM, NAME, APPL_STATUS_CODE
FROM  OPENQUERY(Flare, 'select FY,APPL_ID,FULL_PROJECT_NUM_DC AS GRANT_NUM,NAME,APPL_STATUS_CODE 
						from FLARE.OGA_TOBACCO_GRANTS_T')

GO
