SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
CREATE VIEW [dbo].[vw_contracts_ciip_modifications_t--to_be_deleted]
AS
SELECT *
FROM OPENQUERY(CIIP,
'select ID, CON_ID, AWARD_NUM, CS_CONTRACT_NUM, MOD_NUM, MOD_DESCRIPTION
, MOD_REASON_CODE, MOD_LATEST_SIGNED_CODE, 
TO_CHAR(FISCAL_YEAR, ''DD-MM-YYYY HH24:MI:SS'') AS FISCAL_YEAR
, TO_CHAR(ACTION_DATE, ''DD-MM-YYYY HH24:MI:SS'') ACTION_DATE, 
TYPE_CONTRACT_CODE, CONTRACT_TYPE
, to_char(EST_COMPLETION_DATE, ''yyyy-mm-dd'')
, PI_LAST_NAME, PI_FIRST_NAME, PI_MI_NAME, PO_LAST_NAME
, PO_FIRST_NAME, PO_MI_NAME, SPECIALIST_NAME
, to_char(RFC_RECEIPT_DATE, ''yyyy-mm-dd'')
, PROJECT_TITLE, CONTRACTOR_NAME, CONTRACTOR_TIN, CONTRACTOR_ADDR
, CONTRACTOR_CITY, CONTRACTOR_STATE_CODE,CONTRACTOR_STATE_COUNTRY_NAME
, CONTRACTOR_ZIP_CODE, CONTRACT_SIGNER_NAME, CONTRACT_SIGNER_TITLE
, to_char(CONTRACT_SIGNER_DATE, ''yyyy-mm-dd'')
, CURRENT_CONTRACT_VALUE, TOTAL_CONTRACT_AMT
, to_char(ULTIMATE_COMPLETION_DATE, ''yyyy-mm-dd'')
, TYPE_OF_ACTION, ACTIVITY_CODE, ADMIN_PHS_ORG
, to_char(EFFECTIVE_DATE, ''yyyy-mm-dd'')
, to_char(FUNDING_START_DATE, ''yyyy-mm-dd'')
, to_char(FUNDING_END_DATE, ''yyyy-mm-dd'')
, to_char(PROJECT_START_DATE, ''yyyy-mm-dd'')
, to_char(PROJECT_END_DATE, ''yyyy-mm-dd'')
, RFP_NUMBER, RFP_ID, DIVISION_ABBR, SERIAL_NUM
, to_char(CONTRACT_EXECUTION_DATE, ''yyyy-mm-dd'')
, CONTRACT_STATUS, OBJECT_CLASS_CODE, CENTER_CODE
, INDIAN_SELF_DETER_CON_FLAG, PIID, REFERENCED_PIID
, SOLICITATION_IDENTIFIER
, to_char(IDV_LAST_DATE_TO_ORDER, ''yyyy-mm-dd'')
, CONTRACTING_OFFICE_CODE, FUNDING_AGENCY_CODE
, FUNDING_OFFICE_CODE, REASON_FOR_PURCHASE
, FOREIGN_GOVT_FLAG, WEB_SITE_URL, WHO_CAN_PLACE_ORDERS
, MAX_ORDER_LIMIT_AMT, FEE_FOR_USE_OF_SERVICE_CODE
, FIXED_FEE_VALUE_PERCENT, FEE_RANGE_LOWER_VALUE
, FEE_RANGE_UPPER_VALUE, ORDERING_PROCEDURE
, FEE_PAID_FOR_USE_OF_IDV, LETTER_CONTRACT_FLAG
, MULTIYEAR_CONTRACT_FLAG,TYPE_OF_IDC_CODE
, MULT_OR_SINGLE_AWARD_IDC_CODE, PERF_BASED_SERV_CON_FLAG
, MAJOR_PROGRAM, REQUIREMENT_DESCRIPTION, PURCH_CARD_AS_PAY_METHOD_FLAG
, PROGRAM_ACRONYM, CLINGER_COHEN_COMPLIANCE_FLAG, WALSH_HEALEY_FLAG
, SERVICE_CONTRACT_ACT_FLAG, DAVID_BACON_ACT_FLAG, ECONOMY_ACT_FLAG
, OTHER_STATUTORY_AUTHORITY, PRODUCT_CODE, NAICS
, IT_COMMERCIAL_ITEM_CODE, GFE_GFP_FLAG, EPA_PRODUCTS_CODE
, RECOVERED_MATERIAL_CODE, CONTRACT_BUNDLING_CODE, DUNS_ID
, PLACE_PERFORMANCE_STATE_CODE, PLACE_PERFORMANCE_CITY_CODE
, PLACE_PERFORMANCE_CTRY_CODE, COUNTRY_MANUFACTURER_CODE
, EXTENT_COMPETED_CODE, COMPETITIVE_PROCEDURES_CODE
, REASON_NOT_COMPETED_CODE,  NUMBER_OFFERS_RECEIVED
, SYNOPSIS_REQ_FLAG, SYNOPSIS_WAIVER_EXCEPT_FLAG
, ALTERNATIVE_ADVERTISING_FLAG, COMMERCIAL_ITEM_FLAG
, A76_ACTION_FLAG, CON_DETERM_BUS_SIZE_CODE
, SUBCONTRACT_PLAN_CODE, PRICE_EVAL_PREF_PERCENT_DIFF
, IDV_TYPE, AWARD_TYPE, RECORD_TYPE, FORMER_NUM, ADB_NUM
, FY_OF_FUNDS, AMT_FUNDED_TO_DATE, SUBCONTRACT_AMT
, SUBCONTRACT_SMALL_AMT, SUBCONTRACT_DISADV_AMT
, SUBCONTRACT_WOMAN_AMT, SUBCONTRACT_HUBZONE_GOAL_AMT
, SUBCONTRACT_VETERANS_AMT, SUBCONTRACT_DISABLED_VET_AMT
, HUMAN_SUBJECT_CODE, AGENT_CODE, SERVICE_CENTER  
, SBIR_CODE, AIDS_AMT, AIDS_RELATED_CODE
, PRIVACY_ACT, GOVERNMENT_PROPERTY_FLAG, CHILDREN_FLAG
, CHILDREN_REP_CODE, MINORITY_CODE, GENDER_CODE
, PHASE_III_TRIAL_FLAG, TRACKING_EXCEPTION_CODE
, CONTRACTING_OFFICER_NAME, TASK_ORDER_MAO
, to_char(CONTRACT_ADMIN_CLOSED_DATE, ''yyyy-mm-dd'')
, ANIMALS_FLAG, PROG_CLASS_CODE, IPA_CODE, MAO_CODE
, OBLIGATION_AMT, DEOBLIGATION_AMT, NONJP_CAN, JP_INDICATOR
, CONTRACT_ON_DCIS_FLAG, NEGOTIATION_PROCESS_CODE
, to_char(NEGOTIATION_DATE, ''yyyy-mm-dd'')
, NEGOTIATION_LOCATION
, to_char( INITIAL_EFFECTIVE_DATE, ''yyyy-mm-dd'')
, AWARD_ORIGINATOR_CODE, REPRESENTATIVE_NAME
, REPRESENTATIVE_PHONE_NUM, TASK_ORDER_FLAG
, FUNDING_MECHANISM, LETTER_OF_CREDIT, DISCOUNT_PROMPT_PYMT
, REQUISITION_NUMBER, ISSUED_BY_SECTION_ABBR, ISSUED_IN_ROOM
, to_char(RCB_CREATED_DATE, ''yyyy-mm-dd'')
, to_char(RCB_LAST_UPD_DATE, ''yyyy-mm-dd'')
, to_char(CREATE_DATE, ''yyyy-mm-dd'')
, CREATE_USER_ID
, to_char(LAST_CHANGE_DATE, ''yyyy-mm-dd'')
, LAST_CHANGE_USER_ID
from CONTRACT_MODIFICATIONS_T c') ciip 

/*
SELECT	dd.appl_id, dd.d1_date, dd.d2_date, dd.d3_date, dd.d4_date, dd.fy, 
		a.appl_type_code, a.activity_code, d.discount, d.discount_id, a.serial_num,
		a.admin_phs_org_code, a.grant_id, a.grant_close_date, a.serial_num_6, 
		a.support_year, a.support_year_suffix, a.suffix_code, a.org_name, a.pi_name, 
		a.grant_num, a.full_grant_num
FROM    OPENQUERY(CIIP2, 'select appl_id, 
							TO_CHAR(d1_date, ''DD-MM-YYYY HH24:MI:SS'') as d1_date, 
							TO_CHAR(d2_date, ''DD-MM-YYYY HH24:MI:SS'') as d2_date, 
							TO_CHAR(d3_date, ''DD-MM-YYYY HH24:MI:SS'') as D3_date, 
							TO_CHAR(d4_date, ''DD-MM-YYYY HH24:MI:SS'') as D4_date, fy 
						  from CONTROL_ACTION_QUEUE_T 
						  where fy>2007 and d2_date is not null and d4_date is null') 
						  AS dd INNER JOIN dbo.vw_appls AS a ON a.appl_id = dd.APPL_ID 
						  INNER JOIN dbo.profiles AS p ON a.admin_phs_org_code = p.admin_phs_org_code 
						  INNER JOIN dbo.discounts AS d ON d.ic = p.profile AND p.profile = d.ic 
							AND d.fy = dd.fy 
						  LEFT OUTER JOIN dbo.discounts_history AS dh ON d.discount_id = dh.discount_id 
							AND dh.appl_id = dd.APPL_ID
WHERE      (dh.appl_id IS NULL) 
			AND (a.appl_type_code = '5') 
			AND (a.activity_code IN ('R01', 'R03', 'R13', 'R18', 'R21', 'R24', 'R29', 'R33', 'R37', 'R42', 'R44'))
			AND (d.active = 1)
*/

GO
