SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW dbo.vw_grants_new
AS


SELECT     dbo.grants.grant_id, dbo.grants.admin_phs_org_code, dbo.grants.serial_num, dbo.grants.mechanism_code, dbo.grants.close_out_date, 
                      dbo.grants.former_admin_phs_org_code, dbo.grants.former_serial_num, dbo.grants.future_admin_phs_org_code, dbo.grants.future_serial_num, 
                      dbo.grants.stop_sign, dbo.grants.paperless, dbo.appls.person_id, dbo.grants.admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, 
                      dbo.grants.serial_num), 6) AS grant_num, dbo.appls.org_name, dbo.appls.last_name, dbo.appls.first_name, dbo.appls.mi_name, 
                      dbo.appls.project_title, dbo.appls.active_grant_flag, dbo.appls.fy, dbo.appls.prog_class_code, ISNULL(dbo.appls.first_name + ' ', '') 
                      + ISNULL(dbo.appls.mi_name + ' ', '') + dbo.appls.last_name AS pi_name, 
                      dbo.grants.former_admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, dbo.grants.former_serial_num), 6) AS former_grant_num, 
                      dbo.fn_grant_tracked(dbo.grants.grant_id) AS paper_file, dbo.grants.future_admin_phs_org_code + RIGHT('00000' + CONVERT(varchar, 
                      dbo.grants.future_serial_num), 6) AS future_grant_num, CASE WHEN close_out_date IS NOT NULL THEN 'Yes' ELSE 'No' END AS closed_out, 
                      dbo.fn_package_used(dbo.grants.grant_id, 'award') AS award_package, dbo.fn_package_used(dbo.grants.grant_id, 'application') 
                      AS application_package, dbo.fn_package_used(dbo.grants.grant_id, 'correspondence') AS correspondence_package, 
                      dbo.fn_package_used(dbo.grants.grant_id, 'closeout') AS closeout_package
FROM         dbo.grants LEFT OUTER JOIN
                      dbo.appls ON dbo.grants.grant_id = dbo.appls.grant_id AND dbo.fn_grant_latest_appl(dbo.grants.grant_id) = dbo.appls.appl_id




GO
