SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW dbo.vw_quality_control
AS
SELECT     dbo.quality_control.qc_reason, dbo.quality_control.person_id, dbo.quality_control.effort, ISNULL(dbo.people.person_name, dbo.people.userid) 
                      AS person_name, dbo.people.userid, dbo.people.profile_id, dbo.profiles.profile
FROM         dbo.people INNER JOIN
                      dbo.quality_control ON dbo.people.person_id = dbo.quality_control.person_id INNER JOIN
                      dbo.profiles ON dbo.people.profile_id = dbo.profiles.profile_id

GO
