SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW dbo.vw_folders_missing
AS
SELECT     folder_id, bar_code, latest_move_date, id_string, status, serial_num, admin_phs_org_code, profile_id, former_grant_num
FROM         dbo.vw_folders
WHERE     (box_id IS NULL) AND (destroyed_date IS NULL) AND (latest_access_date IS NULL) AND (location_id <> 72)

GO
