SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dbo].[vw_ciip_institutions--to_be_deleted]
AS

SELECT CONTRACTOR_TIN, CONTRACTOR_NAME, CONTRACTOR_STATE_CODE, CONTRACTOR_STATE_COUNTRY_NAME, CONTRACTOR_ZIP_CODE, 
               CONTRACTOR_CITY, CONTRACTOR_ADDR
FROM  OPENQUERY(CIIP, 'select * from Contract_modifications_t') ciip

GO
