SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dbo].[vw_contract_folders--to_be_deleted]
AS
SELECT     dbo.contracts.contract_id, dbo.contracts.contract_number, dbo.contracts.contract_type, dbo.contracts.activity_code, dbo.contracts.institution, 
                      CASE WHEN dbo.contracts.contract_number < 10000 THEN upper(dbo.contracts.activity_code) + '-' + upper(dbo.contracts.contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, dbo.contracts.contract_number), 5) ELSE upper(dbo.contracts.activity_code) 
                      + '-' + upper(dbo.contracts.contract_type) + '-' + CONVERT(varchar, dbo.contracts.contract_number) END AS full_contract_number, 
                      CASE WHEN dbo.contracts.contract_number < 10000 THEN upper(dbo.contracts.activity_code) + '-' + upper(dbo.contracts.contract_type) 
                      + '-' + RIGHT('00000' + CONVERT(varchar, dbo.contracts.contract_number), 5) ELSE upper(dbo.contracts.activity_code) 
                      + '-' + upper(dbo.contracts.contract_type) + '-' + CONVERT(varchar, dbo.contracts.contract_number) END AS adb, 
                      CASE WHEN project_end_date IS NULL OR
                      project_end_date < getdate() THEN 'y' ELSE 'n' END AS close_out, dbo.fn_contract_folder_status(dbo.contract_folders.folder_id) AS status, 
                      dbo.contract_folders.folder_id, RTRIM(dbo.contracts.hhs) AS hhs, dbo.contract_folders.date_created, dbo.contract_folders.contract_year, 
                      dbo.contract_folders.latest_action_date, dbo.contract_folders.specialist_id, dbo.contract_folders.box_id, 
                      dbo.contract_folders.bar_code AS bar_code_str, dbo.contract_folders.disabled_date, dbo.contract_folders.scanned, dbo.contract_colors.color_id, 
                      dbo.contract_colors.color_name AS id_string, dbo.contract_folders.created_date, dbo.contract_folders.created_by_person_id, 
                      dbo.contracts.profile_id
FROM         dbo.contracts INNER JOIN
                      dbo.contract_folders ON dbo.contracts.contract_id = dbo.contract_folders.contract_id LEFT OUTER JOIN
                      dbo.contract_colors ON dbo.contract_folders.color_id = dbo.contract_colors.color_id
WHERE     (dbo.contract_folders.disabled_date IS NULL)

GO
