SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF


CREATE VIEW [dbo].[vw_IMPAC_ARCHIVE_APPL_HOLD]
AS

SELECT * FROM openquery(irdb,'select a.appl_id, b.DESCRIP, a.createD_date
from ARCHIVE_APPL_HOLDS_T a, ARCHIVE_HOLD_SUBCATEGORIES_T b
where a.HOLD_SUBCATEGORY_ID=b.HOLD_SUBCATEGORY_ID')

--TO_CHAR(, ''DD-MM-YYYY HH24:MI:SS'') as createD_date

GO
