SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW dbo.vw_appls_dups_alt
AS
SELECT     d1.appl_id, d1.is_used, d1.in_impac, d2.appl_id AS appl_id_alt, d2.is_used AS is_used_alt, d2.in_impac AS in_impac_alt
FROM         dbo.vw_appls_duplicates d1 INNER JOIN
                      dbo.vw_appls_duplicates d2 ON d1.appl_type_code = d2.appl_type_code AND d1.activity_code = d2.activity_code AND d1.grant_id = d2.grant_id AND 
                      d1.support_year = d2.support_year AND ISNULL(d1.suffix_code, '') = ISNULL(d2.suffix_code, '') AND d1.appl_id <> d2.appl_id
WHERE     (d1.in_impac = 0) AND (d2.in_impac = 1)

GO
