SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW VW_AWARD_APPLS as 
Select APPL_ID, ACTION_TYPE from 
openquery(CIIP,'SELECT APPL_ID, ACTION_TYPE 
FROM GM_ACTION_QUEUE_VW
WHERE ACTION_TYPE NOT LIKE ''REVISION''')
GO
