SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
Create view [dbo].[vw_econtract_tab_select--to_be_deleted]
AS

SELECT	c.color_sequence, t.tab_sequence, t.color_id, t.tab_id, 
		c.color_name, t.tab_name, t.allow_seq_no 
FROM	econtract_tabs t INNER JOIN 
		econtract_colors c on t.color_id = c.color_id 
GO
