SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [dbo].[vw_grant_latest_appl]
AS

SELECT DISTINCT appl_id, grant_id, fy,support_year, suffix_code
FROM dbo.appls
WHERE appl_id NOT IN (SELECT DISTINCT appl_id FROM dbo.appls_deleted_in_impac) and appl_id>0

GO
