<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/egrants.css" />
</head>

<body>
   <div id="content">
      <br />
      <br />
        <!-- <center> -->
            <!--<img src="nci_logo.gif" width="50" height="50">&#0160;&#0160;-->
            <!--<b style="font-family:Times New Roman; font-style:ITALIC; font-size:32px; color:rgb(204,51,0);"><I>eGrants</I></b>-->
      <img img src="~/Content/images/eglogo.PNG" width="400" height="50" />
      <br />
      <br />
      <span>
         <b>
            All eGrants access requests must be submitted by IC Coordinators.<br />
            For your convenience, here is a list of all of the IC <a target="_new" href="https://inside.era.nih.gov/techrep-list.htm">Coordinators</a><br />
            Please have your coordinator submit an eGrants access request on your behalf.<br />
         </b>
      </span>
        <!-- </center> -->
      <br />
   </div>
</body>
</html>