USE [ncieim_b]
GO
/****** Object:  Table [dbo].[contracts_text]    Script Date: 8/27/2019 5:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts_text](
	[contract_id] [int] NOT NULL,
	[txt] [text] NULL,
	[keywords] [varchar](8000) NULL,
 CONSTRAINT [PK_contracts_text] PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
