USE [ncieim_b]
GO
/****** Object:  Table [dbo].[appls_txt]    Script Date: 8/27/2019 5:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appls_txt](
	[appl_id] [int] NOT NULL,
	[keywords] [varchar](1000) NULL,
	[stamp] [timestamp] NULL,
	[fake] [bit] NULL,
 CONSTRAINT [PK_appls_txt] PRIMARY KEY CLUSTERED 
(
	[appl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
