USE [ncieim_b]
GO
/****** Object:  Table [dbo].[documents_text]    Script Date: 8/27/2019 5:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_text](
	[document_id] [int] NOT NULL,
	[txt] [text] NULL,
	[stamp] [timestamp] NULL,
	[txt_size] [int] NULL,
	[keywords] [varchar](1000) NULL,
	[update_date] [smalldatetime] NULL,
	[xpdf_extract_date] [smalldatetime] NULL,
	[txt_size_previous] [int] NULL,
 CONSTRAINT [PK_documents_text] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_text]    Script Date: 8/27/2019 5:07:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_text] ON [dbo].[documents_text]
(
	[txt_size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
