<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="EgrantsDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-D387-V.NCI.NIH.GOV\MSSQLEGRANTSD,52000;Initial Catalog=EIM;Persist Security Info=True;User Id=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500" />
		<!--<add name="EgrantsDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-S222-V.nci.nih.gov\MSSQLEGRANTSS,55900;Initial Catalog=EIM;Persist Security Info=True;User Id=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500"/>-->
		<!--<add name="EgrantsDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-P232-V.nci.nih.gov\MSSQLEGRANTSP,59000;Initial Catalog=EIM;Persist Security Info=True;User Id=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500"/>-->

		<add name="DocmanDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-D387-V.NCI.NIH.GOV\MSSQLEGRANTSD,52000;Initial Catalog=Docman;Persist Security Info=True;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500" />
		<!--<add name="DocmanDB"  providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-S222-V.nci.nih.gov\MSSQLEGRANTSS,55900;Initial Catalog=Docman;Persist Security Info=True;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500"/>-->
		<!--<add name="DocmanDB"  providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-P232-V.nci.nih.gov\MSSQLEGRANTSP,59000;Initial Catalog=Docman;Persist Security Info=True;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500"/>-->

		<add name="webgrant" connectionString="egrants-file-dev.nci.nih.gov" />
		<add name="ImageServer" connectionString="https://egrants-web-dev.nci.nih.gov/" />

		<!---file upload locations-->
		<add name="egrantsDocNew" connectionString="funded2/nci/main/" />
		<add name="egrantsDocModify" connectionString="funded/nci/modify/" />
		<add name="egrantsFunding" connectionString="funded/nci/funding/upload/" />
		<add name="egrantsInst" connectionString="funded/nci/institutional/" />
		<add name="docmanDoc" connectionString="funded/nci/econ/main/" />
		<!--<add name="egrantsSensitiveDoc" connectionString="funded/egrantsadmin/hpsendocs/" />-->

		<add name="egrantsDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />
		<add name="docmanDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />

		<add name="closeoutAcceptance" connectionString="https://apps.test.era.nih.gov/pgm/jsp/closeoutAcceptance.jsp" />
		<add name="frpprAcceptance" connectionString="https://apps.test.era.nih.gov/pgm/jsp/closeoutAcceptance.jsp" />
		<add name="irpprAcceptance" connectionString="https://apps.test.era.nih.gov/pmm/interimRPPRs.era" />

		<add name="Server" connectionString="http://localhost:52030/" />

		<add name="certPath" connectionString="C:\cert\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx" />
		<add name="certPass" connectionString="g@b123" />
	</connectionStrings>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SMTPServer" value="mailfwd.nih.gov" />
    <add key="FromAddress" value="eGrants@nih.gov" />
    <add key="SMTPPort" value="25" />
    <!-- WEB Service Error Notifications-->
    <add key="Enabled" value="true" />
    <add key="ToAddress" value="benny.shell@nih.gov;cole.devries@nih.gov;umesh.dhital@nih.gov;changd3@mail.nih.gov;momplaig@mail.nih.gov;madhuvarma.penmetsa@nih.gov" />
    <add key="SubjectLine" value="[TESTING]Exceptions From Web Service Integration" />
    <add key="MailTemplate" value="C:\repo\official\nciitrc_eGrants\source-aspnet\egrants_new\Integration\EmailBodyTemplate.html" />
    <add key="NotificationCronExp" value="0 0 6 * * ?" />
    <!-- SQL Job Error Notifications-->
    <add key="SQLNotificationEnabled" value="true" />
    <add key="SQLToAddress" value="benny.shell@nih.gov;cole.devries@nih.gov;umesh.dhital@nih.gov;changd3@mail.nih.gov;momplaig@mail.nih.gov;madhuvarma.penmetsa@nih.gov" />
    <add key="SQLErrorCronExp" value="0 */5 * ? * *" />
    <add key="SQLMailTemplate" value="C:\repo\official\nciitrc_eGrants\source-aspnet\egrants_new\Integration\EmailBodyTemplate.html" />
    <add key="SQLSubjectLine" value="[Test]SQL Job Error Message" />
    <add key="IntegrationCheckCronExp" value="0 */5 * ? * *" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="WSClientCertPath" value="C:\cert\2020\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx" />
    <add key="WSClientCertPwd" value="g@b123" />
	<!--Mail Integration Credentials -->
	<add key="MSGraphClientId" value="b1764bef-3b64-4544-941b-4e38657ecb61" />
	<add key="MSGraphTenantId" value="14b77578-9773-42d5-8507-251ca2dc2b06" />
	<add key="MSGraphSecret" value="5GR7Q~4yRrQ6yl6VtTjlBpEd2mbLreCcXZ8EM" />
    <add key="MSGraphScopes" value="https://graph.microsoft.com/.default" />
	<add key="MSGraphUserId" value="shellba@nih.gov" />

	<!-- Mail Integration Settings-->
	<add key="EmailAttachmentTempFolder" value="C:\emailtmp"/>


</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<!-- maxRequestLength Specifies the limit for the input stream buffering threshold, in KB(2097152 ar about 2GB) 
        executionTimeout in seconds(3600==1h)
    -->
		<!-- Turn on Custom Errors -->
		<!--<customErrors mode="On"
      defaultRedirect="DefaultRedirectErrorPage.aspx">
      <error statusCode="404" redirect="Http404ErrorPage.aspx"/>
    </customErrors>-->

		<httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" executionTimeout="3600" />
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="egrants_new" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.webServer>
		<handlers>
			<!--<remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />-->
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength, Specifies the maximum length of content in a request, in bytes. (2147483648 bytes are about 2GB)-->
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<modules>
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>
</configuration>
