<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="EgrantsDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-D387-V\MSSQLEGRANTSD,52000;Initial Catalog=EIM;Persist Security Info=True;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500" />
		<add name="DocmanDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-D387-V.nci.nih.gov\MSSQLEGRANTSQ,52000;Persist Security Info=True;Initial Catalog=Docman;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=45" />
		<add name="webgrant" connectionString="egrants-file-dev.nci.nih.gov" />
		<add name="ImageServer" connectionString="https://egrants-web-dev.nci.nih.gov/" />
		<add name="egrantsDocNew" connectionString="funded2/nci/main/" />
		<add name="egrantsDocModify" connectionString="funded/nci/modify/" />
		<add name="egrantsFunding" connectionString="funded/nci/funding/upload/" />
		<add name="egrantsInst" connectionString="funded/nci/institutional/" />
		<add name="egrantsDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />
		<add name="docmanDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />
		<add name="docmanDoc" connectionString="funded/nci/econ/main/" />
		<add name="closeoutAcceptance" connectionString="https://apps.test.era.nih.gov/pgm/jsp/closeoutAcceptance.jsp" />
		<add name="frpprAcceptance" connectionString="https://apps.test.era.nih.gov/pgm/jsp/closeoutAcceptance.jsp" />
		<add name="irpprAcceptance" connectionString="https://apps.test.era.nih.gov/pmm/interimRPPRs.era" />
		<!--<add name="Server" connectionString="https://egrants-web-test.nci.nih.gov/" />-->
		<!--<add name="egrantsImageServer" connectionString="https://egrants-web-test.nci.nih.gov/" />-->
		<!--<add name="egrantsSensitiveDoc" connectionString="funded/egrantsadmin/hpsendocs/" />-->
		<add name="certPath" connectionString="C:\utils\cert\2022\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx" />
		<add name="certPass" connectionString="g@b123" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SMTPServer" value="mailfwd.nih.gov" />
		<add key="Enabled" value="false" />
		<add key="ToAddress" value="robin.briggs@nih.gov;hamid.nesar@nih.gov;madhuvarma.penmetsa@nih.gov" />
		<!--<add key="ToAddress" value="benny.shell@nih.gov"/>-->
		<add key="FromAddress" value="eGrants@nih.gov" />
		<add key="SubjectLine" value="[TESTING]Exceptions From Web Service Integration" />
		<add key="SMTPPort" value="25" />
		<add key="SQLMailTemplate" value="D:\Content\egrants.nci.nih.gov\Integration\EmailBodyTemplate.html" />
		<add key="NotificationCronExp" value="0 0 6 * * ?" />
		<!-- SQL Job Error Notifications-->
		<add key="SQLNotificationEnabled" value="false" />
		<add key="SQLToAddress" value="robin.briggs@nih.gov;hamid.nesar@nih.gov;madhuvarma.penmetsa@nih.gov" />
		<add key="SQLErrorCronExp" value="0 */5 * ? * *" />
		<add key="SQLSubjectLine" value="[DEV]SQL Job Error Message" />
		<add key="IntegrationCheckCronExp" value="0 */5 * ? * *" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="WSClientCertPath" value="C:\utils\cert\2020\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx" />
		<add key="WSClientCertPwd" value="g@b123" />
	</appSettings>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" executionTimeout="3600" />
		<customErrors mode="On" defaultRedirect="DefaultRedirectErrorPage.aspx">
			<error statusCode="404" redirect="Http404ErrorPage.aspx" />
		</customErrors>
		<pages>
			<namespaces>
				<!--
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
  -->
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EgrantsDB" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EgrantsDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EgrantsDB" applicationName="/" />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "EgrantsDB" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EgrantsDB" />
			</providers>
		</sessionState>
		<identity impersonate="false" />
		<trust level="Full" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering allowHighBitCharacters="true">
				<!--<requestFiltering >-->
				<!-- maxAllowedContentLength, Specifies the maximum length of content in a request, in bytes. (2147483648 bytes are about 2GB)-->
				<requestLimits maxAllowedContentLength="2147483648" />
				<fileExtensions allowUnlisted="true" />
			</requestFiltering>
		</security>
		<modules>
			<remove name="FormsAuthentication" />
			<add name="CASiteMinderWebagentModule" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebagentModule-32" preCondition="integratedMode,bitness32" />
		</modules>
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="handler-wa-32" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-fcc-32" path="*.fcc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-ntc-32" path="*.ntc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-ccc-32" path="*.ccc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-scc-32" path="*.scc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-kcc-32" path="*.kcc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="handler-wa" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-fcc" path="*.fcc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-ntc" path="*.ntc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-ccc" path="*.ccc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-scc" path="*.scc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-kcc" path="*.kcc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<isapiFilters>
			<clear />
			<filter name="SiteMinder Agent" path="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness64" />
			<filter name="SiteMinder Agent-32" path="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness32" />
		</isapiFilters>
		<httpErrors existingResponse="PassThrough" />
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=Edge" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
		</staticContent>
		<httpRedirect enabled="false" destination="" httpResponseStatus="Found" />
		<rewrite>
			<rules>
				<rule name="SSL-Redirect-new" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" />
				</rule>
				<rule name="Site Maintenance" enabled="false" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="maintenance.html" negate="true" />
						<add input="{REQUEST_URI}" pattern="logo" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}maintenance.html" appendQueryString="false" redirectType="Temporary" />
				</rule>
			</rules>
		</rewrite>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v15.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>