<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
	<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
		<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
	</sectionGroup>
	
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="EgrantsDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-Q356-V.nci.nih.gov\MSSQLEGRANTSQ,53500;Persist Security Info=True;Initial Catalog=EIM;User Id=egrantsuser;Password=Jo0ne62017!;Connect Timeout=45" />
    <add name="DocmanDB" providerName="System.Data.SqlClient" connectionString="Data Source=NCIDB-Q356-V.nci.nih.gov\MSSQLEGRANTSQ,53500;Persist Security Info=True;Initial Catalog=Docman;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=45" />

    <!--<add name="EgrantsDB" providerName="SQLNCLI11" connectionString="Data Source=NCIDB-D201-V.NCI.NIH.GOV\MSSQLEGRANTSD,52000;Persist Security Info=True;Initial Catalog=EIM;User Id=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500" />-->  
    <!--<add name="DocmanDB" providerName="SQLNCLI11" connectionString="Data Source=NCIDB-D201-V.NCI.NIH.GOV\MSSQLEGRANTSD,52000;Persist Security Info=True;Initial Catalog=Docman;User ID=egrantsuser;Password=Jo0ne62017!;Connect Timeout=500" />-->
   
    <add name="webgrant" connectionString="egrants-file-test.nci.nih.gov" />  
    <add name="ImageServer" connectionString="https://egrants-web-test.nci.nih.gov/" /> 

    <add name="egrantsDocNew" connectionString="funded2/nci/main/" />
    <add name="egrantsDocModify" connectionString="funded/nci/modify/" />
    <add name="egrantsFunding" connectionString="funded/nci/funding/upload/" />
    <add name="egrantsInst" connectionString="funded/nci/institutional/" />

    <add name="egrantsDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />
    <add name="docmanDocEmail" connectionString="NCIeGrantsDev@mail.nih.gov" />
    <add name="docmanDoc" connectionString="funded/nci/econ/main/" />
   
    <add name="closeoutAcceptance" connectionString="https://apps.test.era.nih.gov/pgm/jsp/closeoutAcceptance.jsp" />
    <add name="frpprAcceptance" connectionString="https://apps.stage.era.nih.gov/pmm/fpr.era" />
    <add name="irpprAcceptance" connectionString="https://apps.test.era.nih.gov/pmm/interimRPPRs.era" />
	
    <!--<add name="Server" connectionString="https://egrants-web-test.nci.nih.gov/" />-->
    <!--<add name="egrantsImageServer" connectionString="https://egrants-web-test.nci.nih.gov/" />-->
    <!--<add name="egrantsSensitiveDoc" connectionString="funded/egrantsadmin/hpsendocs/" />-->

		<add name="certPath" connectionString="C:\cert\2020\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx" />
		<add name="certPass" connectionString="g@b123" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SMTPServer" value="mailfwd.nih.gov" />
		<add key="Enabled" value="false" />
		<add key="ToAddress" value="benny.shell@nih.gov;cole.devries@nih.gov;umesh.dhital@nih.gov;changd3@mail.nih.gov;momplaig@mail.nih.gov" /> 
		<!--<add key="ToAddress" value="benny.shell@nih.gov"/>-->
		<add key="FromAddress" value="eGrants@nih.gov" />
		<add key="SubjectLine" value="[TESTING]Exceptions From Web Service Integration" />
		<add key="SMTPPort" value="25" />
		<add key="MailTemplate" value="C:\repo\eGrantsDev\source-aspnet\egrants_new\Integration\EmailBodyTemplate.html" />
		<add key="NotificationCronExp" value="0 0 6 * * ?" />
		<add key="IntegrationCheckCronExp" value="0 */5 * ? * *" />
		<add key="owin:AutomaticAppStartup" value="false"/>
		<add key="WSClientCertPath" value="C:\cert\2020\EGRANTS-WEB-DEV_NCI_NIH_GOV.pfx"/>
		<add key="WSClientCertPwd" value="g@b123"/>
	</appSettings>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.web>
		<!--<authentication mode="None" />-->
		<!--<compilation targetFramework="4.5.2" />-->
		<!--<httpRuntime targetFramework="4.0" />-->
		<compilation targetFramework="4.7.2" />
		<!--<httpRuntime targetFramework="4.0" maxRequestLength="999999" executionTimeout="36000000" enable="true"/>  -->
		<httpRuntime targetFramework="4.5.2" maxRequestLength="2097151" requestLengthDiskThreshold="1024" executionTimeout="600" enable="true" />
		<!-- <httpRuntime targetFramework="4.0" maxRequestLength="80000" requestLengthDiskThreshold="80" executionTimeout="600" enable="true"/>  -->
		<customErrors mode="On" defaultRedirect="DefaultRedirectErrorPage.aspx">
			<error statusCode="404" redirect="Http404ErrorPage.aspx" />
		</customErrors>
		<pages>
			<namespaces>
				<!--
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
	-->
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<membership>
			<providers>
				<!--ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template-->
				<clear />
			</providers>
		</membership>
		<profile>
			<providers>
				<!--ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template-->
				<clear />
			</providers>
		</profile>
		<roleManager>
			<!--ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template-->
			<providers>
				<clear />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
		<identity impersonate="false" />
		<!--<trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false" />-->
		<trust level="Full" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering allowHighBitCharacters="true">
			<!--<requestFiltering >-->
				<!-- maxAllowedContentLength, Specifies the maximum length of content in a request, in bytes. (2147483648 bytes are about 2GB)-->
				<requestLimits maxAllowedContentLength="2147483648" />
				<fileExtensions allowUnlisted="true" />
			</requestFiltering>
		</security>
		<modules>
			<remove name="FormsAuthentication" />
			<add name="CASiteMinderWebagentModule" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebagentModule-32" preCondition="integratedMode,bitness32" />
		</modules>
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="handler-wa-32" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-fcc-32" path="*.fcc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-ntc-32" path="*.ntc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-ccc-32" path="*.ccc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-scc-32" path="*.scc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="CASiteMinderWebAgentHandler-kcc-32" path="*.kcc" verb="*" modules="CASiteMinderWebagentModule-32" resourceType="Unspecified" preCondition="integratedMode,bitness32" />
			<add name="handler-wa" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-fcc" path="*.fcc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-ntc" path="*.ntc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-ccc" path="*.ccc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-scc" path="*.scc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
			<add name="CASiteMinderWebAgentHandler-kcc" path="*.kcc" verb="*" modules="CASiteMinderWebagentModule" resourceType="Unspecified" preCondition="integratedMode,bitness64" />
		</handlers>
		<isapiFilters>
			<!--
            
	<filter name="SiteMinder Agent" path="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness64" />
            
	<filter name="SiteMinder Agent-32" path="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness32" />
            
      -->
			<clear />
			<!--<filter name="ASP.Net_2.0.50727-64" path="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_filter.dll" enabled="true" enableCache="true" preCondition="runtimeVersionv2.0,bitness64" />
			<filter name="ASP.Net_2.0.50727.0" path="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_filter.dll" enabled="true" enableCache="true" preCondition="runtimeVersionv2.0,bitness32" />
			<filter name="ASP.Net_4.0_32bit" path="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_filter.dll" enabled="true" enableCache="true" preCondition="runtimeVersionv4.0,bitness32" />
			<filter name="ASP.Net_4.0_64bit" path="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_filter.dll" enabled="true" enableCache="true" preCondition="runtimeVersionv4.0,bitness64" />
			<filter name="ASP.Net_2.0_for_V1.1" path="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_filter.dll" enabled="true" enableCache="false" preCondition="bitness32" />-->
			<filter name="SiteMinder Agent" path="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness64" />
			<filter name="SiteMinder Agent-32" path="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness32" />
		</isapiFilters>
		<httpErrors existingResponse="PassThrough" />
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=Edge" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
		</staticContent>
		<httpRedirect enabled="false" destination="" httpResponseStatus="Found" />
		<rewrite>
			<rules>
				<!--<rule name="Http_to_https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>-->
				<rule name="SSL-Redirect-new" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" />
				</rule>
				<rule name="Site Maintenance" enabled="false" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="maintenance.html" negate="true" />
						<add input="{REQUEST_URI}" pattern="logo" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}maintenance.html" appendQueryString="false" redirectType="Temporary" />
				</rule>
			</rules>
		</rewrite>
		<!--<tracing>
            
			<traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="206" />
                </add>
            </traceFailedRequests>
        </tracing>-->
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>